<template>
  <div style="height:400px">
  <app :style="appStyle">
     <select v-model="difficulty">
       <option value="easy">Easy</option>
       <option value="normal">Normal</option>
       <option value="hard">Hard</option>
     </select>
     <div class="time" >{{time}}ms</div>
     <maze  :difficulty="difficulty" @start="onStart" @finish="onFinish" @init="onInit" :style="mazeStyle"></maze>
   </app>
 </div>
</template>
<script>
import Maze from 'vue-maze'

export default {
  data () {
    return {
      appStyle: {
        position: 'absolute',
        width: '90%',
        height: '90%',
        margin: 'auto'
      },
      mazeStyle: {
        width: '100%',
        height: '100%'
      },
      startTime: 0,
      time: 0,
      difficulty: 'easy'
    }
  },
  components: {
    Maze
  },
  methods: {
    onStart: function () {
      this.startTime = Date.now()
    },
    onFinish: function () {
      this.time = Date.now() - this.startTime
    },
    onInit: function () {
      this.startTime = 0
    }
  }
}

</script>
