<template>
<div class="fill">

  <div class="component-container" :class="customContainerClasses(el, index)" :data-index="index" :id="'component-container' + containerID" :tag="containerID">
    <div class="icons">
      <i class="fa fa-pencil" @click="edit" aria-hidden="true" title="Edit Component"></i>
      <i class="fa fa-clone" @click="clone" aria-hidden="true" title="Clone Component"></i>
      <i class="fa fa-times" @click="destroy" aria-hidden="true" title="Delete Component"></i>
      <i class="fa fa-save" @click="savesection" aria-hidden="true" title="Save Section"></i>
    </div>
    <component :is="componentKey" :el="el"></component>

  </div>
</div>
</template>

<script>
import Hammer from 'hammerjs'
import Bus from '../config/eventhub'
var InteractJS = require('interactjs')
import findIndex from 'lodash/findIndex'
export default {
  name: "Component",

  props: {
    dropped: Array,
    el: Object,
    index: Number,
    isSibling: Boolean,
    swipe: Function
  },
  components: {
    "k-taptap": () => import("../ui-components/taptap/TapTap.vue"),
    "k-taptapchange": () =>
      import("../ui-components/taptapchange/TapTapChange.vue"),
    "k-grouping": () => import("../ui-components/Grouping/Grouping.vue"),
    "k-truefalse": () => import("../ui-components/truefalse/TrueFalse.vue"),
    "k-typingsection": () =>
      import("@/sections/Body/WorkBook/TypingSection.vue"),
    "k-missingletter": () =>
      import("../ui-components/missingletter/MissingLetter.vue"),
    "k-choicestaptap": () =>
      import("../ui-components/choicestaptap/ChoicesTapTap.vue"),
    // Section to be shown
    "k-taptapwithbg": () =>
      import("../sections/Body/WorkBook/Taptapwithbg.vue"),
    "k-truefalsewithbg": () =>
      import("../sections/Body/WorkBook/TrueFalsewithbg.vue"),
    "k-groupingwithbg": () =>
      import("../sections/Body/WorkBook/Groupingwithbg.vue"),
    "k-karaokesection": () =>
      import("../sections/Body/WorkBook/KaraokeSection.vue"),
    "k-crosswordssection": () =>
      import("@/sections/Body/WorkBook/CrossWordsSection.vue"),
    // end
    // Primary
    "k-multiplechoiceimgwithbg": () =>
      import("../sections/Body/Primary/Multiplechoiceimgwithbg.vue"),
    "k-groupingimages": () =>
      import("../sections/Body/Primary/GroupingImages.vue"),
    "k-multiplechoiceimgwithtext": () =>
      import("../sections/Body/Primary/Multiplechoiceimgwithtext.vue"),
    "k-taptapimageswithbg": () =>
      import("../sections/Body/Primary/Taptapimageswithbg.vue"),
    "k-taptapletters": () =>
      import("../sections/Body/Primary/Taptapletters.vue"),
    "k-taptappuzzlebg": () =>
      import("@/sections/Body/Primary/Taptappuzzlebg.vue"),
    "k-primarytimer": () => import("../sections/Body/Primary/PrimaryTimer.vue"),
    "k-primaryaudioplayer": () =>
      import("../sections/Body/Primary/PrimaryAudioPlayer.vue"),
    "k-primaryvideoplayer": () =>
      import("../sections/Body/Primary/PrimaryVideoPlayer.vue"),
    "k-checkprimary": () =>
      import("../sections/Footer/Primary/CheckPrimary.vue"),
    "k-taptapfreewithbg": () =>
      import("../sections/Body/Primary/Taptapfreewithbg.vue"),
    "k-tapmaze": () => import("../sections/Body/Primary/MazeBGTap.vue"),
    "k-manysvg-coloring": () =>
      import("@/sections/Body/Primary/Manysvg-coloring.vue"),
    "k-onesvg-coloring": () =>
      import("@/sections/Body/Primary/Onesvg-coloring.vue"),
    "k-wordsearchsection": () =>
      import("@/sections/Body/Primary/WordSearchSection.vue"),
    "k-multiplechoiceimagesection": () =>
      import("../sections/Body/Primary/MultipleChoiceImageSection.vue"),
    // Primary end
    'k-header': () => import('../sections/Headers/Header'),
    'k-rubricA': () => import('../sections/Body/StaticPages/RubricA'),
    'k-rubric': () => import('../sections/Headers/Rubric'),
    'k-maze': () => import('../sections/Body/Games/mazesection.vue'),
    'k-puzzle': () => import('../sections/Body/Games/puzzle/Puzzle.vue'),
    'k-coloring': () => import('../ui-components/coloring/Coloring.vue'),
    'k-firstpage': () => import('../sections/Body/WorkBook/Demofirstpage.vue'),
    'k-intropage': () => import('../sections/Body/StaticPages/IntroPage.vue'),
    'k-studyskill': () => import('../sections/Body/StaticPages/StudySkill.vue'),
    'k-textparagraph': () => import('../sections/Body/StaticPages/TextParagraphs.vue'),
    'k-taptappuzzlemultipleright': () => import('../sections/Body/Primary/Taptapuzzlemultipleright.vue'),
    "k-taptapsection": () => import("../sections/Body/WorkBook/TapTapSection.vue"),
    "k-truefalsesection": () => import("../sections/Body/WorkBook/TrueFalseSection.vue"),
    "k-multiplechoicessection": () => import("../sections/Body/WorkBook/MultipleChoicesSection.vue")
  },
  data() {
    return {
      excludeHammerSwipe: ["k-wordsearchsection"],
      hammerOptions: {
        directions: ["left", "right"],
        threshold: 120,
        velocity: 1.7
      },
      hammer: null
    };
  },
  created() {},
  mounted() {
    this.initializeHammerEvents(
      document.getElementById("component-container" + this.containerID),
      this.hammerOptions,
      this.excludeHammerSwipe
    ); // initialize hammer swipe Events
    this.makeContainersResizable();
    // whenever a component is edited, briefly highlight its container
    Bus.listen("component-added", index => {
      this.makeContainersResizable();
    });
  },
  computed: {
    /**
     * Tell the template which component file to use
     * Attach a modifier so that there are no accidental HTML confusions
     * e.g. <k-text> is safer than <text>
     *
     * @returns {string}
     */
    componentKey() {
      return `k-${this.el.key}`;
    },

    /**
     * Create an HTML for ease of finding container elements
     *
     * @returns {string}
     */
    containerID() {
      if (this.isSibling) {
        return `${this.index}-sibling`;
      }
      return `${this.index}`;
    }
  },

  methods: {
    /**
     * [initializeHammerEvents Initialize swipe hammer events]
     * @param  {[type]} element      [bind element events]
     * @param  {[type]} options      [hammer swipe options]
     * @param  {[type]} excludeArray [component without hammer swipe events]
     * @return {[type]}              [description]
     */
    initializeHammerEvents (element, options, excludeArray) {
      if (excludeArray.indexOf(this.componentKey) < 0) {
        this.hammer = new Hammer(element)
        this.hammer.get('swipe').set(options)
        this.initializeSwipeEvents()
      }
    },
    initializeSwipeEvents () {
      this.hammer.on('swipeleft', (e) => {
        console.log('swipeleft')
        this.swipe('left')
      })
      this.hammer.on('swiperight', (e) => {
        console.log('swiperight')
        this.swipe('right')
      })
    },
    /**
     * Tell App to save this index as section
     */
    savesection() {
      Bus.fire("save-section", {
        index: this.index
      });
    },
    /**
     * Tell App to remove this component from the template
     */
    destroy() {
      Bus.fire("destroy-component", {
        index: this.index,
        isSibling: this.isSibling
      });
    },

    /**
     * Tell App to edit this component
     */
    edit() {
      Bus.fire("edit-component", {
        index: this.index,
        isSibling: this.isSibling
      });
    },

    /**
     * Tell App to clone this component and place it right below
     */
    clone() {
      Bus.fire("clone-component", {
        index: this.index,
        isSibling: this.isSibling
      });
    },

    /**
     * Add any user custom classes to the component's container
     * Classes are assumed by the data stored in its data object
     *
     * @param {object} el   The container that is being styled
     * @returns {object}    Classes to attach to the container
     */
    customContainerClasses(el, index) {
      return {
        paddingT30: el.marginTop === "a lot",
        paddingT15: el.marginTop === "some",
        paddingT5: el.marginTop === "a little",
        paddingT0: el.marginTop === "none",
        paddingB30: el.marginBottom === "a lot",
        paddingB15: el.marginBottom === "some",
        paddingB5: el.marginBottom === "a little",
        paddingB0: el.marginBottom === "none",
        "has-text-centered": el.justify === "centered",
        "has-text-right": el.justify === "right",
        "has-text-left": el.justify === "left",
        resizable: !el.frozen
      };
    },

    /**
     * Tell InteractJS that the components' containers are resizable
     */
    makeContainersResizable() {
      let self = this;
      InteractJS.interact(".resizable").resizable({
        edges: {
          left: true,
          right: true,
          bottom: true
        },
        onstart: function(event) {
          event.target.classList.add("resizing");
        },
        onend: function(event) {
          event.target.classList.remove("resizing");
        }
      });
      // .on('resizemove', function (event) {
      //   let index = parseInt(event.target.getAttribute('data-index'))
      //   let isSibling = self.targetIsSibling(event.target)
      //
      //   if (self.index !== index && self.isSibling !== isSibling) {
      //     // there are many of these listeners, one in each Component class
      //     // just allow the appropriate ones to run
      //     return
      //   }
      //
      //   let width = event.rect.width
      //   let upperLimit = self.howWideCanContainerBe(event.target)
      //
      //   // dont resize above upperLimit or below 200px
      //   if (width > upperLimit || width < 200) {
      //     return
      //   }
      //
      //   if (width > 500) {
      //     Bus.fire('destroy-dropzone', index)
      //   } else if (width <= 500) {
      //     // add a dropzone if there's enough room in the container
      //     self.createAnotherDropzoneInsideContainer(event.target)
      //   }
      //
      //   // update the element's style
      //   let target = event.target
      //   target.style.width = event.rect.width + 'px'
      //   target.style.height = event.rect.height + 'px'
      //   // translate when resizing from top or left edges
      //   let x = (parseFloat(target.getAttribute('data-x')) || 0)
      //   x += event.deltaRect.left
      //
      //   target.setAttribute('data-x', x)
      // })
    },

    /**
     * When a singluar container is shrunk enough to allow room for another component,
     * tell App that this component has a new brother or sister!
     *
     * @param {object} container  The container being resized
     */
    createAnotherDropzoneInsideContainer(container) {
      let index = parseInt(container.getAttribute("data-index")); // which index it was dropped in

      if (!this.dropped[index].sibling && !this.isSibling) {
        Bus.fire("create-dropzone", index);
      }
    },

    /**
     * Is the container the sibling in the row?
     *
     * @param {object} container  The container being resized
     * @returns {bool}
     */
    targetIsSibling(container) {
      return container.getAttribute("tag").includes("sibling");
    },

    /**
     * There can be up to two siblings in a container
     * Make sure they leave space for eachother
     *
     * @param {object} container  The container that is being resized
     * @returns {int}
     */
    howWideCanContainerBe(container) {
      let limit = 550; // initial width when just single element
      let otherMember = document.querySelector(`[tag="${this.index}-sibling"]`);
      if (this.isSibling) {
        otherMember = document.querySelector(`[tag="${this.index}"]`);
      }
      // subtract the width of the other member
      if (otherMember) {
        limit -= otherMember.offsetWidth;
      }

      return limit;
    }
  },
  beforeDestroy () {
    if (this.hammer !== null) {
      this.hammer.off('swipeleft')
      this.hammer.off('swiperight')
    }
  },
  watch: {
    dropped: function() {
      this.$forceUpdate();
    }
  }
};
</script>

<style lang="scss">
.fill {
  width: 100%;
  display: inline-block;
  display: -moz-inline-box;
  z-index: 1;
}

.component-container {
  position: relative;
  width: 100%;
  border: 2px dashed transparent;
  transition: border-color 200ms ease;
  min-height: 30px;
  &:hover {
    border-color: hsl(48, 100%, 67%);
    transition: border-color 200ms ease;
    .icons {
      opacity: 1;
      transition: opacity 200ms ease;
      &.resizing {
        border-color: hsl(48, 100%, 67%);
        transition: border-color 200ms ease;
        .icons {
          opacity: 0;
          transition: all 300ms ease;
        }
      }
    }
  }
}

.highlighted .component-container {
  border-color: hsl(141, 71%, 48%);
  transition: border-color 200ms ease;
}

.being-edited .component-container {
  border-color: hsl(348, 100%, 61%);
  transition: border-color 200ms ease;
}

.icons {
  position: absolute;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  top: 1px;
  right: 5px;
  color: hsl(217, 71%, 53%);
  padding: 4px;
  z-index: 9999;
  background: white;
  opacity: 0;
  transition: opacity 200ms ease;
  .fa {
    flex: 1;
    font-size: 22px;
    margin: 0 5px;
    &:hover {
      cursor: pointer;
      color: hsl(217, 71%, 53%);
    }
  }
}

// component container classes, set dynamically depending on el's data object

.paddingT30 {
  padding-top: 30px;
}
.paddingT15 {
  padding-top: 15px;
}
.paddingT5 {
  padding-top: 5px;
}
.paddingT0 {
  padding-top: 0;
}
.paddingB30 {
  padding-bottom: 30px;
}
.paddingB15 {
  padding-bottom: 15px;
}

.paddingB5 {
  padding-bottom: 5px;
}
.paddingB0 {
  padding-bottom: 0;
}
</style>
