<style lang="scss">
</style>
<template lang="html">
  <div :style="[el.bgobject, {backgroundImage: bgimage}]" class="grouping_placeholder columns is-multiline is-mobile">
    <div v-for="group in groups" :key="group.id" class="column is-4 grouping_group">
      <v-touch tag="a" v-bind:id="group.id" :class="{'grouping_clickablegroup shadow-depth-5': true, notavailable: disableadd}" v-bind:data="group.name"  v-bind:key="group.id" v-on:tap="usertap(group.id)">
      <p style="position: relative;" :style="group.groupTextStyle" class="has-text-centered">{{group.name}}
        <img v-if="group.groupimage !== null && group.groupimage !== undefined && group.groupimage !== ''" :style="group.groupImageBgObject" class="image" :src="mediafile + $route.query.package + '/' + group.groupimage">
      </p>
        <div class="columns is-multiline is-mobile grouping_choicesplaceholder">
          <v-touch style="margin: 0 0 20px 20px;" v-for="answerDef in defaultAnswers" :key="'default_' + group.id + answerDef.id" v-if="answerDef.groupid === group.id" class="column is-5 choices_style_2 shadow-depth-3" v-bind:class="{notavailable: true}" tag="a" ><span class='has-text-weight-bold' style="color: #29AAE1;">{{answerDef.text}}</span></v-touch>
          <v-touch style="margin: 0 0 20px 20px;" v-for="answer in answers" :key="answer.id" v-if="answer.groupid === group.id" v-bind:data="answer.text" v-bind:id="answer.id" class="column is-5 choices_style_2 shadow-depth-3" v-bind:class="{notavailable: answer.locked}" tag="a" v-on:doubletap = "removechoice(answer.id, group.id)"><span>{{answer.text}} <i v-bind:class="{'fa fa-check has-check-righticon': answer.righticon, 'fa fa-times has-check-wrongicon': answer.wrongicon}"></i></span></v-touch>
        </div>
      </v-touch>
    </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
import eventbus from '@/config/eventhub.js'
import findIndex from 'lodash/findIndex'
import countBy from 'lodash/countBy'
import remove from 'lodash/remove'
export default {
  name: 'expGrouping',
  props: {
    el: Object
  },
  data () {
    return {
      mediafile: MEDIAENDPOINT,
      groups: [{id: 1, name: 'Animals'}, {id: 2, name: 'Cars'}, {id: 3, name: 'Humans'}],
      groupid: null,
      bindchoicesid: null,
      rightanswer: [],
      bgimage: null,
      groupel: null, // DOM Element of group
      parentel: null, // DOM Element of parent div
      right: false, // if all userchoices are the right ones
      answers: [], // array of users answers
      defaultAnswers: [], // default answers array
      userchoice: null,
      userchoiceid: null,
      choicemultiple: true,
      choicesgroupingid: null, // group id
      disableadd: true // disable or enable the grouping tap area
    }
  },
  mounted () {
    this.groups = JSON.parse(JSON.stringify(this.el.groups))
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    if (this.el.groups.length > 0) {
      this.bindchoicesid = this.el.groups[0].bindchoicesid
    }
    for (var i = 0; i < this.el.groups.length; i++) {
      this.rightanswer.push({groupid: this.el.groups[i].id, grouprightanswer: JSON.parse(JSON.stringify(this.el.groups[i].rightanswer))})
      // Load per group default answers
      if (this.el.groups[i].defaultAnswers !== undefined) {
        this.el.groups[i].defaultAnswers.forEach((answer) => {
          this.defaultAnswers.push({groupid: this.el.groups[i].id, text: answer.text, id: answer.id})
        })
      }
    }
    eventbus.listen('choicestaptap_userchoice', (data) => {
      this.userchoice = data.text
      this.userchoiceid = data.id
      this.choicesgroupingid = data.choicestaptapid
      if (this.choicesgroupingid === this.bindchoicesid) {
        this.disableadd = false
      }
    })
    eventbus.listen('grouping_clearchoice', (id) => {
      this.userchoice = null
      this.userchoiceid = null
      if (id === 0) {
        this.answers = []
        this.disableadd = true
      }
    })
    eventbus.listen('checktaptap_check', (checkobject) => {
      if (checkobject.buttonevent === 'check') {
        // this.disableadd = true
        if (this.rightanswer.length === this.answers.length) {
          this.right = true
        }
        if (this.answers.length > 0) {
          for (var i = 0; i < this.answers.length; i++) {
            for (var j = 0; j < this.rightanswer.length; j++) {
              if (this.rightanswer[j].groupid === this.answers[i].groupid) {
                if (findIndex(this.rightanswer[j].grouprightanswer, {'answerid': this.answers[i].id}) !== -1) {
                  this.answers[i].righticon = true
                  this.answers[i].locked = true
                } else {
                  this.answers[i].wrongicon = true
                  this.answers[i].locked = false
                }
              }
            }
          }
        }
      } else if (checkobject.buttonevent === 'tryagain') {
        if (this.bindchoicesid === checkobject.id) {
          for (var w = 0; w < this.answers.length; w++) {
            if (this.answers[w].wrongicon) {
              let enablechoice = {inputid: this.answers[w].id, choicestaptapid: checkobject.id}
              eventbus.fire('choicestaptap_enableuserchoice', enablechoice)
            }
            this.answers[w].righticon = false
          }
          this.answers = remove(this.answers, (value) => {
            return value.wrongicon !== true
          })
        }
      }
    })
    eventbus.listen('grouping_disablegroup', () => {
      if (this.answers.length < 1) {
        this.disableadd = true
      }
    })
    eventbus.listen('choicestaptap_showrightanswers', () => {
      this.answers = []
      for (var i = 0; i < this.rightanswer.length; i++) {
        for (var j = 0; j < this.rightanswer[i].grouprightanswer.length; j++) {
          this.answers.push({groupid: this.rightanswer[i].groupid, text: this.rightanswer[i].grouprightanswer[j].text, id: this.rightanswer[i].grouprightanswer[j].answerid, righticon: false, wrongicon: false, locked: true, flag: false})
          if (this.choicemultiple) {
            let disablechoice = {inputid: this.rightanswer[i].grouprightanswer[j].answerid, choicestaptapid: this.bindchoicesid}
            eventbus.fire('choicestaptap_disableuserchoice', disablechoice)
          }
          eventbus.fire('grouping_clearchoice', this.rightanswer[i].groupid)
          eventbus.fire('grouping_disablegroup')
        }
      }
    })
  },
  methods: {
    usertap (id) {
      // check if answers in a group is lower than group limit.. (dont allow to fill group with all choices)
      const groupIndex = findIndex(this.groups, {'id': id})
      let limitFlag = true
      if (groupIndex > -1) {
        const countAnswers =  countBy(this.answers, {'groupid': id}).true
        if (countAnswers !== undefined) {
          limitFlag = this.groups[groupIndex].groupLimit > countAnswers ? true:false
        }
      }
      if (this.userchoiceid !== null && this.choicesgroupingid === this.bindchoicesid && limitFlag) {
        this.answers.push({groupid: parseInt(id), text: this.userchoice, id: this.userchoiceid, righticon: false, wrongicon: false, locked: false, flag: true})
        let hasinputobject = {id: this.userchoiceid, componentid: this.groupid, evt: 'add'}
        eventbus.fire('checktaptap_hasinput', hasinputobject)
        let isRight = false
        let tempindex = findIndex(this.rightanswer, {'groupid': parseInt(id)})
        if (findIndex(this.rightanswer[tempindex].grouprightanswer, {'answerid': this.userchoiceid}) !== -1) {
          isRight = true
        }
        let inputobj = {id: parseInt(id), inputid: this.userchoiceid, bindchoiceid: this.bindchoicesid, isRight: isRight, evt: 'add'}
        eventbus.fire('checkprimary_input', inputobj)
        if (this.choicemultiple) {
          let disablechoice = {inputid: this.userchoiceid, choicestaptapid: this.bindchoicesid}
          eventbus.fire('choicestaptap_disableuserchoice', disablechoice)
        }
        eventbus.fire('grouping_clearchoice', this.groupid)
      }
      eventbus.fire('grouping_disablegroup')
    },
    removechoice (id, group_id) {
      for (var i = 0; i < this.answers.length; i++) {
        if (this.answers[i].id === id) {
          this.answers.splice(i, 1)
          let enablechoice = {inputid: id, componentid: group_id, choicestaptapid: this.bindchoicesid}
          eventbus.fire('choicestaptap_enableuserchoice', enablechoice)
        }
      }
      let hasinputobject = {id: id, evt: 'remove'}
      eventbus.fire('checktaptap_hasinput', hasinputobject)
      let inputobj = {id: this.groupid, inputid: parseInt(id), bindchoiceid: this.bindchoicesid, evt: 'remove'}
      eventbus.fire('checkprimary_input', inputobj)
      eventbus.fire('grouping_disablegroup')
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.groups = JSON.parse(JSON.stringify(element.groups))
        for (var i = 0; i < element.groups.length; i++) {
          this.rightanswer.push({groupid: element.groups[i].id, grouprightanswer: JSON.parse(JSON.stringify(element.groups[i].rightanswer))})
        }
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        }
        this.bindchoicesid = element.groups[0].bindchoicesid
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('choicestaptap_userchoice')
    eventbus.off('grouping_clearchoice')
    eventbus.off('checktaptap_check')
    eventbus.off('grouping_disablegroup')
    eventbus.off('choicestaptap_showrightanswers')
  }
}
</script>
