<style lang="scss" scoped>
.taptapletters_container{
    width: 100%;
    height: 100%;
    display: inline-block;
    display: -moz-inline-box;
    position: relative;
}
</style>

<template lang="html">
<div class="taptapwithimage_placeholder">
  <div class="columns is-mobile" :class="{'notavailable': notavailable}">
    <div class="column is-12">
      <div :style="[el.bgobject, {backgroundImage: bgimage}]">
        <v-touch v-if="lockRight" :style="{display: el.bgobject.display}" class="taptapletters_container" :id="elobject.id" @tap="newinput(elobject.id)" tag="a">
          <img v-if="el.staticimage.imgsrc !== null && el.staticimage.imgsrc !== undefined" :style="el.staticimage" class=" image is-pulled-left" :src="mediafile + $route.query.package + '/' + el.staticimage.imgsrc">
          <img v-if="imginput.imgsrc !== null" class="image is-pulled-left" :src="mediafile + $route.query.package + '/' + imginput.imgsrc">
          <exp-checkicons v-if="isRight && checkflag" :answerFlag="'right'" :checkIconsObject="{isSmall: false, availablePositions: 'top-left'}"></exp-checkicons>
          <exp-checkicons v-if="!isRight && checkflag" :answerFlag="'wrong'" :checkIconsObject="{isSmall: false, availablePositions: 'top-left'}"></exp-checkicons>
      </v-touch>
      <div v-if="!lockRight" class="taptapletters_container">
          <img v-if="el.rightimage !== null" class="image is-pulled-left" :src="mediafile + $route.query.package + '/' + el.rightimage">
          <exp-checkicons v-if="isRight && checkflag" :answerFlag="'right'" :checkIconsObject="{isSmall: false, availablePositions: 'top-left'}"></exp-checkicons>
          <exp-checkicons v-if="!isRight && checkflag" :answerFlag="'wrong'" :checkIconsObject="{isSmall: false, availablePositions: 'top-left'}"></exp-checkicons>
          <!-- <div v-if="checkflag" style="position: absolute; top: 0; left: 0;" ><i v-if="isRight" class="fa fa-check has-text-success is-size-1"></i><i v-else class="fa fa-times has-text-danger is-size-1"></i></div> -->
      </div>
      </div>
    </div>
  </div>

</div>
</template>

<script>
import eventbus from '@/config/eventhub.js'
import {MEDIAENDPOINT} from '@/config/app-config.js'
export default {
  name: 'expTaptapwithimage',
  props: {
    el: Object,
    checkIconsObject: {
      type: Object
    }
  },
  data () {
    return {
      elobject: {},
      hasinputid: null,
      notavailable: true,
      bgimage: null,
      checkflag: false,
      isRight: false,
      lockRight: true,
      mediafile: MEDIAENDPOINT,
      tempimginput: { // Temp object that holds the user choice clicked image and image id
        id: null,
        imgsrc: null
      },
      imginput: { // Initial Input Image
        id: null,
        imgsrc: null
      },
      staticimage: { // Static Image next to image input
        imgsrc: null
      }
    }
  },
  mounted () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    this.elobject = this.el
    this.$nextTick(() => {
      eventbus.listen('choicesimages_userchoice', (data) => {
        if (this.lockRight && data.bindchoicesid === this.elobject.bindchoicesid && this.elobject.imgonchange[data.index] !== undefined) {
          this.notavailable = false
          this.tempimginput.id = data.id
          this.tempimginput.imgsrc = this.elobject.imgonchange[data.index].imgonchangesrc
          this.tempimginput.bindchoicesid = data.bindchoicesid
           // search the tap tap json object to find image on change with the same id of the image choice user clicked
        }
      })
      eventbus.listen('taptapimagesonchange_notavailable', () => {
        this.notavailable = true
      })
      eventbus.listen('checkprimary_reset', () => {
        this.imginput.id = null
        this.imginput.imgsrc = null
        this.hasinputid = null
        this.notavailable = true
        this.tempimginput.id = null
        this.tempimginput.imgsrc = null
        this.lockRight = true
        this.checkflag = false
      })
      eventbus.listen('checkprimary_tryagain', () => {
        if (this.imginput.id !== null) {
          if (this.imginput.id === this.el.rightanswer) {
            this.lockRight = false
          } else {
            let enablechoicedata = {id: this.imginput.id, bindchoicesid: this.elobject.bindchoicesid}
            eventbus.fire('choicesimages_enablechoice', enablechoicedata)
            this.imginput.imgsrc = this.elobject.imageinput
            this.imginput.id = null
            this.hasinputid = null
            this.notavailable = true
            this.tempimginput.id = null
            this.tempimginput.imgsrc = null
            this.checkflag = false
          }
        }
      })
      eventbus.listen('checkprimary_show', () => {
        this.lockRight = false
      })
      eventbus.listen('primarytimer_end', () => {
        this.lockRight = false
      })
      eventbus.listen('checkprimary_stoptime', () => {
        this.lockRight = false
      })
      eventbus.listen('checkprimary_check', () => {
        this.checkflag = true
        if (this.el.rightanswer === this.imginput.id) {
          this.lockRight = false
        }
      })
    })
  },
  methods: {
    newinput (taptapid) {
      this.hasinputid = taptapid
      if (this.imginput.id !== null) {
        let enablechoicedata = {id: this.imginput.id, bindchoicesid: this.elobject.bindchoicesid}
        eventbus.fire('choicesimages_enablechoice', enablechoicedata)
      }
      this.imginput.id = this.tempimginput.id
      this.imginput.imgsrc = this.tempimginput.imgsrc
      eventbus.fire('taptapimagesonchange_notavailable')
      let isRight = false
      if (this.el.rightanswer === this.imginput.id) {
        isRight = true
        this.isRight = true
      }
      let hasinputobject = {id: this.hasinputid, inputid: this.hasinputid, bindchoicesid: this.el.bindchoicesid, isRight: isRight, evt: 'add'}
      eventbus.fire('checkprimary_input', hasinputobject)
      if (this.imginput.id !== null) {
        let disablechoicedata = {id: this.imginput.id, bindchoicesid: this.elobject.bindchoicesid}
        eventbus.fire('choicesimages_enablechoice', disablechoicedata)
        eventbus.fire('taptapimages_disablechoice', disablechoicedata)
      }
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.elobject = element
        this.imginput.imgsrc = element.imageinput
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        } else {
          this.bgimage = null
        }
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('choicesimages_userchoice')
    eventbus.off('taptapimagesonchange_notavailable')
    eventbus.off('checkprimary_reset')
    eventbus.off('checkprimary_tryagain')
    eventbus.off('checkprimary_show')
    eventbus.off('checkprimary_stoptime')
  }
}

</script>
