.check_icon_container {
  font-size: 16px;
  &.small {
    width: 20px;
    height: 20px;
      .wrong{
        i {
          font-size: 1em;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .right{
        i{
          font-size: 1em;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
  }
  position: absolute;
  width: 29px;
  height: 29px;
  border-radius: 3px;
  border: 1px solid #BABABA;
  text-align: center;
  box-shadow: 0px 0px 12px -2px #BABABA;
  background-color: transparent;
  z-index: 9999;
  &.bottom-right {
    right: 0;
    bottom: 0;
  }
  &.bottom-left {
    left: 0;
    bottom: 0;
  }
  &.top-left{
    top: 0;
    left: 0;
  }
  &.top-right{
    top: 0;
    right: 0;
  }
  .wrong{
    i{
      color: #DC4C46;
      font-size: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding-left: 4px;
    }
  }
  .right{
    i{
      color: #92B558;
      font-size: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding-left: 4px;
    }
  }
}
.has-check-righticon {
  width: 20px;
  height: 20px;
  color: #92B558;
}
.has-check-wrongicon {
  width: 20px;
  height: 20px;
  color: #DC4C46;
}
