.color-group {
    width: 5%;
    float: left;
    display: block;
}
.color-block {
    float: left;
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    &:hover{
      transform: scale(2);
      border-radius: 3px;
      z-index: 4;
    }
  }
