.crosswords_disableinput {
  visibility: hidden;
}
.crosswordsinput_invisibletd {
  width: 48px;
  height: 48px;
  outline: none;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.crosswordscontainer {
  // width: 1024px;
  display: inline-block;
  .crosswordscontainer_table {
    .crosswords_row {
      clear: left;
      .crosswords_box {
        position: relative;
        border: 2px solid black;
        width: 48px;
        height: 48px;
        .crosswordsinput_label {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          line-height: 1;
          font-size: calc(15px + .25vw);
          color: rgba(0, 0, 0, 0.5);
          pointer-events: none;
        }
        .crosswordsinput_input {
          width: 48px;
          height: 48px;
          text-align: center;
          text-transform: capitalize;
          font-size: calc(10px + .5vw);
          font-weight: 600;
          outline: none;
          border-color: transparent;
          -webkit-box-shadow: none;
          box-shadow: none;
          border-radius: 0;
        }
        input[type="text"]:disabled {
            background: #ffffff;
            color: #000000;
        }
        .crosswordsinput_input:disabled {
          -webkit-opacity: 1;
        }
        .crosswordsinput_hint {
        	position: absolute;
          top: -80%;
        	// background: rgba(255, 196, 35, 0.9);
        	background: #92B6D5;
        	border-radius: .4em;
          padding: 5px;
          z-index: 10;
          font-weight: 600;
        }
      }
    }
  }
  .crosswordscontainer_questions {
    .horizontal {
      white-space: normal;
      .title {
        font-weight: 600;
      }
      .questions {
        width: 100%;
        word-break: break-word;
        white-space: normal;
        p {
          white-space: normal;
          span {
            white-space: normal;
          }
        }
      }
    }
    .vertical {
      white-space: normal;
      .title {
        font-weight: 600;
      }
      .questions {
        width: 100%;
        word-break: break-word;
        white-space: normal;
        p {
          white-space: normal;
          span {
            white-space: normal;
          }
        }
      }
    }
  }
}
.crosswords_highlightinput {
  background-color: #ffff99;
  outline: none;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
