.modal {
    .animation-content {
        margin: 0 20px;
        .modal-card {
            margin: 0;
        }
        @include mobile {
            width: 100%;
        }
    }
}
.componentContainer{
  max-width: 850px;
  height: 100%;
  background-color: white;
  overflow: hidden;
  padding: 0 0 20px 0;
  .modalClose{
    padding-left: 10px;
    padding-right: 25px;
    padding-top: 10px;
    margin-bottom: 0;
    width: 850px;
    position: fixed;
    background-color: white;
    height: 48px;
    text-align: right;
    z-index: 9;
    &:after{
      content: '';
      position: absolute;
      width: 95%;
      left: 2%;
      bottom: 0;
      border-bottom: 1px solid #b3b3b3;
    }
    a{
      span{
        font-size: 30px;
        i{
          color: black;
        }
      }
    }
  }
  .helpbuttonsection{
    padding-top: 68px;
    padding-left: 20px;
    margin-right: 0;
    max-width: 850px;
    min-height: 500px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    div {
      text-align: left;
      padding-left: 0px;
      max-width: 850px;
      ul {
        list-style: inherit;
      }
    }
  }
}
