$papbuttoncolor: #3b5998;
$papiconcolor: #dfe3ee;
.primaryaudioplayer_buttons{
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
  position: relative;
  text-align: center;
  background-color: $papbuttoncolor;
  border: 5px solid transparent;
  box-shadow: inset 0px 0px 40px 5px lighten($papbuttoncolor, 8%);
  &:active{
    box-shadow: inset 0px 0px 50px 8px darken($papbuttoncolor, 20%);
  }
  &.play{
    span{
      position: absolute;
      color: $papiconcolor;
      top: 16px;
      left: 20px;
    }
  }
  &.stop{
    span{
      position: absolute;
      color: $papiconcolor;
      top: 16px;
      left: 17px;
    }
  }
}
.primaryaudioplayer_playing {
  span{
    color: $papbuttoncolor;
    i{
      font-size: 5em;
    }
  }
} 
