.rubric1 {
  font-weight: bold;
  font-size: 24px;
}
.rubricCircle1 {
  font-weight: bold;
  font-size: 15pt;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 0px #86878A;
}
.rubricText1 {
  font-weight: bold;
  padding-top: 10px;
}
