// draggable sections, leafs sections
.sectionsdraggable_container {
  // width: 100%;
  // min-height: 48px;
  // border: 1px solid #ecf0f1;
  // border-collapse: collapse;
  // background-color: #181f30;
  // padding: 0.7em;
  // span {
  //   display: inline-block;
  //   font-size: 1.2em;
  //   word-break: break-all;
  // }
}
// sections dropdown container
.sectionsdropdown_container {
  height: 700px;
  overflow-y: auto;
  word-break: break-all;
  .animationArrow {
    transform: rotate(0deg);
    transition: transform .5s linear;
    &.open{
      transform: rotate(180deg);
      transition: transform .5s linear;
    }
  }

  a{
    color: #5a7492;
  }

  .areabox {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    flex-flow: column nowrap;

    a{
      background-color: #4d6681;
      padding: 5px 10px;
      border: 1px solid black;
      span.icon{
        color :#222c52;
      }
      .clicked_color{
        color: #98A5BF;
      }
      color: #9BA7C1;
    }

    &:not(:last-child){

      margin-bottom: 5px
    }
    &:first-child{
      margin-top: 5px;
      border-bottom: none;
    }
  }
  .categorybox {
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3e536a;
      padding: 5px 10px;
      border: 1px solid black;
      span.icon{
        color : #222C52;
      }
      color: #9BA7C1;
    }
  }
  .groupbox {
    a{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: #2f4154;
      padding: 5px 10px;
      border: 1px solid black;
      span.icon{
        color :#222C52;
      }
    }
  }
  .sectionitem{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d2c3d;
    padding: 5px 10px;
    border: 1px solid black;
    cursor: move;
  }
  .errorMessage {
    color: #808DB0;
    &:after {
      content: attr(data-text);
      display: block;
      font-size: 1.5em;
      text-align: center;
    }
  }
  .loading {
    margin-top: 20px;
  }
}
