.cd-accordion-menu::-webkit-scrollbar {
    width: 12px;
}

.cd-accordion-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.cd-accordion-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
}

.cd-accordion-menu {
  word-break: normal;
  max-height: 600px;
  overflow-y: auto;
  background: #222C52;
  margin-top: 1em;
  box-shadow: 0 1px 1px #808DB0;
  overflow-x: hidden;
  position: absolute;
  width: 350px;
  ul {
    /* by default hide all sub menus */
    display: none;
  }

  li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input[type=checkbox] {
    /* hide native checkbox */
    position: absolute;
    opacity: 0;
  }

  a,
  label {
    position: relative;
    display: block;
    padding: 18px 18px 18px 64px;
    background: #222C52;
    box-shadow: inset 0 -1px #555960;
    color: #ffffff;
    font-size: 1.6rem;
  }
}

.no-touch .cd-accordion-menu {
  a:hover,
  label:hover {
    background: #52565d;
  }
}

.cd-accordion-menu {
  label {
    &::after,
    &::before {
      /* icons */
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  a::after {
    /* icons */
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  label {
    cursor: pointer;

    &::after,
    &::before {
      background-image: url("menu-icons.svg");
      background-repeat: no-repeat;
    }

    &::before {
      /* arrow icon */
      left: 18px;
      background-position: 0 0;
      -webkit-transform: translateY(-50%) rotate(-90deg);
      -moz-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
      -o-transform: translateY(-50%) rotate(-90deg);
      transform: translateY(-50%) rotate(-90deg);
    }

    &::after {
      /* folder icons */
      left: 41px;
      background-position: -16px 0;
    }
  }

  input[type=checkbox]:checked + label {
    &::before {
      /* rotate arrow */
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    &::after {
      /* show open folder icon if item is checked */
      background-position: -32px 0;
    }

    &:nth-of-type(n) + ul,
    + ul {
      /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
      /* show children when item is checked */
      display: block;
    }
  }

  ul {
    a,
    label {
      background: #303E61;
      box-shadow: inset 0 -1px #41444a;
      padding-left: 32px;
    }
  }
}

.no-touch .cd-accordion-menu ul {
  a:hover,
  label:hover {
    background: #3c3f45!important;
  }
}

.cd-accordion-menu {
  > li {
    &:last-of-type > {
      a,
      label {
        box-shadow: none;
      }
    }

    > ul > li:last-of-type {
      a,
      label {
        box-shadow: none;
      }
    }
  }

  ul {
    label {
      &::before {
        left: 36px;
      }

      &::after {
        left: 59px;
      }
    }

    a::after {
      left: 59px;
    }

    ul {
      a,
      label {
        padding-left: 100px;
      }

      label {
        &::before {
          left: 54px;
        }

        &::after {
          left: 77px;
        }
      }

      a::after {
        left: 77px;
      }

      ul {
        a,
        label {
          padding-left: 118px;
        }

        label {
          &::before {
            left: 72px;
          }

          &::after {
            left: 95px;
          }
        }

        a::after {
          left: 95px;
        }
      }
    }
  }

  &.animatedmenu label::before {
    /* this class is used if you're using jquery to animate the accordion */
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
}
@media only screen and (min-width: 600px) {
  .cd-accordion-menu {
    a,
    label {
      padding: 12px 12px 12px 82px;
      font-size: 1.1rem;
    }

    label {
      &::before {
        left: 24px;
      }

      &::after {
        left: 53px;
      }
    }

    ul {
      a,
      label {
        padding-left: 106px;
      }

      label {
        box-shadow: inset 0 -1px #41444a!important;

        &::before {
          left: 48px;
        }

        &::after {
          left: 77px;
        }
      }

      a::after {
        left: 77px;
      }

      ul {
        a,
        label {
          padding-left: 130px;
        }

        label {
          &::before {
            left: 72px;
          }

          &::after {
            left: 101px;
          }
        }

        a::after {
          left: 101px;
        }

        ul {
          a,
          label {
            padding-left: 10px;
          }

          label {
            &::before {
              left: 96px;
            }
          }

          a::after {
            left: 125px;
          }
        }
      }
    }
  }
}
