.taptap_imgplaceholder{
  border-color: black;
  border: solid 1px;
  height: 100px;
  width: 100%;
}
.taptap_imgplaceholderleft{
  border-color: black;
  border: solid 1px;
  float:left;
  height: 100px;
  width: 100px;
}
.taptap_imgplaceholderright{
  border-color: black;
  border: solid 1px;
  float:right;
  height: 100px;
  width: 100px;
}
.taptap_placeholder{
  display: block;
}
.imagestap_tagdisplayblock{
  width: 100%;
  height: 100%;
  display: inline-block;
}
.taptapsection_choicesettings{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.taptapsection_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px 0;
  align-items: center;
  justify-content: flex-start;
  line-height: 2em;
  // height: fit-content;
}
.taptapsection_choices{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 70%;
  margin: 0 auto;
}
.taptapsection_outer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.taptapsection_target{
  
	background-color:#ffffff;
	display:flex;
  justify-content: center;
  align-items: center;
	cursor:pointer;
  color:#000000;
  white-space: normal;
  // min-width: fit-content;
  // min-height: fit-content;
	text-decoration:none;
}
// .taptapsection_target > p{
// display: inline-block;
// }
.taptapsection_toUpper{
  text-transform: capitalize;
}
.taptapsection_active {
  background-color:  #d9d9d9;
}
.taptapsection_center_row{
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  align-items:center;
  align-content: center;
}
.taptapsection_tabss {
  padding-left: 20px;
  border-bottom: 1px solid rgb(204, 204, 204);
}
.taptapsection_txt_area {
  padding: 5px;
}
.taptapsection_spantext{
  
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  align-items:center;
  align-content: center;
}
.taptapsection_tabss a{
  display: inline-block;
  color: black;
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid rgb(204, 204, 204);
  border-bottom: none;
  border-radius: 10px 10px 0 0px;
  font-weight: 550;
}
.taptapsection_tabss a.active {
  background-color: #fff;
  color: #00D1B2;
  border-bottom: 1px solid white;
  margin-bottom: -1px;
  cursor: default;
}
.taptapsection_noborder {
  border: none;
}
.taptapsection_match {
  border: none;
  margin-top:15px;
  padding:0;
}
.taptapsection_tapenterwrap{
  padding: 0.5em;
}
.taptapsection_choiceitem > p {
  display: inline-block;
}
.taptapsection_choiceitem{
  padding: 5px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}
.taptapsection_wsnbw{
  white-space:normal;
  word-break:break-word;
}
.taptapsection_choicegrid{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.taptapsection_compitem{
  display: inline-block;
  border: 1px solid grey;
  border-radius: 7px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin:  5px 5px;
}
.taptapsection_shuf{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.taptapsection_pad_left_5{
  margin-left: 5px;
}
.taptapsection_ansdiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;

  }
  .taptapsection_outersettings{
  position: relative;
  }
  .taptapsection_inner{
  position :absolute;
  z-index: 2;
  top: 5px;
  right: 5px;
  }
  // a:active{
  // text-decoration-line: underline;
  // }
  .taptapsection_tooltip{
  position: relative;
  }
  .taptapsection_tooltiptext {
      visibility: hidden;
      width: 300px;
      background-color: whitesmoke;
      border: 1px solid rgba(173, 64, 64, 0.397);
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: -0px;
      left: 120%;
      opacity: 0;
      transition: opacity 0.5s;
  }
  .taptapsection_tooltip:hover .taptapsection_tooltiptext {
  opacity: 1;
  visibility: visible;
  }
  .taptapsection_tooltip .taptapsection_tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(173, 64, 64, 0.397) transparent transparent;
  }
  .taptapsection_width_100{
  width: 100px;
  }
  .taptapsection_no_margin{
  margin-top: 0;
  margin-bottom: 0;
  }
  .taptapsection_margin_right_5{
    margin-right: 5px;
    
    }
  .taptapsection_textareasettings{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  }
  .taptapsection_italic_weigth{
  font-weight: 600;
  font-style: italic;
  }
  .taptapsection_weigth{
  font-weight: 600;
  }
  .taptapsection_center_row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }
  .taptapsection_rightflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .taptapsection_padding_10{
      padding: 10px;
  }
  .taptapsection_padding_5{
  padding: 5px;
  }
  // .taptapsection_tapidwrap {
  // padding: 0.5em;
  // cursor: default;
  // }
  // .taptapsection_tapenterwrap{
  // padding: 0.5em;
  // }
  .taptapsection_tapareawrap{
  display: flex;
  flex-flow: column wrap;
  padding: 0.5em;
  align-items: stretch;
  }
  .taptapsection_tapitem{
  width: 100%;
  height: fit-content;
  margin : 0.5em auto;
  border: 1px solid grey;
  border-radius: 7px;
  }
  .taptapsection_tap_menu{
  min-height: 4em;
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: space-evenly;
  }
  a:active{
  text-decoration-line: none;
  }
  .taptapsection_minheight_4{
  min-height: 4em;
  }
  .taptapsection_toprow{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  }
  .taptapsection_smalltabs {
      padding-left: 20px;
      border-bottom: 1px solid rgb(204, 204, 204);
  }
  .taptapsection_smalltabs a{
      display: inline-block;
      color: black;
      cursor: pointer;
      padding: 8px 16px;
      font-weight: 500;
      font-size : 16px;
      transition: background-color 0.2s;
      border: 1px solid rgb(204, 204, 204);
      border-bottom: none;
      background-color: #fff;
      border-radius: 10px 10px 0 0px;
  }
  .taptapsection_smalltabs a:hover {
      color: black;
  }
  .taptapsection_smalltabs a.active {
      background-color: #fff;
      color: #00D1B2;
      border-bottom: 1px solid white;
      margin-bottom: -1px;
      cursor: default;
  }
  .taptapsection_center_row_margin{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  }
