.triagnum{
  position: relative;
  color: #fff;
  float: left;
  z-index: 1;
  font-weight: 800;
  padding: 2px 0 0 2px;
  display: inline-block;
  margin: 3px 22px 3px 2px;
  line-height: 1.25em;
}
.circlenum{
  position: relative;
  color: #fff;
  float: left;
  z-index: 1;
  font-weight: 800;
  padding: 2px 0 0 2px;
  display: inline-block;
  margin: 3px 22px 3px 2px;
  line-height: 1.25em;
}
.triagnum:before{
  content: '';
  z-index: -1;
  position: absolute;
  top: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 35px solid;
  border-left-color: inherit;
}
.circlenum:before{
  content: '';
  z-index: -1;
  position: absolute;
  top: -6px;
  left: -9px;
  width: 35px;
  height: 35px;
  border: 18px solid;
  border-color: inherit;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50%;
}
