.typing_container{
  width: 100%;
  display: block;
  position: relative;
  font-size: 28px;
  ul {
    list-style: inherit;
  }
}
.typing_input {
    border-radius: 3px;
    border: 1px solid #BABABA;
    margin-bottom: 0.5em;
    padding: 0;
    &.capitalize {
      text-transform: capitalize;
    }
    &.uppercase {
      text-transform: uppercase;
    }
    &.lowercase {
      text-transform: lowercase;
    }
}
