.wordsearch_statictexts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  ul {
    list-style: inherit;
  }
}
.wordsearch_staticimages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wordsearch_container{
  position: relative;
  z-index: 1;
}
.wordsearch_xrow_helper{
  height: 72px;
  position: absolute;
}
.wordsearch_yrow_helper {
  width: 72px;
  position: absolute;
}
.wordsearchletter_container {
  width: 71.5px;
  line-height: 71.5px;
  height: 71.5px;
  position: absolute;
  border-width: 1px;
  text-align: center;
  z-index: 9;
  span {
    z-index: 1;
    color: black;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
  }
}
