<style scoped lang='scss'>
.maxwidth{
  max-width: 100%
}
.half{
  width: 50%
}
.content{
  // min-width:30vw;
  // max-width:30vw;
  width: 100%;
  border-bottom: 1px solid darkslategrey
}
.flexcenterrow{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
.flexcenter{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
.flexcenterrow{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
}
.useritem{
  padding: 0.5rem;
}
.relativemenup{
  position: relative;
}
.relativemenu{
  position: absolute;
  top:0.3rem;
  right:-1rem;
  display:flex;
  flex-flow:column wrap;
}
.overlayp{
  position: relative;
  background-clip: red;
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly
}
.overlayitem{
  height: 100%;
  display: inline-flex;
  min-width: 30%;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.overlayitem:hover{
  background-color: rgba(0, 0, 0, .2);
}
.overlayitem:hover i{
  color: rgba(20, 78, 236, 0.863);
}
.image-placeholder {
    background-color: #eee;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 5px;
}

.image-placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}
</style>
<template>
<div class='maxwidth'>
      <div v-if="!isDataLoaded">
        <AppSpinner />
      </div>
      <div v-else class="">

          <div class="tile is-ancestor">
            <div class="tile is-vertical">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  <article class="tile is-child notification  relativemenup">
                    <div class=" relativemenu">
                      <!-- <div class="button is-primary is-radiusless">
                        <span class="icon">
                          <i class="fa fa-wrench"></i>
                        </span>
                      </div> -->
                      <div class="button is-danger is-radiusless">
                        <span class="icon">
                          <i class="fa fa-trash"></i>
                        </span>
                      </div>
                    </div>

                    <p class="title">{{$route.params.package_name}}</p>
                    <p class="subtitle">created by {{creator.firstname||''}} {{creator.lastname||''}}.</p>
                    <figure class="image overlayp">
                      <div class="overlay has-text-centered">
                        <router-link  alt="View Package"  class="overlayitem" :to="{path: '/iframeview/', query:{package: pckg.id}}">
                          <div class="icon">
                            <i class="fa fa-eye is-size-5 "></i>
                          </div>
                        </router-link>
                        <a v-if="pckg.pilotversion !== null" @click="downloadlastexport(pckg.package_folder)" class="overlayitem">
                          <div class="icon">
                            <i class="fa fa-download is-size-5 "></i>
                          </div>
                        </a>
                          <a alt="Export"  class="overlayitem" @click="exportmodules(pckg.id, index)">
                            <span class="icon"><i class="fa fa-paper-plane is-size-5 "></i></span>
                          </a>
                      </div>
                      <img src="https://bulma.io/images/placeholders/640x480.png"
                      >
                      <!-- <div class="image-placeholder">
                          <h4>image placeholder text</h4>
                      </div> -->


                    </figure>
                    <footer class="level">
                      <!-- <router-link class="level-item button half is-marginless" :to="{name: 'packageModules'}"> -->
                      <router-link class="level-item button half is-marginless is-radiusless is-primary" :to="{name: 'View Modules', query:{package: pckg.id}}">
                        Modules
                      </router-link>
                      <router-link class="level-item button half is-marginless is-radiusless is-primary is-inverted" :to="{name: 'Update Package', query:{package: pckg.id}}">
                        Edit
                      </router-link>
                    </footer>
                  </article>
                </div>
                <div class="tile is-parent">
                  <article class="tile is-child box">
                    <div class="maxwidth flexcenter">
                      <div class="content">
                        <p class=" has-text-primary"><span class="is-italic">ISO</span>:</p>
                        <p class=" has-text-centered">{{pckg.iso}}</p>
                      </div>
                      <div class="content">
                        <p class=" has-text-primary ">ISBN:</p>
                        <p class=" has-text-centered">{{pckg.isbn}}</p>
                      </div>
                      <div class="content">
                        <p class="has-text-primary">DIGI ID:</p>
                        <p class="has-text-centered">{{pckg.digi_package_id}}</p>
                      </div>
                      <div class="content">
                        <p class=" has-text-primary">Category:</p>
                        <p class="has-text-centered">{{pckg.PackageCategory.category_name}}</p>
                      </div>
                      <div class="content">
                        <p class=" has-text-primary">Latest Pilot:</p>
                        <p class="has-text-centered">{{(pckg.pilotversion.pilot_name)?pckg.pilotversion.pilot_name:'Not exported yet.'}}</p>
                      </div>
                    </div>
                  </article>
                </div>
              </div>

              <div class="tile is-parent">
                <article class="tile is-child box">
                  <div class="level">
                    <p class=" is-marginless title is-pulled-left">Assigned Sections</p>
                    <p class="is-pulled-right">
                      <a class="button is-primary is-outlined" @click="showSectionsFlag = !showSectionsFlag">
                        <span class="icon">
                          <i class="fa fa-angle-down"></i>
                        </span>
                      </a>
                    </p>
                  </div>
                  <template v-if="showSectionsFlag">
                    <div class="field  has-addons">
                      <span class="button is-radiusless notavailable" v-text='"Add more"'></span>
                        <a class="button is-primary" @click="assignSection">
                          <span class="icon">
                            <i class="fa fa-plus"></i>
                          </span>
                        </a>
                      </div>
                    <div v-focus class="flexcenterrow">
                      <div class="flexcenter useritem" v-for="section in sections" :key="section.section_id">
                        <div class="field  has-addons">
                          <span class="button is-radiusless notavailable" v-text="`${section.section_name}`"></span>
                          <a class="button is-radiusless is-danger" @click="unAssignSection(section.section_id)">
                            <span class="icon">
                                <i class="fa fa-minus"></i>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </template>
                </article>
              </div>

              <div class="tile is-parent">
                <article class="tile is-child box">
                  <div class="level">
                    <p class="is-pulled-left is-marginless title">Assigned Users</p>
                    <p class=" is-pulled-right">
                      <a class="button is-primary is-outlined" @click="showUsersFlag = !showUsersFlag">
                        <span class="icon">
                          <i class="fa fa-angle-down"></i>
                        </span>
                      </a>
                    </p>
                  </div>
                  <template v-if="showUsersFlag">
                    <div class="field  has-addons">
                    <span class="button is-radiusless notavailable" v-text="`Add more`"></span>
                    <a class="button is-primary " @click="assignUser">
                      <span class="icon">
                        <i class="fa fa-user-plus"></i>
                      </span>
                    </a>
                  </div>
                  <div v-focus class="flexcenterrow">
                    <div class="flexcenter useritem" v-for="user in users" :key="user.user_id">
                      <div class="field  has-addons">
                        <span class="button is-radiusless notavailable" v-text="`${user.firstname} ${user.lastname}`"></span>
                        <a class="button is-radiusless is-danger" @click="unAssignUser(user.user_id)">
                          <span class="icon">
                              <!-- <i class="fa fa-delete"></i> -->
                              <i class="fa fa-user-times"></i>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                  </template>

                </article>
              </div>

            </div>
          </div>
          <Modal v-show="showModalFlag" @hideModal="hideModal">
            <!-- <span class="icon  has-text-danger is-pulled-right">
              <i class="fa fa-times fa-lg"></i>
            </span> -->
            <div class="field ">
              <label class="label">Assign a user:</label>
              <div class="control">
                <div class="select">
                  <select v-model="userToBeAssigned">
                    <option disabled value="">Please select one</option>
                    <option v-for='user in toBeAssignedUsers' :key='user.user_id' :value='user.user_id' v-text="`${user.firstname} ${user.lastname}`"></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <div class="control is-relative">
                <p class="button is-primary" :disabled="userToBeAssigned===null" :class="{notavailable: userToBeAssigned===null}" @click="assignUserModal">Add user</p>
              </div>
            </div>
          </Modal>
    </div>
</div>
</template>
<script>
import {mapState, mapActions} from 'vuex'
import DataLoader from '@/components/mixins/DataLoader'
// import ModalToggle from '@/components/mixins/ModalToggle'

export default {
  name: 'Package',
  data () {
    return {
      pckg: {},
      users: [],
      creator: {},
      sections: [],
      userToBeAssigned: Number,
      toBeAssignedUsers: [],
      showSectionsFlag: false,
      showUsersFlag: false
    }
  },
  props: {
  },
  mixins: [DataLoader],
  mounted () {
    this.resetDataLoader()
    this.$http.get(`packages/package/${this.$route.params.package_name}`)
    .then((res) => {
      this.pckg = res.data.package
      this.users = res.data.package.packageuser
      this.creator = res.data.package.PackageCreator
      this.sections = res.data.package.packagesection
    })
    .catch(err => console.log(err))
    .finally(() => this.resolveDataLoader())
  },
  methods: {
    async assignUser () {
      this.userToBeAssigned = null
      let result = await this.$http.get(`packages/package/${this.$route.params.package_name}/unassigned`)
      this.toBeAssignedUsers = result.data.users
      this.showModal()
    },
    async unAssignUser (userId) {
      let result = await this.$http.post(`packages/package/${this.$route.params.package_name}/unassign`, {user_id: userId})
      if (result.request.status === 200) {
        let index = this.users.findIndex(user => user.user_id === userId)
        this.users.splice(index, 1)
      }
    },
    async unAssignSection (sectionId) {

    },
    async assignSection () {

    },
    async assignUserModal () {
      if (this.userToBeAssigned) {
        let result = await this.$http.post(`packages/package/${this.$route.params.package_name}/assign`, {user_id: this.userToBeAssigned})
        let index = this.toBeAssignedUsers.findIndex(user => user.user_id === this.userToBeAssigned)
        this.userToBeAssigned = null
        this.toBeAssignedUsers.splice(index, 1)
        this.users.push(result.data.user)
      }
    },
    downloadlastexport (folder) {
      window.open(process.env.APIENDPOINT + 'pilotversions/downloadpck/' + folder)
    },
    ...mapActions('modal', {
      showModal: 'SHOW_MODAL'
    }),
    ...mapActions('modal', {
      hideModal: 'HIDE_MODAL'
    })
  },
  computed: {
    ...mapState('modal', {
      showModalFlag: state => state.showModal
    })
  }

}
</script>
