<style lang="scss">

.displayimg{
  max-width: 100%;
  max-height: 100%;
}
</style>

<template lang="html">
  <div :style="el.bgobject" style="position: absolute;">
    <v-touch :class="{'notavailable': notavailable}" class="imagestap_tagdisplayblock has-center-items" :id="el.id" @tap="newinput(el.id, $event)" tag="a">
      <img v-if="imginput.imgsrc !== null" class="image displayimg":src="mediafile + $route.query.package + '/' + imginput.imgsrc">
    <span :id="'spansvg' + el.id" v-else v-html="el.imageinput"></span><span><i v-if="imginput.isRight" class="fa fa-check has-text-success is-size-1" style="position: absolute;top: 10%;left: 0%; z-index:9999"></i></span>
    </v-touch>
  </div>
</template>

<script>
import eventbus from '@/config/eventhub.js'
import {MEDIAENDPOINT} from '@/config/app-config'
import findIndex from 'lodash/findIndex'
export default {
  name: 'expSvgtaps',
  props: {
    el: Object
  },
  data () {
    return {
      hasinputid: null,
      notavailable: true,
      lockRight: true,
      mediafile: MEDIAENDPOINT,
      getchild: null,
      tempimginput: {
        id: null,
        imgsrc: null,
        fill: null
      },
      imginput: {
        id: null,
        imgsrc: null,
        fill: null
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      // Load the temp object with image clicked
      eventbus.listen('svgchoices_userchoice', (data) => {
        this.tempimginput.id = data.id
        this.tempimginput.fill = data.fill
        this.tempimginput.imgsrc = this.el.imgonchange[data.index].imgonchangesrc // search the tap tap json object to find image on change with the same id of the image choice user clicked
        if (this.lockRight && data.bindchoicesid === this.el.bindchoicesid) {
          this.notavailable = false
        }
      })
      eventbus.listen('taptappuzzle_notavailable', () => {
        this.notavailable = true
      })
      eventbus.listen('checkprimary_reset', () => {
        if (this.getchild !== null) {
          this.getchild.setAttribute("fill", "#fff")
        }
        this.imginput.imgsrc = null
        this.hasinputid = null
        this.notavailable = true
        this.imginput.id = null
        this.lockRight = true

      })
      eventbus.listen('checkprimary_tryagain', () => {
        if (this.imginput.id !== null) {
          if (this.imginput.id === this.el.rightanswer) {
            this.lockRight = false
          } else {
            if (this.getchild !== null) {
              this.getchild.setAttribute("fill", "#fff")
            }
            this.imginput.imgsrc = null
            this.hasinputid = null
            this.notavailable = true
            this.imginput.id = null
          }
        }
      })
      eventbus.listen('checkprimary_show', () => {
        let svgchildnodes = document.getElementById('spansvg' + this.el.id).childNodes[0].childNodes
        for (var i = 0; i < svgchildnodes.length; i++) {
          if (svgchildnodes[i].nodeType === 1) {
            svgchildnodes[i].setAttribute("fill", this.el.imgonchange[findIndex(this.el.imgonchange, {'id': this.el.rightanswer})].svgfill)
          }
        }
      })
      eventbus.listen('primarytimer_end', () => {
        this.lockRight = false
      })
      eventbus.listen('checkprimary_stoptime', () => {
        this.lockRight = false
      })
    })
  },
  methods: {
    newinput (taptapid, e) {
      if (e.target.farthestViewportElement !== null) {
      this.hasinputid = taptapid
      let svgelement = e.target.farthestViewportElement
      for (var i = 0; i < svgelement.childNodes.length; i++) {
        if (svgelement.childNodes[i].nodeType === 1 && svgelement.childNodes[i].id !== null && svgelement.childNodes[i].id !== '') {
          this.getchild = svgelement.childNodes[i]
          this.getchild.setAttribute("fill", this.tempimginput.fill)
        }
      }
      this.getchild.setAttribute("fill", this.tempimginput.fill)
      this.imginput.id = this.tempimginput.id
      // this.imginput.imgsrc = this.tempimginput.imgsrc
      eventbus.fire('taptappuzzle_notavailable')
      let isRight = false
      if (this.el.rightanswer === this.imginput.id) {
        isRight = true
      }
      let hasinputobject = {id: this.hasinputid, inputid: this.hasinputid, bindchoiceid: this.el.bindchoicesid, isRight: isRight, evt: 'add'}
      eventbus.fire('checkprimary_input', hasinputobject)
      if (this.imginput.id !== null) {
        eventbus.fire('choicesimages_enablechoice', this.imginput.id)
      }
    }
    }
  },
  beforeDestroy () {
    eventbus.off('choicesimages_userchoice')
    eventbus.off('taptapimagesonchange_notavailable')
    eventbus.off('checkprimary_reset')
    eventbus.off('checkprimary_tryagain')
    eventbus.off('checkprimary_show')
    eventbus.off('checkprimary_stoptime')
  }
}

</script>
