<style lang="scss">
</style>

<template lang="html">
<div>
  <span>{{beforetext}}</span>
    <span v-for="letter in wordarray" :key="letter.wordarrayid">
      <span class="missingletter_existletters" v-if="!(letter.missing)"> {{ letter.text }} </span>
      <input :disabled="letter.righticon" @keydown="sendletter(letter.wordarrayid)" v-if="(letter.missing)" size="5" v-model="letter.text" maxlength="1" class="missingletter_eachletterbox" type="text">
      <span><i :class="{'fa fa-check has-text-success': letter.righticon, 'fa fa-times has-text-danger': letter.wrongicon}"></i></span>
    </span>
  <span>{{aftertext}}</span>
</div>
</template>

<script>
import eventbus from '../../config/eventhub.js'
import debounce from 'lodash/debounce'
import _ from 'lodash'
export default {
  name: 'expMissingletter',
  props: {
    el: Object
  },
  data () {
    return {
      wordarray: [{id: 1, text: 'A', missing: false, right: 'A', righticon: false, wrongicon: false}, {id: 2, text: '', missing: true, right: 'n', righticon: false, wrongicon: false}, {id: 3, text: '', missing: true, right: 'n', righticon: false, wrongicon: false}, {id: 4, text: 'a', missing: false, right: 'a', righticon: false, wrongicon: false}],
      beforetext: 'Before Input Text', // text before word with missingletter
      aftertext: 'After Input Text', // text after word with missingletter
      componentid: 1,
      bindchoicesid: 'missingletter',
      capitalize: false,
      right: false,
      wrongicon: false,
      righticon: false,
      hasinput: false
    }
  },
  created () {
    // Check if input have the right answer
    eventbus.listen('checktaptap_check', (checkobject) => {
      let checkarray = _.filter(this.wordarray, {'missing': true})
      // If event is from tryagain button then reset wrong inputs and keep right ones
      if (checkobject.buttonevent === 'tryagain') {
        for (var i = 0; i < checkarray.length; i++) {
          if (checkarray[i].wrongicon) {
            let hasinputobject = {id: checkarray[i].id, componentid: this.componentid, evt: 'remove'}
            eventbus.fire('checktaptap_hasinput', hasinputobject)
            this.hasinput = false
            checkarray[i].text = ''
            checkarray[i].wrongicon = false
          }
        }
      } else if (checkobject.buttonevent === 'check') {
        //If event is from check button then check if answers is right or wrong
        _.forEach(checkarray, function (item) {
          if (item.right === item.text) {
            item.righticon = true
            item.wrongicon = false
          } else if (item.text.length < 1) {
            item.righticon = false
            item.wrongicon = false
          } else {
            item.righticon = false
            item.wrongicon = true
          }
        })
        for (var j = 0; j < checkarray.length; j++) {
          if (checkarray[j].righticon === true && checkarray[j].wrongicon === false) {
            let rightanswer = {id: checkarray[j].id, choisestaptapid: checkobject.id, componentid: this.componentid}
            eventbus.fire('checktaptap_rightanswer', rightanswer)
          }
        }
      }
    })
    // Event from show button, show all rightanswers
    eventbus.listen('checktaptap_showrightanswers', () => {
      let checkarray = _.filter(this.wordarray, {'missing': true})
      _.forEach(checkarray, function (item) {
        item.text = item.right
      })
      this.hasinput = true
    })
    // Event from reset button, reset all typing inputs
    eventbus.listen('missingletter_clearinput', () => {
      let checkarray = _.filter(this.wordarray, {'missing': true})
      _.forEach(checkarray, function (item) {
        item.text = ''
        item.righticon = false
        item.wrongicon = false
      })
      this.hasinput = false
    })
  },
  mounted () {
    this.beforetext = this.el.beforetext
    this.aftertext = this.el.aftertext
    this.wordarray = JSON.parse(JSON.stringify(this.el.wordarray))
    this.bindchoicesid = this.el.bindchoicesid
    this.componentid = this.el.id
  },
  methods: {
    // Call when user typing one letter
    sendletter: debounce(function (id) {
      let tempinput = _.filter(this.wordarray, {'wordarrayid': id})
      if (tempinput[0].text.length === 1) {
        let hasinputobject = {id: id, componentid: this.componentid, evt: 'add'}
        eventbus.fire('checktaptap_hasinput', hasinputobject)
        if (!(_.filter(this.wordarray, {'text': ''}).length > 0)) {
          this.hasinput = true
        }
      } else if (tempinput[0].text.length === 0) {
        let hasinputobject = {id: id, componentid: this.componentid, evt: 'remove'}
        eventbus.fire('checktaptap_hasinput', hasinputobject)
        this.hasinput = false
        tempinput[0].wrongicon = false
        tempinput[0].righticon = false
      }
    }, 250)
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.beforetext = element.beforetext
        this.aftertext = element.aftertext
        this.bindchoicesid = element.bindchoicesid
        this.componentid = element.id
        this.wordarray = JSON.parse(JSON.stringify(element.wordarray))
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('checktaptap_check')
    eventbus.off('checktaptap_showrightanswers')
    eventbus.off('missingletter_clearinput')
  }
}

</script>
