<style lang="scss">

</style>

<template lang="html">
  <div class="columns is-mobile" :style="[el.bgobject, {backgroundImage: bgimage}]">
    <div class="wordsearch_staticimages" v-if="staticimages !== undefined && staticimages !== null">
      <div :style="image.staticimage" v-for="image in staticimages" :key="image.id">
        <img :src="media + $route.query.package + '/' + image.staticimage.imgsrc">
      </div>
    </div>
    <div class="wordsearch_statictexts" v-if="statictexts !== undefined && statictexts !== null">
      <div :style="text.textstyle" v-for="text in statictexts" :key="text.id">
        <span v-html="text.text"></span>
      </div>
    </div>
    <exp-crosswords :el="el"></exp-crosswords>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'CrossWordsSection',
  props: {
    el: Object
  },
  data () {
    return {
      bgimage: null,
      statictexts: null,
      staticimages: null,
      media: MEDIAENDPOINT
    }
  },
  mounted () {
  if (this.el.statictexts !== null && this.el.statictexts !== undefined) {
    if (this.el.statictexts.length > 0) {
        this.statictexts = JSON.parse(JSON.stringify(this.el.statictexts))
    } else {
      this.statictexts = null
    }
  } else {
    this.statictexts = null
  }
  if (this.el.staticimages !== null && this.el.staticimages !== undefined) {
    if (this.el.staticimages.length > 0) {
        this.staticimages = JSON.parse(JSON.stringify(this.el.staticimages))
    } else {
      this.staticimages = null
    }
  } else {
    this.staticimages = null
  }
  if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
    this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
  } else {
    this.bgimage = null
  }
},
  computed: {
    crosswordssection: function () {
      return this.el
    }
  },
  watch: {
    crosswordssection: {
      handler (element) {
        if (element.statictexts !== null && element.statictexts !== undefined) {
          if (element.statictexts.length > 0) {
              this.statictexts = JSON.parse(JSON.stringify(element.statictexts))
          } else {
            this.statictexts = null
          }
        } else {
          this.statictexts = null
        }
        if (element.staticimages !== null && element.staticimages !== undefined) {
          if (element.staticimages.length > 0) {
              this.staticimages = JSON.parse(JSON.stringify(element.staticimages))
          } else {
            this.staticimages = null
          }
        } else {
          this.staticimages = null
        }
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        } else {
          this.bgimage = null
        }
        this.$forceUpdate()
      },
      deep: true
    }
  }
}

</script>
