<style lang="scss" scoped>

</style>

<template lang="html">
  <div class="columns is-multiline is-mobile">
    <div class="column is-12">
      <exp-choicestaptap :el="el"></exp-choicestaptap>
    </div>
    <div class="column is-12">
      <exp-grouping :el="el"></exp-grouping>
    </div>
  </div>
</template>

<script>

export default {
  name: 'groupingwithbg',
  props: {
    el: Object
  }
}

</script>
