<style lang="scss">
.clickword {
	text-decoration: none;
	color: black;
}
.zoomword {
	font-size: 2em;
}
.segmenttextb {
	// margin-right: 0.3em;
	white-space: normal;
	cursor: pointer;
	text-decoration: none;
}
.row_start_flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}
.row_center_flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.center_column_flex {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.red {
	color: red;
}
.blueround {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #3b5998;
	border: 5px solid transparent;
	box-shadow: inset 0px 0px 40px 5px #466ab5;
}
</style>
<template lang="html">
  <div :style="[el.bgobject, {backgroundImage: bgimage}]"  class="columns is-multiline is-mobile">
    <div v-if="staticimages !== undefined && staticimages !== null" :style="image.staticimage" v-for="image in staticimages">
      <img :src="MEDIAENDPOINT + $route.query.package + '/' + image.staticimage.imgsrc">
    </div>
    <div v-if="statictexts !== undefined && statictexts !== null" :style="text.textstyle" v-for="text in statictexts">
      <span v-html="text.text"></span>
    </div>
    <div :style="[el.controller_bgobject]" class="column is-12 row_center_flex">
      <v-touch tag="a" v-if="audioflag" class="primaryaudioplayer_buttons play center_column_flex" @tap="audioplay()"><i class="fa fa-play is-size-2 has-text-white"></i></v-touch>
      <v-touch tag="a" v-if="!audioflag" class="primaryaudioplayer_buttons play center_column_flex" @tap="pauseplay()"><i class="fa fa-pause is-size-2 has-text-white"></i></v-touch>
      <a class="button blueround notavailable center_column_flex">
        <i v-if="audioflag" class="fa fa-volume-off  is-size-2 has-text-white"></i>
        <i v-if="!audioflag" class="fa fa-volume-up  is-size-2 has-text-white"></i>
      </a>
      <v-touch tag="a" class="primaryaudioplayer_buttons stop center_column_flex" @tap="clearplay()"><i class="fa fa-stop is-size-2 has-text-white"></i></i></v-touch>
    </div>
    <div  class="column is-12 center_column_flex">
        <div v-for="(group, index) in el.segments" :key="group.id"class="row_start_flex" :style="group.bgobject">
          <v-touch :class="[!audioflag?'':'notavailable']" tag="a" @tap="audioforward(segment.startTime)" class="segmenttextb" style="cursor: pointer" v-for="(segment, index) in group.arr" :key="segment.id">
            <!-- <span :style="[seektime > segment.startTime ? highlight : '', {color: group.bgobject.color}]"> {{segment.labelText}}</span> -->
            <span :style="[seektime > segment.startTime ? highlight : '', group.bgobject.color!=undefined ?{color: group.bgobject.color}:el.bgobject.color!=undefined?{ color: el.bgobject.color}:{color: 'black'}]"> {{segment.labelText}}</span>
          </v-touch>
        </div>
    </div>
  </div>
</template>

<script>
import eventbus from '@/config/eventhub.js'
import { APIENDPOINT, MEDIAENDPOINT } from '@/config/app-config'
const ExpAudioGroup = require('@/config/audio-helper.js').ExpAudioGroup
export default {
	name: 'karaokesection',
	props: {
		el: Object,
	},
	data() {
		return {
			bgimage: null,
			group_bgimage: [], // array with bg image for each segment,to be impl
			staticimages: [],
			statictexts: [],
			MEDIAENDPOINT: MEDIAENDPOINT,
			timeout: Function,
			seektime: 0,
			audioflag: true,
			timeoutid: null,
			sound: null,
			segments: null,
			highlight: {
				'text-decoration-line': null,
				'text-decoration-color': null,
				'background-color': null,
			},
		}
	},
	mounted() {
		this.$nextTick(() => {
			this.sound = new ExpAudioGroup({
				src: [
					MEDIAENDPOINT +
						this.$route.query.package +
						'/' +
						this.el.audiofilename,
				],
				html: false,
			})
			eventbus.listen('segmentsupdated', data => {
				// console.log('listened on update segments')
				let updatedsegments = JSON.parse(data.segments)
				localStorage.setItem('updatedsegments', JSON.stringify(updatedsegments))
				this.$set(this.el, 'segments', {})
			})
			if (
				this.el.bgobject.backgroundImage !== undefined &&
				this.el.bgobject.backgroundImage !== null &&
				this.el.bgobject.backgroundImage !== ''
			) {
				this.bgimage =
					'url(' +
					MEDIAENDPOINT +
					this.$route.query.package +
					'/' +
					this.el.bgobject.backgroundImage +
					')'
			}
			if (this.el.statictexts !== null && this.el.statictexts !== undefined) {
				if (this.el.statictexts.length > 0) {
					this.statictexts = JSON.parse(JSON.stringify(this.el.statictexts))
				} else {
					this.statictexts = null
				}
			} else {
				this.statictexts = null
			}
			if (this.el.staticimages !== null && this.el.staticimages !== undefined) {
				if (this.el.staticimages.length > 0) {
					this.staticimages = JSON.parse(JSON.stringify(this.el.staticimages))
				} else {
					this.staticimages = null
				}
			} else {
				this.staticimages = null
			}

			// let {textDecorationColor,backgroundColor,textDecoration} = JSON.parse(JSON.stringify(this.el.highlightobject));
			this.highlight = { ...this.el.highlightobject }
		})
	},
	methods: {
		audioplay() {
			this.sound.play()
			this.audioflag = false
			this.timeseek()
		},
		timeseek() {
			let seektype = typeof this.sound.seek()
			if (seektype === 'number') {
				this.seektime = Math.round(this.sound.seek() * 1000)
			}
			this.timeoutid = setTimeout(() => {
				this.timeseek()
			}, 0)
		},
		audioforward(time) {
			let t = time / 1000
			this.sound.seek(t)
			this.seektime = time
		},
		pauseplay() {
			this.sound.pause()
			this.audioflag = true
		},
		clearplay() {
			this.sound.stop()
			this.seektime = 0
			this.audioflag = true
			clearTimeout(this.timeoutid)
		},
	},
	computed: {
		customel: function() {
			return this.el
		},
	},
	watch: {
		customel: {
			handler(element) {
				if (element.statictexts !== null && element.statictexts !== undefined) {
					if (element.statictexts.length > 0) {
						this.statictexts = JSON.parse(JSON.stringify(element.statictexts))
					} else {
						this.statictexts = null
					}
				}
				if (
					element.staticimages !== null &&
					element.staticimages !== undefined
				) {
					if (element.staticimages.length > 0) {
						this.staticimages = JSON.parse(JSON.stringify(element.staticimages))
					} else {
						this.staticimages = null
					}
				}
				if (
					element.bgobject.backgroundImage !== undefined &&
					element.bgobject.backgroundImage !== null &&
					element.bgobject.backgroundImage !== ''
				) {
					this.bgimage =
						'url(' +
						MEDIAENDPOINT +
						this.$route.query.package +
						'/' +
						element.bgobject.backgroundImage +
						')'
				} else {
					this.bgimage = null
				}
			},
			deep: true,
		},
	},
	beforeDestroy() {
		if (this.sound !== null && this.sound !== undefined) {
			this.sound.unload()
		}
		clearTimeout(this.timeoutid)
	},
}
</script>
