<style lang="scss">
</style>

<template lang="html">
<div class="container column is-full" style="position:relative;">
    <div class="truefalse_staticimages" v-if="staticimages !== undefined && staticimages !== null" :style="image.staticimage" v-for="image in staticimages">
      <img :src="mediafile + $route.query.package + '/' + image.staticimage.imgsrc">
    </div>
    <div class="truefalse_statictexts" v-if="statictexts !== undefined && statictexts !== null" :style="text.textstyle" v-for="text in statictexts">
        <span v-html="text.text"></span>
    </div>
    <div class="taptapsection_choices columns is-mobile column is-12 " :style="[el.choicesbgobject,{backgroundImage: choicebgimage}]">
        <template v-for="(choice,index) in currentChoices" class="">
            <expTapTapChoice :el='el'  :choice="choice" :id="index" :bindchoicesid="el.bindchoicesid"></expTapTapChoice>
        </template>
    </div>
    <div class="taptapsection_outer columns is-mobile" :style="[el.bgobject,{backgroundImage: bgimage}]">
            <div  v-for="(tap,tapindex) in el.tapsection" class="column  is-12" :style="[tap.tapstyleObject]">
                <div v-for="taptap,taptapindex in tap.taptaps" class="taptapsection_main" :style="[{fontSize:tap.fontSize}]">
                    <template  v-for="splittext,n in taptap.split_txt">
                        <expTapTapInput
                            v-if="n % 2"
                            :choices='el.choices'
                            :tapObject="el.tapsection[tapindex].taptaps[taptapindex].split_txt[n].input"
                            :bindchoicesid="el.bindchoicesid"
                            :id="'target'+ tapindex + taptapindex + n" >
                        </expTapTapInput>
                            <expTapTapText v-else  v-for="(f,innerindex) in splittext" :text="f" :key="'txtkey'+n+innerindex"></expTapTapText>
                    </template>
                </div>
            </div>
    </div>
</div>
</template>

<script>
import eventbus from '@/config/eventhub.js'
import shuffle from 'lodash/shuffle'
import {MEDIAENDPOINT} from '@/config/app-config.js'
export default {
    name: "TapTapSection",
    data() {
    return {
        bgimage: null,
        choicebgimage: null,
        staticimages: [],
        statictexts: [],
        mediafile: MEDIAENDPOINT,
    };
    },
    props: {
        el: Object
    },
    components: {},
    mounted() {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
        this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
        }
    if (this.el.choicesbgobject.backgroundImage !== undefined && this.el.choicesbgobject.backgroundImage !== null && this.el.choicesbgobject.backgroundImage !== '') {
        this.choicebgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.choicesbgobject.backgroundImage + ')'
        }
    if (this.el.statictexts !== null && this.el.statictexts !== undefined) {
        if (this.el.statictexts.length > 0) {
            this.statictexts = JSON.parse(JSON.stringify(this.el.statictexts))
        } else {
            this.statictexts = null
        }
        } else {
        this.statictexts = null
        }
    if (this.el.staticimages !== null && this.el.staticimages !== undefined) {
        if (this.el.staticimages.length > 0) {
            this.staticimages = JSON.parse(JSON.stringify(this.el.staticimages))
        } else {
            this.staticimages = null
        }
        } else {
        this.staticimages = null
        }
    },
    methods: {
    },
    computed: {
        /**
         * Shuffles the choices based on boolean flag(el.shuffle).
         */
        currentChoices(){
            if(this.el.shuffle){
                return shuffle(this.el.choices)
            }else return this.el.choices
        },
        customel: function () {
            return this.el
        },

    },
    watch: {
        customel: {
        handler (element) {
        if (element.statictexts !== null && element.statictexts !== undefined) {
            if (element.statictexts.length > 0) {
                this.statictexts = JSON.parse(JSON.stringify(element.statictexts))
            } else {
                this.statictexts = null
            }
            } else {
            this.statictexts = null
        }
        if (element.staticimages !== null && element.staticimages !== undefined) {
            if (element.staticimages.length > 0) {
                this.staticimages = JSON.parse(JSON.stringify(element.staticimages))
            } else {
                this.staticimages = null
            }
            } else {
            this.staticimages = null
        }
        if (element.choicesbgobject.backgroundImage !== undefined && element.choicesbgobject.backgroundImage !== null && element.choicesbgobject.backgroundImage !== '') {
            this.choicebgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.choicesbgobject.backgroundImage + ')'
            } else {
            this.choicebgimage = null
        }
            if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
            this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
            } else {
            this.bgimage = null
            }
        },
        deep: true
        }
    },

};
</script>
