<style lang="scss">
</style>

<template lang="html">

<div class="typing_container column is-12" :style="[el.bgobject,{backgroundImage: tfbgimage}]">
  <!-- <pre>{{el.truefalsearray}}</pre> -->
    <div class="truefalse_staticimages" v-if="staticimages !== undefined && staticimages !== null" :style="image.staticimage" v-for="image in staticimages">
      <img :src="mediafile + $route.query.package + '/' + image.staticimage.imgsrc">
    </div>
    <div class="truefalse_statictexts" v-if="statictexts !== undefined && statictexts !== null" :style="text.textstyle" v-for="text in statictexts">
        <span v-html="text.text"></span>
    </div>
    <div :style="[truefalse.bgobject, returnBGImage(truefalseindex),{fontSize:truefalse.fontSize}]" v-for="(truefalse, truefalseindex) in el.truefalsearray" :key="'truefalse_' + truefalseindex">
        <div class="truefalse_main" :style="truefalse.textstyle">
        <template v-for="(node, index) in truefalse.textArray">
            <expTrueFalseObject v-if="index % 2" :truefalseObject="node" :fontSize="truefalse.fontSize" :bindchoicesid="el.bindchoicesid" :key="'truefalse0bject_' + index"></expTrueFalseObject>
            <expTrueFalseText v-else v-for="(text, textIndex) in node" :fontSize="truefalse.fontSize" :text="text" :key="'truefalsetext_' + textIndex + index"></expTrueFalseText>
        </template>
        </div>
    </div>
</div>


</template>

<script>
import eventbus from '@/config/eventhub.js'
import findIndex from 'lodash/findIndex'
import forEach from 'lodash/forEach'
import {MEDIAENDPOINT} from '@/config/app-config.js'
export default {
  name: 'TrueFalseSection',
  data () {
    return {
      tfbgimage: null,
      bgimage: [], // array with bg image for each truefalse block
      mediafile: MEDIAENDPOINT,
      staticimages: [],
      statictexts: []
    }
  },
  props: {
    el: Object
  },
  components: {},
  mounted () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.tfbgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    this.bgimage = []
    // create bgimage object with if the index of the truefalse
    forEach(this.el.truefalsearray, (object, index) => {
      if (object.bgobject.backgroundImage !== undefined && object.bgobject.backgroundImage !== null && object.bgobject.backgroundImage !== '') {
        this.bgimage.push({id: index, image: 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + object.bgobject.backgroundImage + ')'})
      }
    })
    if (this.el.statictexts !== null && this.el.statictexts !== undefined) {
      if (this.el.statictexts.length > 0) {
        this.statictexts = JSON.parse(JSON.stringify(this.el.statictexts))
      } else {
        this.statictexts = null
      }
    } else {
      this.statictexts = null
    }
    if (this.el.staticimages !== null && this.el.staticimages !== undefined) {
      if (this.el.staticimages.length > 0) {
        this.staticimages = JSON.parse(JSON.stringify(this.el.staticimages))
      } else {
        this.staticimages = null
      }
    } else {
      this.staticimages = null
    }
  },
  methods: {
        /**
     * [returnBGImage return the bg image for each truefalse]
     * @param  {[type]} index [index of the truefalse]
     * @return {[type]}       [description]
     */
    returnBGImage (index) {
      let tempIndex = findIndex(this.bgimage, {'id': index})
      return tempIndex === -1 ? null : {backgroundImage: this.bgimage[findIndex(this.bgimage, {'id': index})].image}
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        if (element.statictexts !== null && element.statictexts !== undefined) {
            if (element.statictexts.length > 0) {
                this.statictexts = JSON.parse(JSON.stringify(element.statictexts))
              } else {
                this.statictexts = null
              }
          }
        if (element.staticimages !== null && element.staticimages !== undefined) {
            if (element.staticimages.length > 0) {
                this.staticimages = JSON.parse(JSON.stringify(element.staticimages))
              } else {
                this.staticimages = null
              }
          }
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
            this.tfbgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
          } else {
            this.tfbgimage = null
          }
        forEach(element.truefalsearray, (object, index) => {
            if (object.bgobject.backgroundImage !== undefined && object.bgobject.backgroundImage !== null && object.bgobject.backgroundImage !== '') {
                this.bgimage.push({id: index, image: 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + object.bgobject.backgroundImage + ')'})
              }
          })
      },
      deep: true
    }
  }
}
</script>
