<template>
  <div :id="id">
    <slot :destroyEvents="destroyEvents" :initializeEvents="initializeEvents"></slot>
  </div>
</template>
<script>
  import Hammer from 'hammerjs'
  import eventbus from '@/config/eventhub.js'
  export default {
    name: 'HammerPan',
    props: {
      id: String,
      // hammer module options
      hammerOptions: {
        type: Object,
        default: () => {return { direction: Hammer.DIRECTION_ALL, threshold: 1 }}
      },
      // callback function when panstart event fired
      panstart: {
        type: Function
      },
      // callback function when panright event fired
      panright: {
        type: Function
      },
      // callback function when panleft event fired
      panleft: {
        type: Function
      },
      // callback function when pandown event fired
      pandown: {
        type: Function
      },
      // callback function when panup event fired
      panup: {
        type: Function
      },
      // callback function when panend event fired
      panend: {
        type: Function
      },
      // helper substring splitting, to have the same element id if user start pan from letter and not the box of wordsearch //maybe remove it, need to be more generic
      elementidreplace: {
        type: Array,
        default: () => {return ['wordsearchletter_container', 'letter']} 
      },
      // function to return the id of the panstart element
      startId: {
        type: Function
      },
      // function to return the id of the panend element
      endId: {
        type: Function
      }
    },
    data () {
      return {
        hammer: null
      }
    },
    mounted () {
      this.initializeHammer(document.getElementById(this.id), this.hammerOptions)
      this.initializeEvents()
    },
    methods: {
      /**
       * [initializeHammer]
       * initialize hammer object with pan listeners and options
       * @param  {[type]} element [description]
       * @param  {[type]} options [description]
       * @return {[type]}         [description]
       */
      initializeHammer (element, options) {
        this.hammer = new Hammer(element)
        this.hammer.get('pan').set(options)
      },
      /**
       * [initializeEvents]
       * create panstart listener with props callback function panstart, attribute id of the element
       * create panright listener with props callback function panright, attribute id of the element
       * create panleft listener with props callback function panleft, attribute id of the element
       * create pandown listener with props callback function pandown, attribute id of the element
       * create panend listener with props callback function panend, attribute id of the element
       * Possible Performance issues with replace for each event callback function!! KEEP IT IN MIND
       * @return {[type]} [description]
       */
      initializeEvents () {
        this.hammer.on('panstart', (e) => {
          let id = null
          if (e.srcEvent.changedTouches !== undefined) {
            if (e.srcEvent.changedTouches[0].clientX !== undefined) {
              id = parseInt(document.elementFromPoint(e.srcEvent.changedTouches[0].clientX, e.srcEvent.changedTouches[0].clientY).id.replace('wordsearchletter_container', '').replace('letter', ''))
            } else {
              id = parseInt(document.elementFromPoint(e.srcEvent.changedTouches[0].pageX, e.srcEvent.changedTouches[0].pageY).id.replace('wordsearchletter_container', '').replace('letter', ''))
            }
            this.panstart(id)
            this.startId(id)
          } else {
            if (e.srcEvent.clientX !== undefined) {
              id = parseInt(document.elementFromPoint(e.srcEvent.clientX, e.srcEvent.clientY).id.replace('wordsearchletter_container', '').replace('letter', ''))
              this.panstart(id)
              this.startId(id)
            } else {
              id = parseInt(document.elementFromPoint(e.srcEvent.pageX, e.srcEvent.pageY).id.replace('wordsearchletter_container', '').replace('letter', ''))
              this.panstart(id)
              this.startId(id)
            }
          }
        })
        this.hammer.on('panright', (e) => {
          if (e.srcEvent.changedTouches !== undefined) {
            if (e.srcEvent.changedTouches[0].clientX !== undefined) {
              this.panright(parseInt(document.elementFromPoint(e.srcEvent.changedTouches[0].clientX, e.srcEvent.changedTouches[0].clientY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            } else {
              this.panright(parseInt(document.elementFromPoint(e.srcEvent.changedTouches[0].pageX, e.srcEvent.changedTouches[0].pageY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            }
          } else {
            if (e.srcEvent.clientX !== undefined) {
              this.panright(parseInt(document.elementFromPoint(e.srcEvent.clientX, e.srcEvent.clientY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            } else {
              this.panright(parseInt(document.elementFromPoint(e.srcEvent.pageX, e.srcEvent.pageY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            }
          }
        })
        this.hammer.on('panleft', (e) => {
          if (e.srcEvent.changedTouches !== undefined) {
            if (e.srcEvent.changedTouches[0].clientX !== undefined) {
              this.panleft(parseInt(document.elementFromPoint(e.srcEvent.changedTouches[0].clientX, e.srcEvent.changedTouches[0].clientY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            } else {
              this.panleft(parseInt(document.elementFromPoint(e.srcEvent.changedTouches[0].pageX, e.srcEvent.changedTouches[0].pageY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            }
          } else {
            if (e.srcEvent.clientX !== undefined) {
              this.panleft(parseInt(document.elementFromPoint(e.srcEvent.clientX, e.srcEvent.clientY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            } else {
              this.panleft(parseInt(document.elementFromPoint(e.srcEvent.pageX, e.srcEvent.pageY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            }
          }
        })
        this.hammer.on('pandown', (e) => {
          if (e.srcEvent.changedTouches !== undefined) {
            if (e.srcEvent.changedTouches[0].clientX !== undefined) {
              this.pandown(parseInt(document.elementFromPoint(e.srcEvent.changedTouches[0].clientX, e.srcEvent.changedTouches[0].clientY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            } else {
              this.pandown(parseInt(document.elementFromPoint(e.srcEvent.changedTouches[0].pageX, e.srcEvent.changedTouches[0].pageY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            }
          } else {
            if (e.srcEvent.clientX !== undefined) {
              this.pandown(parseInt(document.elementFromPoint(e.srcEvent.clientX, e.srcEvent.clientY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            } else {
              this.pandown(parseInt(document.elementFromPoint(e.srcEvent.pageX, e.srcEvent.pageY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            }
          }
        })
        this.hammer.on('panup', (e) => {
          if (e.srcEvent.changedTouches !== undefined) {
            if (e.srcEvent.changedTouches[0].clientX !== undefined) {
              this.panup(parseInt(document.elementFromPoint(e.srcEvent.changedTouches[0].clientX, e.srcEvent.changedTouches[0].clientY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            } else {
              this.panup(parseInt(document.elementFromPoint(e.srcEvent.changedTouches[0].pageX, e.srcEvent.changedTouches[0].pageY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            }
          } else {
            if (e.srcEvent.clientX !== undefined) {
              this.panup(parseInt(document.elementFromPoint(e.srcEvent.clientX, e.srcEvent.clientY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            } else {
              this.panup(parseInt(document.elementFromPoint(e.srcEvent.pageX, e.srcEvent.pageY).id.replace('wordsearchletter_container', '').replace('letter', '')))
            }
          }
        })
        this.hammer.on('panend', (e) => {
          let id = null
          if (e.srcEvent.changedTouches !== undefined) {
            if (e.srcEvent.changedTouches[0].clientX !== undefined) {
              id = parseInt(document.elementFromPoint(e.srcEvent.changedTouches[0].clientX, e.srcEvent.changedTouches[0].clientY).id.replace('wordsearchletter_container', '').replace('letter', ''))
            } else {
              id = parseInt(document.elementFromPoint(e.srcEvent.changedTouches[0].pageX, e.srcEvent.changedTouches[0].pageY).id.replace('wordsearchletter_container', '').replace('letter', ''))
            }
            this.panend(id)
            this.endId(id)
          } else {
            if (e.srcEvent.clientX !== undefined) {
              id = parseInt(document.elementFromPoint(e.srcEvent.clientX, e.srcEvent.clientY).id.replace('wordsearchletter_container', '').replace('letter', ''))
              this.panend(id)
              this.endId(id)
            } else {
              id = parseInt(document.elementFromPoint(e.srcEvent.pageX, e.srcEvent.pageY).id.replace('wordsearchletter_container', '').replace('letter', ''))
              this.panend(id)
              this.endId(id)
            }
          }
        })
      },
      /**
       * [destroyEvents remove all events listeners]
       * @return {[type]} [description]
       */
      destroyEvents () {
        this.hammer.off('panstart')
        this.hammer.off('panend')
        this.hammer.off('panup')
        this.hammer.off('pandown')
        this.hammer.off('panright')
        this.hammer.off('panleft')
      }
    },
    beforeDestroy () {
      this.destroyEvents()
    }
  }
</script>
