<template lang="html">
  <div>
    <slot :drawStart = "drawStart" :drawRight = "drawRight" :drawLeft = "drawLeft" :drawEnd = "drawEnd" :drawDown = "drawDown" :drawUp = "drawUp" :clearPixi = "clearPixi" :arraySprites= "arraySprites" :reDraw="reDraw" :drawStatic="RoundedRectangle"></slot>
  </div>
</template>
<script>
import * as PIXI from 'pixi.js'
import forEach from 'lodash/forEach'
import remove from 'lodash/remove'
export default {
  name: 'PixiDraw',
  props: {
    id: String,
    // Width of the pixi draw element
    width: {
      type: Number
    },
    // Height of the pixi draw element
    height: {
      type: Number
    },
    // pixi options
    pixiOptions: {
      type: Object,
      default: () => {return {antialias: true, transparent: true, multiTexture: false, enableDebug: false}}
    },
    // helper props to determine the size of the drawing element
    drawSize: {
      type: Number
    },
    // helper object with pixi draw element style
    pixiuiobject: {
      type: Object,
      default: () => {return {circlingcolor: 0x000000}}
    },
    // function setting flag true when start drawing with your finger
    drawVisible: {
      type: Function
    }
  },
  data () {
    return {
      renderer: null, // pixi renderer
      container: null, // pixi container
      graphics: null, // pixi graphics
      sprite: null, // pixi sprite
      el: { // pixi graphics line style
        lineWidth: 4,
        lineColor: this.pixiuiobject.circlingcolor,
        defaultlineColor: this.pixiuiobject.defaultcirclingcolor,
        lineOpacity: 1,
        fillColor: 0xFFFFFF,
        fillTransparency: 0.25,
        RoundRectRadius: 10
      },
      start: { // start position of the draw graphic
        x: null,
        y: null
      },
      reverseStart: { // reverse start position to draw mirror elements (left element is reverse right, up/down)
        x: null,
        y: null
      },
      yoffset: 0, // offset of start position, start draw inside the wordsearch box
      xoffset: 0, // offset of start position, start draw inside the wordsearch box
      sizeoffset: 0, // sizeoffset the drawing element
      heightoffset: 28, // heightoffset the drawing element
      drawDirection: null,
      drawStarted: false, // flag when draw starting, false when is the first draw graphics, true update graphics as finger moving, to not initialize the starting position
      arraySprites: [], // array of objects, with each sprite element and isRight flag
    }
  },
  mounted () {
    this.clearPixi()
    this.$nextTick(() => {
      this.initializePixi(document.getElementById(this.id), this.pixiOptions)
    })
    // this.initializeGraphics()
    // calculate offset
    this.yoffset = this.xoffset = ((this.drawSize/4) - 2)
    // calculate size offset not to draw over borders
    this.sizeoffset = ((this.drawSize)/2)
  },
  methods: {
    /**
     * [initializePixi initialize pixi renderer and container]
     * @param  {[type]} element [DOM Element that pixi element will be bind on]
     * @param  {[type]} options [options of pixi renderer]
     * @return {[type]}         [description]
     */
    initializePixi (element, options) {
      this.renderer = new PIXI.CanvasRenderer(this.width, this.height, options)
      element.appendChild(this.renderer.view)
      this.container = new PIXI.Container()
    },
    /**
     * [initializeSprite sprite that will update with each graphics]
     * @param  {[type]} direction [description]
     * @return {[type]}           [description]
     */
    initializeSprite (direction) {
      // TODO try with pictures
      this.sprite = new PIXI.Sprite(this.renderer.generateTexture(this.graphics))
      if (direction === 'horizontal') {
        if (this.drawDirection === 'right') {
          this.sprite.position = new PIXI.Point((this.start.x + this.xoffset), (this.start.y + this.yoffset))
        } else if (this.drawDirection === 'left') {
          this.sprite.position = new PIXI.Point((this.start.x - this.xoffset), (this.start.y + this.yoffset))
        }
      } else if (direction === 'vertical') {
        if (this.drawDirection === 'down') {
          this.sprite.position = new PIXI.Point((this.start.x + 12), (this.start.y + 18)) // down circling offset maybe need to change
        } else if (this.drawDirection === 'up') {
          this.sprite.position = new PIXI.Point((this.start.x + 12), (this.start.y - 14)) // up circling offset maybe need to change
        }
        // this.sprite.position = new PIXI.Point((this.start.x + this.xoffset), this.start.y)
      }
      this.container.addChild(this.sprite)
      this.pixiAnimate()
    },
    /**
     * [initializeGraphics Graphics that will render on pixi element]
     * @return {[type]} [description]
     */
    initializeGraphics () {
      if (this.graphics === null) {
        this.graphics = new PIXI.Graphics()
      }
      this.graphics.clear()
      this.graphics.lineStyle(this.el.lineWidth, this.el.lineColor, this.el.lineOpacity)
      this.graphics.beginFill(this.el.fillColor, this.el.fillTransparency)
    },
    destroyGraphics () {
      if (this.graphics !== null) {
        this.graphics.destroy(true)
        this.graphics = null
      }
    },
    /**
     * [drawStart Initial Point of drawing]
     * @param  {[type]} id [id of  initial element]
     * @return {[type]}    [description]
     */
    drawStart (id) {
      id = this.parseContainerID(id)
      this.destroyGraphics()
      this.initializeGraphics()
      this.drawDirection = null
      if (document.getElementById(id) !== null) {
        this.start.x = parseInt(document.getElementById(id).style.left, 10)
        this.start.y = parseInt(document.getElementById(id).style.top, 10)
        this.reverseStart.x = parseInt(document.getElementById(id).style.left, 10)
        this.reverseStart.y = parseInt(document.getElementById(id).style.top, 10)
      }
    },
    /**
     * [drawRight draw element towards right direction]
     * @param  {[type]} id [id of elements that mouse, touches passes through]
     * @return {[type]}    [description]
     */
    drawRight (id) {
      id = this.parseContainerID(id)
      if (document.getElementById(id) !== null) {
        if (this.drawDirection === null) {
          this.drawDirection = 'right'
        }
        if (this.drawDirection === 'right') {
          var size = parseInt(document.getElementById(id).style.left, 10) - this.start.x
          if (size > 0) {
            if (!this.drawStarted) {
              this.initializeGraphics()
              this.RoundedRectangle(this.start.x, (this.start.y + this.yoffset), (size  + this.sizeoffset), (this.drawSize - this.heightoffset), this.el.RoundRectRadius, 'horizontal', true, false)
              this.drawStarted = true
            } else {
              this.destroyGraphics()
              this.initializeGraphics()
              this.RoundedRectangle(this.start.x, (this.start.y + this.yoffset), (size + this.sizeoffset), (this.drawSize - this.heightoffset), this.el.RoundRectRadius, 'horizontal', false, false)
            }
          }
        } else if (this.drawDirection === 'left') {
          this.drawLeft(id)
        }
      }
    },
    /**
     * [drawLeft draw element towards left direction]
     * @param  {[type]} id [id of elements that mouse, touches passes through]
     * @return {[type]}    [description]
     */
    drawLeft (id) {
      id = this.parseContainerID(id)
      if (document.getElementById(id) !== null) {
        if (this.drawDirection === null) {
          this.drawDirection = 'left'
        }
        if (this.drawDirection === 'left') {
          var size = this.reverseStart.x - parseInt(document.getElementById(id).style.left, 10)
          if (size > 0) {
            if (!this.drawStarted) {
              this.start.x = this.start.x + this.drawSize
              this.initializeGraphics()
              this.RoundedRectangle(this.start.x, (this.start.y + this.yoffset),  (size  + this.sizeoffset), (this.drawSize - this.heightoffset), this.el.RoundRectRadius, 'horizontal', true, 'left')
              this.drawStarted = true
            } else {
              this.initializeGraphics()
              this.RoundedRectangle(this.start.x, (this.start.y + this.yoffset),  (size  + this.sizeoffset), (this.drawSize - this.heightoffset), this.el.RoundRectRadius, 'horizontal', false, 'left')
            }
          }
        } else if (this.drawDirection === 'right') {
            this.drawRight(id)
          }
      }
    },
    /**
     * [drawDown draw element towards down direction]
     * @param  {[type]} id [element id]
     * @return {[type]}    [description]
     */
    drawDown (id) {
      id = this.parseContainerID(id)
      if (document.getElementById(id) !== null) {
        if (this.drawDirection === null) {
          this.drawDirection = 'down'
        }
        if (this.drawDirection === 'down') {
          var size = parseInt(document.getElementById(id).style.top, 10) - this.start.y
          if (size > 0) {
            if (!this.drawStarted) {
              this.initializeGraphics()
              this.RoundedRectangle(this.start.x, this.start.y, (size + this.sizeoffset), (this.drawSize - this.heightoffset), this.el.RoundRectRadius, 'vertical', true, 'down')
              this.drawStarted = true
            } else {
              this.destroyGraphics()
              this.initializeGraphics()
              this.RoundedRectangle(this.start.x, this.start.y, (size + this.sizeoffset), (this.drawSize - this.heightoffset), this.el.RoundRectRadius, 'vertical', false, 'down')
            }
          }
        } else if (this.drawDirection === 'up') {
          this.drawUp(id)
        }
      }
    },
    /**
     * [drawDown draw element towards up direction]
     * @param  {[type]} id [element id]
     * @return {[type]}    [description]
     */
    drawUp (id) {
      id = this.parseContainerID(id)
      if (document.getElementById(id) !== null) {
        if (this.drawDirection === null) {
          this.drawDirection = 'up'
        }
        if (this.drawDirection === 'up') {
          var size = this.reverseStart.y - parseInt(document.getElementById(id).style.top, 10)
          if (size > 0) {
            if (!this.drawStarted) {
              this.start.y = this.start.y + this.drawSize
              this.initializeGraphics()
              this.RoundedRectangle(this.start.x, this.start.y, (size + this.sizeoffset), (this.drawSize - this.heightoffset), this.el.RoundRectRadius, 'vertical', true, 'up')
              this.drawStarted = true
            } else {
              this.destroyGraphics()
              this.initializeGraphics()
              this.RoundedRectangle(this.start.x, this.start.y, (size + this.sizeoffset), (this.drawSize - this.heightoffset), this.el.RoundRectRadius, 'vertical', false, 'up')
            }
          }
        } else if (this.drawDirection === 'down') {
          this.drawDown(id)
        }
      }
    },
    /**
     * [panend events, push new sprite object to array]
     * @param  {[type]} id [description]
     * @return {[type]}    [description]
     */
    drawEnd (id) {
      if (!isNaN(id)) {
        id = this.parseContainerID(id)
        this.drawStarted = false
        this.arraySprites.push({sprite: this.sprite, isRight: false})
      } else {
        this.drawStarted = false
        this.container.removeChildren()
        forEach(this.arraySprites, (graphic, index) => {
            this.container.addChild(graphic.sprite)
        })
      }
    },
    // create the appropriate id based on letter id + 'wordsearchletter_container'. to be able to find the right DOM element to start drawing
    parseContainerID (id) {
      if (typeof id === 'number') {
        return id = id + 'wordsearchletter_container'
      } else if (id.indexOf('wordsearchletter_container') < 0) {
        return id = id + 'wordsearchletter_container'
      } else {
        return id
      }
    },
    /**
     * [RoundedRectangle create Graphics of RoundedRectangle]
     * @param {[type]} x         [description]
     * @param {[type]} y         [description]
     * @param {[type]} size      [description]
     * @param {[type]} height    [description]
     * @param {[type]} radius    [description]
     * @param {[type]} direction [description]
     * @param {[type]} start     [true: initialize sprite with the first graphics, false: change the initial graphic]
     * @param {[type]} reverse   [description true draw and reverse it, left draw is reversed right]
     */
    RoundedRectangle (x, y, size, height, radius, direction, start, reverse) {
      this.graphics.drawRoundedRect(x, y, size, height, radius)
      this.graphics.endFill()
      this.drawVisible(true)
      if (start) {
        this.initializeSprite(direction)
        if (reverse === 'left') {
          this.sprite.scale.x *= -1
        } else if (reverse === 'down') {
          this.sprite.anchor.set(0)
          this.sprite.scale.y *= -1
          this.sprite.rotation = Math.PI/2
        } else if (reverse === 'up') {
          this.sprite.anchor.set(0)
          this.sprite.rotation = -(Math.PI/2)
        }
      } else {
        this.sprite.texture = this.renderer.generateTexture(this.graphics)
      }
    },
    /**
     * [pixiAnimate animate pixi container]
     * @return {[type]} [description]
     */
    pixiAnimate () {
      requestAnimationFrame(this.pixiAnimate)
      this.renderer.render(this.container)
    },
    /**
     * [clearPixi reset pixi renderer]
     * destroy container
     * destroy renderer
     * removes sprites from arraySprites
     * @return {[type]} [description]
     */
    clearPixi () {
      if (this.container !== null && this.renderer !== null) {
        this.container.removeChildren()
        this.container.destroy(true)
        this.container = null
        document.getElementById('wordsearch_container').removeChild(this.renderer.view)
        this.renderer.destroy(true)
        this.renderer = null
        this.arraySprites = []
        this.initializePixi(document.getElementById(this.id), this.pixiOptions)
      }
    },
    /**
     * [reDraw reDraw the sprites that are right and removes wrongs]
     * @return {[type]} [description]
     */
    reDraw () {
      this.container.removeChildren()
      forEach(this.arraySprites, (graphic, index) => {
        if (graphic.isRight) {
          this.container.addChild(graphic.sprite)
        }
      })
      remove(this.arraySprites, (graphic) => {
        return !graphic.isRight
      })
    },
    /**
     * [re draw right answers]
     */
    drawStatic (start, end, direction, staticFlag = 'user') {
      this.start.x = start.x
      this.start.y = start.y
      if (direction === 'horizontal') {
        this.destroyGraphics()
        this.initializeGraphics()
        staticFlag === 'default' ? this.graphics.lineStyle(this.el.lineWidth, this.el.defaultlineColor, this.el.lineOpacity) : false // if static rect is default answer change graphic line color
        this.graphics.drawRoundedRect(start.x, start.y, ((end.x - start.x) + this.sizeoffset), (this.drawSize - this.heightoffset), this.el.RoundRectRadius)
        this.graphics.endFill()
        this.drawDirection = 'right'
        this.initializeSprite (direction)
      } else {
        this.destroyGraphics()
        this.initializeGraphics()
        staticFlag === 'default' ? this.graphics.lineStyle(this.el.lineWidth, this.el.defaultlineColor, this.el.lineOpacity) : false // if static rect is default answer change graphic line color
        this.graphics.drawRoundedRect(start.x, start.y, ((end.y - start.y) + this.sizeoffset), (this.drawSize - this.heightoffset), this.el.RoundRectRadius)
        this.graphics.endFill()
        this.drawDirection = 'down'
        this.initializeSprite (direction)
        this.sprite.anchor.set(0)
        this.sprite.scale.y *= -1
        this.sprite.rotation = Math.PI/2
      }
      this.sprite.texture = this.renderer.generateTexture(this.graphics)
      if (staticFlag === 'default') {
        this.arraySprites.push({sprite: this.sprite, isRight: true})
      }
    }
  }
}
</script>
