<style lang="scss">
.crossword_helper {
  position: absolute;
  top: -3%;
  width: 100%;
  .crossword_helper_column {
    width: 48px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    text-align: left;
  }
}
</style>

<template lang="html">
  <div class="column is-12 crosswordscontainer">
    <div class="columns is-mobile">
      <table class="crosswordscontainer_table column is-6" cellspacing="0" :style="[el.crosswordsbgobject, {backgroundImage: crosswordsBGImage}]">
        <div class="crossword_helper"><span class="crossword_helper_column" :style="{left: ((column + 1) * 48) + 'px'}" v-for="column in columns" :key="column">{{column}}</span></div>
        <tr class="crosswords_row" v-for="row in rows" :key="row">
          <span :style="{lineHeight: '35px', fontWeight: 'bold', zIndex: '-1'}">{{row}}</span>
          <template v-for="column in columns">
            <exp-crosswordsinput v-if="letterExists(row, column)"  :id="'row-' + row + '-col-' + column" :letterObject="letterExists(row, column)" class="crosswords_box"  :key="'row-' + row + '-col-' + column"></exp-crosswordsinput>
            <td v-else class="crosswordsinput_invisibletd" :id="'row-' + row + '-col-' + column"></td>
          </template>
        </tr>
      </table>
      <div class="crosswordscontainer_questions column is-6">
        <div class="columns is-mobile">
          <div class="horizontal column is-6" :style="[horizontal.bgobject, {backgroundImage: horizontalBGImage}]">
            <p class="title" :style="[horizontal.textstyle, {backgroundImage: horizontalTextBGImage}]" v-html="horizontal.text"></p>
            <p class="questions" v-for="word in crosswords" :key="word.id" v-if="word.direction === 'horizontal'"><span :style="word.wordQuestion.textstyle" v-html="word.wordQuestion.text"></span>
              <img  class="image" :style="word.wordQuestion.imagestyle" v-if="word.wordQuestion.image !== null && word.wordQuestion.image !== '' && word.wordQuestion.image !== undefined" :src="mediafile + $route.query.package + '/' + word.wordQuestion.image">
            </p>
          </div>
          <div class="vertical column is-6" :style="[vertical.bgobject, {backgroundImage: verticalBGImage}]">
            <p class="title" :style="[vertical.textstyle, {backgroundImage: verticalTextBGImage}]"v-html="vertical.text"></p>
            <p class="questions" v-for="word in crosswords" :key="word.id" v-if="word.direction === 'vertical'"><span :style="word.wordQuestion.textstyle" v-html="word.wordQuestion.text"></span>
              <img  class="image" :style="word.wordQuestion.imagestyle" v-if="word.wordQuestion.image !== null && word.wordQuestion.image !== '' && word.wordQuestion.image !== undefined" :src="mediafile + $route.query.package + '/' + word.wordQuestion.image">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
import eventbus from '@/config/eventhub.js'
import range from 'lodash/range'
import remove from 'lodash/remove'
import findIndex from 'lodash/findIndex'
import forEach from 'lodash/forEach'
import some from 'lodash/some'
export default {
  name: 'expCrosswords',
  props: {
    el: Object
  },
  data () {
    return {
      rows: 1, // letter for each word
      columns: 1, // rows of the crosswords container table
      letters: [], // columns of the crosswords container table
      crosswords: [], // array of the right words
      horizontal: {}, // horizontal questions objects
      vertical: {}, // vertical questions objects
      answers: {}, // object with attributes for each user answer, {}
      mediafile: MEDIAENDPOINT,
      crosswordsBGImage: null,
      horizontalBGImage: null,
      verticalBGImage: null,
      horizontalTextBGImage: null,
      verticalTextBGImage: null
    }
  },
  mounted () {
    this.letters = [] // letter for each word
    this.rows = range(0, this.el.maxsize, 1) // rows of the crosswords container table
    this.columns = range(0, this.el.maxsize, 1) // columns of the crosswords container table
    this.letters = [...this.el.letters]
    this.crosswords = [...this.el.crosswords]
    // default Answers, using for loop for performance reasons on load
    for (var i = 0; i < this.letters.length; i++) {
      if (this.letters[i].default && this.letters[i].id.length > 1) {
        for (var j = 0; j < this.letters[i].id.length; j++) {
          if (!this.crosswords[findIndex(this.crosswords, {'id': this.letters[i].id[j]})].default) {
            this.answers[this.letters[i].id[j].toString()] = []
            this.answers[this.letters[i].id[j].toString()].push({answer: true, id:'row-' + this.letters[i].row + '-col-' + this.letters[i].column, default: true})
          }
        }
      }
    }
    if (this.el.crosswordsbgobject.backgroundImage !== undefined && this.el.crosswordsbgobject.backgroundImage !== null && this.el.crosswordsbgobject.backgroundImage !== '') {
      this.crosswordsBGImage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.crosswordsbgobject.backgroundImage + ')'
    } else {
      this.crosswordsBGImage = null
    }
    this.horizontal = {...this.el.horizontal}
    if (this.horizontal.textstyle.backgroundImage !== undefined && this.horizontal.textstyle.backgroundImage !== null && this.horizontal.textstyle.backgroundImage !== '') {
      this.horizontalTextBGImage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.horizontal.textstyle.backgroundImage + ')'
    } else {
      this.horizontalTextBGImage = null
    }
    if (this.horizontal.bgobject.backgroundImage !== undefined && this.horizontal.bgobject.backgroundImage !== null && this.horizontal.bgobject.backgroundImage !== '') {
      this.horizontalBGImage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.horizontal.bgobject.backgroundImage + ')'
    } else {
      this.horizontalBGImage = null
    }
    this.vertical = {...this.el.vertical}
    if (this.vertical.textstyle.backgroundImage !== undefined && this.vertical.textstyle.backgroundImage !== null && this.vertical.textstyle.backgroundImage !== '') {
      this.verticalTextBGImage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.vertical.textstyle.backgroundImage + ')'
    } else {
      this.verticalTextBGImage = null
    }
    if (this.vertical.bgobject.backgroundImage !== undefined && this.vertical.bgobject.backgroundImage !== null && this.vertical.bgobject.backgroundImage !== '') {
      this.verticalBGImage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.vertical.bgobject.backgroundImage + ')'
    } else {
      this.verticalBGImage = null
    }
    this.resetAnswers()
    this.$nextTick(() => {
      // listen for each letter that user type
      eventbus.listen('crosswordsinput_answers', (data) => {
        forEach(data.wordids, (id) => {
          // add answer based on id (row-rowNuber-col-columnNumber)
          // if user change answer replace the right object
          if (this.answers[id.toString()] === undefined) {
            this.answers[id.toString()] = []
          }
          let index = findIndex(this.answers[id.toString()], {'id': data.id})
          if (index !== -1) {
            this.answers[id.toString()][index].answer = data.answer
          } else {
            this.answers[id.toString()].push({answer: data.answer, id: data.id, default: false})
          }
          let wordIndex = findIndex(this.el.crosswords, {'id': id})
          if (this.answers[id.toString()].length >= this.el.crosswords[wordIndex].text.length) {
            let isRight = false
            if (!(some(this.answers[id.toString()], {'answer': false}))) {
              isRight = true
            }
            let hasinputobject = {id: id, inputid: id, bindchoiceid: this.el.bindchoicesid, isRight: isRight, evt: 'add'}
            eventbus.fire('checkprimary_input', hasinputobject)
          }
        })
      })
      eventbus.listen('checkprimary_reset', () => {
        this.resetAnswers()
      })
      eventbus.listen('checkprimary_tryagain', () => {
        forEach(this.answers, (data) => {
          remove(data, (eachAnswer) => {
            return !document.getElementById(eachAnswer.id).getElementsByTagName('input')[0].disabled
          })
        })
      })
    })
  },
  methods: {
    // method to pass the input on the right row and column to crosswordsinput component
      letterExists (row, column) {
        let index = findIndex(this.el.letters, {'row': row, 'column': column})
        return  index === -1 ? false : this.el.letters[index]
      },
      // reset answers objects, not remove default answers
      resetAnswers () {
        forEach(Object.keys(this.answers), (key) => {
          remove(this.answers[key], (value) => {
            return !value.default
          })
          if (this.answers[key].length === 0) {
            delete this.answers[key]
          }
        })
      }
    },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.rows = range(0, element.maxsize, 1)
        this.columns = range(0, element.maxsize, 1)
        this.letters = [...element.letters]
        this.crosswords = [...element.crosswords]
        // crosswords bg image
        if (element.crosswordsbgobject.backgroundImage !== undefined && element.crosswordsbgobject.backgroundImage !== null && element.crosswordsbgobject.backgroundImage !== '') {
          this.crosswordsBGImage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.crosswordsbgobject.backgroundImage + ')'
        } else {
          this.crosswordsBGImage = null
        }
        this.horizontal = {...element.horizontal}
        this.vertical = {...element.vertical}
        // check for horizontal questions bg image
        if (this.horizontal.bgobject.backgroundImage !== undefined && this.horizontal.bgobject.backgroundImage !== null && this.horizontal.bgobject.backgroundImage !== '') {
          this.horizontalBGImage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.horizontal.bgobject.backgroundImage + ')'
        } else {
          this.horizontalBGImage = null
        }
        // check for horizontal text question bg image
        if (this.horizontal.textstyle.backgroundImage !== undefined && this.horizontal.textstyle.backgroundImage !== null && this.horizontal.textstyle.backgroundImage !== '') {
          this.horizontalTextBGImage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.horizontal.textstyle.backgroundImage + ')'
        } else {
          this.horizontalTextBGImage = null
        }
        this.vertical = {...this.el.vertical}
        // check for vertical questions bg image
        if (this.vertical.bgobject.backgroundImage !== undefined && this.vertical.bgobject.backgroundImage !== null && this.vertical.bgobject.backgroundImage !== '') {
          this.verticalBGImage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.vertical.bgobject.backgroundImage + ')'
        } else {
          this.verticalBGImage = null
        }
        // check for vertical text question bg image
        if (this.vertical.textstyle.backgroundImage !== undefined && this.vertical.textstyle.backgroundImage !== null && this.vertical.textstyle.backgroundImage !== '') {
          this.verticalTextBGImage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.vertical.textstyle.backgroundImage + ')'
        } else {
          this.verticalTextBGImage = null
        }
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('checkprimary_reset')
    eventbus.off('checkprimary_tryagain')
    eventbus.off('crosswordsinput_answers')
  }
}

</script>
