<style lang="scss">
</style>

<template lang="html">
<v-touch  tag="td" :id="id" @tap="highlight_input()" :style="[!(letterObject.id !== undefined) ? {border: '0 solid'}:{}]" :class="{'crosswords_disableinput': !(letterObject.id !== undefined), 'notavailable': letterObject.default}">
  <span v-if = "letterObject.start !== null && highlightFlag && letterObject.id.indexOf(hintFlag) !== -1 && !checkFlag && computedHint !== null" class="crosswordsinput_hint" v-html="computedHint"></span>
  <span v-if="letterObject.startMultiple !== undefined && letterObject.startMultiple.length > 0" class="crosswordsinput_label">{{startMultipleLabel}}</span>
  <span v-else class="crosswordsinput_label">{{letterObject.start}}</span>
  <input :ref="'input_'+ id" :id="'input_'+ id" class="crosswordsinput_input" @input="nextLetter($event)" autocomplete='off' spellcheck='false' autocorrect='off' type="text" maxlength="1" :disabled="checkFlag || letterObject.default" v-model="letterAnswer" :class="{'crosswords_highlightinput': highlightFlag, 'crosswords_defaultAnswer': letterObject.default}" :style="[highlightLetterClass, highlightFlag ? hightlightObject : {backgroundColor: defaultBgColor}]">
</v-touch>
</template>

<script>
import eventbus from '@/config/eventhub.js'
import findIndex from 'lodash/findIndex'
import forEach from 'lodash/forEach'
export default {
  name: 'expCrosswordsinput',
  props: {
    letterObject: {type: Object},
    id: {type: String}
  },
  data () {
    return {
      highlightFlag: false, // flag to highlight or not the right crossword letter input box
      letterAnswer: null, // user typed letter
      hintFlag: null, // flag to show hint bubble
      direction: null, // direction of the crossword inputs
      checkFlag: false, // flag to determine if check button clicked
      checkisRight: false, // flag to determine the color of hightlightColor
      alphabet: 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz', // only letters if this string is available of typing
      rightColor: '#92B558', // hightlight colors
      wrongColor: '#DC4C46',
      showColor: '#BCBCBE',
      hightlightColor: '#ffff99',
      defaultBgColor: '#ffffff',
      defaultLetterColor: null,
      hightlightObject: {backgroundColor: '#ffff99'},
      hintId: null
    }
  },
  mounted () {
    // initial highlight key words, different than white bg color
    if (this.letterObject.highlightColor !== null && this.letterObject.highlightColor !== undefined) {
      this.defaultBgColor = this.letterObject.highlightColor
    }
    if (this.letterObject.BgKeyHighlight !== null && this.letterObject.BgKeyHighlight !== undefined) {
      this.defaultBgColor = this.letterObject.BgKeyHighlight
    }
    this.$nextTick(() => {
      // listen events only at input crossword boxes, visible ones
      if (this.letterObject.id !== undefined) {
        eventbus.listen('crosswordsinput_highlight_input', (data) => {
            this.direction = data.direction
            this.hintId = data.id
            if (!this.checkFlag) {
              if (this.letterObject.id.indexOf(data.id) !== -1) {
                // update hint condition for multiple words start from the same row and column input box
                // if crossword ex is new every letters object should have the attr startMultiple {id: word.id, visible: true}
                // visible true => id that is visible as input box label number
                // check if the startMultiple contains the hint id to make it hint visible
                // case 1) 2 words start from the same input box
                // case 2) 2 words, one start from another word middle letters (not first letter)
                if (this.letterObject.startMultiple !== undefined) {
                  //case 2) check
                  if (findIndex(this.letterObject.startMultiple, {'id': data.id, 'custom': false}) >= 0) {
                    this.hintFlag = data.id
                  } else {
                    this.hintFlag = null
                  }
                } else {
                  // old crosswords compatible
                  if (this.letterObject.start === this.hintId) {
                    this.hintFlag = data.id
                  } else {
                    this.hintFlag = null
                  }
                }
                this.highlightFlag = true
              } else {
                this.highlightFlag = false
              }
            }
        })
        eventbus.listen('checkprimary_reset', (data) => {
          if (!this.letterObject.default) {
            this.letterAnswer = null
          } else if (this.letterObject.default) {
            if (this.letterObject.BgKeyHighlight !== null && this.letterObject.BgKeyHighlight !== undefined) {
              this.defaultBgColor = this.letterObject.BgKeyHighlight
            }
          }
          this.highlightFlag = false
          this.hintFlag = null
          this.checkFlag = false
          this.hightlightObject.backgroundColor = this.hightlightColor
          this.checkisRight = false
        })
        // Set false answer when letter removed from input
        eventbus.listen('crosswordsinput_clearonbackspace', (id) => {
          if (this.letterObject.id.indexOf(id) !== -1) {
            this.checkisRight = false
          }
        })
        // keep if letter is right or wrong, to highlight with appropriate color
        eventbus.listen('checkprimary_input', (data) => {
          if (this.letterObject.id.indexOf(data.id) !== -1) {
            if (!this.checkisRight) {
              this.checkisRight = data.isRight
            }
          }
        })
        eventbus.listen('checkprimary_check', (data) => {
          if (this.letterObject.default && this.letterObject.id.length > 1) {
            this.checkFlag = true
            this.hintFlag = null
            if (this.checkisRight) {
              this.hightlightObject.backgroundColor = this.letterObject.checkKeyHighlight !== null ? this.letterObject.checkKeyHighlight : this.rightColor
            } else {
              this.hightlightObject.backgroundColor = this.wrongColor
              this.checkFlag = false
            }
            this.highlightFlag = true
          } else if (!this.letterObject.default) {
            this.checkFlag = true
            this.hintFlag = null
            if (this.checkisRight) {
              this.hightlightObject.backgroundColor = this.letterObject.checkKeyHighlight !== null ? this.letterObject.checkKeyHighlight : this.rightColor
            } else {
              this.hightlightObject.backgroundColor = this.wrongColor
              this.checkFlag = false
            }
            this.highlightFlag = true
          } else {
            if (this.letterObject.checkKeyHighlight !== null && this.letterObject.checkKeyHighlight !== undefined) {
              this.highlightFlag = true
              this.hightlightObject.backgroundColor = this.letterObject.checkKeyHighlight
              this.defaultBgColor = this.letterObject.checkKeyHighlight
            }
          }
        })
        eventbus.listen('checkprimary_tryagain', () => {
          if (!this.checkisRight) {
            this.highlightFlag = false
            this.hightlightObject.backgroundColor = this.hightlightColor
            this.checkFlag = false
            if (!this.letterObject.default) {
              this.letterAnswer = null
            }
          }
        })
        eventbus.listen('checkprimary_show', () => {
          this.hintFlag = null
          this.checkFlag = true
          this.hightlightObject.backgroundColor = this.showColor
          this.letterAnswer = this.letterObject.letter
        })
      }
      // default Answers
      if (this.letterObject.default) {
        this.letterAnswer = this.letterObject.letter
      }
    })
  },
  methods: {
    // highlight all inputs for a word, when one of the the box inputs clicked
    highlight_input () {
      let tempId = this.letterObject.start !== null ? this.letterObject.start : this.letterObject.id[0]
      eventbus.fire('crosswordsinput_highlight_input', {id: tempId, direction: this.letterObject.directions[findIndex(this.letterObject.directions, {'id': tempId})].direction})
    },
    /**
     * [nextLetter]
     * type one letter and focus to the next input
     * based on the letter direction and next column row numbers
     *
     * @param  {[type]} evt [description input event]
     * @return {[type]}     [description]
     */
    nextLetter (evt) {
      if (evt.target.value !== '') {
        if (this.alphabet.indexOf(evt.target.value) !== -1) {
          this.letterAnswer = evt.target.value
          let isRight = false
          if (this.letterObject.letter.toLowerCase() === this.letterAnswer.toLowerCase()) {
            isRight = true
          }
          let answerObject = {wordids: this.letterObject.id, answer: isRight, id: this.id}
          eventbus.fire('crosswordsinput_answers', answerObject)
          if (this.direction === 'horizontal') {
            let column = this.letterObject.column
            let horizontalEl = null
            let horizontalHelper = null // helper to determine if its end of table
            // pass already filled inputs
            do {
              column++
              horizontalHelper = document.getElementById('row-' + this.letterObject.row + '-col-' + column)
              if (horizontalHelper !== undefined && horizontalHelper !== null) {
                horizontalEl = horizontalHelper.getElementsByTagName('input')[0]
                if (horizontalEl === undefined) {
                  horizontalEl = null
                  break
                }
              } else {
                break
              }
            } while ((horizontalEl.value !== '' && horizontalEl.value !== null) ? true : horizontalEl.disabled)
            // check if next input is highlighed, end of word inputs
            if (horizontalEl !== null && horizontalEl.classList.contains('crosswords_highlightinput')) {
              horizontalEl.focus()
            }
          } else if (this.direction === 'vertical') {
            let row = this.letterObject.row
            let verticalEl = null
            let verticalHelper = null
            do {
              row++
              verticalHelper = document.getElementById('row-' + (row) + '-col-' + this.letterObject.column)
              if (verticalHelper !== undefined && verticalHelper !== null) {
                verticalEl = verticalHelper.getElementsByTagName('input')[0]
                if (verticalEl === undefined) {
                  verticalEl = null
                  break
                }
              } else {
                break
              }
            } while ((verticalEl.value !== '' && verticalEl.value !== null) ? true : verticalEl.disabled)
            if (verticalEl !== null && verticalEl.classList.contains('crosswords_highlightinput')) {
              verticalEl.focus()
            }
          }
        } else {
          this.letterAnswer = null
        }
      } else {
        // if input evt target value is empty (backspace filled input)
        this.checkisRight = false
        let answerObject = {wordids: this.letterObject.id, answer: false, id: this.id}
        eventbus.fire('crosswordsinput_answers', answerObject)
        forEach(this.letterObject.id, (id) => {
          eventbus.fire('crosswordsinput_clearonbackspace', id)
        })
      }
    }
  },
  computed: {
    computedHint: function () {
      if (this.letterObject.hint[findIndex(this.letterObject.hint, {'id': this.hintId})].direction === this.direction) {
        return this.letterObject.hint[findIndex(this.letterObject.hint, {'id': this.hintId})].text
      } else {
        return null
      }
    },
    highlightLetterClass: function () {
      if (this.letterObject.letterColor !== undefined && this.letterObject.letterColor !== null) {
        return {color: this.letterObject.letterColor, opacity: '1', backgroundColor: '#ffffff'}
      } else {
        return null
      }
    },
    startMultipleLabel: function () {
      return this.letterObject.startMultiple.filter((start) => {
        return start.visible
      })[0].id
    }
  },
  beforeDestroy () {
    eventbus.off('checkprimary_input')
    eventbus.off('checkprimary_check')
    eventbus.off('checkprimary_tryagain')
    eventbus.off('checkprimary_show')
    eventbus.off('crosswordsinput_highlight_input')
    eventbus.off('checkprimary_reset')
    eventbus.off('crosswordsinput_clearonbackspace')
    this.$off()
  }
}
</script>
