<style lang="scss" scoped>
.svgchoicesimage_parentholder{
  box-shadow: 0 0px 10px rgba(68, 9, 136, 0.76), 0 2px 4px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 80%;
  margin: 15px auto;
}
.choiceimage_placeholder{
  width: 100%;
  height: 100%;
  display: block;
}
.visibleoff{
  display: none;
}
</style>

<template lang="html">
<div id="expChoicesimages" :class="{'svgchoicesimage_parentholder': choicesimagesstyleflag}" class="columns is-multiline is-mobile has-center-items" :style="[el.choicesbgobject, {backgroundImage: bgimage}]">
  <div class="column has-center-items" :class="choice.column" v-for="(choice, index) in choicesarray" :key="choice.id">
    <div class="has-center-items" :style="choice.styleobj" v-if="!choice.selected">
      <div v-if="!choice.change || !changeonclick" class="choiceimage_placeholder" :class="{visibleoff: choiceid === choice.id}">
        <v-touch :id="choice.id" @tap="choiceclicked(choice.id, choice.imgsrc, choice.imgsound, index, choice.bindchoicesid, choice.svgfill)" tag="a">
          <img :class="{visibleoff: choiceid === choice.id}" class="image" :src="mediafile + $route.query.package + '/' + choice.imgsrc">
        </v-touch>
      </div>
      <div v-if="choice.change || changeonclick" :class="{visibleoff: choiceid !== choice.id}" class="choiceimage_placeholder">
          <img :class="{visibleoff: choiceid !== choice.id}" class="image" :src="mediafile + $route.query.package + '/' +  choice.imgonchange">
      </div>
    </div>
  </div>
</div>
</template>

<script>
/* eslint-disable camelcase */
/* eslint-disable no-unused-vars */
import findIndex from 'lodash/findIndex'
import eventbus from '@/config/eventhub.js'
import {MEDIAENDPOINT} from '@/config/app-config'
const ExpAudioGroup = require('@/config/audio-helper.js').ExpAudioGroup;
export default {
  name: 'expSvgchoices',
  props: {
    el: Object
  },
  data () {
    return {
      choicesarray: [],
      mediafile: MEDIAENDPOINT,
      bgimage: null,
      choiceid: null, // Id of each image choice
      choicesmultiple: false, // flag to determine if choices are 1:1 to user inputs or 1:m
      changeonclick: false, // flag to determine if Image will change on click or not
      imagesrc: null, // Image source
      soundstack: [], // Stack All the image sounds on click to clear and play the last one
      beforeindex: -1,
      choicesimagesstyleflag: true
    }
  },
  mounted () {
    if (this.el.choicesarray.length > 0) {
      this.choicesarray = JSON.parse(JSON.stringify(this.el.choicesarray))
    }
    if (this.el.choicesmultiple !== undefined && this.el.choicesmultiple !== null) {
      this.choicesmultiple = this.el.choicesmultiple
    } else {
      this.choicesmultiple = false
    }
    if (this.el.choicesbgobject.backgroundImage !== undefined && this.el.choicesbgobject.backgroundImage !== null && this.el.choicesbgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.choicesbgobject.backgroundImage + ')'
    }
    if (this.el.choicesimagesstyleflag !== undefined && this.el.choicesimagesstyleflag !== null) {
      this.choicesimagesstyleflag = this.el.choicesimagesstyleflag
    } else {
      this.choicesimagesstyleflag = true
    }
    this.$nextTick(() => {
      eventbus.listen('taptapimages_disablechoice', (id) => {
        if (!this.choicesmultiple) {
          let tempindex = findIndex(this.choicesarray, {'id': id})
          this.choicesarray[tempindex].selected = true
          let data = { id: null, imgsrc: null }
          eventbus.fire('choicesimages_userchoice', data)
        }
      })
      eventbus.listen('svgchoicesimages_enablechoice', (id) => {
        let tempindex = findIndex(this.choicesarray, {'id': id})
        this.choicesarray[tempindex].selected = false
        this.choicesarray[tempindex].change = false
        this.choiceid = null
      })
      eventbus.listen('checkprimary_reset', () => {
        this.choicesarray = [0, this.choicesarray.length]
        if (this.el.choicesarray.length > 0) {
          this.choicesarray = JSON.parse(JSON.stringify(this.el.choicesarray))
          for (var i = 0; i < this.choicesarray.length; i++) {
            this.choicesarray[i].selected = false
            this.choicesarray[i].change = false
          }
        }
        this.choiceid = null
      })
    })
  },
  methods: {
    // Call when choice clicked
    choiceclicked (id, image, imagesound, index, bindchoicesid, svgfill) {
      // Start Timer if exists
      eventbus.fire('choicesimages_starttimer')
      if (this.soundstack.length === 0 ) {
        for (var i = 0; i < this.el.choicesarray.length; i++) {
          if (this.el.choicesarray[i].imgsound !== null) {
            this.soundstack.push(new ExpAudioGroup({
              src: MEDIAENDPOINT + this.$route.query.package + '/' + this.el.choicesarray[i].imgsound,
              preload: false,
              html5: true
            }))
          }
        }
      }
      this.choiceid = id
      let data = { id: id, imgsrc: image, index: index, bindchoicesid: bindchoicesid, fill: svgfill}
      this.choicesarray[index].change = true
      // Send data to ui-components
      eventbus.fire('svgchoices_userchoice', data)
      // Start Timer if exists
      eventbus.fire('choicesimages_starttimer')
      if (!this.choicesarray[index].selected && this.soundstack.length > 0) {
        this.soundstack[index].muted = false
        this.soundstack[index].play()
        for (var i = 0; i < this.soundstack.length; i++) {
          if (i !== index) {
            this.soundstack[i].muted = true
          }
        }
      }
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        if (element.choicesarray.length > 0) {
          this.choicesarray = JSON.parse(JSON.stringify(element.choicesarray))
        }
        if (element.choicesimagesstyleflag !== undefined && element.choicesimagesstyleflag !== null) {
          this.choicesimagesstyleflag = element.choicesimagesstyleflag
        } else {
          this.choicesimagesstyleflag = true
        }
        if (element.choicesarray.length > 0) {
          this.choicesarray = JSON.parse(JSON.stringify(element.choicesarray))
        }
        if (element.choicesbgobject.backgroundImage !== undefined && element.choicesbgobject.backgroundImage !== null && element.choicesbgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.choicesbgobject.backgroundImage + ')'
        } else {
          this.bgimage = null
        }
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('taptapimages_disablechoice')
    eventbus.off('choicesimages_enablechoice')
    eventbus.off('checkprimary_reset')
  }
}

</script>
