<style lang="css">

</style>

<template lang="html">
  <div class="columns is-multiline is-mobile">
    <div class="column is-12">
      <exp-choicesimages :el="el"></exp-choicesimages>
    </div>
    <div class="column is-12">
      <exp-groupingimages :el="el" :checkIconsObject="computedCheckIconsProps"></exp-groupingimages>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Groupingimages',
  props: {
    el: Object
  },
  computed: {
    computedCheckIconsProps: function () {
      return this.el.checkIconsObject
    }
  }
}

</script>
