<style lang="scss">
.settingbackground{
  background-color: #000000;
  opacity: 0.5;
}
svg path:hover {
  fill:red;
}
</style>
<template lang="html">
  <div class="columns is-multiline is-mobile">
    <div class="column is-12" :style="[el.choicesbgobject, {backgroundImage: choicesbgimage}]">
      <exp-svgchoices :el="el"></exp-svgchoices>
    </div>
    <div class="column is-12" style="position: relative;" :style="[el.bgobject, {backgroundImage: bgimage}]">
      <div v-for="(tap, index) in tappuzzlearray" :key="tap.id">
        <exp-svgtaps :class="{'settingbackground': index === el.settingindex}" :el="tap"></exp-svgtaps>
      </div>
    </div>
    <div class="columns is-12">
        <div v-for="(img, index) in staticimages" :key="img.id">
          <img :src="media + $route.query.package + '/' + img.src" :style="img.imgstyle" >
        </div>
    </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'ManysvgColoring',
  props: {
    el: Object
  },
  data () {
    return {
      media: MEDIAENDPOINT,
      tappuzzlearray: [],
      choicesbgimage: null,
      staticimages: [],
      bgimage: null
    }
  },
  mounted () {


    $('path').click(function(){
      this.style.fill = "yellow"
      this.attr('id', 'value');
  });
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    if (this.el.choicesbgimage !== undefined && this.el.choicesbgimage !== null && this.el.choicesbgimage !== '') {
      this.choicesbgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.choicesbgobject.backgroundImage + ')'
    }
    if (this.el.taps.length > 0) {
      this.tappuzzlearray = JSON.parse(JSON.stringify(this.el.taps))
    }
    if (this.el.staticimages !== undefined) {
      this.staticimages =  JSON.parse(JSON.stringify(this.el.staticimages))
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.tappuzzlearray = JSON.parse(JSON.stringify(element.taps))
        if (element.staticimages !== undefined) {
          this.staticimages =  JSON.parse(JSON.stringify(element.staticimages))
        }
      },
      deep: true
    }
  }
}

</script>
