
<style lang="scss">
</style>

<template lang="html">
<div class="columns is-multiline is-mobile" :style="[el.bgobject, {backgroundImage: bgimage}]">
  <div class="column is-12">
    <div v-for="(tap, index) in tapmaze" :key="tap.id">
      <span :style="{position: 'absolute', top: tap.bgobject.top, left: tap.bgobject.left}">{{tap.id}}</span>
      <exp-mazetap :style="[el.settingindex === index && el.settingindex !== null ? {opacity: '0.5'} : {}]" :el="tap" :checkIconsObject="computedCheckIconsProps"></exp-mazetap>
    </div>
  </div>
</div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'Mazebgtap',
  props: {
    el: Object
  },
  data () {
    return {
      tapmaze: [],
      bgimage: null
    }
  },
  mounted () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    if (this.el.taps.length > 0) {
      this.tapmaze = JSON.parse(JSON.stringify(this.el.taps))
    }
  },
  computed: {
    customel: function () {
      return this.el
    },
    computedCheckIconsProps: function () {
      return this.el.checkIconsObject
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.tapmaze = JSON.parse(JSON.stringify(element.taps))
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        } else {
          this.bgimage = null
        }
      },
      deep: true
    }
  }
}


</script>
