<style lang="scss">
</style>

<template lang="html">
  <div :style="[el.bgobject, {backgroundImage: bgimage}]" class="columns is-multiline">
    <div v-for="el in el.imgsarray" :key="el.id" class="column is-12">
      <exp-multiplechoiceimg :el="el" :checkIconsObject="computedCheckIconsProps"></exp-multiplechoiceimg>
    </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'Multiplechoiceimgwithbg',
  props: {
    el: Object
  },
  data () {
    return {
      bgimage: null
    }
  },
  mounted () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    } else {
      this.bgimage = null
    }
  },
  computed: {
    customel: function () {
      return this.el
    },
    computedCheckIconsProps: function () {
      return this.el.checkIconsObject
    }
  },
  watch: {
    customel: {
      handler (element) {
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        } else {
          this.bgimage = null
        }
        this.$forceUpdate()
      },
      deep: true
    },
  }
}

</script>
