<style lang="scss">
</style>
<template lang="html">
  <div class="columns is-multiline is-mobile">
    <div class="column is-12" :style="[el.choicesbgobject, {backgroundImage: choicesbgimage}]">
      <exp-svgchoices :el="el"></exp-svgchoices>
    </div>
    <div class="column is-12" style="position: relative;" :style="[el.bgobject, {backgroundImage: bgimage}]">
      <div v-for="(tap, index) in tappuzzlearray" :key="tap.id">
        <exp-svgone :el="tap"></exp-svgone>
      </div>
    </div>
    <div class="columns is-12">
        <div v-for="(img, index) in staticimages" :key="img.id">
          <img :src="media + $route.query.package + '/' + img.staticimage.imgsrc" :style="img.staticimage" >
        </div>
    </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'OnesvgColoring',
  props: {
    el: Object
  },
  data () {
    return {
      media: MEDIAENDPOINT,
      tappuzzlearray: [],
      choicesbgimage: null,
      staticimages: [],
      bgimage: null
    }
  },
  mounted () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    if (this.el.choicesbgimage !== undefined && this.el.choicesbgobject.backgroundImage !== null && this.el.choicesbgobject.backgroundImage !== '') {
      this.choicesbgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.choicesbgobject.backgroundImage + ')'
    }
    if (this.el.onesvg.length > 0) {
      this.tappuzzlearray = JSON.parse(JSON.stringify(this.el.onesvg))
    }
    if (this.el.staticimages !== undefined) {
      if (this.el.staticimages.length > 0) {
        this.staticimages =  JSON.parse(JSON.stringify(this.el.staticimages))
      }
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        if (element.onesvg.length > 0) {
          this.tappuzzlearray = JSON.parse(JSON.stringify(element.onesvg))
        }
        if (element.staticimages !== undefined) {
          if (element.staticimages.length > 0) {
            this.staticimages =  JSON.parse(JSON.stringify(element.staticimages))
          }
        }
      },
      deep: true
    }
  }
}

</script>
