<style lang="scss">

</style>

<template lang="html">
  <div class="columns is-mobile has-center-items" :style="[el.bgobject, {backgroundImage: bgimage}]">
    <video :id="'video' + el.index" :width="videoel.videowidth" :height="videoel.videoheight" controls="controls" controlsList="nodownload" preload="none">
      <source :src="localvidsrc" :type="'video/' + videoel.videomimetype">
    </video>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'primaryvideoplayer',
  props: {
    el: Object
  },
  data () {
    return {
      bgimage: null,
      videoel: {},
      localvidsrc: null
    }
  },
  mounted () {
    this.videoel = JSON.parse(JSON.stringify(this.el))
    let querypackage = null
    if (this.$route === undefined) {
      querypackage = new URL(window.location.href).searchParams.get('package')
    } else {
      querypackage = this.$route.query.package
    }
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + querypackage + '/' + this.el.bgobject.backgroundImage + ')'
    }
    if (this.videoel.videosrc !== null && this.videoel.videosrc !== undefined) {
      this.localvidsrc = MEDIAENDPOINT + querypackage + '/' + this.videoel.videosrc
    }
  },
  methods: {
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.videoel = JSON.parse(JSON.stringify(element))
        let querypackage = null
        if (this.$route === undefined) {
          querypackage = new URL(window.location.href).searchParams.get('package')
        } else {
          querypackage = this.$route.query.package
        }
        if (element.videosrc !== null && element.videosrc !== undefined) {
          this.localvidsrc = MEDIAENDPOINT + querypackage + '/' + element.videosrc
          var video = document.getElementById('video' + element.index)
          video.src = this.localvidsrc
        }
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + querypackage + '/' + element.bgobject.backgroundImage + ')'
        }
      },
      deep: true
    }
  },
  beforeDestroy () {
  }
}

</script>
