<style lang="scss" scoped>
</style>

<template lang="html">
<div class="columns is-mobile is-multiline">
  <div class="column is-12">
    <exp-primarytimer :el="el"></exp-primarytimer>
  </div>
</div>
</template>

<script>
export default {
  name: 'Primarytimer',
  props: {
    el: Object
  },
  data () {
    return {
    }
  },
  created () {
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
      },
      deep: true
    }
  }
}

</script>
