<style lang="scss">
.taptappuzzlebg_settingbackground{
  background-color: #000000;
  opacity: 0.5;
}
.taptappuzzlebg_puzzlebgdiv{
  margin: 0 auto;
}
</style>
<template lang="html">
  <div class="columns is-multiline is-mobile">
    <div class="column is-12">
      <exp-choicesimages :el="el"></exp-choicesimages>
    </div>
    <div class="column is-12 taptappuzzlebg_puzzlebgdiv" style="position: relative;" :style="[el.bgobject, {backgroundImage: bgimage}]">
      <div v-for="(tap, index) in tappuzzlearray" :key="tap.id">
        <exp-taptappuzzlemultipleright :el="tap"></exp-taptappuzzlemultipleright>
      </div>
    </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'Taptappuzzlemultipleright',
  props: {
    el: Object
  },
  data () {
    return {
      tappuzzlearray: [],
      bgimage: null
    }
  },
  mounted () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    this.tappuzzlearray.splice(0, this.tappuzzlearray.length)
    if (this.el.taps.length > 0) {
      this.tappuzzlearray = JSON.parse(JSON.stringify(this.el.taps))
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.tappuzzlearray.splice(0, this.tappuzzlearray.length)
        this.tappuzzlearray = JSON.parse(JSON.stringify(element.taps))
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        } else {
          this.bgimage = null
        }
        this.$forceUpdate()
      },
      deep: true
    },
  }
}

</script>
