<style lang="scss" scoped>
</style>

<template lang="html">
<div class="columns is-multiline is-mobile">
  <div class="column is-12">
    <exp-choicesimages :el="el"></exp-choicesimages>
  </div>
  <div class="column is-12">
    <div class="columns is-multiline is-mobile" style="position: relative;" :style="[el.bgobject, {backgroundImage: bgimage}]">
      <div v-for="tap in tapsonchangearray" :key="tap.id" style="text-align: center;" class="column" :class="[columnsize === null ? 'is-4' : columnsize]">
        <div>
          <exp-taptapimagesonchange :el="tap"></exp-taptapimagesonchange>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'Taptapcoloring',
  props: {
    el: Object
  },
  data () {
    return {
      tapsonchangearray: [],
      columnsize: null,
      bgimage: null
    }
  },
  created () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    if (this.el.tapsonchange.length > 0) {
      this.tapsonchangearray = JSON.parse(JSON.stringify(this.el.tapsonchange))
    }
    // TODO change page json with inputperlines attr
    if (this.el.inputsperlines !== undefined) {
      this.columnsize = 'is-' + Math.round(12 / this.el.inputsperlines)
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.tapsonchangearray = JSON.parse(JSON.stringify(element.tapsonchange))
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        } else {
          this.bgimage = null
        }
      },
      deep: true
    }
  }
}

</script>
