<template>
<div class="fullheight flexcenter">
  <section class="hero is-medium is-danger is-bold is-marginless flexitem fullwidth">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Oooops,it seems you are not authorised to access this page!
        </h1>
        <h2 class="subtitle is-pulled-right is-1">
          403 <span>:(</span>
        </h2>
        <router-link :to="'/'" class='button is-inverted is-outlined is-danger '>Back, to home</router-link>
      </div>
    </div>
  </section>
</div>
</template>

<script>
export default {
  name: 'PageNotFound'
}
</script>
<style scoped>
.fullheight{
  height: 100%;
}
.fullwidth{
  width: 100%;
}
.flexcenter{
  display: flex;
  justify-content: center;
  align-content: center;
}
.flexitem{
  max-height: 70vh;
  align-self: center;
}
</style>
