.gridusers {
  .pagination ul li {
    float: left;
  }
  .selectresult {
    float: right;
  }
  .newuserbutton {
    float: left;
    // a {
    //   background-color: $appblue;
    //   color: white;
    // }
  }
}
