.managepackages {
  .pagination ul li {
    float: left;
  }
  .selectresult {
    float: right;
  }
  // .newpackagebutton a {
  //   background-color: $appblue;
  //   color: white;
  // }
  .center-table {
    th, td {
      text-align: center;
      vertical-align: middle;
    }
  }
}
