<style lang="scss" scoped>
</style>

<template lang="html">
<div class="columns is-multiline">
<div class="column is-12">
    <div class="tabs is-boxed">
        <ul>
            <li :class="{'is-active': tab === 'truefalse'}"><a @click="tabclicked('truefalse')">TrueFalse</a></li>
            <li :class="{'is-active': tab === 'background'}"><a @click="tabclicked('background')">BG. Settings</a></li>
            <li :class="{'is-active': tab === 'statictexts'}"><a @click="tabclicked('statictexts')">Static Texts</a></li>
            <li :class="{'is-active': tab === 'staticimages'}"><a @click="tabclicked('staticimages')">Static Images</a></li>
        </ul>
    </div>
</div>
<div class="column is-12">
    <div class="column is-multiline" v-if="tab === 'truefalse'">
      <div class="column is-12 field has-addons">
        <p class="control">
            <a class="button is-static">
            TrueFalse ID
            </a>
        </p>
        <p class="control">
            <input type="text" class="input" v-model="el.bindchoicesid">
        </p>
        <p class="control">
        <a class="button is-static">
            Add TrueFalse
        </a>
        </p>
        <p class="control">
        <a class="button is-info" @click="addTrueFalse()">
            <i class="fa fa-plus"></i>
        </a>
        </p>
      </div>
        <div v-if="el.truefalsearray.length > 0" class="column is-12">
            <div class="columns is-multiline">
              <div class="column is-12 field has-addons">
                <p class="control">
                <a class="button is-static">
                    TrueFalses
                </a>
                </p>
                <p class="control">
                <exp-field>
                    <exp-multiselect track-by="id" label="id" v-model="currentobj" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :allow-empty="false" :openDirection="'top'" :options="el.truefalsearray" @input="selectTrueFalse()">
                    </exp-multiselect>
                </exp-field>
                </p>
              </div>

                <div class="column is-12" v-if="currentobj !== null">
                    <div class="taptapsection_smalltabs" >
                                <a @click="truefalsetab=1;closeTrueFalseStyleMenu()"  :class="['column', truefalsetab === 1 ? 'active' : '' ]">Properties</a>
                                <a @click="truefalsetab=2;el.settingtab='tapinput';showTrueFalseStyleMenu(truefalseIndex)" :class="['column',  truefalsetab === 2 ? 'active' : '' ]">BG. Settings</a>
                    </div>
                        <div v-if="truefalsetab === 1" class="columns is-multiline" style="margin-top:10px;">
                            <div class="column is-6">
                                <a class="button is-danger" @click="deleteTrueFalse()">Delete</a>
                            </div>
                            <div class="column is-6">
                                <a class="button is-info" @click="copyTrueFalse()">Copy</a>
                            </div>
                            <div class="column is-12 field has-addons">
                                <p class="control">
                                <a class="button is-static">
                                    <span>TrueFalse Text</span>
                                </a>
                                </p>
                                <p class="control">
                                <a class="button is-static">
                                    <span class="has-text-danger">Do not type Custom HTML. ONLY TEXT</span>
                                </a>
                                </p>
                            </div>
                            <div class="column is-12 field has-addons">
                                <p class="control">
                                <a class="button is-static">
                                    <span>TrueFalse Font Size</span>
                                </a>
                                </p>
                                <p class="control">
                                <input class="input" type="number" step="0.1" @input="changeTrueFalsefontSize()" v-model="truefalsefontSize">
                                </p>
                                <p class="control">
                                <a class="button is-static">
                                    <span>em</span>
                                </a>
                                </p>
                            </div>
                            <div class="column is-12">
                                <textarea class="textarea is-info" placeholder="Type your text with inputs" rows="8"  v-model="textTrueFalse" @input="parsetextTrueFalse($event)"></textarea>
                            </div>
                            <div class="column is-12 field has-addons" v-if="!editElementWordFlag && !editElementTrueFalseFlag">
                                <p class="control">
                                <a class="button is-static">
                                    Editable Text
                                </a>
                                </p>
                                <p class="control">
                                <a class="button is-info" @click="editTextStyle()">
                                    Edit Text Style
                                </a>
                                </p>
                            </div>
                            <div class="column is-12" v-if="!editElementWordFlag && !editElementTrueFalseFlag">
                                <template v-for="(node, nindex) in el.truefalsearray[truefalseIndex].textArray">
                                <a class="button is-success" v-if="nindex % 2" v-text="node.values[0]" @click="editTrueFalse(nindex)" :key="'editabletext_' + nindex"></a>
                                <template v-else v-for="(text, tindex) in node">
                                    <a class="button is-info" v-if="!(/\r|\n/.exec(text)) && text !== ' ' && text.length > 0" :key="nindex + '_' + tindex" v-html="text" @click="editText(nindex, tindex)"></a>
                                </template>
                                </template>
                            </div>
                            <div class="column is-12" v-if="editElementWordFlag">
                                <div class="columns is-multiline">
                                <div class="column is-12 field has-addons">
                                    <p class="control">
                                    <a class="button is-static">
                                        Editable Word
                                    </a>
                                    </p>
                                    <p class="control">
                                    <a class="button is-info" @click="backEditableWord()">
                                        Back
                                    </a>
                                    </p>
                                </div>
                                <div class="column is-12">
                                    <vue-editor v-model="editableText" @input="parseEditableText()"></vue-editor>
                                </div>
                                </div>
                            </div>
                            <div class="column is-12" v-if="editElementTrueFalseFlag">
                                    <div class="columns is-multiline">
                                        <div class="column is-6 field has-addons">
                                            <p class="control">
                                            <a class="button is-static">
                                                Editable TrueFalse
                                            </a>
                                            </p>
                                            <p class="control">
                                            <a class="button is-info" @click="backEditableWord()">
                                                Back
                                            </a>
                                            </p>
                                        </div>
                                        <div class="column is-6 field has-addons">
                                            <p class="control">
                                              <a class="button is-success" @click="showTrueFalseObjectSetting(truefalseIndex)">
                                                  Edit BG. Object
                                              </a>
                                            </p>
                                        </div>
                                    </div>

                                <!-- <div class="taptapsection_smalltabs" >
                                    <a v-on:click="truefalsetab=1"  :class="['column', truefalsetab === 1 ? 'active' : '' ]">Properties</a>
                                    <a v-on:click="truefalsetab=2" :class="['column',  truefalsetab === 2 ? 'active' : '' ]">BG. Settings</a>
                                </div> -->
                                    <!-- <div v-if="truefalsetab === 1" class="columns is-multiline" style="margin-top:10px;"> -->
    <span v-if="el.truefalsearray[truefalseIndex].textArray.length>0">
        <div class="column is-12 field has-addons">
            <p class="control">
            <a class="button is-static">
                New Choice
            </a>
            </p>
            <div class="control">
            <input type="text" class="input" v-model="choicetext">
            </div>
            <div class="control">
            <a class="button" @click="add_choice(choicetext)"><i class="fa fa-plus has-text-info is-size-5"></i></a>
            </div>
        </div>
        <div class="column is-12">
            <div class="control has-text-left">
            <a class="button is-static">Choices Table</a>
            </div>
        </div>
        <div  class="column is-12">
            <div class="choicescontainer">
            <div v-if="!editChoiceFlag" class="columns is-multiline">
                <div class="choices_style column is-4" v-for="(choice, index) in el.truefalsearray[truefalseIndex].textArray[nodeIndex].choicesarray" :key="choice.id">
                  {{choice.text}}
                <a :id="choice.id" @click="remove_choice(choice.id)"><i class="fa fa-times has-text-danger is-pulled-left"></i></a>
                <a :id="choice.id" @click="edit_choice(index, choice.text)"><i class="fa fa-pencil has-text-info is-pulled-right"></i></a>
                <!-- <a v-if="tempindex !== index" :id="choice.id" @click="edit_choice(index, choice.text)"><i class="fa fa-pencil has-text-info is-pulled-right"></i></a> -->
                <!-- <a v-if="tempindex === index" :id="choice.id" @click="save_choice(index)"><i class="fa fa-save has-text-info is-pulled-right"></i></a>
                <input v-if="tempindex === index" type="text" v-model="temptext"> -->
                </div>
            </div>
            <div v-else class="column is-12 ">
              <p class="is-pulled-right">
                <a class="button is-info" @click="closeChoiceBGSetting()">
                    Back to Choices
                </a>
              </p>
              <div class='box'>
                <div class="column is-12 field has-addons">
                  <div class="control">
                    <a class="button is-static">
                      Choice text
                    </a>
                  </div>
                  <div class="control">
                    <input type="text" class="input" v-model="el.truefalsearray[truefalseIndex].textArray[nodeIndex].choicesarray[tempindex].text">
                  </div>
                </div>
                <div class="button is-info column is-12 center_column_flex" @click="showChoiceBGSetting(tempindex)">
                  Choice BG. Settings
                </div>
                <!-- {{currentchoice}} -->
              </div>
            </div>
            </div>
        </div>
        <div v-if="!editChoiceFlag" class="column is-12 field has-addons">
            <p class="control">
                <a class="button is-static">
                Right Answer
                </a>
            </p>
            <p class="control">
                <exp-field>
                <!-- <exp-multiselect track-by="id" label="text" v-model="el.truefalsearray[truefalseIndex].rightanswer" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :allow-empty="false" @open="chooserightanswer()" :options="righanswersobj"> -->
                <exp-multiselect track-by="id" label="text" v-model="temprightanswer" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :allow-empty="false" @open="chooserightanswer()" :options="righanswersobj">

                </exp-multiselect>
                </exp-field>
            </p>
        </div>
    </span>
          <!-- </div> -->

      <!-- <div v-if="truefalsetab === 2" class="columns is-multiline" style="margin-top:10px;">
          to be implem
      </div> -->

  </div>
    </div>
    <div v-if="truefalsetab === 2" class="columns is-multiline" style="margin-top:10px;">
    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</template>

<script>
import forEach from 'lodash/forEach'
import findIndex from 'lodash/findIndex'
import differenceWith from 'lodash/differenceWith'
import isEqual from 'lodash/isEqual'
import maxBy from 'lodash/maxBy'
import isArray from 'lodash/isArray'
import eventbus from '@/config/eventhub.js'
export default {
  name: 'TrueFalseSectionSettings',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null,
      truefalsetab: 1,
      currentobj: null,
      currentchoice: null,
      truefalseId: 1,
      textTrueFalse: null,
      truefalseIndex: null,
      editElementWordFlag: false,
      editElementTrueFalseFlag: false,
      editChoiceFlag: false,
        // editCurrectAnswerFlag: null,
      nodeIndex: null,
      textIndex: null,
      editableText: null,
      righanswersobj: [],
      truefalsefontSize: null,
      tempcolumn: null,
      choicetext: null,
      tempindex: null,
      temprightanswer: null
    }
  },
  mounted () {
    this.el.settingtab = null
    this.tab = null
    this.el.settingindex = null
  },
  methods: {
    tabclicked (tab) {
      this.el.settingindex = null
      this.truefalseIndex = null
      this.currentobj = null
      this.el.settingtab = null
      this.tab = null
      this.el.settingtab = tab
      this.tab = tab
      eventbus.closePrimarySettings()
    },
    addTrueFalse () {
      if (this.el.truefalsearray.length > 0) {
        let maxtruefalse = maxBy(this.el.truefalsearray, 'id')
            // this.truefalseid = maxtruefalse.id + 1
        this.truefalseId = maxtruefalse.id + 1
      }
      this.el.truefalsearray.push({
            // id: this.truefalseid,
        id: this.truefalseId,
        textArray: [],
        fontSize: '0.8em',
        bgobject: {},
        textstyle: {}
      })
    },
    deleteTrueFalse () {
      this.el.settingindex = null
      this.el.truefalsearray.splice(this.truefalseIndex, 1)
      this.truefalseIndex = null
      this.currentobj = null
    },
    copyTrueFalse () {
      let copyObject = JSON.parse(JSON.stringify(this.el.truefalsearray[this.truefalseIndex]))
      copyObject.id = maxBy(this.el.truefalsearray, 'id').id + 1
      copyObject.textArray.map((arr, index) => {
        if (!isArray(arr)) {
          arr.truefalseId = '' + copyObject.id + index
        }
      })
      this.el.truefalsearray.push({...copyObject, ...{id: maxBy(this.el.truefalsearray, 'id').id + 1}})
    },
    changeTrueFalsefontSize () {
      this.el.truefalsearray[this.truefalseIndex].fontSize = this.truefalsefontSize + 'em'
    },
    editTextStyle () {
      eventbus.firePrimarySettings('uicomponenttext_open', {style: 'truefalsearray[' + this.truefalseIndex + '].textstyle'})
    },
        // load text from element
    loadText (array) {
      let tempText = ''
      forEach(array, (value, index) => {
        if (index % 2) {
          tempText = tempText + '#' + value.values[0] + '#'
        } else {
          forEach(value, (simpletext) => {
            tempText = tempText + simpletext
          })
        }
      })
      this.textTrueFalse = tempText
    },
        // parse textarea text
    parsetextTrueFalse (value) {
      let customarray = this.textTrueFalse.split(/#([a-zA-Z0-9_'"?!;.,-\s]+)#/)
      forEach(customarray, (value, index) => {
        let splitter = [] // array to keep splitted text
        let spanSplitter = [] // if text is span split everything to compine as a wish, each span element seperate
        if (!(index % 2)) {
                // check if element is span or simple text
          if (!(/<.*?>\w+<\/.*?>/gm.exec(value))) {
            splitter = value.split(/(\S+)/)
          } else {
                    // split all html tags and texts
            spanSplitter = value.split(/(<.*?>\w+<\/.*?>)/gm)
            forEach(spanSplitter, (value) => {
              if (!(/<.*?>\w+<\/.*?>/gm.exec(value))) {
                forEach(value.split(/(\S+)/), (text) => {
                  splitter.push(text)
                })
              } else {
                splitter.push(value)
              }
            })
          }
        } else {
                // splitter = {values: [value], truefalseId: index, truefalseid: this.el.truefalsearray[this.truefalseIndex].id}
                // splitter = {values: [value], truefalseId: ''+this.truefalseIndex+index, fontSize: '0.8em', tfobgobject: {}, rightanswer:[], textstyle: {}, choicesarray: [{id: 1, text: 'True', selected: false}, {id: 2, text: 'False', selected: false}]}
          splitter = {values: [value], truefalseId: '' + this.el.truefalsearray[this.truefalseIndex].id + index, fontSize: '0.8em', tfobgobject: {}, rightanswer: [], textstyle: {}, choicesarray: [{id: 1, text: 'True', selected: false, choice_bgobject: {}}, {id: 2, text: 'False', selected: false, choice_bgobject: {}}]}
        }

        customarray[index] = splitter
      })
            // check difference in inputs elements to keep saved options
      let tempDifferenceArray = differenceWith(this.el.truefalsearray[this.truefalseIndex].textArray, customarray, isEqual)

      forEach(tempDifferenceArray, (value) => {
        if (value.truefalseId !== undefined) {
                // let tempIndex = findIndex(customarray, {'truefalseId': value.truefalseId, 'truefalseid': value.truefalseid})
          let tempIndex = findIndex(customarray, {'truefalseId': value.truefalseId})
                // if (value.values.length > 1) {
          customarray[tempIndex] = {...customarray[tempIndex], ...value}
                // }
        }
      })
      this.el.truefalsearray[this.truefalseIndex].textArray = [...customarray]
    },
    selectTrueFalse () {
      eventbus.closePrimarySettings()
      this.editElementWordFlag = false
      this.editElementTrueFalseFlag = false
      this.truefalseIndex = findIndex(this.el.truefalsearray, {'id': this.currentobj.id})
      if (this.typingText !== null && this.typingText !== -1) {
        this.loadText(this.el.truefalsearray[this.truefalseIndex].textArray)
      }
      this.el.settingindex = this.truefalseIndex
            // this.truefalsefontSize = this.el.truefalsearray[this.truefalseIndex].fontSize
      this.truefalsefontSize = parseFloat(this.el.truefalsearray[this.truefalseIndex].fontSize)
    },
    editText (nindex, tindex) {
      this.editElementWordFlag = true
      this.nodeIndex = nindex
      this.textIndex = tindex
      this.editableText = this.el.truefalsearray[this.truefalseIndex].textArray[this.nodeIndex][this.textIndex]
    },
    editTrueFalse (nindex) {
      this.editElementTrueFalseFlag = true
      this.nodeIndex = nindex
    },
        // parsing text to remove p of vue editor and replace with spans
    parseEditableText () {
      this.$set(this.el.truefalsearray[this.truefalseIndex].textArray[this.nodeIndex], this.textIndex, this.editableText.replace(/<p>/, '').replace(/<\/p>/, ''))
    },
    backEditableWord () {
      this.editElementWordFlag = false
      this.editElementTrueFalseFlag = false
      this.nodeIndex = null
      this.textIndex = null
      this.truefalsetab = 1
    },
    add_choice (text) {
      if (text !== null) {
        let array = JSON.parse(JSON.stringify(this.el.truefalsearray[this.truefalseIndex].textArray[this.nodeIndex].choicesarray))
        if (array.length > 0) {
          let maxchoice = maxBy(array, 'id')
          array.push({id: (maxchoice.id + 1), text: text, selected: false, choice_bgobject: {}})
          this.el.truefalsearray[this.truefalseIndex].textArray[this.nodeIndex].choicesarray = array
        } else {
          array.push({id: 1, text: text, selected: false})
          this.el.truefalsearray[this.truefalseIndex].textArray[this.nodeIndex].choicesarray = array
        }
      }
      this.choicetext = null
    },
    remove_choice (id) {
      let indexToRemove = findIndex(this.el.truefalsearray[this.truefalseIndex].textArray[this.nodeIndex].choicesarray, {'id': id})
      this.el.truefalsearray[this.truefalseIndex].textArray[this.nodeIndex].choicesarray.splice(indexToRemove, 1)
      // console.log(indexToRemove)
      // console.log(this.el.truefalsearray[this.truefalseIndex].textArray[this.nodeIndex].choicesarray)
      // let array = []
      // // array = JSON.parse(JSON.stringify(this.el.truefalsearray[this.truefalseIndex].textArray[this.nodeIndex].choicesarray))
      // array = [...this.el.truefalsearray[this.truefalseIndex].textArray[this.nodeIndex].choicesarray]
      // console.log('array', array)
      // if (array.length > 0) {
      //   for (var i = 0; i < array.length; i++) {
      //     if (array[i].id === id) {
      //       array.splice(i, 1)
      //     }
      //   }
      //   this.el.truefalsearray[this.truefalseIndex][this.nodeIndex].choicesarray = array
      // }
      // console.log(this.nodeIndex)
    },
    closeChoiceBGSetting () {
      eventbus.closePrimarySettings()
      this.currentchoice = null
      this.editChoiceFlag = false
      // this.tempindex = null
    },
    showChoiceBGSetting (choiceIndex) {
      eventbus.firePrimarySettings('uicomponentbgsettings_open', {
        style: `truefalsearray[${this.truefalseIndex}].textArray[${this.nodeIndex}].choicesarray[${choiceIndex}].choice_bgobject`
      })
    },
    edit_choice (index, text) {
      this.editChoiceFlag = true
      this.currentchoice = this.el.truefalsearray[this.truefalseIndex].textArray[this.nodeIndex].choicesarray[index]
      this.tempindex = index
      this.temptext = text
    },
    save_choice (index) {
      this.el.truefalsearray[this.truefalseIndex].textArray[this.nodeIndex].choicesarray[index].text = this.temptext
      this.tempindex = null
      this.temptext = null
    },
    chooserightanswer () {
      this.righanswersobj = this.el.truefalsearray[this.truefalseIndex].textArray[this.nodeIndex].choicesarray
    },
    showTrueFalseStyleMenu (index) {
      eventbus.firePrimarySettings('uicomponentbgsettings_open', {style: `truefalsearray[${index}].bgobject`})
    },
    closeTrueFalseStyleMenu () {
      this.el.settingtab = null
      this.truefalsetab = 1
      eventbus.closePrimarySettings()
    },
    showTrueFalseObjectSetting (truefalseIndex) {
      eventbus.firePrimarySettings('uicomponentbgsettings_open', {style: `truefalsearray[${truefalseIndex}].textArray[${this.nodeIndex}].tfobgobject`})
    }
  },
  watch: {
    temprightanswer: {
      handler (object) {
        Vue.set(this.el.truefalsearray[this.truefalseIndex].textArray[this.nodeIndex].rightanswer, 0, object.id)
      }
    }
  }
}
</script>
