<template>
<slideLeftTransition>
  <nav v-if='sidebarIsVisible' class="navsidebar">
      <section class="sidebar shadow">
          <router-link  to="/" class="sidebaritem">
            <span class="icon">
              <i class="fa fa-home fa-lg"></i>
            </span>
          </router-link>
          <router-link  to='/user/grid' class="sidebaritem">
            User Managment
          </router-link>
          <router-link  to='/packages/grid' class="sidebaritem">
            Packages
          </router-link>
          <router-link  to='/mysections' class="sidebaritem">
            My Sections
          </router-link>
          <router-link  to='/user/update' class="sidebaritem">
            Update my Profile
          </router-link>
          <router-link  to='/bugs' class="sidebaritem">
            Bug Reports
          </router-link>
      </section>
  </nav>
</slideLeftTransition>
</template>

<script>
import {mapState} from 'vuex'
export default {
  data () {
    return {
    }
  },
  props: {
  },
  mounted () {
  },
  methods: {
  },
  computed: {
    ...mapState('sidebar', {
      sidebarIsVisible: state => state.isVisible
    })
  }
}
</script>

<style>
.navsidebar{
  width:fit-content;
  max-width:20%;
  display: flex;
  flex-flow: column no-wrap;
  justify-content: flex-start;
  align-content: center;
}
.sidebar{
  width:fit-content;
  display: flex;
  flex-flow: column wrap;
  border-top:1px solid #00C4A7;
  border-right:1px solid #00C4A7;
  border-bottom:1px solid #00C4A7;
}
.sidebaritem{
  display: inline-block;
  margin: 0 0;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  text-align:center;
}
.sidebaritem:not(:last-child){
  border-bottom:1px solid #00C4A7;
}
.sidebaritem {
  color: black;
}
.sidebaritem:first-of-type{
  color: #00C4A7;
}
.shadow {
    box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
}
.sidebaritem:hover {
    background-color: #F5F5F5;
}
.sidebaritem:active {
  background-color: #F5F5F5;
}


</style>
