<style lang="scss">
</style>

<template lang="html">
<div class="columns is-multiline">
  <div class="tabs is-boxed">
  <ul>
    <li :class="{'is-active': tab === 'background'}"><a @click="tabclicked('background')">Background</a></li>
    <li :class="{'is-active': secondtab === 'questions'}"><a @click="tabclicked('rubricquestion', 'questions')">Rubric Question </a></li>
    <!-- <li :class="{'is-active': secondtab === 'titles'}"><a @click="tabclicked('rubrictitle', 'titles')">Rubric Titles </a></li> -->
    <li :class="{'is-active': tab === 'statictexts'}"><a @click="tabclicked('statictexts')">Static Texts</a></li>
    <li :class="{'is-active': tab === 'staticimages'}"><a @click="tabclicked('staticimages')">Static Images</a></li>
  </ul>
</div>
<div class="column is-12" v-if="tab === 'rubricquestion' && secondtab === 'questions'">
  <div>
    <vue-editor v-model="el.rubricText[0].questiontext"></vue-editor>
  </div>
</div>
<!-- <div class="column is-12" v-if="tab === 'rubrictitle' && secondtab === 'titles'">
  <div class="tabs is-boxed">
  <ul>
    <li :class="{'is-active': el.settingindex  === 1 }"><a  class="button" @click="el.settingindex = 1">Title on Top</a></li>
    <li :class="{'is-active': el.settingindex  === 2 }"><a  class="button" @click="el.settingindex = 2">Title on Right</a></li>
  </ul>
  </div>
</div>
<div class="column is-12" >
  <div v-if="el.settingindex === 1">
  <label class="label">Title on top</label>
     <p v-if="!titleontopflag" class="control">
       <textarea v-model="el.rubricText[1].titleontop" class="textarea" placeholder="Title on top"></textarea>
     </p>
     <p v-if="!titleontopflag" >
       <a @click="titleontopflag = !titleontopflag" class="button has-text-info">Editor</a>
     </p>
     <div v-else class="control">
        <vue-editor v-model="el.rubricText[1].titleontop"></vue-editor>
     </div>
     <p v-if="titleontopflag" >
       <a @click="titleontopflag = !titleontopflag" class="button has-text-info">Text Area</a>
     </p>
  </div>
  <div v-if="el.settingindex === 2">
  <label class="label">Title on right</label>
     <p v-if="!titleonrightflag" class="control">
       <textarea v-model="el.rubricText[2].titleonright" class="textarea" placeholder="Title on right"></textarea>
     </p>
     <p v-if="!titleonrightflag" >
       <a @click="titleonrightflag = !titleonrightflag" class="button has-text-info">Editor</a>
     </p>
     <div v-else class="control">
        <vue-editor v-model="el.rubricText[2].titleonright"></vue-editor>
     </div>
     <p v-if="titleonrightflag" >
       <a @click="titleonrightflag = !titleonrightflag" class="button has-text-info">Text Area</a>
     </p>
  </div>
</div> -->
<!-- <div class="column is-12" v-if="tab === 'tapinput'">
  <div class="tabs is-boxed">
  <ul>
    <li :class="{'is-active': el.settingindex  === 3 }"><a  class="button" @click="el.settingindex = 3">Q-Number</a></li>
    <li :class="{'is-active': el.settingindex  === 0 }"><a  class="button" @click="el.settingindex = 0">Q-Text Style</a></li>
    <li :class="{'is-active': el.settingindex  === 1 }"><a  class="button" @click="el.settingindex = 1">Title on Top - Style</a></li>
    <li :class="{'is-active': el.settingindex  === 2 }"><a  class="button" @click="el.settingindex = 2">Title on Right - Style</a></li>
  </ul>
  </div>
</div> -->
</div>
</template>

<script>
import eventbus from '@/config/eventhub.js'
export default {
  name: 'rubric',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null,
      flagtitle: false,
      secondtab: null,
      titleontopflag: false,
      titleonrightflag: false
    }
  },
  mounted () {
    this.tab = null
    this.el.settingtab = null
    this.el.texttab = null
  },
  methods: {
    // Setting Nav bar clicked, load setting tab text to json
    tabclicked (tab, secondtab) {
      this.el.settingindex = null
      this.el.settingtab = tab
      this.tab = tab
      this.el.texttab = secondtab
      this.secondtab = secondtab
      if (tab === 'rubricquestion', secondtab === 'questions') {
        this.el.settingindex = 0
      }
      eventbus.closePrimarySettings()
    },
    // nav edit: title, subtitle, text
    edit(textnav) {
      switch (textnav) {
        case 'title':
          this.el.texttab = textnav
          break;
        case 'textarea':
          this.el.texttab = textnav
          break;
      }
    }
  }
}
</script>
