<style lang="scss" scoped>

.tapinputimage_placeholder{
  // text-align: center;
  display: inline-block;
}
.displaynone{
  display: none
}
</style>

<template lang="html">
  <div class="tapinputimage_placeholder" :style="[el.bgobject, {backgroundImage: bgimage}]">
    <div class="columns is-mobile" :class="{'notavailable': notavailable}">
      <div class="column is-12">
        <div class="columns is-mobile">
          <div class="column is-6" v-if="el.staticimage.position === 'left' && el.staticimage.imgsrc !== null">
            <img class="image" :style="el.staticimage" :class="{displaynone: !el.staticimage.imgsrc}" :src="el.staticimage.imgsrc">
          </div>
        <v-touch class="column is-6" :id="elobject.id" @tap="newinput(elobject.id)" tag="a">
          <div class="columns is-mobile is-multiline" :style="{display: 'block'}">
            <img class="column is-12 is-paddingless image" :src="imginput.imgsrc">
            <div class="column is-12 is-paddingless">
              <span :style="el.textstyle">{{elobject.text}}</span>
            </div>
          </div>
        </v-touch>
        <div class="column is-6" v-if="el.staticimage.position === 'right' && el.staticimage.imgsrc !== null">
          <img class="image" :style="el.staticimage" :class="{displaynone: !el.staticimage.imgsrc}" :src="el.staticimage.imgsrc">
        </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable camelcase */
import findIndex from 'lodash/findIndex'
import eventbus from '@/config/eventhub.js'
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'expTaptapimagesonchange',
  props: {
    el: Object
  },
  data () {
    return {
      elobject: {},
      hasinputid: null,
      notavailable: true,
      lockRight: true,
      bgimage: null,
      tempimginput: { // Temp object that holds the user choice clicked image and image id
        id: null,
        imgsrc: null
      },
      imginput: { // Initial Input Image
        id: null,
        imgsrc: null
      }
    }
  },
  mounted () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    this.elobject = this.el
    this.$nextTick(() => {
      this.imginput.imgsrc = this.elobject.imageinput
      // Load the temp object with image clicked
      eventbus.listen('choicesimages_userchoice', (data) => {
        this.tempimginput.id = data.id
        this.tempimginput.imgsrc = this.elobject.imgonchange[data.index].imgonchangesrc // search the tap tap json object to find image on change with the same id of the image choice user clicked
        if (this.lockRight) {
          this.notavailable = false
        }
      })
      eventbus.listen('taptapimagesonchange_notavailable', () => {
        this.notavailable = true
      })
      eventbus.listen('checkprimary_reset', () => {
        this.imginput.imgsrc = this.elobject.imageinput
        this.hasinputid = null
        this.notavailable = true
        this.tempimginput.id = null
        this.tempimginput.imgsrc = null
        this.lockRight = true
      })
      eventbus.listen('checkprimary_tryagain', () => {
        if (this.imginput.id !== null) {
          if (this.imginput.id === this.el.rightanswer) {
            this.lockRight = false
          } else {
            let enablechoicedata = {id: this.imginput.id, bindchoicesid: this.elobject.bindchoicesid}
            eventbus.fire('choicesimages_enablechoice', enablechoicedata)
            this.imginput.imgsrc = this.elobject.imageinput
            this.hasinputid = null
            this.notavailable = true
            this.tempimginput.id = null
            this.tempimginput.imgsrc = null
          }
        }
      })
      eventbus.listen('checkprimary_show', () => {
        this.imginput.id = this.el.rightanswer
        this.imginput.imgsrc = this.elobject.imgonchange[findIndex(this.elobject.imgonchange, {'id': this.el.rightanswer})].imgonchangesrc
        this.lockRight = true
      })
      eventbus.listen('primarytimer_end', () => {
        this.lockRight = false
      })
      eventbus.listen('checkprimary_stoptime', () => {
        this.lockRight = false
      })
    })
  },
  methods: {
    newinput (taptapid) {
      if (this.imginput.id !== null) {
        let enablechoicedata = {id: this.imginput.id, bindchoicesid: this.elobject.bindchoicesid}
        eventbus.fire('choicesimages_enablechoice', enablechoicedata)
      }
      this.hasinputid = taptapid
      this.imginput.id = this.tempimginput.id
      this.imginput.imgsrc = this.tempimginput.imgsrc
      eventbus.fire('taptapimagesonchange_notavailable')
      let isRight = false
      if (this.el.rightanswer === this.imginput.id) {
        isRight = true
      }
      let hasinputobject = {id: this.imginput.id, inputid: this.hasinputid, isRight: isRight, evt: 'add'}
      eventbus.fire('checkprimary_input', hasinputobject)
      if (this.imginput.id !== null) {
        let disablechoicedata = {id: this.imginput.id, bindchoicesid: this.elobject.bindchoicesid}
        eventbus.fire('choicesimages_enablechoice', disablechoicedata)
        eventbus.fire('taptapimages_disablechoice', disablechoicedata)
      }
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.elobject = element
        this.imginput.imgsrc = this.elobject.imageinput
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        } else {
          this.bgimage = null
        }
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('choicesimages_userchoice')
    eventbus.off('taptapimagesonchange_notavailable')
    eventbus.off('checkprimary_reset')
    eventbus.off('checkprimary_tryagain')
    eventbus.off('checkprimary_show')
    eventbus.off('checkprimary_stoptime')
  }
}

</script>
