<style lang="scss">



</style>

<template lang="html">
  <div>
    <div v-if="puzzleel.staticimage !== undefined && puzzleel.staticimage !== null && puzzleel.staticimage.imgsrc !== null && puzzleel.staticimage.imgsrc !== undefined" :style="puzzleel.staticimage" style="position: absolute;" >
        <img v-if="puzzleel.staticimage.imgsrc !== null" class="image displayimg" :src="mediafile + $route.query.package + '/' + puzzleel.staticimage.imgsrc">
    </div>
  <div :style="[el.bgobject, {backgroundImage: bgimage}]" style="position: absolute;" >
      <v-touch :style="el.bgobject.borderRadius !== undefined ? {borderRadius: el.bgobject.borderRadius} : {}" :class="{'notavailable': notavailable, 'settinghighlight': (el.highlight && el.highlight !== undefined && el.highlight !== null)}" class="imagestap_tagdisplayblock has-center-items" :id="_uid" :key="_uid" @tap="newinput(el.id)" tag="a">
        <img v-if="imginput.imgsrc !== null" class="image displayimg" :src="mediafile + $route.query.package + '/' + imginput.imgsrc">
      </v-touch>
      <exp-checkicons v-if="puzzleel.Right && puzzleel.check" :answerFlag="'right'" :checkIconsObject="checkIconsObject"></exp-checkicons>
      <exp-checkicons v-if="!puzzleel.Right && puzzleel.check" :answerFlag="'wrong'" :checkIconsObject="checkIconsObject"></exp-checkicons>
    </div>
    <div v-if="puzzleel.text !== undefined && puzzleel.text !== null" :style="puzzleel.textstyle" style="position: absolute;" >
      <span>{{puzzleel.text}}</span>
    </div>
  </div>
</template>

<script>
import eventbus from '@/config/eventhub.js'
import {MEDIAENDPOINT} from '@/config/app-config'
import findIndex from 'lodash/findIndex'
export default {
  name: 'expTaptappuzzlemultipleright',
  props: {
    el: Object,
    checkIconsObject: {
      type: Object
    }
  },
  data () {
    return {
      puzzleel: JSON.parse(JSON.stringify(this.el)),
      hasinputid: null,
      notavailable: true,
      check: false,
      Right: false,
      bgimage: null,
      mediafile: MEDIAENDPOINT,
      lockRight: true,
      tempimginput: {
        id: null,
        imgsrc: null,
        bindchoiceid: null
      },
      imginput: {
        id: null,
        imgsrc: null,
        bindchoiceid: null
      }
    }
  },
  mounted () {
    this.puzzleel = [0, this.puzzleel.length]
    this.puzzleel = JSON.parse(JSON.stringify(this.el))
    // Load the temp object with image clicked
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
       this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
     }
     this.$nextTick(() => {
       eventbus.listen('choicesimages_userchoice', (data) => {
         if (this.lockRight && data.bindchoicesid === this.puzzleel.bindchoicesid && this.puzzleel.imgonchange[data.index] !== undefined) {
           this.notavailable = false
           this.tempimginput.id = data.id
           this.tempimginput.imgsrc = this.puzzleel.imgonchange[data.index].imgonchangesrc
           this.tempimginput.bindchoicesid = data.bindchoicesid
            // search the tap tap json object to find image on change with the same id of the image choice user clicked
         }
       })
       eventbus.listen('taptappuzzle_notavailable', () => {
         this.notavailable = true
       })
       eventbus.listen('checkprimary_reset', () => {
         // this.puzzleel = [0, this.puzzleel.length]
         // this.puzzleel = JSON.parse(JSON.stringify(this.el))
         this.imginput.id = null
         this.imginput.imgsrc = null
         this.tempimginput.id = null
         this.tempimginput.imgsrc = null
         this.hasinputid = null
         this.notavailable = true
         this.puzzleel.check = false
         this.puzzleel.Right = false
         this.lockRight = true
         this.$forceUpdate()
       })
       eventbus.listen('checkprimary_check', () => {
         this.puzzleel.check = true
         this.notavailable = true
         this.lockRight = false
       })
       eventbus.listen('checkprimary_tryagain', () => {
         this.puzzleel.check = false
         if (this.imginput.id !== null) {
           if (findIndex(this.puzzleel.rightanswers, (item) => {return item === this.imginput.id}) !== -1) {
             this.lockRight = false
             this.puzzleel.check = true
           } else {
             let enablechoicedata = {id: this.imginput.id, bindchoicesid: this.puzzleel.bindchoicesid}
             eventbus.fire('choicesimages_enablechoice', enablechoicedata)
             this.imginput.id = null
             this.imginput.imgsrc = null
             this.tempimginput.id = null
             this.tempimginput.imgsrc = null
             this.hasinputid = null
             this.notavailable = true
             this.lockRight = true
             this.puzzleel.check = false
             this.puzzleel.Right = false
           }
         }
       })
       eventbus.listen('checkprimary_show', () => {
         this.puzzleel.check = false
         this.imginput.id = this.puzzleel.rightanswers[0]
         this.imginput.imgsrc = this.puzzleel.imgonchange[findIndex(this.puzzleel.imgonchange, {'id': this.puzzleel.rightanswers[0]})].imgonchangesrc
         this.lockRight = true
       })
     })
  },
  methods: {
    newinput (taptapid) {
      if (this.imginput.id !== null) {
        let enablechoicedata = {id: this.imginput.id, bindchoicesid: this.puzzleel.bindchoicesid}
        eventbus.fire('choicesimages_enablechoice', enablechoicedata)
      }
      this.hasinputid = taptapid
      this.imginput.id = this.tempimginput.id
      this.imginput.imgsrc = this.tempimginput.imgsrc
      this.imginput.bindchoicesid = this.tempimginput.bindchoicesid
      eventbus.fire('taptappuzzle_notavailable')
      let isRight = false
      this.puzzleel.Right = false
      if (findIndex(this.puzzleel.rightanswers, (item) => {return item === this.imginput.id}) !== -1) {
        isRight = true
        this.puzzleel.Right = true
      }
      let hasinputobject = {id: this.hasinputid, inputid: this.hasinputid, bindchoiceid: this.puzzleel.bindchoicesid, isRight: isRight, evt: 'add'}
      eventbus.fire('checkprimary_input', hasinputobject)
      if (this.imginput.id !== null) {
        let disablechoicedata = {id: this.imginput.id, bindchoicesid: this.puzzleel.bindchoicesid}
        eventbus.fire('choicesimages_enablechoice', disablechoicedata)
        eventbus.fire('taptapimages_disablechoice', disablechoicedata)
      }
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.puzzleel = [0, this.puzzleel.length]
        this.puzzleel = JSON.parse(JSON.stringify(element))
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
           this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
         } else {
           this.bgimage = null
         }
        this.$forceUpdate()
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('choicesimages_userchoice')
    eventbus.off('checkprimary_reset')
    eventbus.off('checkprimary_tryagain')
    eventbus.off('checkprimary_show')
  }
}

</script>
