/**
Effect - Slide in on top
**/

@mixin slide() {

	/* DRAWER */
	[data-effect='bsidebar-effect-slide'] .bsidebar-drawer {
	    z-index: 3;
	    transition-duration: $bsidebar-drawer-animation-duration-slide;
	}

	[data-effect='bsidebar-effect-slide'] .bsidebar-drawer[data-position='left'] {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	[data-effect='bsidebar-effect-slide'] .bsidebar-drawer[data-position='right'] {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	[data-effect='bsidebar-effect-slide'] .bsidebar-drawer[data-position='top'] {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	[data-effect='bsidebar-effect-slide'] .bsidebar-toggle[data-toggle='left']:checked ~ .bsidebar-drawer[data-position='left'],
	[data-effect='bsidebar-effect-slide'] .bsidebar-toggle[data-toggle='right']:checked ~ .bsidebar-drawer[data-position='right'],
	[data-effect='bsidebar-effect-slide'] .bsidebar-toggle[data-toggle='top']:checked ~ .bsidebar-drawer[data-position='top'] {
		visibility: visible;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	/* OVERLAY */

	[data-effect='bsidebar-effect-slide'] .bsidebar-overlay {
		transition-duration: $bsidebar-drawer-animation-duration-slide;
		transition-delay: $bsidebar-drawer-animation-duration-slide / 2;
	}
}

@if($show-drawer == 'all') {
	@include slide;
} @else {
	@media #{$show-drawer} {
		@include slide;
	}
}
