
<style lang="scss" scoped>

.url {
  width: 270px;
}
.caption {
  width: 290px;
}
.choicescontainer{
  width: 400px;
}
.choicecontainer{
  // height: 100%;
  // width: 50%;
  margin-bottom: 0;
  margin-right: 0;
}
.removestyle{
  margin-top: 4px;
}
</style>
<template>
  <div class="columns is-multiline" v-if="el.settingtab === 'choice'">
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Choice
        </a>
      </p>
      <div class="control">
        <input type="text" class="input" v-model="choice">
      </div>
      <div class="control">
        <a class="button" @click="add_choice()"><i class="fa fa-plus has-text-info is-size-5"></i></a>
      </div>
      <div class="control">
        <input class="input" type="text" disabled placeholder="Bind Choices ID" v-model="el.choicesid">
      </div>
    </div>
    <div v-if="el.choices.length" class="column is-12">
      <div class="control has-text-left">
        <a class="button is-static">Choices Table</a>
      </div>
    </div>
    <div v-if="el.choices.length" class="column is-12">
      <div class="choicescontainer">
        <div class="columns is-multiline">
          <div v-for="(choice, index) in el.choices" :key="choice.id" class="column is-12 choicecontainer">
            <div class="choices_style columns is-multiline">
              <div class="column is-12">
                {{choice.text}}
                <a :id="choice.id" @click="remove_choice(index)"><i class="fa fa-times has-text-danger is-pulled-left"></i></a>
                <a v-if="tempindex !== index" :id="choice.id" @click="edit_choice(index, choice.text, choice.column)"><i class="fa fa-pencil has-text-info is-pulled-right"></i></a>
                <a v-if="tempindex === index" :id="choice.id" @click="save_choice(index)"><i class="fa fa-save has-text-info is-pulled-right"></i></a>
              </div>
              <div v-if="tempindex === index" class="column is-12 field has-addons">
                <p class="control">
                  <a class="button is-static">
                    Text
                  </a>
                </p>
                <input  type="text" class="control input" v-model="temptext">
              </div>
              <div v-if="tempindex === index" class="column is-12 field has-addons">
                <p class="control">
                  <a class="button is-static">
                    Column
                  </a>
                </p>
                <exp-multiselect :openDirection="'top'" track-by="" label="" v-model="tempcolumn" deselectLabel="" selectLabel="" selectedLabel="" :options="['is-2', 'is-3', 'is-4', 'is-5', 'is-6']">
                </exp-multiselect>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import Bus from '../../config/eventhub.js'
export default {
// Setting for tap tap text choices
  name: 'ChoicesTapTap',

  props:
  {
    el: Object
  },
  data () {
    return {
      choice: null,
      choicesidarray: [],
      choiceidcount: 1,
      id: '',
      settingsec: null,
      temptext: null,
      tempcolumn: null,
      tempindex: null,
      tempchoiceid: null
    }
  },
  created () {
    Bus.listen('settingsection', (section) => {
      this.settingsec = section
    })
  },
  methods: {
    add_choice () {
      // let localstore = JSON.parse(localStorage.getItem('dropped'))
      // let availablechoices = localstore[_.findIndex(localstore, {'choiceid': this.el.choiceid})].choices
      if (this.el.choices.length > 0) {
        let maxchoices = _.maxBy(this.el.choices, 'id')
        this.choiceidcount = maxchoices.id + 1
      }
      this.el.choices.push({id: this.choiceidcount, column: 'is-2', text: this.choice, selected: false})
      this.choice = null
      Bus.fire('settings_choicestaptap_addchoice')
    },
    remove_choice (index) {
      this.el.choices.splice(index, 1)
      Bus.fire('settings_choicestaptap_removechoice')
    },
    edit_choice (index, text, column) {
      this.tempindex = index
      this.temptext = text
      this.tempcolumn = column
    },
    save_choice (index) {
      this.el.choices[index].text = this.temptext
      this.el.choices[index].column = this.tempcolumn
      this.tempindex = null
      this.temptext = null
      this.tempcolumn = null
    }
  },
  computed: {
    elchanges: function () {
      return this.el
    }
  },
  watch: {
    elchanges: {
      handler (element) {
        let keys = Object.keys(this.el)
        for (var i = 0; i < keys.length; i++) {
          switch (keys[i]) {
            case 'taps':
              if (element.taps.length > 0 && element.choices.length > 0) {
                _.forEach(element.choicesarray, (object) => {
                  object.bindchoicesid = element.taps[0].bindchoicesid
                })
                this.el.choicesid = element.taps[0].bindchoicesid
              }
              break
              case 'groups':
                if (element.groups.length > 0 && element.choices.length > 0) {
                  _.forEach(element.choicesarray, (object) => {
                    object.bindchoicesid = element.groups[0].bindchoicesid
                  })
                  this.el.choicesid = element.groups[0].bindchoicesid
                }
                break
          }
        }
      },
      deep: true
    }
  }
}

</script>
