<template>
  <div>
    <div>
      <div class="tabs is-boxed">
        <ul>
          <li :class="[tab === 'SVG'? 'is-active': '']">
            <a @click="tabclicked('SVG')">
              <span>SVG</span>
            </a>
          </li>
          <li :class="[tab === 'choices' ? 'is-active': '']">
            <a @click="tabclicked('choices')">
              <span>Choices</span>
            </a>
          </li>
          <li :class="[tab === 'dropAreas' ? 'is-active': '']">
            <a @click="tabclicked('dropAreas')">
              <span>Drop Areas</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div v-if="tab === 'SVG'">
    <p><b>Paste SVG Code</b></p>
    <textarea v-model="el.svg"  rows="5" cols="50" style="width:100%"></textarea>
          <br><br>
          <div v-if="el.svg !== null">
            <p><span style='font-size:22px;margin-left: -15px;'><b>Move SVG</b></span></p>
            <a class="button"  @click="change_viewbox(btn, action, start, speedup, 'up')" ><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
            <a class="button"  @click="change_viewbox('down')" ><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            <a class="button"  @click="change_viewbox('left')" ><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            <a class="button"  @click="change_viewbox('right')" ><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
    <div>
          <hr>
      <p><b>Page Layout</b></p>
      <a class="button is-info is-outlined" @click="change_svgclass('is-2')">Extra Small</a>
      <a class="button is-info is-outlined" @click="change_svgclass('is-3')">Small</a>
      <a class="button is-info is-outlined" @click="change_svgclass('is-4')">Medium</a>
      <a class="button is-info is-outlined" @click="change_svgclass('is-5')">Large</a>
      <a class="button is-info is-outlined" @click="change_svgclass('is-6')">Half-Page</a>
      <a class="button is-info is-outlined" @click="change_svgclass('is-7')">Half-Page+ </a>
      <a class="button is-info is-outlined" @click="change_svgclass('is-8')">Half-Page++ </a>
    </div>
  </div>
  <div v-if="tab === 'dropAreas'">
    <div class="columns">
      <div class="column is-12">
        <span style='font-size:22px;margin-left: -15px;'><b>Drop Area</b></span> <span><a @click="getchoicess()" class="button is-info"><i class="fa fa-repeat"></i></a> </span>
        <div>
          <ul v-if="el.dropAreas.length > 0">
          <li v-for="drop in el.dropAreas" class="column choicecontainer">
              <span class="choicestyle">{{drop.text}}</span>
              <a :id="drop.id" @click="remove_drop(drop.id)"><i class="fa fa-times has-text-danger is-pulled-right removestyle"></i></a>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
    <div v-if="tab === 'choices'">
      <div class="columns">
      <div class="column is-12">
         <span style='font-size:22px;margin-left: -15px;'><b>Choice</b></span>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <b>Text</b>
        <input type="text" class="input" v-model="choice">
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
              <b>Color</b><br><br>
              <div class="column" style="background-color:#dadada;height:100%;">
                <div class="color-group" v-for="colorgroup in colorarray">
                  <a @click="colorpick(color.colorhex, 'choice')" v-for="color in colorgroup.colors" class="color-block" :style="{backgroundColor: color.colorhex}">
                  </a>
              </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <input type="text" class="input" v-model="colors">
        </div>
      </div>
      <div class="columns">
        <div class="column is-12">
        <b>Image Path</b><br>
        <input type="text" class="input" v-model="imagepath"><br><br>
        <a class="button is-info" @click="add_choice()">Add</a>
      </div>
    </div>
      <div v-if="el.choices.length" class="columns">
        <div class="column">
          <span style='font-size:22px;margin-left: -15px;'><b>Choices</b></span><br><br>
             <ul>
               <li v-for="choice in el.choices" class="column choicecontainer">
                <span class="choicestyle">{{choice.text}}</span>
                <a :id="choice.id" @click="remove_choice(choice.id)"><i class="fa fa-times has-text-danger is-pulled-right removestyle"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import interact from 'interactjs'
import Bus from '../../config/eventhub.js'
import {COLORS_OBJECTS} from '@/config/app-config.js'
/* eslint-disable no-useless-escape */

export default {
  name: 'expColoring',
  props:
  {
    el: Object
  },
  data () {
    return {
      settingsec: 'choice',
      tab: null,
      choice: null,
      drop: null,
      svgClass: null,
      colors: '',
      imagepath: null,
      choiceidcount: 1,
      colorarray: COLORS_OBJECTS,
      id: ''
    }
  },
  methods: {
    tabclicked (tab) {
      this.tab = tab
      this.el.settingsec = tab
    },
    colorpick (hex, refs) {
      switch (refs) {
        case 'border':
          break
        case 'bgcolor':
          break
        case 'choice' :
          this.colors = hex
          break
      }
    },
    add_choice () {
    // let localstore = JSON.parse(localStorage.getItem('dropped'))
    // let availablechoices = localstore[_.findIndex(localstore, {'choiceid': this.el.choiceid})].choices
      if (this.el.choices.length > 0) {
        let maxchoices = _.maxBy(this.el.choices, 'id')
        this.choiceidcount = maxchoices.id + 1
      }
      this.el.choices.push({id: this.choiceidcount, text: this.choice, color: this.colors, image: this.imagepath, selected: false})
      this.choice = null
      this.colors = null
      Bus.fire('settings_choicestaptap_addchoice')
    },
    remove_choice (id) {
      for (let i = 0; i < this.el.choices.length; i++) {
        if (this.el.choices[i].id === id) {
          this.el.choices.splice(i, 1)
        }
      }
      // let localstore = JSON.parse(localStorage.getItem('dropped'))
      // let rightarray = _.filter(localstore, 'rightanswer', {'choiceid': this.el.choiceid})
      Bus.fire('settings_choicestaptap_removechoice', this.el.index)
      // rightarray.forEach(function (component) {
      //   if (id === component.rightanswer.id) {
      //     localstore[component.index].rightanswer = null
      //     Bus.fire('settings_choicestaptap_removechoice', component.index)
      //   }
      // })
      // localStorage.setItem('dropped', JSON.stringify(localstore))
    },
    remove_drop (id) {
      let newarray = _.pullAllBy(this.el.dropAreas, [{ 'id': id }], 'id')
      this.el.dropAreas = JSON.parse(JSON.stringify(newarray))
    },
    change_svgclass (value) {
      this.el.svgClass = value
    },
    change_viewbox (btn, action, start, speedup, dir) {
    //   let svg = this.el.svg
      let svg = document.querySelector('.svg-select svg')
      let viewBox = svg.getAttribute('viewBox')
      let arrayViewBox = viewBox.split(/\s+|,/)
      let newarray
      let newsvg
      let arrString
      let s
      let str
      switch (dir) {
        case 'up':
          arrayViewBox[1] = parseInt(arrayViewBox[1]) + 1
          newarray = [arrayViewBox[0], arrayViewBox[1], arrayViewBox[2], arrayViewBox[3]]
          arrString = newarray.join(' ')
          svg.setAttribute('viewBox', arrString)
          newsvg = document.querySelector('.svg-select svg')
          s = new XMLSerializer()
          str = s.serializeToString(newsvg)
          this.el.svg = str
          break
        case 'down':
          arrayViewBox[1] = parseInt(arrayViewBox[1]) - 1
          newarray = [arrayViewBox[0], arrayViewBox[1], arrayViewBox[2], arrayViewBox[3]]
          arrString = newarray.join(' ')
          svg.setAttribute('viewBox', arrString)
          newsvg = document.querySelector('.svg-select svg')
          s = new XMLSerializer()
          str = s.serializeToString(newsvg)
          this.el.svg = str
          break
        case 'left':
          arrayViewBox[0] = parseInt(arrayViewBox[0]) + 1
          newarray = [arrayViewBox[0], arrayViewBox[1], arrayViewBox[2], arrayViewBox[3]]
          arrString = newarray.join(' ')
          svg.setAttribute('viewBox', arrString)
          newsvg = document.querySelector('.svg-select svg')
          s = new XMLSerializer()
          str = s.serializeToString(newsvg)
          this.el.svg = str
          break
        case 'right':
          arrayViewBox[0] = parseInt(arrayViewBox[0]) - 1
          newarray = [arrayViewBox[0], arrayViewBox[1], arrayViewBox[2], arrayViewBox[3]]
          arrString = newarray.join(' ')
          svg.setAttribute('viewBox', arrString)
          newsvg = document.querySelector('.svg-select svg')
          s = new XMLSerializer()
          str = s.serializeToString(newsvg)
          this.el.svg = str
          break
      }
    },
    getchoicess () {
      this.el.dropAreas = JSON.parse(JSON.stringify(this.el.choices))
      interact('.resize-drag')
        .draggable({
          onmove: window.dragMoveListener,
          restrict: {
            restriction: 'parent',
            elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
          }
        })
        .resizable({
          // resize from all edges and corners
          edges: { left: true, right: true, bottom: true, top: true },
          // keep the edges inside the parent
          restrictEdges: {
            outer: 'parent',
            endOnly: true
          },
          // minimum size
          // restrictSize: {
          //   min: { width: 100, height: 50 },
          // },
          inertia: true
        })
        .on('resizemove', function (event) {
          var target = event.target
          var x = (parseFloat(target.getAttribute('data-x')) || 0)
          var y = (parseFloat(target.getAttribute('data-y')) || 0)
          // update the element's style
          target.style.width = event.rect.width + 'px'
          target.style.height = event.rect.height + 'px'
          // translate when resizing from top or left edges
          x += event.deltaRect.left
          y += event.deltaRect.top
          target.style.webkitTransform = target.style.transform = 'translate(' + x + 'px,' + y + 'px)'
          target.setAttribute('data-x', x)
          target.setAttribute('data-y', y)
          target.textContent = Math.round(event.rect.width) + '\u00D7' + Math.round(event.rect.height)
        })
    }
  },
  computed: {
    getBgimage: {
      get: function () {
        if (this.el.bgsrc) {
          return this.el.bgsrc
        } else {
          return this.files.base64
        }
      },
   // setter
      set: function (newValue) {
        return this.el.bgsrc === newValue
      }
    }
  }
}
</script>

<style lang="scss" scoped>


</style>
