<style lang="scss">
.wordtoedit{
  margin-right: 2px;
}
.eachletterbox{
background: linear-gradient(to left, #ccc 1px, transparent 0);
background-size: 49px 1px;
font: 14px monaco, monospace;
letter-spacing: 0px;
text-indent: 21px;
}

</style>

<template lang="html">
<div v-if="el.settingid !== null && settingsec === 'missingletter'">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle is-6">
        Before Text
        </p>
      </div>
      <div class="level-item url">
        <p class="control">
          <input type="text" class="input" v-model="el.missingletter[el.settingid].beforetext">
        </p>
      </div>
    </div>
  </nav>
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle is-6">
        After Text
        </p>
      </div>
      <div class="level-item url">
        <p class="control">
          <input type="text" class="input" v-model="el.missingletter[el.settingid].aftertext">
        </p>
      </div>
    </div>
  </nav>
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle is-6">
        Word:
        </p>
      </div>
      <div class="level-item url">
        <p class="control">
          <div v-if="!(el.missingletter[el.settingid].wordarray.length > 0)">
            <input type="text" v-model="wordtoprocess">
            <a @click="editword()" class="button is-small">Edit Word</a>
          </div>
          <div v-if="(el.missingletter[el.settingid].wordarray.length > 0)">
            <a @click="removeletter(letterright.wordarrayid)" class="wordtoedit" v-for="letterright in el.missingletter[el.settingid].wordarray" :key="letterright.wordarrayid + 'left'"><span v-text="letterright.right"></span></a>
            <span><i class="fa fa-arrows-h"></i></span>
            <span v-for="letterleft in el.missingletter[el.settingid].wordarray" :key="letterleft.wordarrayid + 'right'"><span v-if="letterleft.text !== ''" v-text="letterleft.text"></span><span v-if="letterleft.text === ''"><input :disabled="true" size="5" v-model="letterleft.text" maxlength="1" class="eachletterbox" type="text"><a @click="undoletter(letterleft.wordarrayid)"><i class="fa fa-times has-text-danger"></i></a></span></span>
            <a @click="backtotypeword()" class="button is-small">Back</a>
          </div>
        </p>
      </div>
    </div>
  </nav>
</div>
</template>

<script>
import Bus from '../../config/eventhub.js'
import _ from 'lodash'
export default {
  name: 'missingletter',
  props: {
    el: Object
  },
  data () {
    return {
      wordtoprocess: null,
      wordview: true,
      settingsec: null
    }
  },
  created () {
    Bus.listen('settingsection', (section) => {
      this.settingsec = section
    })
  },
  mounted () {
    if (this.el.settingid !== null) {
      if (this.el.missingletter[this.el.settingid].wordarray.length > 0) {
        this.wordview = false
      }
    }
  },
  methods: {
    // Edit word to remove missing letters
    editword () {
      this.el.missingletter[this.el.settingid].wordarray = []
      this.wordview = false
      for (var i = 0; i < this.wordtoprocess.length; i++) {
        this.el.missingletter[this.el.settingid].wordarray.push({
          wordarrayid: (i + 1),
          text: this.wordtoprocess[i],
          missing: false,
          right: this.wordtoprocess[i],
          righticon: false,
          wrongicon: false
        })
      }
      this.wordtoprocess = null
    },
    // Remove clicked letter from the word and add it as missing letter
    removeletter (id) {
      let lettertoremove = this.el.missingletter[this.el.settingid].wordarray[_.findIndex(this.el.missingletter[this.el.settingid].wordarray, {'wordarrayid': id})]
      lettertoremove.missing = true
      lettertoremove.text = ''
    },
    // Undo missing letter
    undoletter (id) {
      let lettertoundo = this.el.missingletter[this.el.settingid].wordarray[_.findIndex(this.el.missingletter[this.el.settingid].wordarray, {'wordarrayid': id})]
      lettertoundo.missing = false
      lettertoundo.text = lettertoundo.right
    },
    backtotypeword () {
      let tempword = _(this.el.missingletter[this.el.settingid].wordarray).map(function (item) {
        if (item.text.length > 0) {
          return item.text
        } else {
          return item.right
        }
      }).join('')
      this.wordtoprocess = tempword
      this.el.missingletter[this.el.settingid].wordarray = []
    }
  }
}

</script>
