<template>
  <div>
    <trumbowyg v-model="el.rubric" :config="config" class="form-control"></trumbowyg>
  </div>
</template>

<script>
/* eslint-disable no-useless-escape */
export default {

  name: 'BodyA',

  components: {
  },
  props:
  {
    el: Object
  },

  data () {
    return {
      files: [],
      content: '',
      config: {
        btns: [
       ['viewHTML'],
       ['undo', 'redo'], // Only supported in Blink browsers
       ['formatting'],
       ['strong', 'em', 'del'],
       ['superscript', 'subscript'],
       ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
       ['unorderedList', 'orderedList'],
       ['horizontalRule'],
       ['removeformat'],
       ['foreColor', 'backColor'],
       ['fontsize'],
       ['template']
        ],
        plugins: {
          templates: [
            {
              name: 'Rubric 1',
              html: '<p class=\"rubric1\"><span>Get ready!<\/span><\/p>\r\n<p class=\"rubricText1\"><span class=\"rubricCircle1\">1<\/span>  Before you read the passage, talk about these questions. Use the HELP button to compare your answers.<\/p>'
            }
          ]
        },
        autogrowOnEnter: true
      }
    }
  },
  computed: {
    getBgimage: {
      get: function () {
        if (this.el.bgsrc) {
          return this.el.bgsrc
        } else {
          return this.files.base64
        }
      },
   // setter
      set: function (newValue) {
        return this.el.bgsrc === newValue
      }
    }
  },
  methods: {
    getFiles (files) {
      this.el.bgsrc = null
      this.files = files
    }
  }
}

</script>

<style lang="scss" scoped>


</style>
