<style lang="scss" scoped>

.url {
    width: 270px;
}

.caption {
    width: 290px;
}

</style>

<template>

<div class="columns is-multiline" v-if="el.settingindex !== null && el.settingtab === 'tapinput'">
    <div class="column is-12 field has-addons">
        <p class="control">
            <a class="button is-static">
            Right Answer
          </a>
        </p>
        <p class="control">
            <exp-field>
                <exp-multiselect track-by="id" label="text" v-model="el.taps[el.settingindex].rightanswer" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :allow-empty="false" :options="el.choices">
                </exp-multiselect>
            </exp-field>
        </p>
    </div>
    <div class="column is-12 field has-addons">
        <p class="control">
            <a class="button is-static">
            Tap Input Layout
          </a>
        </p>
        <p class="control">
            <input type="text" class="input" v-model="el.taps[el.settingindex].tapinput">
        </p>
    </div>
    <div class="column is-12 field has-addons">
        <p class="control">
            <a class="button is-static">
          Column
        </a>
        </p>
        <exp-multiselect :openDirection="'top'" track-by="" label="" v-model="tempcolumn" deselectLabel="" selectLabel="" @input="tapcolumn()" selectedLabel="" :options="['is-2', 'is-3', 'is-4', 'is-5', 'is-6', 'is-7', 'is-8', 'is-9', 'is-10', 'is-11', 'is-12']">
        </exp-multiselect>
    </div>
    <div class="column is-12 field has-addons">
        <p class="control">
            <a class="button is-static">
          Text Before Input
        </a>
        </p>
        <p class="control">
            <input type="text" class="input" v-model="el.taps[el.settingindex].beforetext">
        </p>
    </div>
    <div class="column is-12 field has-addons">
        <p class="control">
            <a class="button is-static">
          Text After Input
        </a>
        </p>
        <p class="control">
            <input type="text" class="input" v-model="el.taps[el.settingindex].aftertext">
        </p>
    </div>
    <div class="column is-12 field has-addons">
        <p class="control">
            <exp-checkbox type="text" class="checkbox" v-model="el.taps[el.settingindex].capitalize">Capitalize</exp-checkbox>
        </p>
    </div>
    <div class="column is-12 field has-addons">
        <p class="control">
            <exp-checkbox type="text" class="checkbox" @input="changechoicemulitple()" v-model="el.taps[el.settingindex].choicemultiple">Choice Multiple</exp-checkbox>
        </p>
    </div>
</div>

</template>

<script>

import Bus from '@/config/eventhub.js'
import some from 'lodash/some'
import findIndex from 'lodash/findIndex'
export default {
    // Setting for each tap tap ui component
    name: 'TapTap',
    props: {
        el: Object
    },

    data() {
        return {
            choicescomponents: [],
            righanswersobj: [],
            settingsec: null,
            tempcolumn: null
        }
    },
    created() {
        Bus.listen('settings_choicestaptap_removechoice', () => {
            for (var i = 0; i < this.el.taps.length; i++) {
                if (this.el.taps[i].rightanswer !== null) {
                    if (findIndex(this.el.choices, {
                            'id': this.el.taps[i].rightanswer.id
                        }) === -1) {
                        this.el.taps[i].rightanswer = null
                    }
                }
            }
        })
        Bus.listen('settingsection', (section) => {
            this.settingsec = section
        })
    },
    mounted() {
        if (this.el.taps.length > 0 && this.el.settingindex > 0) {
            this.tempcolumn = this.el.taps[this.el.settingindex].column
            if (this.el.taps[this.el.settingindex].bindchoicesid) {
                let localstore = JSON.parse(localStorage.getItem('dropped'))
                for (var i = 0; i < localstore.length; i++) {
                    if (localstore[i].choicesid === this.el.taps[this.el.settingindex].bindchoicesid) {
                        this.righanswersobj = localstore[i].choices
                    }
                }
            }
        }
    },
    methods: {
    // Select the right choices id
    select_choicesid() {
            let localstore = JSON.parse(localStorage.getItem('dropped'))
            for (var i = 0; i < localstore.length; i++) {
                if (!(some(this.choicescomponents, {
                        'id': localstore[i].choiceid
                    }))) {
                    this.choicescomponents.push({
                        id: localstore[i].choiceid
                    })
                }
            }
        },
        // Retrieve all available rightanswers from JSON
        available_rightanswers(id) {
            let localstore = JSON.parse(localStorage.getItem('dropped'))
            for (var i = 0; i < localstore.length; i++) {
                this.righanswersobj = localstore[i].choices
            }
        },
        // change choice multiple flag for all taps
        changechoicemulitple(value) {
            for (var i = 0; i < this.el.taps.length; i++) {
                this.el.taps[i].choicemultiple = this.el.taps[this.el.settingindex].choicemultiple
            }
        },
        tapcolumn() {
          this.el.taps[this.el.settingindex].column = this.tempcolumn
        }
    },
    computed: {
      elchangeindex: function () {
        return this.el.settingindex
      }
    },
    watch:{
      elchangeindex: {
        handler (element) {
          if (element !== null) {
            if (this.el.taps[this.el.settingindex].column !== undefined && this.el.taps[this.el.settingindex].column !== null) {
              this.tempcolumn = this.el.taps[this.el.settingindex].column
            } else {
              this.tempcolumn = null
            }
          }
        }
      }
    }
}

</script>
