<template>
  <div v-if="el.settingid !== null && settingsec === 'taptaponchange'">
    <nav class="level">
      <div class="level-center">
        <div class="level-item">
          <span>Choices</span>
        </div>
      </div>
    </nav>
    <nav class="level">
      <div class="level-center">
        <div class="level-item">
          <ul>
            <li v-for="choice in choicesonchange" :key="choice.bindid">
              <div class="choicestyle">
                {{choice.beforetext}}
                <span v-if="choice.haschange">
                  <i class="fa fa-arrow-right" style="font-size: 17px; margin-right: 5px;"></i>{{choice.text}}
                </span>
              </div>
              <div v-if="choice.haschange">
                <a class="button" @click="edit_onchangevalue(choice.bindid)">Edit</a>
              </div>
              <div v-if="!choice.haschange" class="field has-addons">
                <div class="control">
                <input class="input" type="text" v-model="choice.text" placeholder="Changed Text">
                </div>
                <div class="control">
                  <a class="button" @click="add_onchangevalue(choice.bindid, choice.text, choice.beforetext)">Save</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-6">
          Right Answer
          </p>
        </div>
        <div class="level-item url">
          <p class="control">
            <exp-field>
              <exp-multiselect track-by="id" label="text" v-model="el.taponchange[el.settingid].rightanswer" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :allow-empty="false" :options="el.choices">
              </exp-multiselect>
            </exp-field>
          </p>
        </div>
      </div>
    </nav>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-6">
            Tap Input Layout
          </p>
        </div>
        <div class="level-item caption">
          <p class="control">
            <input type="text" class="input" v-model="el.taponchange[el.settingid].tapinput">
          </p>
        </div>
      </div>
    </nav>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-6">
            Text Before Input
          </p>
        </div>
        <div class="level-item caption">
          <p class="control">
            <input type="text" class="input" v-model="el.taponchange[el.settingid].beforetext">
          </p>
        </div>
      </div>
    </nav>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-6">
            Text After Input
          </p>
        </div>
        <div class="level-item caption">
          <p class="control">
            <input type="text" class="input" v-model="el.taponchange[el.settingid].aftertext">
          </p>
        </div>
      </div>
    </nav>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-6">
            Capitalize
          </p>
        </div>
        <div class="level-item caption">
          <label class="checkbox">
            Capitalize: <input v-model="el.taponchange[el.settingid].capitalize" type="checkbox">
          </label>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import Bus from '../../config/eventhub.js'
import _ from 'lodash'
export default {

  name: 'TapTapOnChange',

  props:
  {
    el: Object
  },

  data () {
    return {
      choicescomponents: [],
      righanswersobj: [],
      choicesonchange: [],
      inputchange: [],
      enableinput: true,
      settingsec: null
    }
  },
  created () {
    Bus.listen('settings_choicestaptap_removechoice', (index) => {
      this.clearondelete()
    })
    Bus.listen('settings_choicestaptap_addchoice', (index) => {
      this.fillchoicesarray()
    })
    Bus.listen('onchangewithbg_addtaptaponchange', () => {
      this.fillchoicesarray()
    })
    Bus.listen('settingsection', (section) => {
      this.settingsec = section
      this.fillchoicesarray()
    })
  },
  mounted () {
    this.fillchoicesarray()
  },
  methods: {
    select_choicesid () {
      let localstore = JSON.parse(localStorage.getItem('dropped'))
      for (var i = 0; i < localstore.length; i++) {
        if (localstore[i].key === 'choicestaptap') {
          this.choicescomponents.push({id: localstore[i].choicesid})
        }
      }
    },
    available_rightanswers (id) {
      let localstore = JSON.parse(localStorage.getItem('dropped'))
      for (var i = 0; i < localstore.length; i++) {
        if (localstore[i].key === 'choicestaptap') {
          if (localstore[i].choicesid === id) {
            this.righanswersobj = localstore[i].choices
            for (var j = 0; j < localstore[i].choices.length; j++) {
              this.choicesonchange.push({bindid: localstore[i].choices[j].id, beforetext: localstore[i].choices[j].text, text: '', haschange: false})
            }
          }
        }
      }
    },
    add_onchangevalue (id, value, beforetext) {
      let array = []
      if (value.length > 0) {
        array = JSON.parse(JSON.stringify(this.el.taponchange[this.el.settingid].inputchange))
        array.push({bindid: id, beforetext: beforetext, text: value, haschange: true})
        this.el.taponchange[this.el.settingid].inputchange = array
      }
      this.fillchoicesarray()
    },
    edit_onchangevalue (id) {
      let array = []
      array = JSON.parse(JSON.stringify(this.el.taponchange[this.el.settingid].inputchange))
      let index = _.findIndex(array, {'bindid': id})
      array.splice(index, 1)
      this.el.taponchange[this.el.settingid].inputchange = array
      this.fillchoicesarray()
    },
    fillchoicesarray () {
      this.choicesonchange = []

      if (this.el.choices.length > 0) {
        let choicesarray = JSON.parse(JSON.stringify(this.el.choices))
        for (var i = 0; i < choicesarray.length; i++) {
          this.choicesonchange.push({bindid: choicesarray[i].id, beforetext: choicesarray[i].text, text: '', haschange: false})
        }
        if (this.el.settingid !== null && this.el.taponchange.length > 0) {
          if (this.el.taponchange[this.el.settingid].inputchange.length > 0) {
            let inputchangearray = JSON.parse(JSON.stringify(this.el.taponchange[this.el.settingid].inputchange))
            for (var j = 0; j < inputchangearray.length; j++) {
              for (var w = 0; w < this.choicesonchange.length; w++) {
                if (this.choicesonchange[w].bindid === inputchangearray[j].bindid && this.choicesonchange[w].beforetext === inputchangearray[j].beforetext) {
                  this.choicesonchange[w].haschange = true
                  this.choicesonchange[w].text = inputchangearray[j].text
                }
              }
            }
          }
        }
      }
    },
    clearondelete () {
      let taponchangearray = JSON.parse(JSON.stringify(this.el.taponchange))
      if (this.el.choices.length > 0) {
        let choicesarray = JSON.parse(JSON.stringify(this.el.choices))
        if (taponchangearray.length > 0) {
          for (var j = 0; j < taponchangearray.length; j++) {
            let updatedchoices = []
            for (var i = 0; i < choicesarray.length; i++) {
              updatedchoices.push({
                bindid: choicesarray[i].id,
                beforetext: choicesarray[i].text,
                text: '',
                haschange: false
              })
            }
            let tempinputchange = JSON.parse(JSON.stringify(taponchangearray[j].inputchange))
            for (var w = 0; w < updatedchoices.length; w++) {
              for (var x = 0; x < tempinputchange.length; x++) {
                if (tempinputchange[x].bindid === updatedchoices[w].bindid && tempinputchange[x].beforetext === updatedchoices[w].beforetext) {
                  updatedchoices[w].text = tempinputchange[x].text
                }
              }
            }
            taponchangearray[j].inputchange = updatedchoices
          }
          this.el.taponchange = taponchangearray
        }
      } else {
        for (var k = 0; k < taponchangearray.length; k++) {
          taponchangearray[k].inputchange = []
        }
        this.el.taponchange = taponchangearray
      }
      this.fillchoicesarray()
    }
  },
  computed: {
    taptaponchangesetting: function () {
      return this.el
    }
  },
  watch: {
    taptaponchangesetting: {
      handler (element) {
        this.el = element
      },
      deep: true
    }
  }
}

</script>

<style lang="scss" scoped>

.url {
  width: 270px;
}
.caption {
  width: 290px;
}

</style>
