<style lang="scss" scoped>
</style>

<template lang="html">
  <div class="columns is-multiline">
    <div class="column is-12">
      <exp-checkprimary :el="el"></exp-checkprimary>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Checkprimary',
  props: {
    el: Object
  },
  data () {
    return {
    }
  },
  created () {
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
      },
      deep: true
    }
  }
}

</script>
