<template>
  <figure class='book'>
    <ul class='hardcover_front'>
      <li>
        <img :src="this.bookcover" alt="" width="100%" height="100%">
      </li>
      <li></li>
    </ul>
    <ul class='page'>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class='hardcover_back'>
      <li></li>
      <li></li>
    </ul>
    <ul class='book_spine'>
      <li></li>
      <li></li>
    </ul>
    <figcaption>
      <h1 :style="el.title.textstyle">{{el.title.text}}</h1>
      <span :style="el.subtitle.textstyle">{{el.subtitle.text}}</span>
      <p style="word-break: break-all" v-html="el.maintext.text"></p>
    <div class="column addbtn">
      <button @click="nextpage()">
          <span><i class="fa fa-arrow-circle-right"></i></span>
          <span>next</span>
      </button>
    </div>
    </figcaption>
  </figure>
</template>

<script>
// import TOC from '@/router/toc.json'
// import bookcover from '@/assets/img/demo_images/i5.jpg'
export default {
  name: 'intropage',
  props:{
    el: Object
  },
  data () {
    return {
      bookcover: null
    }
  },
  methods: {
    nextpage () {
      // let pageid = this.$route.params.id
      // if (pageid === undefined) {
      //   let tocIndex = _.findIndex(TOC, {'url': pageid })
      //   let pageurl = TOC[tocIndex+2].url
      //   this.$router.push({ path: '/' + pageurl})
      // } else {
      //   let tocIndex = _.findIndex(TOC, {'url': pageid })
      //   let pageurl = TOC[tocIndex+1].url
      //   this.$router.push({ path: '/' + pageurl})
      // }
    }
  }
}
</script>
<style lang="scss" scoped>
.book {
  position: relative;
  width: 270px;
  height: 340px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin: 20px 0 20px 63px
}

.hardcover_front li {
  &:first-child {
    background-color: #eee;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &:last-child {
    background: #fffbec;
  }
}

.hardcover_back li {
  &:first-child, &:last-child {
    background: #fffbec;
  }
}


.book_spine li {
  &:first-child {
    background: #eee;
  }
  &:last-child {
    background: #333;
  }
}


.hardcover_front li {
  &:first-child {
    &:after, &:before {
      background: #999;
    }
  }
  &:last-child {
    &:after, &:before {
      background: #999;
    }
  }
}

.hardcover_back li {
  &:first-child {
    &:after, &:before {
      background: #999;
    }
  }
  &:last-child {
    &:after, &:before {
      background: #999;
    }
  }
}

.book_spine li {
  &:first-child {
    &:after, &:before {
      background: #999;
    }
  }
  &:last-child {
    &:after, &:before {
      background: #999;
    }
  }
}

.page > li {
  background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
  border-radius: 0px 5px 5px 0px;
}

.hardcover_front {
  -webkit-transform: rotateY(-34deg) translateZ(8px);
  -moz-transform: rotateY(-34deg) translateZ(8px);
  transform: rotateY(-34deg) translateZ(8px);
  z-index: 100;
}

.hardcover_back {
  -webkit-transform: rotateY(-15deg) translateZ(-8px);
  -moz-transform: rotateY(-15deg) translateZ(-8px);
  transform: rotateY(-15deg) translateZ(-8px);
}

.page li {
  &:nth-child(1) {
    -webkit-transform: rotateY(-28deg);
    -moz-transform: rotateY(-28deg);
    transform: rotateY(-28deg);
  }
  &:nth-child(2) {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
  }
  &:nth-child(3) {
    -webkit-transform: rotateY(-32deg);
    -moz-transform: rotateY(-32deg);
    transform: rotateY(-32deg);
  }
  &:nth-child(4) {
    -webkit-transform: rotateY(-34deg);
    -moz-transform: rotateY(-34deg);
    transform: rotateY(-34deg);
  }
  &:nth-child(5) {
    -webkit-transform: rotateY(-36deg);
    -moz-transform: rotateY(-36deg);
    transform: rotateY(-36deg);
  }
}

.hardcover_front, .hardcover_back, .book_spine, .hardcover_front li, .hardcover_back li, .book_spine li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hardcover_front, .hardcover_back {
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.hardcover_front {
  -webkit-transition: all 0.8s ease, z-index 0.6s;
  -moz-transition: all 0.8s ease, z-index 0.6s;
  transition: all 0.8s ease, z-index 0.6s;
  li {
    &:first-child {
      cursor: default;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      -webkit-transform: translateZ(2px);
      -moz-transform: translateZ(2px);
      transform: translateZ(2px);
    }
    &:last-child {
      -webkit-transform: rotateY(180deg) translateZ(2px);
      -moz-transform: rotateY(180deg) translateZ(2px);
      transform: rotateY(180deg) translateZ(2px);
    }
  }
}

.hardcover_back li {
  &:first-child {
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
  }
  &:last-child {
    -webkit-transform: translateZ(-2px);
    -moz-transform: translateZ(-2px);
    transform: translateZ(-2px);
  }
}

.hardcover_front li {
  &:first-child {
    &:after, &:before {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &:last-child {
    &:after, &:before {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.hardcover_back li {
  &:first-child {
    &:after, &:before {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &:last-child {
    &:after, &:before {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.book_spine li {
  &:first-child {
    &:after, &:before {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &:last-child {
    &:after, &:before {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.hardcover_front li {
  &:first-child {
    &:after, &:before {
      width: 4px;
      height: 100%;
    }
    &:after {
      -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
      -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
      transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    }
    &:before {
      -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
      -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
      transform: rotateY(90deg) translateZ(158px) translateX(2px);
    }
  }
  &:last-child {
    &:after, &:before {
      width: 4px;
      height: 160px;
    }
    &:after {
      -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
      -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
      transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
    }
    &:before {
      box-shadow: 0px 0px 30px 5px #333;
      -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
      -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
      transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
    }
  }
}
.hardcover_back li {
  &:first-child {
    &:after, &:before {
      width: 4px;
      height: 100%;
    }
    &:after {
      -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
      -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
      transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    }
    &:before {
      -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
      -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
      transform: rotateY(90deg) translateZ(158px) translateX(2px);
    }
  }
  &:last-child {
    &:after, &:before {
      width: 4px;
      height: 160px;
    }
    &:after {
      -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
      -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
      transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
    }
    &:before {
      box-shadow: 10px -1px 80px 20px #666;
      -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
      -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
      transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
    }
  }
}
.book_spine {
  -webkit-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
  -moz-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
  transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
  width: 24px;
  z-index: 0;
  li {
    &:first-child {
      -webkit-transform: translateZ(1px);
      -moz-transform: translateZ(1px);
      transform: translateZ(1px);
    }
    &:first-child {
      &:after, &:before {
        width: 4px;
        height: 100%;
      }
      &:after {
        -webkit-transform: rotateY(90deg) translateZ(1px) translateX(1px);
        -moz-transform: rotateY(90deg) translateZ(1px) translateX(1px);
        transform: rotateY(90deg) translateZ(1px) translateX(1px);
      }
      &:before {
        -webkit-transform: rotateY(-90deg) translateZ(-10px);
        -moz-transform: rotateY(-90deg) translateZ(-10px);
        transform: rotateY(-90deg) translateZ(-10px);
      }
    }
    &:last-child {
      &:after, &:before {
        width: 4px;
        height: 16px;
      }
      &:after {
        -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
        -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
        transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
      }
      &:before {
        box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
        -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
        -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
        transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
      }
    }
  }
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  > li {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
    &:nth-child(1), &:nth-child(2) {
      -webkit-transition-duration: 0.6s;
      -moz-transition-duration: 0.6s;
      transition-duration: 0.6s;
    }
    &:nth-child(3) {
      -webkit-transition-duration: 0.4s;
      -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }
    &:nth-child(4) {
      -webkit-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s;
    }
    &:nth-child(5) {
      -webkit-transition-duration: 0.6s;
      -moz-transition-duration: 0.6s;
      transition-duration: 0.6s;
    }
  }
  width: 100%;
  height: 98%;
  top: 1%;
  left: 3%;
  z-index: 10;
}
/* figcaption */

figcaption {
  padding-left: 140px;
  text-align: left;
  position: absolute;
  top: 0%;
  left: 160px;
  width: 700px;
  -webkit-backface-visibility: hidden;
  h1 {
    margin: 0;
    font-size: 32px;
  }
  span {
    color: #16a085;
    padding: 0.6em 0 1em 0;
  }
  p {
    color: #63707d;
    line-height: 1.3;
  }
}

.addbtn {
  .button {
    border-radius: 50%;
    font-weight: bolder;
    color: #808DB0;
    margin: 15px;
    border-color: #808DB0;
    background-color: #303E61;
  }
  button {
    -webkit-transition: all 450ms cubic-bezier(0.4, 0.25, 0.3, 1.3);
    transition: all 450ms cubic-bezier(0.4, 0.25, 0.3, 1.3);
    height: 40px;
    color: #808DB0;
    border: 1px solid #808DB0;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    margin-left: 100px;
    background-color: transparent;
    margin-top: 0px;
    margin-left: 450px;
    width: 140px;
    border-radius: 0;
    span {
      -webkit-transition: all 400ms cubic-bezier(0.4, 0.25, 0.3, 1.3) 100ms;
      transition: all 400ms cubic-bezier(0.4, 0.25, 0.3, 1.3) 100ms;
      font-size: 1.5rem;
      font-weight: 900;
      vertical-align: middle;
      padding: 0;
    }
  }
}
</style>
<style src="quill/dist/quill.snow.css"></style>
