<style lang="scss">
</style>

<template lang="html">
<div class="columns is-mobile">
  <div class="column is-12">
    <h1 :style="el.textarray[0].textstyle">{{el.textarray[0].text}}</h1>
    <p :style="[el.bgobject, {backgroundImage: bgimage}]" style="word-break: normal" v-html="el.maintext.text"></p>
  </div>
</div>
</template>

<script>
import { MEDIAENDPOINT } from '@/config/app-config.js'
export default {
  name: 'studyskill',
  props: {
    el: Object
  },
  data () {
    return {
      bgimage: null,
      mediafile : MEDIAENDPOINT,
    }
  },
  mounted () {
    let querypackage = null
    if (this.$route === undefined) {
      querypackage = new URL(window.location.href).searchParams.get('package')
    } else {
      querypackage = this.$route.query.package
    }
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + querypackage + '/' + this.el.bgobject.backgroundImage + ')'
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        let querypackage = null
        if (this.$route === undefined) {
          querypackage = new URL(window.location.href).searchParams.get('package')
        } else {
          querypackage = this.$route.query.package
        }
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + querypackage + '/' + element.bgobject.backgroundImage + ')'
        }
        this.$forceUpdate()
      },
      deep: true
    },
  }
}

</script>
