<style lang="scss">
</style>
<template lang="html">
<div>
  <div class="columns is-mobile" :style="[el.bgobject, {backgroundImage: bgimage}]">
    <div class="column is-12">
      <h1 :style="el.textarray[0].textstyle">{{el.textarray[0].text}}</h1>
      <div class="columns is-multiline is-mobile is-paddingless">
        <div class="column is-6">
          <div class="columns is-multiline is-mobile is-paddingless">
            <p :style="[el.maintext.textstyle, {backgroundImage: maintextbgimage}]" class="column is-12" v-if = "el.maintext.text.length > 0 && index < el.splitnumber" v-for="(htmltext, index) in el.maintext.text" :key="index"><span  :style="[(el.maintext.bulletstyle === 'triagnum') ? {borderLeftColor: el.maintext.bulletcolor} : { borderColor: el.maintext.bulletcolor}]" :class="el.maintext.bulletstyle">{{index + 1}}</span><span :style="{wordBreak: 'normal'}" v-html="htmltext"></span></p>
          </div>
        </div>
        <div class="column is-6">
          <div class="columns is-multiline is-mobile is-paddingless">
            <p :style="[el.maintext.textstyle, {backgroundImage: maintextbgimage}]" class="column is-12" v-if = "el.maintext.text.length > 0 && index >= el.splitnumber" v-for="(htmltext, index) in el.maintext.text" :key="index"><span :style="[(el.maintext.bulletstyle === 'triagnum') ? {borderLeftColor: el.maintext.bulletcolor} : { borderColor: el.maintext.bulletcolor}]" :class="el.maintext.bulletstyle">{{index + 1}}</span><span :style="{wordBreak: 'normal'}" v-html="htmltext"></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { MEDIAENDPOINT } from '@/config/app-config.js'
export default {
  name: 'textparagraph',
  props: {
    el: Object
  },
  data () {
    return {
      bgimage: null,
      mediafile : MEDIAENDPOINT,
      maintextbgimage: null
    }
  },
  mounted () {
    let querypackage = null
    if (this.$route === undefined) {
      querypackage = new URL(window.location.href).searchParams.get('package')
    } else {
      querypackage = this.$route.query.package
    }
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + querypackage + '/' + this.el.bgobject.backgroundImage + ')'
    }
    if (this.el.maintext.textstyle.backgroundImage !== undefined) {
      this.maintextbgimage = 'url(' + MEDIAENDPOINT + querypackage + '/' + this.el.maintext.textstyle.backgroundImage + ')'
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        let querypackage = null
        if (this.$route === undefined) {
          querypackage = new URL(window.location.href).searchParams.get('package')
        } else {
          querypackage = this.$route.query.package
        }
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + querypackage + '/' + element.bgobject.backgroundImage + ')'
        }
        if (element.maintext.textstyle.backgroundImage !== undefined && element.maintext.textstyle.backgroundImage !== null && element.maintext.textstyle.backgroundImage !== '') {
          this.maintextbgimage = 'url(' + MEDIAENDPOINT + querypackage + '/' + element.maintext.textstyle.backgroundImage + ')'
        }
        this.$forceUpdate()
      },
      deep: true
    },
  }
}

</script>
