<template>
<div class="ui">
  <aside class="ui__sidebar">
    <ul class="file-tree">
      <li class="file-tree__item" v-for="pack in packages" :key="pack.pid">
        <div @click="getMedia(pack.pid)" class="folder">{{ pack.packagename }}</div>
      </li>
    </ul>
  </aside>
  <main class="ui__main">

    <div class="ui__menu">
      <!-- <a href="javascript:void(0);" class="ui__btn sidebar-toggle" @click="togglesidebar"></a> -->
      <a href="javascript:void(0);" @click="openupload" data-modal="upload-modal" class="ui__btn upload-btn"></a>

        <div class="column is-one-third">
        <exp-field >
          <exp-multiselect v-model="types"
            track-by="value"
            label="name"
            placeholder="Select one"
            :searchable="false"
            :allow-empty="false"
            @input="filter(types)"
            :options="sortoptions">
          </exp-multiselect>
        </exp-field>
      </div>
      <div class="column is-one-third">
          <exp-input @input="search(textsearch)" v-model="textsearch" placeholder="Search"></exp-input>
    </div>
      <a href="javascript:void(0);" @click="hidesidebar()" class="ui__btn options-toggle pull-right"></a>
    </div>
    <!-- /.ui__menu -->

    <div class="ui__info info-modal" id="upload-modal">
      <h2>Upload</h2>
      <uploader v-if="flag" :options="options" class="uploader-example" ref="uploader" @file-complete="fileComplete" @complete="complete">
        <uploader-unsupport></uploader-unsupport>
        <uploader-drop>
          <uploader-btn :attrs="attrs">select images</uploader-btn>
          <uploader-btn :attrs="attrsaudio">select audios</uploader-btn>
          <uploader-btn :attrs="attrsvideo">select videos</uploader-btn>
        </uploader-drop>
        <uploader-list></uploader-list>
      </uploader>
    </div>
    <table class="file-list" id="file-table">
      <thead>
        <tr class="file-list__header">
          <th>ID</th>
          <th>Name</th>
          <th>Thumbnail</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="m in media" class="file-list__file" :key='m.id' v-clipboard:copy="m.filename" v-clipboard:success="onCopy">
          <td>{{m.id}}</td>
          <td>{{m.filename}}</td>
          <td v-if="m.media_type.includes('image')"><img style="max-height: 100px;max-width:100px;" :src="mediafile + pid + '/' + m.filename " /></td>
          <td v-if="m.media_type.includes('audio')"><audio controls><source :src="mediafile + pid + '/' + m.filename" type="audio/mpeg"></audio></td>
          <td v-if="m.media_type.includes('video')"><video width="220" height="240" controls><source :src="mediafile + pid + '/' + m.filename" type="video/mp4"></video></td>
          <td>{{m.media_type}}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination__footer">
      <pagination :current="pagination.current" :total="pagination.total" :itemsPerPage="pagination.itemsPerPage" :onChange="onChange" :step="3">
      </pagination>
    </div>
  </main>
</div>
</template>
<script>
// import axios from 'axios'
import $ from 'jquery'
import debounce from 'lodash/debounce'
import Bus from '@/config/eventhub.js'
import {
  // APIENDPOINT,
  MEDIAENDPOINT
} from '@/config/app-config'

// let getCookie = (cname) => {
//   let name = cname + '='
//   let decodedCookie = decodeURIComponent(document.cookie)
//   let ca = decodedCookie.split(';')
//   for (let i = 0; i < ca.length; i++) {
//     let c = ca[i]
//     while (c.charAt(0) === ' ') {
//       c = c.substring(1)
//     }
//     if (c.indexOf(name) === 0) {
//       return c.substring(name.length, c.length)
//     }
//   }
//   return ''
// }
// let sess = JSON.parse(window.localStorage.getItem('expUser'))
// if (sess) {
//   sess = JSON.parse(window.localStorage.getItem('expUser')).session
// } else {
//   sess = ''
// }

let pagination = {
  current: 1,
  total: 0,
  itemsPerPage: 5
}
export default {
  name: 'fileGallery',
  props: ['pck'],
  data () {
    return {
      mediafile: MEDIAENDPOINT,
      packages: null,
      media: null,
      pid: null,
      pagination: pagination,
      // counter: this.pck,
      counter: null,
      textsearch: null,
      flag: false,
      filtered: '%',
      sortoptions: [
        { name: 'All', value: '%' },
        { name: 'Images', value: 'image' },
        { name: 'Audios', value: 'audio' },
        {name: 'Videos', value: 'video'}
      ],
      types: { name: 'All', value: 'all' },
      loadedfiles: {},
      options: {
        target: '//localhost:3000/mediaupload/upload',
        withCredentials: true,
        query: {
          package: this.pck
        },
        testChunks: true,
        chunkSize: 1024 * 1024,
        // headers: {
        //   'Authorization': 'JWT' + ' ' + getCookie('token'),
        //   'Access-Control-Allow-Origin': '*',
        //   'Session': sess
        // },
        simultaneousUploads: 1
      },
      attrs: {
        accept: 'image/*'
      },
      attrsvideo: {
        accept: 'video/*'
      },
      attrsaudio: {
        accept: 'audio/*'
      }
    }
  },
  mounted () {
    this.counter = this.pck
    this.getMedia(this.counter)
  },
  methods: {
    search: debounce(function () {
      let p = this.textsearch
      if (p) {
        this.$http.get('mediaupload/gallery/getfilebyname', {
          params: {
            pid: this.pid,
            limit: 5,
            page: 0,
            filename: this.textsearch,
            typefile: this.filtered
          }
        })
          .then(response => {
            this.media = response.data.media
            this.pagination.total = response.data.count
          })
          .catch(function (error) {
            console.log(error)
          })
      } else {
        this.getMedia(this.counter)
      }
    }, 500),
    onCopy: function (e) {
      $(e.trigger).addClass('active').siblings().removeClass('active')
    },
    complete () {
      this.getMedia(this.counter)
    },
    fileComplete () {
      console.log('file complete', arguments)
    },
    filter (type) {
      this.$http.get('mediaupload/gallery/filteredmedia', {
        params: {
          pid: this.pid,
          limit: 5,
          page: 0,
          typefile: this.filtered
        }
      })
      .then(response => {
        this.media = response.data.media
        this.pagination.total = response.data.count - 1
      })
      .catch(function (error) {
        console.log(error)
      })
    },
    onChange (page) {
      let offset
      if (page === 1) {
        offset = 0
      } else {
        offset = (page - 1) * this.pagination.itemsPerPage
      }
      let p = this.textsearch
      if (p) {
        this.$http.get('mediaupload/gallery/getfilebyname', {
          params: {
            pid: this.pid,
            limit: 5,
            page: offset,
            filename: this.textsearch,
            typefile: this.filtered
          }
        })
        .then(response => {
          this.media = response.data.media
          this.pagination.current = page
        })
        .catch(function (error) {
          console.log(error)
        })
      } else {
        this.$http.get('mediaupload/gallery/filteredmedia', {
          params: {
            pid: this.pid,
            limit: 5,
            page: offset,
            typefile: this.filtered
          }
        })
        .then(response => {
          this.media = response.data.media
          this.pagination.current = page
        })
      }
    },
    getMedia (id) {
      this.pid = id
      this.$http.get('mediaupload/gallery/filteredmedia', {
        params: {
          pid: id,
          limit: 5,
          page: 0,
          typefile: this.filtered
        }
      })
        .then(response => {
          this.media = response.data.media
          this.pagination.current = 1
          this.pagination.total = response.data.count
        })
        .catch(function (error) {
          console.log(error)
        })
    },
    togglesidebar () {
      var menu = document.querySelector('.ui')
      menu.classList.toggle('ui__sidebar--open')
    },
    openupload () {
        // George Panagiotinos Fixed uploader getting session id on open uploader
        // End

      var modal = document.querySelector('#upload-modal')
      modal.classList.toggle('info-modal--active')
      this.getMedia(this.counter)
      this.flag = !this.flag
    },
    hidesidebar () {
      Bus.fire('closefilegallery')
      this.loadedfiles = {}
    }
  }
}
</script>

<style lang="scss">
$spacing: 1rem;
$primary: #47cedf;
$secondary: #c298cf;
$black: #787878;
$border-radius: 5px;

$bp: 900px;

.ui {
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: $bp;
    min-height: 100vh;
    background: #fff;
    overflow: hidden;

    @media (min-width: $bp) {
        margin: 5vh auto 0;
        min-height: 50vh;
        box-shadow: 0 0 20px rgba($black, 0.1);
        border-radius: $border-radius;
    }

    &.upload-drop--dragover {
        .ui__sidebar {
            opacity: 0.5;
        }

        .ui__main {
            transition: border 0.5s ease;
            border: 4px dashed $primary;

            > * {
                pointer-events: none;
            }
        }
    }
}

.ui__sidebar {
    display: block;
    background: #404040;
    color: #ccc;
    overflow: hidden;
    transition: all 0.5s ease;
    width: 0;
    max-width: 300px;
    max-height: 100%;

    .ui__sidebar--open & {
        display: block;
        width: 80%;
        opacity: 1;
        padding: $spacing;
        border-right: 0.5rem solid #efefef;
    }

    @media (min-width: $bp) {
        display: block;
        // width: 300px;
        // padding: $spacing;
        border-right: 0.5rem solid #efefef;

        .ui__sidebar--open & {
            width: 300px;
        }
    }
}
.pagination__footer{
  padding: 20px;
  width: calc(100% - 150px);
}
.ui__main {
    flex: 1 1 auto;
    display: block;
    width: calc(100% - 300px);
}

.ui__overlay {}

.ui__menu {
    display: flex;
    justify-content: center;
    width: calc(100% - 150px);
}

.ui__btn {
    flex: 0 0 auto;
    padding: $spacing/2 $spacing;
    transition: all 0.1s linear;
    user-select: none;
    margin-top: 9px;
    &::before {
        font-family: FontAwesome;
    }

    &:hover {
        color: darken($black, 40%);
    }

    &.ui__btn--active,
    &:active {
        color: $primary;
    }
}

.upload-btn {
    &::before {
        content: '\f0ee';
    }
}

.help-btn {
    &::before {
        content: '\f128';
    }
}

.sidebar-toggle {
    margin-left: 0;

    &::before {
        content: '\f152';
    }

    .ui__sidebar--open & {
        &::before {
            content: '\f191';
        }
    }
    // @media (min-width: $bp) {
    //     display: none;
    // }
}

.options-toggle {
    margin-right: 0;
    // text-align: right;
    // position: absolute;
    // left: 590px;
    &::before {
        content: '\f00d';
    }
}

.ui__info {}

.file-path {
    flex: 1 1 auto;
    display: inline-block;
    margin: 0;
    padding: $spacing / 3 $spacing;
    font-size: 0.875rem;
    list-style: none;
    background: #f8f8f8;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2;
    border-radius: 0 0 3px 3px;

    li {
        display: inline-block;

        &::after {
            display: inline-block;
            font-family: FontAwesome;
            content: '\f105';
            opacity: 0.5;
            margin-left: $spacing / 2;
            margin-right: $spacing / 4;
        }
    }

    a {
        cursor: pointer;

        &:hover {
            color: darken($black, 40%);
        }
    }
}

.file-tree {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
}

.file-tree__item {
    display: block;
    padding: $spacing / 2 $spacing;
}

.file-tree__subtree {
    display: none;
    margin: $spacing / 2 $spacing 0 $spacing * 1.5;
    padding: 0;
    list-style: none;

    .file-tree__item--open & {
        display: block;
    }

    > li {
        padding: $spacing / 3 0;
        font-size: 0.875rem;

        .folder::before {
            color: $secondary;
        }
    }
}

.folder {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &::before {
        content: "\f07b";
        font-family: FontAwesome;
        margin-right: $spacing / 2;
        color: $primary;
    }

    &:hover {
        color: white;
        cursor: pointer;

        &::before {
            color: lighten($primary, 5%);
        }
    }

    &.folder--open {
        color: white;
        &::before {
            content: "\f07c";
        }
    }
}

.file-list {
    width: 50%; // width half of setting sidebar
    // width: calc(100% - 150px);
    text-align: left;
    // .file-list__file {
    //     &:hover {
    //       background-color: #dcdc0f5e;
    //     }
    // }
    .active {
      background-color: rgba(0,209,178,0.25);
      border: 1px solid yellow;
    }
    th {
        // user-select: none;
        border-bottom: 1px solid #efefef;
        padding: $spacing;

        &:hover {
            cursor: pointer;
            color: darken($black, 40%);
        }
    }

    td {
        padding: $spacing/3 $spacing;

        &:hover {
            cursor: pointer;
            color: darken($black, 40%);
        }
    }
}

.file-list__header {
    font-size: 0.6875rem;
    letter-spacing: 1px;
    line-height: 1;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($primary, .6);
    z-index: 1000;
    box-shadow: 0 0 20px rgba($black, 0.1);

    &.overlay--active {
        display: block;
    }
}

.overlay__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 1001;
    border-radius: $border-radius;
    background: #f8f8f8;

    padding: $spacing * 2;
    text-align: center;

    @media (min-width: $bp) {
        top: 50%;
        transform: translateY(-50%);
        bottom: auto;
        max-width: 500px;
    }

    .upload-drop--dragover & {
        transition: border 0.5s ease;
        border: 4px dashed $primary;

        > * {
            pointer-events: none;
        }
    }
}

.info-modal {
    display: block;
    transform: translateY(-100%);
    opacity: 0;
    overflow: hidden;
    height: 0;
    font-size: 0.875rem;

    &.info-modal--active {
        transform: translateY(0);
        opacity: 1;
        height: auto;
        padding: $spacing;
        background: linear-gradient(to bottom, white, #efefef);
        border: 5px solid #fff;
    }
}
</style>
