<style lang="scss">



</style>

<template lang="html">
<div class="columns is-multiline">
  <div class="column is-12 field has-addons">
    <p class="control">
      <a class="button is-static">
        Available Positions
      </a>
    </p>
    <p class="control">
      <span class="select">
        <select v-model="object.availablePositions">
          <option>top-left</option>
          <option>top-right</option>
          <option>bottom-left</option>
          <option>bottom-right</option>
        </select>
      </span>
    </p>
  </div>
  <div class="column is-12 field has-addons">
    <p class="control">
      <exp-checkbox type="text" class="checkbox" v-model="object.isSmall"></exp-checkbox>
      <p class="helper">Small</p>
    </p>
  </div>
</div>
</template>

<script>
import forEach from 'lodash/forEach'
import get from 'lodash/get'
export default {
  name: 'CheckIconsSettings',
  props: {
    el: Object
  },
  data () {
    return {
      object: {
        availablePositions: null,
        isSmall: false
      }
    }
  },
  mounted () {
    this.getObject()
  },
  methods: {
    onChangeObject () {
      let loadObject = {}
      forEach(this.object, (value, attr) => {
        if (value === null || value === undefined || value === '') {
          delete this.object[attr]
        } else {
          loadObject[attr] = this.object[attr]
        }
      })
      if (Object.keys(loadObject).length > 0) {
        this.$set(this.el, 'checkIconsObject', loadObject)
      }
    },
    getObject () {
      let object = {...get(this.el, 'checkIconsObject', {})}
      this.object = {...object}
    }
  },
  computed: {
    compobject: function () {
      return this.object
    }
  },
  watch: {
    compobject: {
      handler (object) {
        this.onChangeObject()
      },
      deep: true
    }
  }
}

</script>
