<style lang="scss">
</style>

<template lang="html">
<div class="columns is-multiline">
  <div class="tabs is-boxed column is-12 is-paddingless">
    <ul>
      <li :class="{'is-active': tab === 'image'}"><a @click="tabclicked('image')">Image</a></li>
      <li :class="{'is-active': tab === 'text'}"><a @click="tabclicked('text')">Text</a></li>
      <li :class="{'is-active': tab === 'background'}"><a @click="tabclicked('background')">Background</a></li>
    </ul>
  </div>
  <div v-if="el.settingtab === 'text' && el.texttab === null" class="column is-12">
    <div class="columns is-multiline">
      <div class="field has-addons column is-12">
          <p class="control">
              <a class="button is-static">
                  Title
              </a>
          </p>
          <div class="field has-addons">
              <p class="contol">
                <exp-input type="text" v-model="el.title.text" placeholder="Intro Page Title"></exp-input>
              </p>
          </div>
          <p class="control">
              <a @click="edit('title')" class="button">
                <i class="fa fa-pencil has-text-info">  Edit Title</i>
              </a>
          </p>
      </div>
      <div class="field has-addons column is-12">
          <p class="control">
              <a class="button is-static">
                  SubTitle
              </a>
          </p>
          <div class="field has-addons">
              <p class="contol">
                <exp-input type="text" v-model="el.subtitle.text" placeholder="Intro Page SubTitle"></exp-input>
              </p>
          </div>
          <p class="control">
              <a @click="edit('subtitle')" class="button">
                <i class="fa fa-pencil has-text-info">  Edit SubTitle</i>
              </a>
          </p>
      </div>
      <div class="field has-addons column is-12">
          <p class="control">
            <a class="button is-static">
                Maintext
            </a>
          </p>
          <p class="control">
            <a @click="edit('textarea')" class="button">
              <i class="fa fa-pencil has-text-info">  Edit Main Text</i>
            </a>
          </p>
      </div>
    </div>
  </div>
</div>
</template>

<script>

export default {
  name: 'intropage',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null,
      flagtitle: false
    }
  },
  mounted () {
    this.tab = null
    this.el.settingtab = null
    this.el.texttab = null
  },
  methods: {
    // Setting Nav bar clicked, load setting tab text to json
    tabclicked (tab) {
      this.el.settingtab = tab
      this.tab = tab
      this.el.texttab = null
    },
    // nav edit: title, subtitle, text
    edit(textnav) {
      switch (textnav) {
        case 'title':
          this.el.texttab = textnav
          break
        case 'subtitle':
          this.el.texttab = textnav
          break
        case 'textarea':
          this.el.texttab = textnav
          break
      }
    }
  }
}
</script>
