<template>
  <div v-if="this.$route.path !== '/login'">
  <section class="app-main" :style="[hiddenSidebarStyle]">
    <div class="container is-fluid is-marginless app-content">
      <levelbar></levelbar>
      <transition
        mode="out-in"
        enter-active-class="fadeIn"
        appear
        :duration="150">
        <router-view class="animated"></router-view>
      </transition>
    </div>
  </section>
</div>
  <div v-else-if="this.$route.path == '/login' || '/not-allowed'">
    <section class="app-login" :style="[hiddenSidebarStyle]">
      <div class="container is-fluid is-marginless app-content">
        <!-- <levelbar></levelbar> -->
        <transition
          mode="out-in"
          enter-active-class="fadeIn"
          leave-active-class="fadeOut"
          appear>
          <router-view class="animated"></router-view>
        </transition>
      </div>
    </section>
  </div>
</template>

<script>
import Levelbar from './Levelbar'
import { mapGetters } from 'vuex'
export default {
  components: {
    Levelbar
  },
  computed: {
    ...mapGetters({
      sidebar: 'sidebar'
    }),
    hiddenSidebarStyle () {
      return this.sidebar.hidden ? { 'margin-left': 0 } : null
    }
  }
}
</script>

<style lang="scss">
@import '~bulma/sass/utilities/variables';
@import '~bulma/sass/utilities/mixins';
.app-main {
  padding-top: 50px;
  margin-left: 180px;
  transform: translate3d(0, 0, 0);
  height: 100vh;
  @include mobile() {
    margin-left: 0;
  }
}
.app-login {
  padding-top: 50px;
  margin-left: 0;
  transform: translate3d(0, 0, 0);
}
.app-content {
  padding: 20px;
}
</style>
