<style lang="scss">
</style>

<template lang="html">
  <div class="assignedsections">
      <div class="columns column is-multiline">
        <div class=" is-4 assign_border column">
          <h3 class="title is-4">Available sections</h3>
          <span>
          <div v-for="(category) in categories" :key="category.id">
            <div class="categoryitem">
              <a @click="expandcategory(category.id,false,'left');category.expand_left != category.expand_left"><i class="fa fa-lg" :class="[!category.expand_left ? 'fa-plus-square' : 'fa-minus-square']"></i></a>
                <a class="selectionitem" @click="categoryselected(category.id, 'left')" style="margin-left: 3px;">
                  <i v-if="!category.leftselected" class="fa fa-square fa-lg"></i>
                  <i v-else class="fa fa-check-square has-text-danger fa-lg" ></i>
                  <span class="has-text-weight-semibold">{{category.name}}</span>
                </a>
              <p class="searchwrapper control has-icons-left" :style="[category.expand_left ? {'visibility':'visible'} : {'visibility':'hidden'}]">
                <input class="search input" type="text" @click="categorySearch(category.id, 'left')" v-model="nametosearch"  @blur="nametosearch=''">
                <span class="icon  is-left">
                  <i class="fa fa-sm fa-search"></i>
                </span>
              </p>
            </div>
            <ul v-if="category.expand_left" class="sectionul max_height" style="margin-left: 20px;">
              <li v-for="section in matching_sections" :key="section.section_id"  v-if="category.id === section.categoryid && matching_sections.length>0">
                <a class="selectionitem" @click="section.selected = !section.selected">
                  <i v-if="!section.selected" class="fa fa-square fa-lg"></i>
                  <i v-else class="fa fa-check-square has-text-success fa-lg" ></i>
                  {{section.name}}
                </a>
                <router-link :to="{path: '/updatesection/', query: {section: section.id}}"><i class="fa fa-external-link-square"></i></router-link>
              </li>
              <li v-for="section in sections" :key="section.section_id"  v-if="category.id === section.categoryid && !matching_sections.length>0">
                <a class="selectionitem" @click="section.selected = !section.selected">
                  <i v-if="!section.selected" class="fa fa-square fa-lg"></i>
                  <i v-else class="fa fa-check-square has-text-success fa-lg" ></i>
                  {{section.name}}
                </a>
                <router-link :to="{path: '/updatesection/', query: {section: section.id}}"><i class="fa fa-external-link-square"></i></router-link>
              </li>
            </ul>
          </div>
          </span>
        </div>

        <div class=" is-4 assign_border column">
          <h3 class="title is-4">Incoming changes</h3>
          <div class="column center_flex columns" v-if="add_section_flag || remove_section_flag">
            <div class="column  has-text-centered" v-if="add_section_flag">
              <h5 class="headr has-text-weight-bold h_width">Sections to be added</h5>
              <ul class="max_height break_word h_width">
                <li class="" v-for="section in sections_to_be_added" :key="section.section_id">
                    {{section.name}}
                </li>
              </ul>
              <a @click="addsections('add')" class="button is-success h_width">Add</a>
            </div>
            <div class=" column has-text-centered" v-if="remove_section_flag">
              <h4 class="headr has-text-weight-bold h_width">Sections to be removed</h4>
              <ul class="max_height break_word h_width">
                <li class="" v-for="section in package_sections" :key="section.section_id" v-if="section.selected">
                  {{section.name}}
                </li>
              </ul>
              <a @click="addsections('remove')" class="button is-danger h_width">Remove</a>
            </div>
          </div>
        </div>

        <ul class=" is-4 assign_border column">
          <h3 class="title is-4">Assigned sections</h3>
          <span class="">
          <li v-for="category in categories" :key="category.id">
            <div class="categoryitem">
              <a @click="expandcategory(category.id,category.rightselected,'right');category.expand_right != category.expand_right"><i class="fa fa-lg" :class="[!category.expand_right ? 'fa-plus-square' : 'fa-minus-square']"></i></a>
                <a class="selectionitem" @click="categoryselected(category.id, 'right')" style="margin-left: 3px;">
                  <i v-if="!category.rightselected" class="fa fa-square fa-lg" ></i>
                  <i v-else class="fa fa-check-square has-text-danger fa-lg" ></i>
                  <span class="has-text-weight-semibold" >{{category.name}}</span>
                </a>
                <p class="searchwrapper control has-icons-left" :style="[false ? {'visibility':'visible'} : {'visibility':'hidden'}]">
                  <input class="search input" type="text">
                  <span class="icon  is-left">
                    <i class="fa fa-sm fa-search"></i>
                  </span>
                </p>
            </div>
            <ul v-if="category.expand_right" class="sectionul max_height" style="margin-left: 20px;">
              <li v-for="section in package_sections" :key="section.section_id"  v-if="category.id === section.categoryid">
                <a class="selectionitem" @click="section.selected = !section.selected">
                  <i v-if="!section.selected" class="fa fa-square fa-lg"></i>
                  <i v-else class="fa fa-check-square has-text-success fa-lg" ></i>
                  {{section.name}}
                </a>
              </li>
            </ul>
          </li>
          </span>
        </ul>

      </div>

      <div id="previewbox" class="modal">
        <span class="close"><i class="fa fa-times"></i></span>
        <img id="previewimg" class="modal-content">
      </div>
  </div>
</template>

<script>
// import axios from 'axios'
// import {APIENDPOINT} from '../config/app-config'
import _ from 'lodash'

export default {
  name: 'assignedsections',
  data () {
    return {
      sections: [],
      package_sections: [],
      categories: [],
      needsave: false,
      sectionstopackages: [],
      nametosearch: '',
      arr_to_filter_from: [],
      matching_sections: [],
      sort_flag: ''
    }
  },
  created () {
    this.debouncedfindByName = _.debounce(this.findByName, 500)
  },
  mounted () {
    this.catpromise().then((resolve) => {
      // Find Assigned Section on the Current Package based on Router Package id
      // axios.post(APIENDPOINT + 'package/sections', {
      //   data: this.$route.query.package,
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('packages/sections', {data: this.$route.query.package})
      .then(response => {
        // Populate Array package_sections that holds all the assigned sections to this package
        // Every Assigned Section represented as object with id, name, categoryid and key selected to determine if user have selected or not
        for (var i = 0; i < response.data.sections[0].packagesection.length; i++) {
          this.package_sections.push({
            id: response.data.sections[0].packagesection[i].section_id,
            name: response.data.sections[0].packagesection[i].section_name,
            categoryid: response.data.sections[0].packagesection[i].section_category,
            lastupdate: response.data.sections[0].packagesection[i].updatedAt,
            createrole: response.data.sections[0].packagesection[i].creator_role.role_id,
            selected: false
          })
        }
      }).catch(error => {
        console.error(error)
      })
    }).catch((reject) => {
      console.error(reject)
    })
  },
  methods: {
    // Arrows Click to add - right arrow, remove-left arrow
    // ADD-RIGHT ARROW Concat Selected Sections From Left Box With already assigned sections
    // REMOVE-LEFT ARROW Remove Selected Sections From Right Box With assigned sections
    addsections (button) {
      this.needsave = true
      switch (button) {
        case 'add':
          let selectedsections = _.filter(this.sections, {'selected': true})

          if (selectedsections.length > 0) {
            this.package_sections = _.concat(this.package_sections, selectedsections)
            _.remove(this.sections, function (item) {
              return item.selected === true
            })
            _.forEach(selectedsections, function (item) {
              item.selected = false
            })
          } else {
            this.needsave = false
          }
          _.forEach(this.categories, function (cat) {
            cat.leftselected = false
          })
          this.saveassigned()
          break
        case 'remove':
          let selectedpacksections = _.filter(this.package_sections, {'selected': true})
          if (selectedpacksections.length > 0) {
            this.sections = _.concat(this.sections, selectedpacksections)
            _.remove(this.package_sections, function (item) {
              return item.selected === true
            })
            _.forEach(selectedpacksections, function (item) {
              item.selected = false
            })
          } else {
            this.needsave = false
          }
          _.forEach(this.categories, function (cat) {
            cat.rightselected = false
          })
          this.saveassigned()
          break
      }
    },
    // Left Box initial have only Section Category Names
    // On Click Section Category Expands Sections that Belong to That category and is not already assigned to packages
    expandcategory (categoryid, selected = false, list) {
      switch (list) {
        case 'left':
          this.categories[_.findIndex(this.categories, {'id': categoryid})].expand_left = !(this.categories[_.findIndex(this.categories, {'id': categoryid})].expand_left)
          if (!(_.some(this.sections, {'categoryid': categoryid}))) {
        //     axios.post(APIENDPOINT + 'section/sections', {
        //   data: categoryid,
        //   headers: {
        //     'Content-type': 'application/json'
        //   }
        // })
            this.$http.post('section/sections', {data: categoryid})
        .then(response => {
          let temp = []
          for (var i = 0; i < response.data.sections.length; i++) {
            temp.push({
              id: response.data.sections[i].section_id,
              name: response.data.sections[i].section_name,
              categoryid: response.data.sections[i].section_category,
              created_by: response.data.sections[i].created_by,
              creator_role: response.data.sections[i].creator_role.role_id,
              lastupdate: response.data.sections[i].updatedAt,
              selected: selected
            })
          }
          temp = _.pullAllBy(temp, this.package_sections, 'id')
          // let t=_.groupBy(temp, 'created_by')
          // let m=[]
          // _.forEach(t,(i=>m.push(i)))
          // this.sections = _.concat(this.sections,_.flatten(m))

          this.sections = _.concat(this.sections, temp)
          this.sortSections()
        }).catch(error => {
          console.error(error)
        })
          }
          break
        case 'right':
          this.categories[_.findIndex(this.categories, {'id': categoryid})].expand_right = !(this.categories[_.findIndex(this.categories, {'id': categoryid})].expand_right)
          break
      }
    },
    // populates arr with sections that have same categoryid
    categorySearch (categoryid) {
      if (this.arr_to_filter_from.length > 0) this.arr_to_filter_from = []
      this.sections.map(section => {
        if (section.categoryid == categoryid) {
          this.arr_to_filter_from.push(section)
        }
      })
    },
    // searches whole section name to match any chars to the typed word
    findByName () {
      if (this.nametosearch != '') {
        let filtered = this.arr_to_filter_from.filter(
            (section, index) => {
              let temp = section.name.toLowerCase().indexOf(this.nametosearch)
              if (temp > -1) {
                return section
              }
            }
          )
        let match_names = this.matching_sections.map(match => match.name)
        filtered.map(filtered_section => {
          if (_.includes(match_names, filtered_section.name)) {
          } else {
            this.matching_sections.push(filtered_section)
          }
        }
        )
        let current_matches = this.matching_sections.filter(match => {
          if (match.name.toLowerCase().indexOf(this.nametosearch) > -1) return match
        })
        this.matching_sections = current_matches
      } else {
        this.matching_sections = []
      }
    },
    // Select All Section to this Category
    categoryselected (categoryid, list) {
      switch (list) {
        case 'left':
          let selecttemp = this.categories[_.findIndex(this.categories, {'id': categoryid})].leftselected
          this.categories[_.findIndex(this.categories, {'id': categoryid})].leftselected = !(selecttemp)
          if (!(_.some(this.sections, {'categoryid': categoryid}))) {
            this.expandcategory(categoryid, true, 'left')
          } else {
            this.categories[_.findIndex(this.categories, {'id': categoryid})].expand_left = true
            _.forEach(this.sections, function (item) {
              if (item.categoryid === categoryid) {
                item.selected = !selecttemp
              }
            })
          }
          break
        case 'right':
          let selecttemp2 = this.categories[_.findIndex(this.categories, {'id': categoryid})].rightselected
          this.categories[_.findIndex(this.categories, {'id': categoryid})].rightselected = !(selecttemp2)
          if (!(_.some(this.package_sections, {'categoryid': categoryid}))) {
            this.expandcategory(categoryid, true, 'right')
          } else {
            this.categories[_.findIndex(this.categories, {'id': categoryid})].expand_right = true
            _.forEach(this.package_sections, function (item) {
              if (item.categoryid === categoryid) {
                item.selected = !selecttemp2
              }
            })
          }
          break
      }
    },
    previewimg (image) {
      let box = document.getElementById('previewbox')
      let img = document.getElementById('previewimg')
      box.style.display = 'block'
      img.src = image
    },
    // Save Assigned Sections Based On right box sections
    saveassigned () {
      this.sectionstopackages = []
      for (var i = 0; i < this.package_sections.length; i++) {
        this.sectionstopackages.push({section_id: this.package_sections[i].id, package_id: this.$route.query.package})
      }
      var jsondata = JSON.stringify(this.sectionstopackages)
      // axios.post(APIENDPOINT + 'section/assigned', {
      //   data: {jsondata: jsondata, packageid: this.$route.query.package},
      //   header: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('section/assigned', {data: {jsondata: jsondata, packageid: this.$route.query.package}})
      .then(response => {
        if (response.data.errorflag) {
          this.$swal('Error Occurred!', response.data.message, 'error')
          this.needsave = false
          this.$router.push({path: '/packages/grid'})
        } else {
          this.$swal('Great job', response.data.message, 'success')
          this.needsave = false
        }
        this.sortSections()
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    },
    catpromise () {
      return new Promise((resolve, reject) => {
        // axios.post(APIENDPOINT + 'package/categories')
        this.$http.post('packages/categories')
        .then(response => {
          for (var i = 0; i < response.data.categories.length; i++) {
            this.categories.push({
              id: response.data.categories[i].category_id,
              name: response.data.categories[i].category_name,
              leftselected: false,
              rightselected: false,
              // expand: false,
              expand_left: false,
              expand_right: true,
              sorted_flag: ''
            })
          }
          resolve()
        }).catch(error => {
          reject(new Error(error))
        })
      })
    },
    // sorts sections based on name,admin created sections first
    sortSections () {
      let temp = []
      let sorted_arr = []
      let grouped_by_role_arr = _.toArray(_.groupBy(this.sections, function (o) {
        return o.creator_role
      }))
      temp = grouped_by_role_arr.map(section => {
        return _.sortBy(section, function (o) {
          return o.name
        })
      })
      temp.map(section => {
        section.forEach(sorted => sorted_arr.push(sorted))
      })
      this.sections = sorted_arr
    }
  },
  watch: {
    nametosearch: function (newN, oldN) {
      this.debouncedfindByName()
    }
  },
  computed: {
    findExpandedCategories () {
      let t = this.categories.map(cat => {
        if (cat.expand_left == true) return cat.id
        else return
      })
      t = _.compact(t)
      if (t.length = 0) return null
      else if (t.length = 1) {
        if (t[0] == 1) return 1
        else return 2
      } else return 'both'
    },
    sections_to_be_added () {
      return this.sections.filter(sec => {
        if (sec.selected == true) { return sec }
      })
    },
    sections_to_be_removed () {
      return this.package_sections.filter(sec => {
        if (sec.selected == true) { return sec }
      })
    },
    add_section_flag () {
      if (this.sections_to_be_added.length > 0) return true
      else return false
    },
    remove_section_flag () {
      if (this.sections_to_be_removed.length > 0) return true
      else return false
    }
  }
}

</script>
