<style lang="scss">
</style>

<template lang="html">
  <div class="columns level-item">
    <div class="column is-one-third">
      <exp-field label="Assigned Users">
        <exp-multiselect v-model="selectedUsers" id="assignedusers" track-by="user_id" label="username" :options="users" :multiple="true" :searchable="true" deselectLabel="" selectLabel="" selectedLabel="">
        </exp-multiselect>
      </exp-field>
      <a class="button is-info" @click="all_assignedusers()">
        <span class="icon is-small">
          <i class="fa fa-users"></i>
        </span>
      <span>Assigned All</span>
      </a>
      <a class="button is-success" @click="save_assignedusers()">
        <span class="icon is-small">
          <i class="fa fa-check"></i>
        </span>
      <span>Save</span>
      </a>
    </div>
  </div>
</template>

<script>
// import axios from 'axios'
// import {APIENDPOINT} from '../config/app-config'
export default {
  name: 'assignedusers',
  data () {
    return {
      users: [],
      selectedUsers: [],
      // array of users that will be arranged to specific package and send back to db
      senduserstopackages: [],
      sendallusertopackages: [],
      packageid: parseInt(this.$route.query.package)
    }
  },
  mounted: function () {
    // Load Users that already assigned to this package, based on package id
    // axios.post(APIENDPOINT + 'user/usersandpackages')
    this.$http.post('users/usersandpackages')
    .then(response => {
      for (var i = 0; i < response.data.users.length; i++) {
        if (response.data.users[i].packageuser.length > 0) {
          for (var j = 0; j < response.data.users[i].packageuser.length; j++) {
            if (response.data.users[i].packageuser[j].packagestousers.package_id === this.packageid) {
              this.selectedUsers.push(response.data.users[i])
            }
          }
        }
      }
      this.users = response.data.users
    }).catch(error => {
      if (error.response.status !== 401) {
        this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
      }
    })
  },
  methods: {
    // Save Assigned Users
    save_assignedusers () {
      for (var i = 0; i < this.selectedUsers.length; i++) {
        this.senduserstopackages.push({user_id: this.selectedUsers[i].user_id, package_id: this.packageid})
      }
      var jsondata = JSON.stringify(this.senduserstopackages)
      // axios({
      //   method: 'post',
      //   url: APIENDPOINT + 'package/assigned',
      //   data: {jsondata: jsondata, packageid: this.packageid},
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('packages/assigned', {jsondata: jsondata, packageid: this.packageid})
      .then(response => {
        if (response.data.errorflag) {
          this.$swal('Error Occurred!', response.data.message, 'error')
        } else {
          this.$swal('Great job', response.data.message, 'success')
          this.$router.push({path: '/packages/grid'})
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    },
    all_assignedusers () {
      for (var i = 0; i < this.users.length; i++) {
        this.sendallusertopackages.push({user_id: this.users[i].user_id, package_id: this.packageid})
      }
      var jsondata = JSON.stringify(this.sendallusertopackages)
      // axios({
      //   method: 'post',
      //   url: APIENDPOINT + 'package/assigned',
      //   data: {jsondata: jsondata, packageid: this.packageid},
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('packages/assigned', {jsondata: jsondata, packageid: this.packageid})
      .then(response => {
        if (response.data.errorflag) {
          this.$swal('Error Occurred!', response.data.message, 'error')
        } else {
          this.$swal('Great job', response.data.message, 'success')
          this.$router.push({path: '/packages/grid'})
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    }
  }
}

</script>
