<template>
  <div>
    <transition
      mode="out-in"
      enter-active-class="fadeIn"
      leave-active-class="fadeOut"
      appear>
      <router-view class="animated"></router-view>
    </transition>
</div>
</template>
<script>

export default {
  name: 'BuilderMain',
  data () {
    return {
    }
  }
}
</script>
<style lang="scss">
@import '~bulma/sass/utilities/variables';
@import '~bulma/sass/utilities/mixins';
.app-main {
  padding-top: 50px;
  margin-left: 180px;
  transform: translate3d(0, 0, 0);
  @include mobile() {
    margin-left: 0;
  }
}
.app-login {
  padding-top: 50px;
  margin-left: 0;
  transform: translate3d(0, 0, 0);
}
.app-content {
  padding: 20px;
}
</style>
