<style lang="scss">

</style>

<template lang="html">
  <div class="columns level-item">
      <div class="column is-one-third">
          <h1 class="title">CREATE MODULE</h1>
          <form @keydown="errors.clear($event.target.id)">
            <p class="help is-danger" v-text="errors.get('module_name')"></p>
              <exp-field label="Module Name">
                  <exp-input type="text" v-model="module_form.module_name" id="module_name" placeholder="Module Name" required></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('package_id')"></p>
              <exp-field label="Package">
                <exp-multiselect track-by="id" v-model="module_package" label="package_name" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" :options="packages" required>
                </exp-multiselect>
              </exp-field>
              <div class="field">
                  <div class="control">
                      <label class="checkbox">
                          <input type="checkbox" v-model="module_form.module_status" id="downloadvideos"> Module Status
                      </label>
                  </div>
              </div>
              <div class="control has-text-centered">
                  <button class="button is-primary" @click.prevent="submit_createmodule($event)">Submit</button>
              </div>
          </form>
      </div>
  </div>
</template>

<script>
// import axios from 'axios'
// import {APIENDPOINT} from '../config/app-config'
class Error {
  constructor () {
    this.errors = {}
  }
  get (path) {
    if (this.errors) {
      for (var i = 0; i < this.errors.length; i++) {
        if (this.errors[i].path === path) {
          return this.errors[i].message
        }
      }
    }
  }
  record (errors) {
    this.errors = errors
  }
  clear (path) {
    for (var i = 0; i < this.errors.length; i++) {
      if (this.errors[i].path === path) {
        delete this.errors[i].path
      }
    }
  }
}

export default {
  name: 'createmodule',
  data () {
    return {
      module_form: {
        module_name: '',
        package_id: 0,
        module_status: 0
      },
      errors: new Error(),
      module_package: {},
      packages: []
    }
  },
  mounted: function () {
    // axios.post(APIENDPOINT + 'package/packages')
    this.$http.post('packages/packages')
    .then(response => {
      this.packages = response.data.packages
    }).catch(error => {
      console.error(error)
    })
  },
  methods: {
    submit_createmodule (evt) {
      evt.preventDefault(evt)
      this.module_form.package_id = this.module_package.id
      // axios.post(APIENDPOINT + 'module/create', {
      //   data: this.module_form,
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('module/create', {data: this.module_form})
      .then(response => {
        if (response.data.errorflag) {
          this.errors.record(response.data.message.errors)
        } else {
          this.$swal('Great job', response.data.message, 'success')
          this.$router.push({path: '/packages/modules', query: { package: this.module_form.package_id }})
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    }
  }
}

</script>
