<style lang="scss">
</style>
<template lang="html">
  <div class="columns level-item">
      <div class="column is-one-third">
          <h1 class="title">CREATE NEW PAGE</h1>
          <form @keydown="errors.clear($event.target.id)">
            <p class="help is-danger" v-text="errors.get('page_name')"></p>
              <exp-field label="Page Name">
                  <exp-input type="text" v-model="page_form.page_name" id="page_name" placeholder="Page Name" required></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="compcheckpackage"></p>
              <exp-field label="Package">
                <exp-multiselect track-by="id" v-model="module_package" label="package_name" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" :options="packages" @input="available_modules($event.id)" required>
                </exp-multiselect>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('module_id')"></p>
              <exp-field label="Module">
                <exp-multiselect track-by="module_id" v-model="page_module" label="module_name" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" @open="check_packages()" :options="modules" required>
                </exp-multiselect>
              </exp-field>
              <div class="control has-text-centered">
                  <button class="button is-primary" @click.prevent="submit_createpage($event)">Submit</button>
              </div>
          </form>
      </div>
  </div>
</template>

<script>
import Bus from '@/config/eventhub.js'
// import axios from 'axios'
// import {APIENDPOINT} from '@/config/app-config'
import findIndex from 'lodash/findIndex'
import isEmpty from 'lodash/isEmpty'
class Error {
  constructor () {
    this.errors = {}
  }
  get (path) {
    if (this.errors) {
      for (var i = 0; i < this.errors.length; i++) {
        if (this.errors[i].path === path) {
          return this.errors[i].message
        }
      }
    }
  }
  record (errors) {
    this.errors = errors
  }
  clear (path) {
    for (var i = 0; i < this.errors.length; i++) {
      if (this.errors[i].path === path) {
        delete this.errors[i].path
      }
    }
  }
}

export default {
  name: 'createpage',
  props: {
    route: Object
  },
  data () {
    return {
      page_form: {
        page_name: '',
        module_id: 0,
        page_json: null
      },
      errors: new Error(),
      page_module: {},
      module_package: {},
      packages: [],
      modules: [],
      packagemsg: null
    }
  },
  mounted: function () {
    if (this.$route !== undefined) {
      this.route = this.$route
    }
    // axios.post(APIENDPOINT + 'package/packages')
    this.$http.post('packages/packages')
    .then(response => {
      this.packages = response.data.packages
      if (this.route.query.package !== undefined) {
        let indexnum = findIndex(this.packages, {'id': parseInt(this.route.query.package)})
        this.module_package = {
          id: this.route.query.package,
          package_name: this.packages[indexnum].package_name
        }
        this.available_modules(this.route.query.package)
      }
    }).catch(error => {
      console.error(error)
    })
  },
  methods: {
    submit_createpage (evt) {
      evt.preventDefault(evt)
      this.page_form.module_id = this.page_module.module_id
      this.page_form.page_json = JSON.parse('[]')
      // axios.post(APIENDPOINT + 'page/create', {
      //   data: this.page_form,
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('pages/create', {data: this.page_form})
      .then(response => {
        if (response.data.errorflag) {
          if (response.data.message.errors === undefined) {
            this.$swal('Error', response.data.message, 'error')
          } else {
            this.errors.record(response.data.message.errors)
          }
        } else {
          Bus.fire('submit_createpage', response.data.page)
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    },
    available_modules (packageid) {
      // axios({
      //   method: 'post',
      //   url: APIENDPOINT + 'module/modules',
      //   data: {id: packageid},
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('module/modules', {id: packageid})
      .then(response => {
        this.modules = response.data.modules
        if (this.route.query.module) {
          let indexnum = findIndex(this.modules, {'module_id': parseInt(this.route.query.module)})
          this.page_module = {
            module_id: this.route.query.module,
            module_name: this.modules[indexnum].module_name
          }
        }
        this.packagemsg = null
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    },
    check_packages () {
      if (!(this.modules.length > 0)) {
        if (isEmpty(this.module_package)) {
          this.packagemsg = 'Please Select Package First'
        } else {
          this.packagemsg = 'Please Create Modules for this Packages first'
        }
      }
    }
  },
  computed: {
    compcheckpackage: function () {
      return this.packagemsg
    }
  }
}

</script>
