<style lang="css">
</style>
<template lang="html">
<div class="columns level-item">
    <div class="column is-half">
        <h1 class="title">CREATE PACKAGE</h1>
        <form @keydown="errors.clear($event.target.id)">
          <p class="help is-danger" v-text="errors.get('package_name')"></p>
            <exp-field label="Package Name">
                <exp-input type="text" v-model="package_form.package_name" id="package_name" placeholder="Package Name"></exp-input>
            </exp-field>
            <p class="help is-danger" v-text="errors.get('package_category')"></p>
            <exp-field label="Category">
              <exp-multiselect track-by="category_id" label="category_name" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" :options="categoryarray" v-model="category">
              </exp-multiselect>
            </exp-field>
            <!-- <p class="help is-danger" v-text="errors.get('image')"></p>
            <exp-field label="Image">
                <exp-upload :dragDrop="true" :multiple="true"></exp-upload>
            </exp-field> -->
            <p class="help is-danger" v-text="errors.get('isbn')"></p>
            <exp-field label="ISBN">
                <exp-input type="text" v-model="package_form.isbn" id="isbn" placeholder="ISBN"></exp-input>
            </exp-field>
            <!-- <p class="help is-danger" v-text="errors.get('format')"></p>
            <exp-field label="Package Format">
                <exp-input type="text" v-model="package_form.format" id="format" placeholder="Package Format"></exp-input>
            </exp-field> -->
            <p class="help is-danger" v-text="errors.get('version')"></p>
            <exp-field label="Version">
                <exp-input type="text" v-model="package_form.version" id="version" placeholder="0.0"></exp-input>
            </exp-field>
            <p class="help is-danger" v-text="errors.get('iso')"></p>
            <exp-field label="ISO">
              <exp-multiselect track-by="country_iso" label="countryname" :hide-selected="true" v-model="package_form.iso" deselectLabel="" selectLabel="" selectedLabel="" :options="opt">
              </exp-multiselect>
            </exp-field>
            <exp-field label="Digi Package ID">
              <exp-input type="text" v-model="package_form.digi_package_id" id="digi_package_id" placeholder="Digi Package ID"></exp-input>
            </exp-field>
            <!-- <div class="field">
              <div class="control">
                <exp-checkbox trueValue="1" falseValue="0" type="text" class="checkbox" v-model="package_form.assigned">Assigned</exp-checkbox>
              </div>
            </div> -->
            <div class="field">
                <div class="control">
                  <exp-checkbox trueValue="1" falseValue="0" type="text" class="checkbox" v-model="package_form.package_status">Package Status</exp-checkbox>
                </div>
            </div>
            <div class="control has-text-centered">
                <button class="button is-primary" @click.prevent="submit_createpackage($event)">Submit</button>
            </div>
        </form>
    </div>
</div>

</template>

<script>
// import axios from 'axios'
// import {APIENDPOINT} from '../config/app-config'
class Error {
  constructor () {
    this.errors = {}
  }
  get (path) {
    if (this.errors) {
      for (var i = 0; i < this.errors.length; i++) {
        if (this.errors[i].path === path) {
          if (path === 'iso') {
            return 'This is not valid ISO'
          } else if (path === 'package_category') {
            return 'This is not valid Package Category'
          } else {
            return this.errors[i].message
          }
        }
      }
    }
  }
  record (errors) {
    this.errors = errors
  }
  clear (path) {
    for (var i = 0; i < this.errors.length; i++) {
      if (this.errors[i].path === path) {
        delete this.errors[i].path
      }
    }
  }
}
const clist = require('../config/countries.json')
export default {
  name: 'createpackage',
  data () {
    return {
      package_form: {
        package_name: '',
        package_category: 0,
        image: 'image.png',
        isbn: '',
        format: '',
        version: 0.0,
        iso: 'GR',
        download_videos: 0,
        assigned: 0,
        package_status: 0,
        digi_package_id: null,
        created_by: 0,
        modified_by: 0
      },
      opt: clist,
      errors: new Error(),
      categoryarray: [],
      category: {}
    }
  },
  mounted () {
    // axios.post(APIENDPOINT + 'package/categories')
    this.$http.post('packages/categories')
    .then(response => {
      this.categoryarray = response.data.categories
    }).catch(error => {
      if (error.response.status !== 401) {
        this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
      }
    })
  },
  methods: {
    submit_createpackage (evt) {
      evt.preventDefault()
      this.package_form.package_category = this.category.category_id
      this.package_form.iso = this.package_form.iso.country_iso
      if (this.package_form.digi_package_id !== null && this.package_form.digi_package_id !== undefined) {
        this.package_form.assigned = 1
      } else {
        this.package_form.assigned = 0
      }
      // axios.post(APIENDPOINT + 'package/create', {
      //   data: this.package_form,
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('packages/create', {data: this.package_form})
      .then(response => {
        if (response.data.errorflag) {
          this.errors.record(response.data.message.errors)
        } else {
          this.$router.push({path: '/packages/grid'})
          this.$swal('Great job', response.data.message, 'success')
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    }
  }
}

</script>
