<style lang="scss">
</style>
<template lang="html">  
  <div class="columns level-item">
    <div class="column is-one-third">
      <form>
        <exp-field label="Bug ID">
          <exp-input type="text" id="bug_id" :value="$route.params.id" placeholder="Bug ID" disabled></exp-input>
        </exp-field>
        <exp-field label="Bug Title">
          <exp-input type="text" id="bug_title" :value="bug.bug_title" @input="changeElement('bug_title', $event)" placeholder="Bug Title"></exp-input>
        </exp-field>
        <exp-field label="Bug Description">
          <exp-input type="textarea" id="bug_description" :value="bug.bug_description" @input="changeElement('bug_description', $event)" placeholder="Bug Description"></exp-input>
        </exp-field>
        <exp-field label="Bug Completed">
          <exp-checkbox type="text" class="checkbox" v-model="bug.completed" :true-value="true" :false-value="false" :disabled="not_admin"></exp-checkbox>
        </exp-field>
        <exp-field label="Submit request to re-open this Bug">
          <exp-checkbox type="text" class="checkbox" v-model="bug.reopen" :true-value="true" :false-value="false" :disabled="!bug.completed"></exp-checkbox>
        </exp-field>
        <exp-field label="Bug Issuer">
          <exp-input type="text" id="bug_issuer" :value="bug.bug_issuer" placeholder="Bug Issuer" disabled></exp-input>
        </exp-field>
        <exp-field label="Package ID">
          <exp-input type="text" id="package_id" :value="bug.package_id" placeholder="Package ID" disabled></exp-input>
        </exp-field>
        <exp-field label="Module ID">
          <exp-input type="text" id="module_id" :value="bug.module_id" placeholder="Module ID" disabled></exp-input>
        </exp-field>
        <exp-field label="Page ID">
          <exp-input type="text" id="page_id" :value="bug.page_id" placeholder="Page ID" disabled></exp-input>
        </exp-field>
        <exp-field label="Component Name">
          <exp-input type="text" id="component_name" :value="bug.component_name" placeholder="Component Name" disabled></exp-input>
        </exp-field>
        <div class="control columns">
          <div class="column">
            <button class="button is-danger is-outlined is-pulled-left" :disabled="not_admin" @click.prevent="deleteBug()">Delete</button>
          </div>
          <div class="column">
            <button class="button is-primary is-pulled-right" @click.prevent="updateBug()">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  name: 'edit_bug',
  data () {
    return {
      not_admin: false,
      bug: {},
      changeBugProperty: false,
      objectToUpdate: {}
    }
  },
  mounted () {
    this.localStorageGetItem('Bug')
    .then (bug => {
      if (bug && (bug.bug_id == this.$route.params.id)) { // get bug from local storage
        this.bug = JSON.parse(JSON.stringify(bug))
        this.localStorageSetItem('Bug', this.bug)
      } else { // get bug from database
        this.getBug()
        .then(bug => {
          this.bug = JSON.parse(JSON.stringify(bug.bug))
          this.localStorageSetItem('Bug', this.bug)
        })
        .catch(() => this.$router.push({path: '/bugs'}))
      }
    })
    .catch(error => { // get bug from database
      this.getBug()
      .then(bug => {
        this.bug = JSON.parse(JSON.stringify(bug.bug))
        this.localStorageSetItem('Bug', this.bug)
      })
      .catch(() => this.$router.push({path: '/bugs'}))
    })
    // find user role, admin or not
    if (JSON.parse(localStorage.getItem('expUser')).role != 1) this.not_admin = true
  },    
  beforeRouteLeave(to, from, next) {
    if (this.changeBugProperty) {
      this.$swal({
        title: 'Changes have not been saved. Are you sure you want to leave?',    
        icon: 'info',
        dangerMode: false,
        showCancelButton: true,
        confirmButtonColor: '#23d160',
        cancelButtonColor: '#ff3860',
        confirmButtonText: 'Yes',
        cancelButtonText: 'No'
      })
      .then( swalValue => {
        if (swalValue.value) {
          next()
        }
      })
    }
    else {
      next()
    }
  },
  methods: {
    async localStorageSetItem (key, value) {
      try {
        localStorage.removeItem(key)
        await localStorage.setItem(key, value)
        return true
      } catch (error) {
        return false
      }
    },
    async localStorageGetItem (key) {
      try {
        let data = await localStorage.getItem(key)
        return JSON.parse(data)
      } catch (error) {
        return false
      }
    },
    getBug () {
      return this.$store.dispatch('bugs/GET_BUG', this.$route.params.id)
    },
    changeElement (property, newValue) {
      this.changeBugProperty = true
      if ((property == 'completed') && newValue) {
        this.bug.reopen = false
        this.$set(this.objectToUpdate, 'reopen', false)
      } else if ((property == 'reopen') && newValue) {
        this.bug.completed = false
        this.$set(this.objectToUpdate, 'completed', false)
      }
      this.$set(this.objectToUpdate, property, newValue)
    },
    updateBug () {
      if (this.changeBugProperty) {
        this.$store.dispatch('bugs/UPDATE_BUG_DATA', { bug_id: this.$route.params.id, ...this.objectToUpdate })
        .then(resolve => {
          this.changeBugProperty = false
          this.objectToUpdate = {}
          this.$swal({
            title: 'Successfully updated bug',
            icon: 'success',
            confirmButtonColor: '#23d160',
            confirmButtonText: 'Ok'
          })
        })
        .catch(error => {
          this.$swal({
            title: `Error: ${error.message}`,
            icon: 'error',
            cancelButtonColor: '#ff3860',
            confirmButtonText: 'Ok'
          })
        })
      } else {
        this.$swal({
          title: 'No changes occured',
          icon: 'success',
          confirmButtonColor: '#23d160',
          confirmButtonText: 'Ok'
        })
      }   
    },
    deleteBug () {
      this.$store.dispatch('bugs/DELETE_BUG', this.$route.params.id)
      .then(resolve => {
        this.$swal({
          title: 'Successfully deleted',
          icon: 'success',
          confirmButtonColor: '#23d160',
          confirmButtonText: 'Ok'
        })
        this.$router.push({path: '/bugs'})
      })
      .catch(error => {
        this.$swal({
          title: `Error: ${error.message}`,
          icon: 'error',
          cancelButtonColor: '#ff3860',
          confirmButtonText: 'Ok'
        })
      })
    }
  },
  watch: {
    'bug.completed': {
      handler (newValue, oldValue) {
        if (newValue && this.bug.reopen) this.bug.reopen = false
        if (oldValue !== undefined) this.changeElement('completed', newValue)
      },
      deep: true
    },
    'bug.reopen': {
      handler (newValue, oldValue) {
        if (newValue && this.bug.completed) this.bug.completed = false
        if (oldValue !== undefined) this.changeElement('reopen', newValue)
      },
      deep: true
    }
  }
}

</script>