<template>
<div>
  <div class="columns" style="margin-left:5px;">
    <div class="column is-3">
      <exp-field label="Choose Pilot Version">
        <exp-multiselect track-by="pid" id="pid" v-model="model_pilot" label="pilotname" :autocomplete="true" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :options="pilotlist" required>
        </exp-multiselect>
      </exp-field>
    </div>
    <div class="column"></div>
  </div>
  <div class="clumns">
    <div class="column">
      <a class="button" :class="{'is-static': loading}" v-if="!downloadicon" @click="runExportProcess()">Export Process</a>
      <!-- <a class="button" :class="{'is-static': loading}" v-if="exportflag === 0" @click="filterpackage()">Filter</a>
      <a class="button" :class="{'is-static': loading}" v-if="exportflag === 1" @click="exportCopyPilot()">Copy Assets</a>
      <a class="button" :class="{'is-static': loading}" v-if="exportflag === 2" @click="populateJsons()">Create JSON</a>
      <a class="button" :class="{'is-static': loading}" v-if="exportflag === 3" @click="exportBuild()">Build</a>
      <a class="button" :class="{'is-static': loading}" v-if="exportflag === 4" @click="exportZip()">Zip</a> -->
      <!-- <a class="button" v-if="exportflag === 5" @click="exportpackage()">Export</a> -->
      <a v-if="downloadicon" @click="download()" class="button">Download</a>
      <spinner v-if="loading" :size="spinner_size" :line-size="spinner_line_size" :line-fg-color="spinner_line_fg_color" :line-bg-color="spinner_line_bg_color" :speed="spinner_speed" :spacing="spinner_spacing" :font-size="spinner_font_size"
        :text-fg-color="spinner_text_fg_color"></spinner>
        <p style="text-align:center;font-size:22px;">{{spinner_message}}</p>
    </div>
  </div>
</div>
</template>

<script>
import Bus from '@/config/eventhub.js'
// import axios from 'axios'
import map from 'lodash/map'
import forEach from 'lodash/forEach'
import uniq from 'lodash/uniq'
import Spinner from '@/components/Loading.vue'
import websocket from 'socket.io-client'
import {
  APIENDPOINT,
  SOCKETIOENDPOINT
} from '@/config/app-config'
export default {
  name: 'export',
  components: {
    Spinner
  },
  data () {
    return {
      pilotlist: [],
      packageData: {},
      exportflag: 0, // EXPORT STATES 0 BEFORE FILTER, 1 PENDING FOR FILTER, 2 READY TO EXPORT
      medianames: [], // array with unused filenames
      eachModuleMedia: [], // array of arrays with unused files for each module
      usingMedia: [], // array with used media
      allmedia: [], // all media of a package
      model_pilot: null,
      datamoduleids: [],
      loading: false,
      folder: 'Primary_Demo',
      downloadicon: false,
      is_paused: false,
      spinner_line_fg_color: undefined,
      spinner_line_bg_color: undefined,
      spinner_size: 120,
      spinner_line_size: 20,
      spinner_speed: 0.8,
      spinner_spacing: 4,
      spinner_message: '',
      spinner_text_fg_color: undefined,
      spinner_font_size: 22,
      websocket: null
    }
  },
  created () {
    Bus.listen_once('submit_exportmodules', (data) => {
      this.datamoduleids = JSON.parse(JSON.stringify(data))
    })
  },
  mounted () {
    // Web Socket IO Connection Initialize
    this.websocket = websocket(SOCKETIOENDPOINT)
    this.websocket.on('connection', (response) => {
      // console.log(response)
    })

    // axios({
    //   method: 'get',
    //   url: APIENDPOINT + 'pilotversions/allpilots',
    //   params: {
    //     package: this.$route.query.package
    //   }
    // })
    this.$http.get('pilotversions/allpilots', {params: {
      package: this.$route.query.package
    }})
    .then(response => {
      this.pilotlist = response.data.pilot
    })
  },
  methods: {
    /**
     * Chaining Export Process
     */
    runExportProcess () {
      if (this.model_pilot === null) {
        this.$swal('Error Occurred!', 'Please select one of the Pilot Versions', 'error')
      } else if (this.datamoduleids.length < 1) {
        this.$swal('Error Occurred!', 'Modules list is empty', 'error')
      } else {
        this.filterpackage().then(() => {
          return this.filterEachModule(this.datamoduleids)
        }).then(() => {
          this.spinner_line_fg_color = '#f6987e'
          return this.exportCopyPilot()
        }).then(() => {
          return this.populateJsons()
        }).then(() => {
          return this.emptyDistFolder()
        }).then(() => {
          return this.webSocketBuild()
        }).then(() => {
          return this.updatePackage()
        }).then(() => {
          this.spinner_line_fg_color = '#0ba14b'
          return this.exportZip()
        }).then(() => {
          console.log('Well Done!!! Export Package Finished')
        }).catch((error) => {
          this.spinner_message = 'Error: ' + error
          this.spinner_line_fg_color = '#FF0000'
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          return this.updatePackage(true)
        }).catch((error) => {
          this.spinner_message = 'Error'
          console.log('Error Occurred!!' + error)
        })
      }
    },
    /**
     * [filterpackage initiate filtering unused media]
     * populate allmedia array from db
     * @return {[type]} [description]
     */
    filterpackage () {
      this.loading = true
      this.spinner_message = 'Filter Package Icons'
      return new Promise((resolve, reject) => {
        // axios.post(APIENDPOINT + 'mediaupload/loadfiles', {
        //   data: this.$route.query.package,
        //   headers: {
        //     'Content-type': 'application/json'
        //   }
        // })
        this.$http.post('mediaupload/loadfiles', {data: this.$route.query.package})
        .then((response) => {
          this.allmedia = map(response.data.images, (element) => {
            return element.filename
          })
          resolve()
          // filter media for each module, call store procedure clearassetsbeta for each module
          // this.filterEachModule(this.datamoduleids)
        }).catch((error) => {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          reject(error)
        })
      })
      // // legace filter package
      // axios.post(APIENDPOINT + 'package/clearassets', {
      //   data: {pid: this.$route.query.package, moduleids: this.datamoduleids},
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // }).then(response => {
      //   if (response !== undefined) {
      //     this.medianames = map(response.data.message, (element) => {
      //       return element.medianame
      //     })
      //   } else {
      //     console.log('Error Response')
      //   }
      //   this.exportflag = 2
      // }).catch(error => {
      //   console.error(error)
      // })
    },
    /**
     * Determining which media being used to each module of the package
     */
    filterEachModule (modules) {
      // multiple request of axios
      return new Promise((resolve, reject) => {
        this.runSerialPromises(modules).then((response) => {
          this.eachModuleMedia = [...response]
          // find used media for each module
          forEach(this.eachModuleMedia, (array) => {
            this.usingMedia.push(this.allmedia.filter((media) => {
              return array.indexOf(media) < 0
            }))
          })
          // flatten usingMedia array
          this.usingMedia = uniq([].concat.apply([], this.usingMedia))
          // filter allmedia with used filenames and populate medianame array with the rest
          this.medianames = this.allmedia.filter((media) => {
            return this.usingMedia.indexOf(media) < 0
          })
          // ready for export flag
          this.exportflag = 1
          this.loading = false
          this.spinner_message = 'Ready to Copy Assets'
          resolve()
        }).catch((error) => {
          this.loading = false
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          reject(error)
        })
      })
    },
    /**
     * Create Serial Promises Resolver
     */
    runSerialPromises (modules) {
      // Create promise, Resolve when all modules clrearassets have resolved
      return modules.reduce((promiseChain, currentTask) => {
        // when first promise resolve
        return promiseChain.then((chainResults) => {
          // then create the first axios promise with first module id
          // and so on
          return this.createAxiosPromise(currentTask).then((currentResult) => {
            // resolve each module clearassets and add results to array
            return [...chainResults, this.mapAxiosResponse(currentResult)]
          })
        })
      }, Promise.resolve([])).then((array) => {
        // first time return an empty array, Promise that run as initial value
        return array
      })
    },
    /**
     * Create axios post promise
     */
    createAxiosPromise (value) {
      // return axios.post(APIENDPOINT + 'package/clearassets', {
      //   data: {pid: this.$route.query.package, moduleids: [value]},
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      return this.$http.post('packages/clearassets', {data: {pid: this.$route.query.package, moduleids: [value]}})
    },
    /**
     * Map Axios Response Results
     */
    mapAxiosResponse (response) {
      return map(response.data.message, (element) => {
        return element.medianame
      })
    },
    /**
     * Copy Pilot Data (Section, Components Builder, Vues) and Assets to Export Package
     */
    exportCopyPilot () {
      return new Promise((resolve, reject) => {
        this.loading = true
        this.spinner_message = 'Copy Assets'
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'pilotversions/copyassets',
        //   data: {
        //     pid: this.$route.query.package,
        //     pilotid: this.model_pilot.pid,
        //     modulestoexport: this.datamoduleids
        //   }
        // })
        this.$http.post('pilotversions/copyassets', {
          // data: {
          pid: this.$route.query.package,
          pilotid: this.model_pilot.pid,
          modulestoexport: this.datamoduleids
          // }
        })
        .then((response) => {
          this.packageData = {...response.data.packageData}
          this.exportflag = 2
          this.loading = false
          this.spinner_message = response.data.message
          resolve()
        }).catch((error) => {
          this.loading = false
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          reject(error)
        })
      })
    },
    /**
     * Populate TOC Json and Json for Each Page
     */
    populateJsons () {
      return new Promise((resolve, reject) => {
        this.loading = true
        this.spinner_message = 'Copy JSON'
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'pilotversions/createjson',
        //   data: {
        //     modulestoexport: this.datamoduleids,
        //     packageFolder: this.packageData.package_folder,
        //     filterarray: this.medianames
        //   }
        // })
        this.$http.post('pilotversions/createjson', {
          // data: {
          modulestoexport: this.datamoduleids,
          packageFolder: this.packageData.package_folder,
          filterarray: this.medianames
          // }
        })
        .then((response) => {
          console.log(response)
          this.exportflag = 3
          this.loading = false
          this.spinner_message = 'Ready to Build'
          resolve()
        }).catch((error) => {
          this.loading = false
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          reject(error)
        })
      })
    },
    /**
     * Rim Raf Dist folder of the export package
     */
    emptyDistFolder () {
      return new Promise((resolve, reject) => {
        this.loading = true
        this.spinner_message = 'Clear Dist Folder'
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'pilotversions/emptyDist',
        //   data: {
        //     packageFolder: this.packageData.package_folder
        //   }
        // })
        this.$http.post('pilotversions/emptyDist', {
          data: {
            packageFolder: this.packageData.package_folder
          }
        })
        .then((response) => {
          this.exportflag = 4
          this.loading = false
          this.spinner_message = 'Ready to Build'
          resolve()
        }).catch((error) => {
          this.loading = false
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          reject(error)
        })
      })
    },
    /**
     * Update Package Info Last Export Pilot and Export Flag
     */
    updatePackage (error = false) {
      return new Promise((resolve, reject) => {
        this.loading = true
        this.spinner_message = 'Update Package Info'
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'pilotversions/updatePackage',
        //   data: {
        //     exportid: this.model_pilot.pid,
        //     packageId: this.$route.query.package,
        //     error: error
        //   }
        // })
        this.$http.post('pilotversions/updatePackage', {
          // data: {
          exportid: this.model_pilot.pid,
          packageId: this.$route.query.package,
          error: error
          // }
        })
        .then((response) => {
          this.exportflag = 6
          this.loading = false
          this.spinner_message = 'Ready to Create ZIP'
          resolve()
        }).catch((error) => {
          this.loading = false
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          reject(error)
        })
      })
    },
    /**
     * WebSocket IO Build Proccess
     * If build proccess is too long a simple http request will timeout
     */
    webSocketBuild () {
      return new Promise((resolve, reject) => {
        try {
          this.websocket.emit('message', {message: 'build', package: this.packageData.package_folder})
        } catch (error) {
          reject(error)
        }
        this.websocket.on('message', (response) => {
          this.loading = true
          this.spinner_message = 'Build'
        })
        this.websocket.on('error', (response) => {
          reject(('Websocket error ' + response))
        })
        this.websocket.on('finish', (response) => {
          this.exportflag = 5
          this.loading = false
          this.spinner_message = 'Ready to Update Package Info'
          resolve('Build Completed')
        })
      })
    },
    /**
     * Create Zip of the export package dist folder
     */
    exportZip () {
      this.loading = true
      this.spinner_message = 'Creating ZIP Folder'
      // axios({
      //   method: 'post',
      //   url: APIENDPOINT + 'pilotversions/buildzip',
      //   data: {
      //     packageFolder: this.packageData.package_folder
      //   }
      // })
      this.$http.post('pilotversions/buildzip', {
        // data: {
        packageFolder: this.packageData.package_folder
        // }
      })
      .then(response => {
        this.downloadicon = true
        this.spinner_message = response.data.message
        this.spinner_line_fg_color = null
        this.folder = response.data.folder
        this.loading = false
      }).catch(error => {
        // this.spinner_message = response.data.message
        this.spinner_message = error.message
        this.spinner_line_fg_color = '#F44336'
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    },
    /**
     * Legacy Export Proccess
     */
    exportpackage () {
      if (this.model_pilot !== null) {
        this.loading = true
        this.spinner_message = 'Export proccess on going. Please wait...'
        this.spinner_line_fg_color = undefined
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'pilotversions/export',
        //   data: {
        //     pid: this.$route.query.package,
        //     pilotid: this.model_pilot.pid,
        //     filterarray: this.medianames,
        //     modulestoexport: this.datamoduleids
        //   }
        // })
        this.$http.post('pilotversions/export', {
          data: {
            pid: this.$route.query.package,
            pilotid: this.model_pilot.pid,
            filterarray: this.medianames,
            modulestoexport: this.datamoduleids
          }
        })
        .then(response => {
          this.spinner_message = response.data.message
          this.spinner_line_fg_color = '#ffc107'
          if (response.data.errorflag === false) {
            // axios({
            //   method: 'post',
            //   url: APIENDPOINT + 'pilotversions/exportbuild',
            //   data: {
            //     exportid: this.model_pilot.pid,
            //     pilotid: response.data.fold
            //   }
            // })
            this.$http.post('pilotversions/exportbuild', {
              data: {
                exportid: this.model_pilot.pid,
                pilotid: response.data.fold
              }
            })
            .then(response => {
              this.spinner_message = response.data.message
              this.spinner_line_fg_color = '#ff9800'
              // axios({
              //   method: 'post',
              //   url: APIENDPOINT + 'pilotversions/exportzip',
              //   data: {
              //     pilotid: response.data.foldername
              //   }
              // })
              this.$http.post('pilotversions/exportzip', {
                data: {
                  pilotid: response.data.foldername
                }
              })
              .then(response => {
                this.downloadicon = true
                this.spinner_message = response.data.message
                this.spinner_line_fg_color = null
                this.folder = response.data.folder
                this.loading = false
              }).catch(error => {
                this.spinner_message = response.data.message
                this.spinner_line_fg_color = '#F44336'
                if (error.response.status !== 401) {
                  this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
                }
              })
            }).catch(error => {
              this.spinner_message = response.data.message
              this.spinner_line_fg_color = '#F44336'
              if (error.response.status !== 401) {
                this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
              }
            })
          } else {
            this.spinner_message = response.data.message
            this.spinner_line_fg_color = undefined
            this.spinner_speed = 0
          }
        }).catch(error => {
          this.spinner_message = error.data.message
          this.spinner_line_fg_color = '#F44336'
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
        })
      }
    },
    download () {
      window.open(APIENDPOINT + 'pilotversions/downloadpck/' + this.folder)
    }
  },
  beforeDestroy () {
    Bus.off('submit_exportmodules')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
