<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Satisfy');
html {
    box-sizing: border-box;
}
*,
*:after,
*:before {
    box-sizing: inherit;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}
#app {
    // background: #2d3a4b;
    max-width: 100%;
    // height: 100vw;

}

.login .title {
    height: 100%;
    color: #eeeeee!important;
    font-family: 'Satisfy', cursive;
}
.m120 {
    margin-top: 120px;
}
.eecolor {
    margin-top: 30px;
    color: #eeeeee!important;
}
.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus {
    border-color: #a08ed2;
    box-shadow: 0 0 0 0.125em rgba(121, 87, 213, 0.25);
}
.checkbox,
.icon.is-primary,
.radio {
    color: #eeeeee!important;
}
.login_buttonlogin {
    width: 100%;
}
</style>


<template lang="html">

<div class="columns level-item login">
    <div class="column is-one-quarter m120">
        <h2 class="title is-2 level-item">DigiPub</h2>

        <form>
          <div class="eecolor"><b>Welcome</b>, please login</div><br>
            <div class="field">
                <p class="control">
                    <exp-input id="username" type="text" v-model="login_form.username" required placeholder="Username"></exp-input>
                    <p class="help is-danger" v-text="errors.get('username')"></p>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <exp-input type="password" id="password" v-model="login_form.password" placeholder="Password" required password-reveal></exp-input>
                    <p class="help is-danger" v-text="errors.get('password')"></p>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success login_buttonlogin" @click.prevent="submit_login($event)">Login</button>
                </p>
            </div>
        </form>
    </div>
</div>

</template>

<script>
/* eslint-disable x-invalid-end-tag */
import { mapActions } from 'vuex'
import axios from 'axios'
import {
  getCookie
} from '@/config/auth.js'
import {
  APIENDPOINT
} from '../config/app-config'

class Error {
  constructor () {
    this.errors = {}
  }
  get (path) {
    if (this.errors) {
      if (this.errors.path === path) {
        return this.errors.message
      }
    }
  }
  record (errors) {
    this.errors = errors
  }
  clear (path) {
    for (var i = 0; i < this.errors.length; i++) {
      if (this.errors[i].path === path) {
        delete this.errors[i].path
      }
    }
  }
}
export default {

  name: 'loginform',
  data () {
    return {
      login_form: {
        username: null,
        password: null
      },
      errors: new Error()
    }
  },
  mounted () {
    document.getElementById('app').style.backgroundColor = '#2d3a4b'
    document.getElementById('app').style.position = 'absolute'
    document.getElementById('app').style.top = '0'
    document.getElementById('app').style.left = '0'
    document.getElementById('app').style.width = '100%'
    document.getElementById('app').style.height = '100%'
    document.getElementById('username').setAttribute('style', 'color: #eeeeee; background: rgba(0, 0, 0, 0.1);')
    document.getElementById('password').setAttribute('style', 'color: #eeeeee; background: rgba(0, 0, 0, 0.1);')
  },
  methods: {
    ...mapActions('auth', {
      setUser: 'SET_USER'
    }),
    submit_login (evt) {
      const authUser = {}
      axios.post(APIENDPOINT + 'user/login', {
        username: this.login_form.username,
        password: this.login_form.password,
        headers: {
          'Content-type': 'application/json'
        }
      }).then(({
        data
      }) => {
        if (data.errorflag === false) {
          let d = new Date()
          d.setTime(d.getTime() + (60 * 60 * 24000))
          let expires = 'expires=' + d.toUTCString()
          document.cookie = 'token=' + data.token + ';' + expires + ';path=/'
          authUser.session = data.sessionid
          authUser.role = data.role
          authUser.user_id = data.user_id
          authUser.username = data.username
          let temp = {
            user_id: authUser.user_id,
            firstname: authUser.firstname,
            role_id: authUser.role
          }
          this.setUser(temp)
          this.$store.commit('setisRole', data.role)
          // app.$store.state.isRole = data.role
          window.localStorage.setItem('expUser', JSON.stringify(authUser))
          axios.defaults.headers['Authorization'] = 'JWT' + ' ' + getCookie('token')
          let sess = JSON.parse(window.localStorage.getItem('expUser'))
          if (sess) {
            sess = JSON.parse(window.localStorage.getItem('expUser')).session
          } else {
            sess = ''
          }
          axios.defaults.headers['Session'] = sess
          this.$router.push('/')
        } else {
          this.$swal('Oops...', data.message, 'error')
        }
      }).catch(error => {
        if (error.response !== undefined) {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
        } else {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    }
  },
  beforeDestroy () {
    document.getElementById('app').style.backgroundColor = '#fff'
    document.getElementById('app').style.position = null
    document.getElementById('app').style.top = null
    document.getElementById('app').style.left = null
    document.getElementById('app').style.width = null
    document.getElementById('app').style.height = null
  }
}
</script>
