<style lang="scss">

</style>

<template lang="html">
<div v-if="userIsAuthenticated" class="managepackages">
  <div class="columns is-mobile">
    <div class="selectresult column is-2">
      <span>Showing {{search_array.paginationoffset + 1}}-{{compammount}} of {{ammountofresults}}</span>
    </div>
    <!-- <div v-if="$store.state.isRole === 1 && !($store.state.packageexport)" class="column is-5">authUser -->
    <div v-if="authUser.role_id === 1 && !($store.state.packageexport)" class="column is-5">
      <router-link :to="'/packages/create'" class="button has-text-info"><span class="icon"><i class="fa fa-plus"></i></span><span>New Package</span></router-link>
    </div>
    <div v-if="$store.state.packageexport" class="column is-5">
      <a class="button is-static"><span class="icon"><i class="fa fa-warning"></i></span><span>Export Underway</span></a>
    </div>
    <div class="selectresult column is-3">
      <span>Results per Page:</span>
      <select @change="pageammount($event.target.value)" v-model="search_array.paginationlimit">
        <option  v-for="numpage in compammountofresults" :key="numpage" :value="numpage">{{numpage}}</option>
      </select>
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column is-12" style="overflow-x: auto;">
      <table v-if="package_info.length > 0" class="center-table table is-fullwidth">
          <thead>
              <tr>
                  <th>
                      <exp-field label="Package Name">
                          <exp-input type="text" id="package_name" v-model="search_data.package_name" placeholder="Package Name" @input="setSearch('package_name')"></exp-input>
                      </exp-field>
                  </th>
                  <th>
                    <exp-field label="Category">
                            <exp-multiselect track-by="category_id" label="category_name" v-model="search_data.category" @input="setSearch('category')" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :options="this.categories">
                            </exp-multiselect>
                    </exp-field>
                  </th>
                  <th>
                      <exp-field label="ISBN">
                          <exp-input type="text" id="isbn" v-model="search_data.isbn" placeholder="ISBN" @input="setSearch('isbn')"></exp-input>
                      </exp-field>
                  </th>
                  <!-- <th>
                      <exp-field label="Format">
                          <exp-input type="text" id="format" v-model="search_data.format" placeholder="Format" @input="setSearch('format')"></exp-input>
                      </exp-field>
                  </th> -->
                  <th>
                      <exp-field label="Assigned Users">
                          <exp-input v-if="false" type="text" id="assignedusers" placeholder="Assigned Users" v-model="search_data.assigneduser" @input="setSearch('assigneduser')"></exp-input>
                      </exp-field>
                  </th>
                  <th>Created</th>
                  <th>Version</th>
                  <th>Digi Package ID</th>
                  <th>Last Export</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="(eachpackage, index) in package_info" :key="eachpackage.id">
                  <!-- <td><router-link  v-if="$store.state.isRole !== 4" :to="{path: '/packages/modules', query:{package: eachpackage.id}}">{{eachpackage.package_name}}</router-link> <span v-else>{{eachpackage.package_name}}</span></td> -->
                  <td>
                    <router-link  v-if="authUser.role_id !== 4" :to="{path: '/packages/modules', query:{package: eachpackage.id}}">{{eachpackage.package_name}}</router-link>
                    <span v-else>{{eachpackage.package_name}}</span></td>
                  <td v-if="eachpackage.PackageCategory" v-text="eachpackage.PackageCategory.category_name"></td>
                  <td v-text="eachpackage.isbn"></td>
                  <!-- <td v-text="eachpackage.format"></td> -->
                  <td>
                    <span v-for="(item, index) in eachpackage.packageuser" :key="item.user_id"><span v-if="index !== 0">, </span><i>{{ item.username }}</i></span>
                  </td>
                  <td><p><span class="valueformat"><span class="keyformat">by</span> {{ eachpackage.PackageModifiedBy.username }}</span></p><p><span class="valueformat"><span class="keyformat">on </span>{{ todateformat_date(eachpackage.updatedAt) }}</span></p></td>
                  <td v-text="eachpackage.version"></td>
                  <td  v-text="eachpackage.digi_package_id"></td>
                  <td v-if="eachpackage.pilotversion !== null" class="has-text-info">
                    <a @click="downloadlastexport(eachpackage.package_folder)" class="has-text-info">
                      <span>{{eachpackage.pilotversion.pilot_name}}</span>
                    </a>
                  </td>
                  <td v-else  v-text="''"></td>
                  <td>
                    <ul v-if="eachpackage.exportflag !== 1" class="level-right">
                    <!-- <li  v-if="$store.state.isRole === 1" class="level-item" ><router-link alt="Edit Package" :to="{path: '/packages/update', query:{package: eachpackage.id}}"> -->
                    <li  v-if="authUser.role_id=== 1" class="level-item" >
                      <router-link alt="Edit Package" :to="{path: '/packages/update', query:{package: eachpackage.id}}">
                        <span class="icon"><i class="fa fa-pencil is-size-5 has-text-success"></i></span>
                    </router-link></li>
                    <!-- <li  v-if="$store.state.isRole === 1" class="level-item" ><router-link  alt="Assign Users"  class="level-item" :to="{path: '/packages/assignedusers', query:{package: eachpackage.id}}"> -->
                    <li  v-if="authUser.role_id === 1" class="level-item" >
                      <router-link  alt="Assign Users"  class="level-item" :to="{path: '/packages/assignedusers', query:{package: eachpackage.id}}">
                        <span class="icon"><i class="fa fa-users is-size-5 has-text-info"></i></span>
                    </router-link></li>
                    <!-- <li  v-if="$store.state.isRole === 1" class="level-item" ><router-link alt="Assign Sections"  class="level-item" :to="{path: '/assignedsections/', query:{package: eachpackage.id}}"> -->
                    <li  v-if="authUser.role_id === 1" class="level-item" >
                      <router-link alt="Assign Sections"  class="level-item" :to="{path: '/packages/assignedsections', query:{package: eachpackage.id}}">
                        <span class="icon"><i class="fa fa-puzzle-piece is-size-5 has-text-black-bis"></i></span>
                    </router-link></li>
                    <li v-if="eachpackage.modules.length < 1" class="level-item">
                      <label for="txtfileinput">
                      <input @change="uploadtxt(eachpackage.id)" class="file-input" style="display: none;" type="file" id="txtfileinput">
                      <a class="file">
                        <span class="icon"><i class="fa fa-upload is-size-5 has-text-grey"></i></span>
                      </a>
                    </label>
                    </li>
                    <!-- <li class="level-item"><a v-if="$store.state.isRole === 1" class="level-item" @click="deletepackage(eachpackage.id)"  alt="Delete Packages"> -->
                    <li class="level-item"><a v-if="authUser.role_id === 1" class="level-item" @click="deletepackage(eachpackage.id)"  alt="Delete Packages">
                        <span class="icon"><i class="fa fa-times is-size-5 has-text-danger"></i></span>
                    </a></li>
                    <!-- <li  v-if="$store.state.isRole === 1" class="level-item" ><a alt="Export"  class="level-item" @click="exportmodules(eachpackage.id, index)"> -->
                    <li  v-if="authUser.role_id === 1" class="level-item" >
                      <a alt="Export"  class="level-item" @click="exportmodules(eachpackage.id, index)">
                        <span class="icon"><i class="fa fa-paper-plane is-size-5 has-text-link"></i></span>
                      </a>
                    </li>
                    <li class="level-item" v-if="eachpackage.pilotversion !== null" >
                      <router-link  alt="View Package"  class="level-item" :to="{path: '/iframeview/', query:{package: eachpackage.id}}">
                        <span class="icon"><i class="fa fa-eye is-size-5 has-text-info"></i></span>
                      </router-link>
                      </li>
                  </ul>
                  <span v-else  class="has-text-info has-text-weight-bold">Export Process Underway!</span>
                  </td>
              </tr>
          </tbody>
      </table>

      <div class="pagination">
        <ul>
          <li><a class="button" @click="nextpage(0, 'previous')"><span><i class="fa fa-chevron-left"></i></span></a></li>
          <li v-for="page in comppaginationpages" :key="page"><a @click="nextpage($event.target.id)" class="button" :id="page">{{page}}</a></li>
          <li><a @click="nextpage(0, 'next')" class="button"><span><i class="fa fa-chevron-right"></i></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

</template>

<script>
import { mapState, mapGetters } from 'vuex'

// import axios from 'axios'
import {APIENDPOINT} from '../config/app-config'
// import uniqBy from 'lodash/uniqBy'
// import groupBy from 'lodash/groupBy'
// import forEach from 'lodash/forEach'
import findIndex from 'lodash/findIndex'
import debounce from 'lodash/debounce'
import GlobalMixins from './utils/GlobalMixins'
import ComponentModal from '@/ui-components/modal/ComponentModal'
const PopupComponent = Vue.extend(ComponentModal)
class Search {
  constructor () {
    this.search = {
      value: '',
      path: ''
    }
  }
  getpath () {
    return this.search.path
  }
  getvalue () {
    return this.search.value
  }
  set (value, path) {
    this.search.path = path
    this.search.value = value
  }
  clear () {
    delete this.search
  }
}

export default {
  name: 'gridpackages',
  mixins: [GlobalMixins],
  data () {
    return {
      package_info: {},
      search_data: {
        package_name: '',
        isbn: '',
        format: '',
        assigneduser: '',
        category: null
      },
      categories: [],
      search: new Search(),
      search_array: {
        paginationlimit: 5,
        paginationoffset: 0
      },
      paginationpages: 1,
      selectedpage: 1,
      ammountofresults: 0,
      userammount: 0,
      moduleinsertarray: [], // help to massive modules insert from csv
      pageinsertarray: [] // help to massive pages insert from csv
    }
  },
  mounted: function () {
    console.log('mounted managepackages')
    // axios.post(APIENDPOINT + 'package/categories').then(response => {
    this.$http.post('packages/categories').then(response => {
      this.categories = response.data.categories
    }).catch(error => {
      console.error(error)
    })
    // this.paginationfun().then((resolve) => {
    // axios({
    //   data: this.search_array,
    //   method: 'post',
    //   url: APIENDPOINT + 'package/gridview'
    // })
    this.paginationfun().then((resolve) => {
      this.$http.post('packages/gridview', this.search_array)
    .then(response => {
      this.paginationpages = Math.round(response.data.packages.count / this.search_array.paginationlimit)
      this.package_info = response.data.packages.rows
      console.log('packginfo', this.package_info)
      findIndex(this.package_info, {'exportflag': 1}) === -1 ? (this.$store.commit('setpackageexport', false)) : (this.$store.commit('setpackageexport', true))
      this.ammountofresults = (response.data.packages.count)
    }).catch(error => {
      if (error.response.status !== 401) {
        this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
      }
    })
    })
    // this.$http.post('package/gridview', this.search_array)
    // .then(response => {
    //   console.log(response)
    //   this.paginationpages = Math.round(response.data.packages.count / this.search_array.paginationlimit)
    //   this.package_info = response.data.packages.rows
    //   findIndex(this.package_info, {'exportflag': 1}) === -1 ? (this.$store.commit('setpackageexport', false)) : (this.$store.commit('setpackageexport', true))
    //   this.ammountofresults = (response.data.packages.count)
    // }).catch(error => {
    //   if (error.response.status !== 401) {
    //     this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
    //   }
    // })
    // })
  },
  methods: {
    setSearch: debounce(function (path) {
      switch (path) {
        case 'package_name':
          this.search.set(this.search_data.package_name, path)
          break
        case 'category':
          if (this.search_data.category === null) {
            this.search_data.category = {category_id: undefined}
          }
          this.search.set(this.search_data.category.category_id, path)
          break
        case 'isbn':
          this.search.set(this.search_data.isbn, path)
          break
        case 'format':
          this.search.set(this.search_data.format, path)
          break
        case 'assigneduser':
          this.search.set(this.search_data.assigneduser, path)
          break
      }
      this.search_array[this.search.getpath()] = this.search.getvalue()

      // axios({
      //   data: this.search_array,
      //   method: 'post',
      //   url: APIENDPOINT + 'package/gridview'
      // })
      this.$http.post('packages/gridview', this.search_array)
      .then(response => {
        this.package_info = response.data.packages.rows
        this.ammountofresults = (response.data.packages.count)
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    }, 500),
    nextpage (page, button) {
      let flag = true
      if (button === 'previous') {
        page = (this.selectedpage - 1)
        if (page < 1) {
          page = this.selectedpage
          flag = false
        }
      } else if (button === 'next') {
        page = (this.selectedpage + 1)
        if (page > this.paginationpages) {
          page = this.selectedpage
          flag = false
        }
      }
      if (parseInt(page) > this.selectedpage) {
        this.search_array.paginationoffset = (this.search_array.paginationlimit * (parseInt(page) - 1))
        this.selectedpage = parseInt(page)
      } else {
        this.search_array.paginationoffset = (this.search_array.paginationoffset) - (this.search_array.paginationlimit * (this.selectedpage - page))
        this.selectedpage = parseInt(page)
      }
      if (flag) {
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'package/gridview',
        //   data: this.search_array
        // })
        this.$http.post('packages/gridview', this.search_array)
        .then(response => {
          this.package_info = response.data.packages.rows
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
        })
      }
    },
    paginationfun () {
      return new Promise((resolve, reject) => {
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'package/gridview',
        //   data: this.search_array
        // })
        this.$http.post('packages/gridview', this.search_array)
        .then(response => {
          let allpackages = response.data.packages.count
          let mod = (allpackages % this.paginationpages)
          if (mod > 0) {
            this.search_array.paginationlimit = ((allpackages - mod) / this.paginationpages)
            this.paginationpages += 1
          } else if (mod === this.paginationpages || mod === 0) {
            this.search_array.paginationlimit = allpackages
            this.paginationpages = 1
          } else {
            this.search_array.paginationlimit = (allpackages / this.paginationpages)
          }
          resolve()
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          console.error(error)
        })
      })
    },
    pageammount (results) {
      this.userammount = results
      this.search_array.paginationoffset = 0
      this.search_array.paginationlimit = parseInt(results)
      this.paginationpages = Math.ceil(this.ammountofresults / parseInt(results))
      this.selectedpage = 1
      // axios({
      //   method: 'post',
      //   url: APIENDPOINT + 'package/gridview',
      //   data: this.search_array
      // })
      this.$http.post('packages/gridview', this.search_array)
      .then(response => {
        this.package_info = response.data.packages.rows
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
        console.error(error)
      })
    },
    // Delete package if dont have any modules
    deletepackage (packageid) {
      // axios({
      //   method: 'post',
      //   url: APIENDPOINT + 'package/delete',
      //   data: {id: packageid}
      // })
      this.$http.post('packages/delete', {id: packageid}
      )
      .then(response => {
        if (response.data.errorflag) {
          this.$swal('Error Occurred!', response.data.message, 'error')
        } else {
          this.$swal('Great job', response.data.message, 'success')
          // Reload grid view
          this.paginationfun().then((resolve) => {
            // axios({
            //   data: this.search_array,
            //   method: 'post',
            //   url: APIENDPOINT + 'package/gridview'
            // })
            this.$http.post('packages/gridview', this.search_array)
            .then(response => {
              this.package_info = response.data.packages.rows
              this.ammountofresults = (response.data.packages.count)
            }).catch(error => {
              if (error.response.status !== 401) {
                this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
              }
              console.error(error)
            })
          })
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
        console.error(error)
      })
    },
    // uploadtxt (id) {
    //   let input = null
    //   if (typeof window.FileReader !== 'function') {
    //     bodyAppend('p', "The file API isn't supported on this browser yet.")
    //     return
    //   }
    //   input = document.getElementById('txtfileinput')
    //   if (!input) {
    //     bodyAppend('p', "Um, couldn't find the fileinput element.")
    //   } else if (!input.files) {
    //     bodyAppend('p', "This browser doesn't seem to support the `files` property of file inputs.")
    //   } else if (!input.files[0]) {
    //     bodyAppend('p', "Please select a file before clicking 'Load'")
    //   } else {
    //     let file = input.files[0]
    //     let fr = new FileReader()
    //     fr.onload = () => {
    //       let json = []
    //       let temparray = fr.result.split('\n')
    //       for (var i = 1; i < temparray.length - 1; i++) {
    //         let eachpage = temparray[i].split(',')
    //         if (eachpage[1] !== undefined && eachpage[0] !== undefined && eachpage[1] !== null && eachpage[0] !== null) {
    //           json.push({module: eachpage[1], page: eachpage[0]})
    //         }
    //       }
    //       let modules = uniqBy(json, 'module')
    //       // axios({
    //       //   method: 'post',
    //       //   url: APIENDPOINT + 'module/count',
    //       //   data: {id: id},
    //       //   headers: {
    //       //     'Content-type': 'application/json'
    //       //   }
    //       // })
    //       this.$http.post('module/count', {id: id})
    //       .then(response => {
    //         let modulemaxorder = response.data.count
    //         for (var i = 0; i < modules.length; i++) {
    //           this.moduleinsertarray.push({module_name: modules[i].module.trim(), module_order: ++modulemaxorder, package_id: id})
    //         }
    //         let temppageinsertarray = []
    //         for (var i = 0; i < json.length; i++) {
    //           temppageinsertarray.push({page_name: json[i].page.trim(), page_order: 1, module_id: json[i].module.trim()})
    //         }
    //         let tempgroups = groupBy(temppageinsertarray, 'module_id')
    //         forEach(tempgroups, (data) => {
    //           forEach(data, (value, key) => {
    //             value.page_order = parseInt(key + 1)
    //             this.pageinsertarray.push(value)
    //           })
    //         })
    //       }).then(() => {
    //         this.savemodulespromise().then((resolve) => {
    //           // axios({
    //           //   method: 'get',
    //           //   url: APIENDPOINT + 'module/find/' + parseInt(id)
    //           // })
    //           this.$http.get({
    //             method: 'get',
    //             url: APIENDPOINT + 'module/find/' + parseInt(id)
    //           })
    //           .then(response => {
    //             if (response.data.flag) {
    //               this.$swal('Error Occurred!', response.data.message, 'error')
    //             } else {
    //               forEach(this.pageinsertarray, (value) => {
    //                 let tempindex = findIndex(response.data.module, {'module_name': value.module_id})
    //                 if (tempindex !== -1) {
    //                   value.module_id = response.data.module[tempindex].module_id
    //                 }
    //               })
    //             }
    //           }).then(() => {
    //             this.savepagepromise().then((resolve) => {
    //               this.$swal('Success', resolve, 'success')
    //               this.$router.push({path: '/packages/grid'})
    //             }).catch(error => {
    //               if (error.response.status !== 401) {
    //                 this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
    //               }
    //             })
    //           })
    //         }).catch((error) => {
    //           if (error.response.status !== 401) {
    //             this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
    //           }
    //         })
    //       }).catch(error => {
    //         if (error.response !== undefined) {
    //           if (error.response.status !== 401) {
    //             this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
    //           }
    //         } else {
    //           console.error(error)
    //         }
    //       })
    //       file = null
    //     }
    //     fr.readAsText(file)
    //   }
    // },
    savemodulespromise () {
      return new Promise((resolve, reject) => {
        // var jsondata = JSON.stringify(this.moduleinsertarray)
        var jsondata = this.moduleinsertarray
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'module/insert',
        //   data: jsondata,
        //   headers: {
        //     'Content-type': 'application/json'
        //   }
        // })
        this.$http.post('module/insert', jsondata)
        .then(response => {
          if (response.data.errorflag) {
            reject(response.data.message)
          }
          resolve()
        }).catch(error => {
          console.error(error)
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          reject(new Error(error))
        })
      })
    },
    savepagepromise () {
      return new Promise((resolve, reject) => {
        var jsondata = JSON.stringify(this.pageinsertarray)
        // var jsondata = this.pageinsertarray
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'page/insert',
        //   data: jsondata,
        //   headers: {
        //     'Content-type': 'application/json'
        //   }
        // })
        this.$http.post('pages/insert', jsondata)
        .then(response => {
          if (response.data.errorflag) {
            reject(response.data.message)
          } else {
              // this.$swal('Success', response.data.message, 'success')
            resolve(response.data.message)
          }
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          reject(new Error(error))
        })
      })
    },
    exportmodules (packageid, index) {
      this.$router.push({path: '/export/', query: { package: packageid }})
      new PopupComponent({
        el: document.createElement('div'),
        propsData: {
          component: 'moduleexport',
          visible: true,
          route: this.$route,
          digimodules: this.package_info[index].modules,
          index: null
        }
      })
    },
    downloadlastexport (folder) {
      window.open(APIENDPOINT + 'pilotversions/downloadpck/' + folder)
    }
  },
  computed: {
    comppaginationpages: function () {
      return parseInt(this.paginationpages)
    },
    compammountofresults: function () {
      let temparray = []
      for (var i = 0; i < this.ammountofresults; i++) {
        temparray.push((this.ammountofresults - i))
      }
      return temparray
    },
    compammount: function () {
      let returnval = (this.search_array.paginationlimit * this.selectedpage)
      if (returnval <= this.ammountofresults) {
        return returnval
      } else {
        return this.ammountofresults
      }
    },
    ...mapState('auth', {
      authUser: state => state.user
    }),
    ...mapGetters('auth', {
      userIsAuthenticated: 'userIsAuthenticated'
    })
  }
}

</script>
