<style lang="scss">
.exportmodules_list{
  label{
    border-bottom: 1px solid hsl(0, 0%, 96%);
    padding: 5px 0 5px 0;
    color: black;
  }
}
</style>

<template lang="html">
  <div class="columns is-multiline is-mobile">
    <div class="column is-12 has-text-centered">
      <h3 class="title is-3">Modules</h3>
      <ul v-if="exportmodules.length > 0" class="exportmodules_list">
        <li v-for="modules in exportmodules">
          <exp-checkbox type="text" class="checkbox" v-model="modules.selected">{{modules.module_name}}</exp-checkbox>
        </li>
      </ul>
    </div>
    <div v-if="exportmodules.length > 0" class="column is-12 has-text-centered">
      <a class="button is-primary" @click="submit_modulesexport()"><span>Export</span><span class="icon"><i class="fa fa-paper-plane"></i></span></a>
    </div>
  </div>
</template>

<script>
import Bus from '@/config/eventhub'
import filter from 'lodash/filter'
export default {
  name: 'moduleexport',
  props: {
    route: Object,
    digimodules: Array
  },
  data () {
    return {
      exportmodules: [],
      exportmodulesids: []
    }
  },
  mounted () {
    this.exportmodules = JSON.parse(JSON.stringify(this.digimodules))
    this.exportmodules.forEach((element) => {
      element.selected = true
    })
    console.log(this.exportmodules)
  },
  methods: {
    submit_modulesexport() {
      this.exportmodules = filter(this.exportmodules, (modules) => {
        return modules.selected
      })
      this.exportmodulesids = []
      this.exportmodules.forEach((element) => {
        this.exportmodulesids.push(element.module_id)
      })
      Bus.fire('submit_exportmodules', this.exportmodulesids)
    }
  }
}
</script>
