<style lang="scss">
</style>

<template lang="html">
<div class="columns is-mobile">
  <div class="column is-12" style="overflow-x: auto;">
    <table class="center-table table">
      <thead>
        <tr>
          <th class="has-text-centered" v-if="item[0]" v-for="(item, index) in sectionskey">
            <span>{{item[0]}}</span>
            <exp-field>
                <exp-input type="text" id="item" v-model="search_data[index]" @keyup.delete.native="reset()" @input="searchsections(index)" :placeholder="item[0]"></exp-input>
            </exp-field>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="(section, index) in mysections">
        <tr>
          <td class="has-text-centered" v-if="attr[0]" v-for="(attr, index) in section" v-text="attr[1]"></td>
          <td class="has-text-centered">
            <a @click="deletesection(section)"><span  class="icon has-text-danger"><i class="fa fa-times"></i></span></a>
            <a v-if="section.section_package[1].length > 1" @click="view(index)"><span  class="icon has-text-info"><i class="fa fa-eye"></i></span></a>
          </td>
        </tr>
        <tr v-if="previewflag === index">
          <td colspan="5" class="notavailable">
            <div id="previewdiv" v-if="dropped">
                <preview :dropped="dropped"></preview>
            </div>
          </td>
          <td colspan="2">
            <exp-multiselect :openDirection="'bottom'" label="package_name" v-model="currentpackage" @input="packagechange(index)" deselectLabel='' selectLabel='' selectedLabel='' :options="section.package_id[1]">
            </exp-multiselect>
          </td>
        </tr>
      </template>
      </tbody>
    </table>
  </div>
</div>
</template>

<script>
// import axios from 'axios'
// import {APIENDPOINT} from '../config/app-config'
import GlobalMixins from './utils/GlobalMixins'
import clone from 'lodash/clone'
import map from 'lodash/map'
export default {
  name: 'mysections',
  mixins: [GlobalMixins],
  data () {
    return {
      mysections: [],
      sectionskey: [],
      initsections: [],
      search_data: {
        section_name: '',
        section_category: '',
        section_area: '',
        section_group: '',
        section_package: '',
        created: ''
      },
      previewflag: false,
      dropped: false,
      currentpackage: null
    }
  },
  mounted () {
    // find all my sections
    // axios.post(APIENDPOINT + 'section/mysections')
    this.$http.post('section/mysections')
    .then(response => {
      console.log(response.data.sections)
      this.mysectionsarray(response.data.sections)
    }).catch(error => {
      if (error.response.status !== 401) {
        this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
      }
    })
  },
  methods: {
    // create custom array to display sections
    mysectionsarray (response) {
      this.mysections = []
      this.initsections = []
      response.forEach((section) => {
        this.mysections.push({
          section_name: ['Name', section.section_name],
          section_category: ['Category', section.packagecategory.category_name],
          section_area: ['Area', section.sectionarea.area_name],
          section_group: ['Group', section.sectiongroup.sectiongroup_name],
          section_package: ['Packages Assigned', map(section.sectionpackage, 'package_name').join(', ')],
          created: ['Created', this.todateformat_date(section.created)],
          section_id: [false, section.section_id],
          section_json: [false, section.section_json],
          package_id: [false, section.sectionpackage]
        })
        // keep initial data for search reset
        this.initsections.push({
          section_name: ['Name', section.section_name],
          section_category: ['Category', section.packagecategory.category_name],
          section_area: ['Area', section.sectionarea.area_name],
          section_group: ['Group', section.sectiongroup.sectiongroup_name],
          section_package: ['Packages Assigned', map(section.sectionpackage, 'package_name').join(', ')],
          created: ['Created', this.todateformat_date(section.created)],
          section_id: [false, section.section_id],
          section_json: [false, section.section_json],
          package_id: [false, section.sectionpackage]
        })
      })
      this.sectionskey = clone(this.mysections[0])
    },
    // search options
    searchsections (path) {
      var filter = this.mysections.slice()
      filter = filter.reduce((filter, item) => {
        if (this.search_data[path].length > 2) {
          if (item[path][1].toLowerCase().indexOf(this.search_data[path].toLowerCase()) !== -1) {
            filter.push(item)
          }
        }
        return filter
      }, [])
      if (filter.length > 0) {
        this.mysections = filter.slice()
      }
    },
    // reset search inputs
    reset () {
      this.mysections = this.initsections.slice()
      for (var key in this.search_data) {
        if (this.search_data[key].length > 2) {
          this.searchsections(key)
        }
      }
    },
    // delete section
    deletesection (section) {
      this.$swal({
        title: 'Delete Section',
        text: 'Are you sure you wanna remove this section?',
        icon: 'warning',
        dangerMode: true,
        showCancelButton: true,
        confirmButtonColor: '#23d160',
        cancelButtonColor: '#ff3860',
        confirmButtonText: 'Yes, Delete it!'
      }).then((flag) => {
        if (flag.value === true) {
          // axios({
          //   method: 'post',
          //   url: APIENDPOINT + 'section/deletesection',
          //   data: {
          //     section_id: section.section_id[1]
          //   }
          // })
          this.$http.post('section/deletesection', {
            section_id: section.section_id[1]
          })
          .then((response) => {
            if (response.data.errorflag) {
              this.$swal('Error Occurred!', response.data.message, 'error')
            } else {
              this.$swal('Great job', 'Section Deleted', 'success')
              // axios.post(APIENDPOINT + 'section/mysections')
              this.$http.post('section/mysections')
              .then(response => {
                this.mysectionsarray(response.data.sections)
              }).catch(error => {
                if (error.response.status !== 401) {
                  this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
                }
              })
            }
          }).catch((err) => {
            if (err.response.status !== 401) {
              this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
            }
          })
        }
      })
    },
    // preview section
    view (index) {
      if (this.previewflag === index) {
        this.previewflag = false
      } else {
        this.$route.query.package = this.mysections[index].package_id[1][1].sectionstopackages.package_id
        this.dropped = JSON.parse(JSON.stringify(this.mysections[index].section_json[1]))
        this.previewflag = index
      }
    },
    // change package for section view, missing images
    packagechange (index) {
      if (this.currentpackage !== null) {
        this.$route.query.package = this.currentpackage.sectionstopackages.package_id
        this.dropped = JSON.parse(JSON.stringify(this.mysections[index].section_json[1]))
      }
    }
  }

}

</script>
