<style lang="css">
</style>
<template lang="html">
      <div class="columns level-item">
        <div class="column is-half">
          <h1 v-if="$route.query.user" class="title">UPDATE USER</h1>
          <h1 v-if="!$route.query.user" class="title">UPDATE MY PROFILE</h1>
          <form @keydown="errors.clear($event.target.id)">
              <exp-field label="Firstname">
                  <exp-input type="text" :disabled="authUser.role_id !== 1" id="firstname" v-model="update_form.firstname" placeholder="Firstname"></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('firstname')"></p>
              <exp-field label="Lastname">
                  <exp-input :disabled="authUser.role_id !== 1" type="text" id="lastname" v-model="update_form.lastname" placeholder="Lastname"></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('lastname')"></p>
              <exp-field label="Usename">
                  <exp-input :disabled="authUser.role_id !== 1" type="text" id="username" v-model="update_form.username" placeholder="Usename"></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('password')"></p>
              <exp-field label="Password">
                  <exp-input type="password" id="password" v-model="password" placeholder="Password"></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('username')"></p>
              <exp-field label="Email">
                  <exp-input :disabled="authUser.role_id !== 1" type="email" id="email" v-model="update_form.email" placeholder="Email"></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('email')"></p>
              <exp-field v-if="authUser" label="Roles">
                <exp-multiselect :disabled="authUser.role_id !== 1" track-by="role_id" label="role_name" v-model="currentrole" deselectLabel="" selectLabel="" selectedLabel="" :options="roles">
                </exp-multiselect>
              </exp-field>
              <exp-field label="Status">
                <exp-multiselect :disabled="authUser.role_id !== 1" track-by="status_id" label="status_name" v-model="currentstatus" deselectLabel="" selectLabel="" selectedLabel="" :options="available_status">
                </exp-multiselect>
              </exp-field>
              <div class="control has-text-centered">
                  <button class="button is-primary" @click.prevent="submit_update($event)">Submit</button>
                <!-- <button class="button is-secondary" @click.prevent="this.$router.go(-1)">Back</button> -->
              </div>
            </form>
        </div>
      </div>
</template>

<script>

// import axios from 'axios'
import {
  // APIENDPOINT,
 USERSTATUS_TABLE } from '../config/app-config'
import { mapState, mapActions, mapGetters } from 'vuex'
class Error {
  constructor () {
    this.errors = {}
  }
  get (path) {
    if (this.errors) {
      for (var i = 0; i < this.errors.length; i++) {
        if (this.errors[i].path === path) {
          return this.errors[i].message
        }
      }
    }
  }
  record (errors) {
    this.errors = errors
  }
  clear (path) {
    for (var i = 0; i < this.errors.length; i++) {
      if (this.errors[i].path === path) {
        delete this.errors[i].path
      }
    }
  }
}

export default {
  name: 'updateform',
  data () {
    return {
      update_form: {
        firstname: '',
        lastname: '',
        username: '',
        password: null,
        email: '',
        role_id: 0,
        modified_by: 0,
        user_status: 0,
        user_id: 0
      },
      password: null,
      roles: [],
      currentrole: {},
      currentstatus: {},
      errors: new Error(),
      available_status: USERSTATUS_TABLE,
      promotetext: ''
    }
  },
  mounted: function () {
    // axios.post(APIENDPOINT + 'user/roles')
    this.$http.post('users/roles', {})
    .then(response => {
      this.roles = response.data.roles
      if (this.$route.query.user) {
        // axios.get(APIENDPOINT + 'user/profile/' + this.$route.query.user)
        this.$http.get('users/profile/' + this.$route.query.user)
        .then(response => {
          this.update_form.user_id = this.$route.query.user
          this.update_form.modified_by = response.data.user.user_id
          this.update_form.firstname = response.data.user.firstname
          this.update_form.lastname = response.data.user.lastname
          this.update_form.email = response.data.user.email
          this.update_form.username = response.data.user.username
          for (var i = 0; i < this.roles.length; i++) {
            if (this.roles[i].role_id === response.data.user.role_id) {
              this.currentrole = this.roles[i]
            }
          }
          for (var j = 0; j < this.available_status.length; j++) {
            if (this.available_status[j].status_id === response.data.user.user_status) {
              this.currentstatus = this.available_status[j]
            }
          }
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          console.error(error)
        })
      } else {
        // axios.post(APIENDPOINT + 'user/profile')
        this.$http.post('users/profile')
        .then(response => {
          this.update_form.user_id = response.data.user.user_id
          this.update_form.modified_by = response.data.user.user_id
          this.update_form.firstname = response.data.user.firstname
          this.update_form.lastname = response.data.user.lastname
          this.update_form.email = response.data.user.email
          this.update_form.username = response.data.user.username
          for (var i = 0; i < this.roles.length; i++) {
            if (this.roles[i].role_id === response.data.user.role_id) {
              this.currentrole = this.roles[i]
            }
          }
          for (var j = 0; j < this.available_status.length; j++) {
            if (this.available_status[j].status_id === response.data.user.user_status) {
              this.currentstatus = this.available_status[j]
            }
          }
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          console.error(error)
        })
      }
    }).catch(error => {
      console.error(error)
    })
  },
  beforeRouteUpdate (to, from, next) {
    // axios.post(APIENDPOINT + 'user/profile')
    this.$http.post('users/profile')
    .then(response => {
      this.update_form.user_id = response.data.user.user_id
      this.update_form.modified_by = response.data.user.user_id
      this.update_form.firstname = response.data.user.firstname
      this.update_form.lastname = response.data.user.lastname
      this.update_form.email = response.data.user.email
      this.update_form.username = response.data.user.username
      for (var i = 0; i < this.roles.length; i++) {
        if (this.roles[i].role_id === response.data.user.role_id) {
          this.currentrole = this.roles[i]
        }
      }
      for (var j = 0; j < this.available_status.length; j++) {
        if (this.available_status[j].status_id === response.data.user.user_status) {
          this.currentstatus = this.available_status[j]
        }
      }
      next()
    }).catch(error => {
      if (error.response.status !== 401) {
        this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
      }
      console.error(error)
      next()
    })
  },
  methods: {
    ...mapActions('auth', {
      dispatchLogout: 'LOGOUT_USER'
    }),
    // method to post create form data
    submit_update (evt) {
      evt.preventDefault()
      let nextpath = ''
      if (this.$route.query.user) {
        this.promotetext = 'Are you sure you wanna change ' + this.update_form.username + '\'s password?'
        nextpath = '/user/grid'
      } else {
        this.promotetext = 'Are you sure you wanna change your password?'
        nextpath = '/'
      }
      if (this.password !== null) {
        this.$swal({
          title: 'Change Password',
          text: this.promotetext,
          icon: 'warning',
          dangerMode: true,
          showCancelButton: true,
          confirmButtonColor: '#23d160',
          cancelButtonColor: '#ff3860',
          confirmButtonText: 'Yes, change my password!'
        }).then((flag) => {
          if (flag.value === true) {
            this.update_form.password = this.password
          } else {
            this.update_form.password = null
          }
          this.update_form.role_id = this.currentrole.role_id
          this.update_form.user_status = this.currentstatus.status_id
          // axios.post(APIENDPOINT + 'user/update', {
          //   data: this.update_form,
          //   headers: {
          //     'Content-type': 'application/json'
          //   }
          // })
          this.$http.post('users/update', {data: this.update_form})
          .then(response => {
            console.log('resp1', response)
            if (response.data.errorflag) {
              this.errors.record(response.data.message.errors)
            } else {
              // this.$swal('Great job', response.data.message, 'success')
              console.log('self logout')
              if (response.data.self) {
                this.dispatchLogout()
                this.$router.push({name: 'Signin'})
              }

              this.$swal({
                title: 'Great job',
                text: response.data.message,
                type: 'success',
                showCancelButton: false,
                confirmButtonText: 'Continue'
              }).then((result) => {
                console.log('swal', result)
                if (result.value) {
                  if (response.data.self) {
                    this.$router.push({name: 'Signin'})
                  } else {
                    console.log('no self continue')
                    this.$router.push({path: nextpath})
                  }
                }
              })

              // this.password = null
              // this.$router.push({path: nextpath})
            }
          }).catch(error => {
            // if (error.response.status !== 401) {
            //   this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
            //   this.password = null
            // }
            console.log(error)
          })
        })
      } else {
        this.update_form.role_id = this.currentrole.role_id
        this.update_form.user_status = this.currentstatus.status_id
        // axios.post(APIENDPOINT + 'user/update', {
        //   data: this.update_form,
        //   headers: {
        //     'Content-type': 'application/json'
        //   }
        // })
        this.$http.post('users/update', {data: this.update_form})
        .then(response => {
          console.log('resp2', response)
          if (response.data.errorflag) {
            this.errors.record(response.data.message.errors)
          } else {
            // this.$swal('Great job', response.data.message, 'success')
            // this.password = null
            // this.$router.push({path: nextpath})
            console.log('self logout')
            if (response.data.self) {
              if (response.data.pwd) {
                this.dispatchLogout()
                this.$router.push({name: 'Signin'})
              }
            }

            this.$swal({
              title: 'Great job',
              text: response.data.message,
              type: 'success',
              showCancelButton: false,
              confirmButtonText: 'Continue'
            }).then((result) => {
              console.log('swal', result)
              if (result.value) {
                if (response.data.self) {
                  this.$router.push({name: 'Signin'})
                } else {
                  console.log('self continue')
                  this.$router.push({path: nextpath})
                }
              }
            })
          }
        }).catch(error => {
          // if (error.response.status !== 401) {
          //   this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          //   this.password = null
          // }
          console.log(error)
        })
      }
    }
  },
  computed:
    mapState('auth', {
      authUser: state => state.user
    }),
  ...mapGetters('auth', {
    userIsAuthenticated: 'userIsAuthenticated'
  })
}

</script>
