<style lang="css">
</style>
<template lang="html">
  <div class="columns level-item">
      <div class="column is-one-third">
          <h1 class="title">UPDATE MODULE</h1>
          <form @keydown="errors.clear($event.target.id)">
            <p class="help is-danger" v-text="errors.get('module_name')"></p>
              <exp-field label="Module Name">
                  <exp-input type="text" v-model="updatemodule.module_name" id="module_name" placeholder="Module Name"></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('package_id')"></p>
              <exp-field label="Package">
                <exp-multiselect track-by="id" label="package_name"  v-model="module_package" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" :options="packages">
                </exp-multiselect>
              </exp-field>
              <div class="field">
                  <div class="control">
                      <label class="checkbox">
                          <input type="checkbox" v-model="updatemodule.module_status" id="downloadvideos"> Module Status
                      </label>
                  </div>
              </div>
              <div class="control has-text-centered">
                  <button class="button is-primary" @click.prevent="submit_updatemodule($event)">Submit</button>
              </div>
          </form>
      </div>
  </div>
</template>

<script>
// import axios from 'axios'
// import {APIENDPOINT} from '../config/app-config'
class Error {
  constructor () {
    this.errors = {}
  }
  get (path) {
    if (this.errors) {
      for (var i = 0; i < this.errors.length; i++) {
        if (this.errors[i].path === path) {
          return this.errors[i].message
        }
      }
    }
  }
  record (errors) {
    this.errors = errors
  }
  clear (path) {
    for (var i = 0; i < this.errors.length; i++) {
      if (this.errors[i].path === path) {
        delete this.errors[i].path
      }
    }
  }
}

export default {
  name: 'updatemodule',
  data () {
    return {
      updatemodule: {
        module_name: '',
        package_id: 0,
        module_status: 0,
        module_id: this.$route.query.module
      },
      errors: new Error(),
      module_package: {},
      packages: []
    }
  },
  mounted: function () {
    // axios.get(APIENDPOINT + 'module/find/' + this.$route.query.module)
    this.$http.get('module/find/' + this.$route.query.module)
    .then(response => {
      this.updatemodule.module_name = response.data.module.module_name
      this.updatemodule.package_id = response.data.module.package_id
      this.updatemodule.module_status = response.data.module.module_status
      this.module_package = response.data.module.package
      // this.module_package = response.data.module.packages[0]
    }).catch(error => {
      if (error.response.status !== 401) {
        this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
      }
      console.error(error)
    })
    // axios.post(APIENDPOINT + 'package/packages')
    this.$http.post('packages/packages')
    .then(response => {
      this.packages = response.data.packages
    }).catch(error => {
      if (error.response.status !== 401) {
        this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
      }
      console.error(error)
    })
  },
  methods: {
    submit_updatemodule (evt) {
      evt.preventDefault(evt)
      this.updatemodule.package_id = this.module_package.id
      // axios.post(APIENDPOINT + 'module/update', {
      //   data: this.updatemodule,
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('module/update', this.updatemodule)
      .then(response => {
        if (response.data.errorflag) {
          this.errors.record(response.data.message.errors)
        } else {
          this.$swal('Great job', response.data.message, 'success')
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    }
  }
}

</script>
