<template>
  <transition name="fade">
      <slot></slot>
  </transition>
</template>
<script>
export default {
  name: 'slideLeftTransition'
}
</script>
<style>
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease-in;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}
</style>
