<style lang="scss">
.mcimg_choiceselected{
  opacity: 0.5;
}
</style>

<template lang="html">
<div>
  <div class="columns is-multiline is-mobile" style="position: relative;" :style="[el.bgobject, {backgroundImage: bgimage}]">
    <div v-if="(el.text !== null && el.text !== undefined && el.text !== '')" class="column is-12" :style="el.textstyle">
      <span>{{el.text}}</span>
    </div>
    <div style="position: absolute;" v-if="el.staticimage.imgsrc !== undefined && el.staticimage.imgsrc !== null" class="column is-paddingless" :style="el.staticimage">
      <img v-if="el.staticimage.imgsrc !== undefined" :src="mediafile + $route.query.package + '/' + el.staticimage.imgsrc" class="image">
    </div>
    <div class="column is-paddingless">
      <div style="display: inline-block;" :style="image.bgobject" v-for="image in choicesarray" class="column" :key="image.id">
        <v-touch style="position: relative; display: inline-block; width: inherit; height: inherit;" :class="{'notavailable': image.check}" :id="el.id" @tap="imageclicked(image.id)" tag="a">
          <img :class="{'mcimg_choiceselected': !image.selected}" v-if="image.imgsrc !== null" :src="mediafile + $route.query.package + '/' + image.imgsrc" class="image" style="display: inline-block">
          <exp-checkicons v-if="(image.selected && image.check) && condfindIndex(el.rightanswer, {'id': image.id}) !== -1" :answerFlag="'right'" :checkIconsObject="checkIconsObject"></exp-checkicons>
          <exp-checkicons v-if="(image.selected && image.check) && condfindIndex(el.rightanswer, {'id': image.id}) === -1" :answerFlag="'wrong'" :checkIconsObject="checkIconsObject"></exp-checkicons>
          <!-- <div style="position: absolute; bottom: 0; right: 0;" v-if="(image.selected && image.check)"><i v-if="condfindIndex(el.rightanswer, {'id': image.id}) !== -1" class="fa fa-check has-text-success is-size-1"></i><i v-else class="fa fa-times has-text-danger is-size-1"></i></div> -->
        </v-touch>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
import findIndex from 'lodash/findIndex'
import countBy from 'lodash/countBy'
import eventbus from '@/config/eventhub.js'
export default{
  name: 'expMultiplechoiceimg',
  props: {
    el: Object,
    checkIconsObject: {
      type: Object
    }
  },
  data () {
    return {
      choicesarray: [],
      soundstack: [],
      mediafile: MEDIAENDPOINT,
      condfindIndex: findIndex,
      inputlimit: 0,
      checkright: false,
      bgimage: null
    }
  },
  mounted () {
    this.choicesarray = JSON.parse(JSON.stringify(this.el.imgchoices))
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    this.$nextTick(() => {
      eventbus.listen('checkprimary_reset', () => {
        this.lockRight = false
        this.inputlimit = 0
        this.checkright = false
        this.choicesarray.forEach((el) => {
          el.selected = false
          el.check = false
        })
      })
      eventbus.listen('checkprimary_show', () => {
        this.choicesarray.forEach((el) => {
          el.check = false
          if (findIndex(this.el.rightanswer, {'id': el.id}) !== -1) {
            el.selected = true
          } else {
            el.selected = false
          }
        })
      })
      eventbus.listen('checkprimary_check', () => {
        this.choicesarray.forEach((el) => {
          el.check = true
        })
      })
      eventbus.listen('checkprimary_tryagain', () => {
        if (this.el.multiple) {
          this.choicesarray.forEach((el) => {
              el.check = false
              if (findIndex(this.el.rightanswer, {'id': el.id}) === -1) {
                el.selected = false
                el.check = false
              } else {
                if (el.selected) {
                  el.check = true
                }
              }
          })
        } else {
          if (!this.checkright) {
            this.checkright = false
            this.lockRight = false
            this.choicesarray.forEach((el) => {
              el.selected = false
              el.check = false
            })
          } else {
            this.choicesarray.forEach((el) => {
              el.check = true
            })
          }
        }
        this.inputlimit = countBy(this.choicesarray, 'selected').true
      })
    })
  },
  methods: {
    imageclicked (id) {
      // Start Timer if exists
      eventbus.fire('choicesimages_starttimer')
      let tempindex = findIndex(this.el.imgchoices, {'id': id})
      let isRight = false
      this.choicesarray[tempindex].check === false
      if (this.choicesarray[tempindex].selected === false) {
        if (this.el.multiple) {
          if (this.inputlimit < parseInt(this.el.maxinput)) {
            this.inputlimit++
            this.choicesarray[tempindex].selected = true
            if (findIndex(this.el.rightanswer, {'id': id}) !== -1) {
              isRight = true
              this.checkright = true
              this.lockRight = true
            }
            let hasinputobject = {id: id, inputid: this.el.id, isRight: isRight, evt: 'add', bindchoiceid: this.el.bindchoicesid}
            eventbus.fire('checkprimary_input', hasinputobject)
          }
        } else {
          this.choicesarray.forEach((el) => {
            if (el.selected) {
              let hasinputobject = {id: el.id, inputid: this.el.id, isRight: isRight, evt: 'remove', bindchoiceid: this.el.bindchoicesid}
              eventbus.fire('checkprimary_input', hasinputobject)
              this.checkright = false
              this.lockRight = false
            }
            el.selected = false
          })
          this.choicesarray[tempindex].selected = !this.choicesarray[tempindex].selected
          let isRight = false
          if (findIndex(this.el.rightanswer, {'id': id}) !== -1) {
            isRight = true
            this.checkright = true
            this.lockRight = true
          }
          let hasinputobject = {id: id, inputid: this.el.id, isRight: isRight, evt: 'add', bindchoiceid: this.el.bindchoicesid}
          eventbus.fire('checkprimary_input', hasinputobject)
        }
      } else {
        this.checkright = false
        this.choicesarray[tempindex].selected = false
        let hasinputobject = {id: id, inputid: this.el.id, isRight: isRight, evt: 'remove', bindchoiceid: this.el.bindchoicesid}
        eventbus.fire('checkprimary_input', hasinputobject)
        if (this.inputlimit > 0) {
          this.inputlimit--
        }
      }
      // eventbus.fire('choicesimages_starttimer')
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.choicesarray = []
        this.choicesarray = JSON.parse(JSON.stringify(element.imgchoices))
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        } else {
          this.bgimage = null
        }
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('checkprimary_reset')
    eventbus.off('checkprimary_tryagain')
    eventbus.off('checkprimary_show')
    eventbus.off('checkprimary_stoptime')
  }
}

</script>
