<style lang="scss">
.relative {
  position: relative;
  white-space: nowrap;
}
</style>

<template lang="html">

  <div class="column columns is-multiline"  >
    <v-touch  :class="['', image.checked ? 'notavailable' : '' ]" v-for="image,index in local_images" :key="image.id" tag="a" @tap="onTap(index)" :style="[image.image_bgobject]" >
      <div class="relative ">
        <img :src="[image.selected ? `${mediafile}${$route.query.package}/${image.alt_imgsrc}` : `${mediafile}${$route.query.package}/${image.imgsrc}`]"  class="image">
        <exp-checkicons v-if="image.selected && image.is_correct && image.checked" :answerFlag="'right'" :checkIconsObject="checkIconsObject"></exp-checkicons>
        <exp-checkicons v-if="image.selected && !image.is_correct && image.checked" :answerFlag="'wrong'" :checkIconsObject="checkIconsObject"></exp-checkicons>
      </div>
    </v-touch>
  </div>
</template>

<script>
import { MEDIAENDPOINT } from "@/config/app-config";
import findIndex from "lodash/findIndex";
import size from "lodash/size";
import filter from "lodash/filter";
import eventbus from "@/config/eventhub.js";
export default {
  name: "expMultipleChoiceImagesGroup",
  props: {
    images: Array,
    max_selections: Number,
    allow_multiple: Boolean,
    bindchoicesid: String,
    group_id: Number,
    current_selections: Number,
    checkIconsObject: {
      type: Object
    }
  },
  data() {
    return {
      choicesarray: [],
      mediafile: MEDIAENDPOINT,
      local_images: Array,
      previous_selected: null,
      bgimage: null
    };
  },
  mounted() {
    this.init();
    this.$nextTick(() => {
      eventbus.listen("checkprimary_reset", () => {
        this.reset();
        eventbus.fire("resetCurrentSelections");
      });
      eventbus.listen("checkprimary_show", () => {
        this.previous_selected = null;
        this.local_images.map(img => {
          img.checked = true;
          if (img.is_correct) {
            img.selected = true;
          } else {
            img.selected = false;
          }
        });
      });
      eventbus.listen("checkprimary_check", () => {
        this.checkFlag = true;
        this.local_images.map(img => {
          if (img.selected) {
            img.checked = true;
          }
        });
        this.previous_selected = null;
      });
      eventbus.listen("checkprimary_tryagain", () => {
        this.checkFlag = false;
        this.local_images.map((img, index) => {
          if (!img.is_correct && img.selected) {
            this.imageDeselected(index);
            img.checked = false;
          } else if (img.is_correct && img.selected) {
            this.imageDeselected(index);
            this.imageSelected(index);
            this.$forceUpdate();
          }
        });
      });
    });
  },
  computed: {
    props_images: function() {
      return this.images;
    }
  },
  watch: {
    props_images: {
      handler(element) {
        this.local_images = JSON.parse(JSON.stringify(this.images));
        this.$forceUpdate();
      }
    }
  },
  methods: {
    //copie simages from el and sets local state
    init() {
      this.local_images = [];
      this.local_images = JSON.parse(JSON.stringify(this.images));
    },
    onTap(index) {
      let previous = null;
      //sets local previous to previously_selected(if there is,else null)
      if (this.previous_selected != null) {
        previous = this.previous_selected;
      }
      //
      this.previous_selected = index;
      //never surpass max-selections
      if (this.current_selections <= this.max_selections) {
        //case where there is only 1 selection
        if (this.max_selections == 1) {
          //no previous selection
          if (previous === null) {
            //image not selected
            if (
              !this.local_images[index].selected &&
              this.current_selections == 0
            ) {
              this.imageSelected(index);
            } else return;
          } else if (previous === index) {
            //previously clicked image gets re-tapped
            if (this.local_images[index].selected) {
              //deselect is selected
              this.imageDeselected(index);
              this.previous_selected = null;
            } else if (!this.local_images[index].selected) {
              //else select
              this.imageSelected(index);
            }
          } else if (previous !== index && previous !== null) {
            //previous image exists so deselect it and select this one
            this.imageDeselected(previous);
            this.imageSelected(index);
          }
        } else if (this.current_selections < this.max_selections) {
          //there is room for selections so
          if (previous === null) {
            //select if first time
            this.imageSelected(index);
          } else if (previous === index) {
            //if same image with previous is tapped deselect it if its selected
            if (this.local_images[previous].selected) {
              this.imageDeselected(previous);
            } else {
              this.imageSelected(index);
            }
          } else if (previous !== index) {
            //if image was selectd ,deselect it ,else select it
            if (this.local_images[index].selected) {
              this.imageDeselected(index);
            } else this.imageSelected(index);
          }
        } else if (
          this.current_selections == this.max_selections &&
          this.max_selections > 1
        ) {
          //reached max selection so deselect image if its selected
          if (this.local_images[index].selected) {
            this.imageDeselected(index);
          }
        }
      }
    },
    //resets and force updates,sents reset event to parent to reset counters
    reset() {
      Object.assign(this.$data, this.$options.data());
      this.init();
      this.$forceUpdate();
      eventbus.fire("resetCurrentSelections");
    },
    //sets selected state and fires "image selected event to parent" to keep track of selections
    imageSelected(index) {
      this.local_images[index].selected = true;
      let payload = {
        id: this.group_id,
        inputid: this.local_images[index].id,
        bindchoiceid: this.bindchoicesid,
        isRight: this.local_images[index].is_correct,
        evt: "add"
      };
      eventbus.fire("checkprimary_input", payload);
      let data = {
        image_id: this.local_images[index].id,
        bindchoicesid: this.bindchoicesid,
        group_id: this.group_id
      };
      eventbus.fire("image_Selected", data);
    },
    imageDeselected(index) {
      this.local_images[index].selected = false;
      let payload = {
        id: this.group_id,
        inputid: this.local_images[index].id,
        bindchoiceid: this.bindchoicesid,
        isRight: this.local_images[index].is_correct,
        evt: "remove"
      };
      eventbus.fire("checkprimary_input", payload);
      let data = {
        image_id: this.local_images[index].id,
        bindchoicesid: this.bindchoicesid,
        group_id: this.group_id
      };
      eventbus.fire("image_Deselected", data);
    }
  },
  beforeDestroy() {
    eventbus.off("checkprimary_reset");
    eventbus.off("checkprimary_tryagain");
    eventbus.off("checkprimary_show");
    eventbus.off("checkprimary_stoptime");
    eventbus.off("image_Deselected");
    eventbus.off("image_Selected");
    eventbus.off("resetCurrentSelections");
  }
};
</script>
