<style lang="scss" scoped>
.choicesimage_parentholder{
  box-shadow: 0 0px 10px rgba(68, 9, 136, 0.76), 0 2px 4px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 80%;
  margin: 15px auto;
}
.choicesimage_centerimage{
  margin: 0 auto;
}
.choiceimage_placeholder{
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.visibleoff{
  display: none;
}
</style>

<template lang="html">
<div id="expChoicesimages" class="columns is-multiline is-mobile has-center-items" :class="{'choicesimage_parentholder': choicesimagesstyleflag}":style="[el.choicesbgobject, {backgroundImage: bgimage}]">
  <div class="column" :class="choice.column" v-for="(choice, index) in choicesarray" :key="choice.id">
    <div :style="choice.styleobj" v-if="!choice.selected">
      <div v-if="!choice.change || !changeonclick" class="choiceimage_placeholder" :class="{visibleoff: choiceid === choice.id}">
        <v-touch :id="choice.id" @tap="choiceclicked(choice.id, index)" tag="a">
          <img v-if="choice.imgsrc !== undefined && choice.imgsrc !== null" :class="{visibleoff: choiceid === choice.id}" :style="[choice.styleobj !== undefined && choice.styleobj.width !== undefined && choice.styleobj.width !== null && choice.styleobj.width !== '' && choice.styleobj.height !== undefined && choice.styleobj.height !== null && choice.styleobj.height !== '' ? {width: choice.styleobj.width, height: choice.styleobj.height} : {}]" class="image choicesimage_centerimage" :src="mediafile + $route.query.package + '/' + choice.imgsrc">
        </v-touch>
      </div>
      <div v-if="choice.change || changeonclick" :class="{visibleoff: choiceid !== choice.id}" class="choiceimage_placeholder">
          <img :class="{visibleoff: choiceid !== choice.id}" class="image choicesimage_centerimage" :src="mediafile + $route.query.package + '/' +  choice.imgonchange">
      </div>
    </div>
  </div>
</div>
</template>

<script>
/* eslint-disable camelcase */
/* eslint-disable no-unused-vars */
import shuffle from 'lodash/shuffle'
import findIndex from 'lodash/findIndex'
import eventbus from '@/config/eventhub.js'
import {MEDIAENDPOINT} from '@/config/app-config'
const ExpAudioGroup = require('@/config/audio-helper.js').ExpAudioGroup
export default {
  name: 'expChoicesimages',
  props: {
    el: Object
  },
  data () {
    return {
      choicesarray: [],
      bgimage: null,
      mediafile: MEDIAENDPOINT,
      choiceid: null, // Id of each image choice
      choicesmultiple: false, // flag to determine if choices are 1:1 to user inputs or 1:m
      changeonclick: false, // flag to determine if Image will change on click or not
      imagesrc: null, // Image source
      soundstack: [], // Stack All the image sounds on click to clear and play the last one
      beforeindex: -1,
      choicesimagesstyleflag: true
    }
  },
  mounted () {
    if (this.el.choicesarray.length > 0) {
      if (this.el.shuffleflag !== undefined && this.el.shuffleflag !== null) {
        if (this.el.shuffleflag) {
          this.choicesarray = shuffle(JSON.parse(JSON.stringify(this.el.choicesarray)))
        } else {
          this.choicesarray = JSON.parse(JSON.stringify(this.el.choicesarray))
        }
      } else {
        this.choicesarray = JSON.parse(JSON.stringify(this.el.choicesarray))
      }
    }
    if (this.el.choicesmultiple !== undefined && this.el.choicesmultiple !== null) {
      this.choicesmultiple = this.el.choicesmultiple
    } else {
      this.choicesmultiple = false
    }
    if (this.el.choicesimagesstyleflag !== undefined && this.el.choicesimagesstyleflag !== null) {
      this.choicesimagesstyleflag = this.el.choicesimagesstyleflag
    } else {
      this.choicesimagesstyleflag = true
    }
    if (this.el.choicesbgobject.backgroundImage !== undefined && this.el.choicesbgobject.backgroundImage !== null && this.el.choicesbgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.choicesbgobject.backgroundImage + ')'
    }
    this.$nextTick(() => {
      eventbus.listen('taptapimages_disablechoice', (data) => {
        let tempindex = findIndex(this.choicesarray, {'id': data.id})
        if (!this.choicesmultiple && this.choicesarray[0].bindchoicesid === data.bindchoicesid) {
          this.choicesarray[tempindex].selected = true
          let data = { id: null, imgsrc: null }
          eventbus.fire('choicesimages_userchoice', data)
        }
      })
      eventbus.listen('checkprimary_reset', () => {
        this.choicesarray = [0, this.choicesarray.length]
        if (this.el.choicesarray.length > 0) {
          this.choicesarray = JSON.parse(JSON.stringify(this.el.choicesarray))
          for (var i = 0; i < this.choicesarray.length; i++) {
            this.choicesarray[i].selected = false
            this.choicesarray[i].change = false
          }
        }
        this.choiceid = null
      })
      eventbus.listen('choicesimages_enablechoice', (data) => {
        let tempindex = findIndex(this.choicesarray, {'id': data.id})
        if (this.choicesarray[0].bindchoicesid === data.bindchoicesid) {
          if (tempindex !== -1) {
            this.choicesarray[tempindex].selected = false
            this.choicesarray[tempindex].change = false
            this.choiceid = null
          }
        }
      })
    })
  },
  methods: {
    // Call when choice clicked
    choiceclicked (id, index) {
      if (this.soundstack.length === 0) {
        for (var i = 0; i < this.el.choicesarray.length; i++) {
          if (this.choicesarray[i].imgsound !== null && this.choicesarray[i].imgsound !== '' && this.choicesarray[i].imgsound !== undefined) {
            this.soundstack.push(new ExpAudioGroup({
              src: MEDIAENDPOINT + this.$route.query.package + '/' + this.el.choicesarray[i].imgsound,
              preload: false,
              html5: true
            }))
          }
        }
      }
      let choiceindex = findIndex(this.el.choicesarray, {'id': id})
      let shufflechoiceindex = findIndex(this.choicesarray, {'id': id})
      this.choiceid = id
      let data = {id: id, imgsrc: this.el.choicesarray[choiceindex].imgsrc, index: choiceindex, bindchoicesid: this.el.choicesarray[choiceindex].bindchoicesid}
      this.choicesarray[shufflechoiceindex].change = true
      // Send data to ui-components
      eventbus.fire('choicesimages_userchoice', data)
      // Start Timer if exists
      eventbus.fire('choicesimages_starttimer')
      if (!this.choicesarray[shufflechoiceindex].selected && this.soundstack.length > 0) {
        this.soundstack[shufflechoiceindex].muted = false
        this.soundstack[shufflechoiceindex].play()
        for (var j = 0; j < this.soundstack.length; j++) {
          if (j !== shufflechoiceindex) {
            this.soundstack[j].muted = true
          }
        }
      }
    }
  },
  computed: {
    customel: function () {
      return this.el
    },
  },
  watch: {
    el: function () { this.$forceUpdate() },
    customel: {
      handler (element) {
        this.choicesarray = [0, this.choicesarray.length]
        eventbus.fire('checkprimary_reset')
        this.choiceid = null
        if (element.choicesmultiple !== undefined && element.choicesmultiple !== null) {
          this.choicesmultiple = element.choicesmultiple
        } else {
          this.choicesmultiple = false
        }
        if (element.choicesimagesstyleflag !== undefined && element.choicesimagesstyleflag !== null) {
          this.choicesimagesstyleflag = element.choicesimagesstyleflag
        } else {
          this.choicesimagesstyleflag = true
        }
        if (element.choicesarray.length > 0) {
          this.choicesarray = JSON.parse(JSON.stringify(element.choicesarray))
        }
        if (element.choicesbgobject.backgroundImage !== undefined && element.choicesbgobject.backgroundImage !== null && element.choicesbgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.choicesbgobject.backgroundImage + ')'
        } else {
          this.bgimage = null
        }
        this.$forceUpdate()
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('taptapimages_disablechoice')
    eventbus.off('choicesimages_enablechoice')
  }
}

</script>
