<style lang="scss" scoped>
.snapshot{
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3;
  width: 150px;
  height: 150px;
}
</style>

<template lang="html">
<div v-if="el.settingtab === 'choicesbackground'">
  <div class="columns is-multiline">
    <div class="column is-6 pull-right">
      <a class="button has-text-info" @click="resetbg()"><span class="icon"><i class="fa fa-repeat"></i></span><span>Reset Choices Background Settings</span></a>
    </div>
    <div v-if="object.bgimage !== null && object.bgimage !== ''" class="column is-7">
      <img v-if="object.bgimage !== null" class="image" :src="mediafile + $route.query.package + '/' + object.bgimage" id="secchoicebgimage">
    </div>
      <div class="column is-12 has-text-left">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Filename
            </a>
          </p>
          <p class="control">
            <input class="input" type="text" placeholder="Background Image" v-model="object.bgimage">
          </p>
        </div>
      </div>
      <div class="column is-6">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Repeat
            </a>
          </p>
          <p class="control">
            <span class="select">
              <select v-model="object.bgrepeat">
                <option>no-repeat</option>
                <option>repeat</option>
                <option>repeat-x</option>
                <option>repeat-y</option>
                <option>space</option>
                <option>round</option>
                <option>initial</option>
                <option>inherit</option>
              </select>
            </span>
          </p>
        </div>
      </div>
    <div class="column is-12 tabs is-boxed">
      <ul>
        <li :class="[buttoncolors === 'properties' ? 'is-active': '' ]">
          <a @click="buttoncolors = 'properties'">Properties</a>
        </li>
        <li :class="[buttoncolors === 'bgcolor' ? 'is-active': '' ]">
          <a @click="buttoncolors = 'bgcolor'">Background Color</a>
        </li>
        <li :class="[buttoncolors === 'bgborder' ? 'is-active': '' ]">
          <a @click="buttoncolors = 'bgborder'" >Background Border</a>
        </li>
      </ul>
    </div>
    <!-- background border settings -->
    <div class="column is-12 columns is-multiline" v-if="buttoncolors === 'bgborder'">
      <div class="column is-12">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Style
            </a>
          </p>
          <p class="control">
            <span class="select">
              <select v-model="object.bgimgborderstyle">
                <option>none</option>
                <option>solid</option>
                <option>dotted</option>
                <option>dashed</option>
                <option>double</option>
                <option>groove</option>
                <option>ridge</option>
                <option>inset</option>
                <option>outset</option>
              </select>
            </span>
          </p>
        </div>
      </div>
      <div class="column is-6">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Width
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Border Width" v-model="object.bgimgborderwidth">
          </p>
          <p class="control">
            <a class="button is-static">
              px
            </a>
          </p>
        </div>
      </div>
      <div class="column is-6">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Radius
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Border Radius" v-model="object.bgimgborderradius">
          </p>
          <p class="control">
            <a class="button is-static">
              px
            </a>
          </p>
        </div>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Color
            </a>
          </p>
          <p class="control">
            <input class="input" type="text" placeholder="Border Color" v-model="object.bgimgbordercolor">
          </p>
        </div>
      </div>
      <!-- <div class="column is-12">
        <div class="color-group"  v-for="colorgroup in colorarray" :key="colorgroup.id">
          <a @click="colorpick(color.colorhex, 'border')" v-for="color in colorgroup.colors" :key="color.id" class="color-block" :style="{backgroundColor: color.colorhex}">
          </a>
        </div>
      </div> -->
    </div>
    <!-- background border settings -->
    <!-- background color  -->
    <div class="column is-12 columns is-multiline" v-if="buttoncolors === 'bgcolor'">
      <div class="column is-12">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Color
            </a>
          </p>
          <p class="control">
            <input class="input" type="text" placeholder="Backgound Color" v-model="object.bgcolor">
          </p>
        </div>
      </div>
      <!-- <div class="column is-12">
        <div class="color-group"  v-for="colorgroup in colorarray" :key="colorgroup.id">
          <a @click="colorpick(color.colorhex, 'bgcolor')" v-for="color in colorgroup.colors" :key="color.id" class="color-block" :style="{backgroundColor: color.colorhex}">
          </a>
        </div>
      </div> -->
    </div>
    <!-- background color -->
    <!-- background paddings and margins -->
    <div class="column is-12 columns is-multiline" v-if="buttoncolors === 'properties'">
      <div class="column is-12">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Float
            </a>
          </p>
          <p class="control">
            <span class="select">
              <select v-model="object.float">
                <option>none</option>
                <option>left</option>
                <option>right</option>
                <option>inherit</option>
              </select>
            </span>
          </p>
        </div>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <p class="contol">
            <a class="button is-static">
              Width
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" v-model="object.width">
          </p>
          <p class="contol">
            <a class="button is-static">
              px
            </a>
          </p>
        </div>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <p class="contol">
            <a class="button is-static">
              Height
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" v-model="object.height">
          </p>
          <p class="contol">
            <a class="button is-static">
              px
            </a>
          </p>
        </div>
      </div>
      <div v-if = "object.bgimage !== null && object.bgimage !== undefined && object.bgimage !== ''" class="column is-12">
        <div class="field has-addons">
          <p class="contol">
            <a class="button is-static">
              BG Width
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" v-model="object.bgwidth">
          </p>
          <p class="contol">
            <a class="button is-static">
              BG Height
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" v-model="object.bgheight">
          </p>
          <p class="contol">
            <a class="button is-static">
              px
            </a>
          </p>
        </div>
      </div>
      <div v-if = "object.bgimage !== null && object.bgimage !== undefined && object.bgimage !== ''" class="column is-6">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              <span>Image Ratio Multiplier</span>
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" step="0.1" min="0" v-model="ratiomultiple">
          </p>
        </div>
      </div>
      <div v-if = "object.bgimage !== null && object.bgimage !== undefined && object.bgimage !== ''" class="column is-6">
        <exp-checkbox type="text" class="checkbox" v-model="multiplierflag">Lock Multiplier</exp-checkbox>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Padding
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Top" v-model="object.bgtoppadding">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Right" v-model="object.bgrightpadding">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Bottom" v-model="object.bgbottompadding">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Left" v-model="object.bgleftpadding">
          </p>
          <p class="control">
            <a class="button is-static">
              %
            </a>
          </p>
        </div>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Margin
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Top" v-model="object.bgtopmargin">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Right" v-model="object.bgrightmargin">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Bottom" v-model="object.bgbottommargin">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Left" v-model="object.bgleftmargin">
          </p>
          <p class="control">
            <a class="button is-static">
              %
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- background paddings and margins -->
  </div>
</div>
</template>

<script>
import {COLORS_OBJECTS, MEDIAENDPOINT} from '@/config/app-config.js'
export default {
  // Choices background settings, alter the json choicesbgobject
  name: 'backgroundsettings',
  props: {
    el: Object
  },
  data () {
    return {
      buttoncolors: 'none',
      mediafile: MEDIAENDPOINT,
      multiplierflag: false,
      ratiomultiple: null,
      object: {
        bgimgborderwidth: null,
        bgimgborderradius: null,
        bgimgbordercolor: null,
        bgtoppadding: null,
        bgbottompadding: null,
        bgleftpadding: null,
        bgrightpadding: null,
        bgtopmargin: null,
        bgrightmargin: null,
        bgbottommargin: null,
        bgleftmargin: null,
        bgmargin: null,
        bgcolor: null,
        bgimage: null,
        bgrepeat: null,
        bgimgborderstyle: null,
        width: null,
        height: null,
        bgwidth: null,
        bgheight: null,
        float: null
      },
      colorarray: COLORS_OBJECTS,
      tempobject: {}
    }
  },
  mounted () {
    // load the initial values of json to user inputs
    this.tempobject = JSON.parse(JSON.stringify(this.el.choicesbgobject))
    if (this.tempobject.backgroundImage !== undefined) {
      this.object.bgimage = this.tempobject.backgroundImage.replace(/url|\(|\)/g, '')
    }
    this.object.bgrepeat = this.tempobject.backgroundRepeat
    this.object.float = this.tempobject.float
    this.object.bgcolor = this.tempobject.backgroundColor
    if (this.tempobject.borderWidth !== undefined) {
      this.object.bgimgborderwidth = this.tempobject.borderWidth.replace(/px/g, '')
    }
    if (this.tempobject.borderStyle !== undefined) {
      this.object.bgimgborderstyle = this.tempobject.borderStyle.replace(/px/g, '')
    }
    if (this.tempobject.borderRadius !== undefined) {
      this.object.bgimgborderradius = this.tempobject.borderRadius.replace(/px/g, '')
    }
    if (this.tempobject.borderColor !== undefined) {
      this.object.bgimgbordercolor = this.tempobject.borderColor.replace(/px/g, '')
    }
    if (this.tempobject.paddingTop !== undefined) {
      this.object.bgtoppadding = this.tempobject.paddingTop.replace(/%/g, '')
    }
    if (this.tempobject.paddingBottom !== undefined) {
      this.object.bgbottompadding = this.tempobject.paddingBottom.replace(/%/g, '')
    }
    if (this.tempobject.paddingBottom !== undefined) {
      this.object.bgbottompadding = this.tempobject.paddingBottom.replace(/%/g, '')
    }
    if (this.tempobject.paddingLeft !== undefined) {
      this.object.bgleftpadding = this.tempobject.paddingLeft.replace(/%/g, '')
    }
    if (this.tempobject.paddingRight !== undefined) {
      this.object.bgrightpadding = this.tempobject.paddingRight.replace(/%/g, '')
    }
    if (this.tempobject.marginTop !== undefined) {
      this.object.bgtopmargin = this.tempobject.marginTop.replace(/%/g, '')
    }
    if (this.tempobject.marginBottom !== undefined) {
      this.object.bgbottommargin = this.tempobject.marginBottom.replace(/%/g, '')
    }
    if (this.tempobject.marginLeft !== undefined) {
      this.object.bgleftmargin = this.tempobject.marginLeft.replace(/%/g, '')
    }
    if (this.tempobject.marginRight !== undefined) {
      this.object.bgrightmargin = this.tempobject.marginRight.replace(/%/g, '')
    }
    if (this.tempobject.height !== undefined) {
      this.object.height = this.tempobject.height.replace(/px/g, '')
    }
    if (this.tempobject.width !== undefined) {
      this.object.width = this.tempobject.width.replace(/px/g, '')
    }
    if (this.tempobject.backgroundSize !== undefined) {
      let tempsplit = this.tempobject.backgroundSize.split('px')
      this.object.bgwidth = tempsplit[0]
      this.object.bgheight = tempsplit[1].replace(/\s/g, '')
    }
  },
  methods: {
    colorpick (hex, refs) {
      switch (refs) {
        case 'border':
          this.object.bgimgbordercolor = hex
          break
        case 'bgcolor':
          this.object.bgcolor = hex
          break
      }
    },
    // Method to load users inputs to temp object and throught that to json choicesbgobject
    loadbg () {
      if (this.object.bgimage !== null && this.object.bgimage !== '' && this.object.bgimage !== undefined) {
        this.tempobject.backgroundImage =  this.object.bgimage
        this.$nextTick(() => {
          if(this.ratiomultiple === 1 && this.multiplierflag) {
            var img = document.getElementById('secchoicebgimage')
            if (img !== undefined && img !== null) {
              this.object.bgwidth = img.naturalWidth
              this.object.bgheight = img.naturalHeight
            }
          }
        })
      } else {
        if (this.tempobject.backgroundImage !== undefined) {
          delete this.tempobject.backgroundImage
        }
      }
      if (this.object.bgrepeat !== null && this.object.bgrepeat !== undefined && this.object.bgrepeat !== '') {
        this.tempobject.backgroundRepeat = this.object.bgrepeat
      } else {
        if (this.tempobject.backgroundRepeat !== undefined) {
          delete this.tempobject.backgroundRepeat
        }
      }
      if (this.object.bgcolor !== null && this.object.bgcolor !== undefined && this.object.bgcolor !== '') {
        this.tempobject.backgroundColor = this.object.bgcolor
      } else {
        if (this.tempobject.backgroundColor !== undefined) {
          delete this.tempobject.backgroundColor
        }
      }
      if (this.object.bgimgborderwidth !== null && this.object.bgimgborderwidth !== undefined && this.object.bgimgborderwidth !== '') {
        this.tempobject.borderWidth = this.object.bgimgborderwidth + 'px'
      } else {
        if (this.tempobject.borderWidth !== undefined) {
          delete this.tempobject.borderWidth
        }
      }
      if (this.object.bgimgborderstyle !== null && this.object.bgimgborderstyle !== undefined && this.object.bgimgborderstyle !== '') {
        this.tempobject.borderStyle = this.object.bgimgborderstyle
      } else {
        if (this.tempobject.borderStyle !== undefined) {
          delete this.tempobject.borderStyle
        }
      }
      if (this.object.bgimgborderradius !== null && this.object.bgimgborderradius !== undefined && this.object.bgimgborderradius !== '') {
        this.tempobject.borderRadius = this.object.bgimgborderradius + 'px'
      } else {
        if (this.tempobject.borderRadius !== undefined) {
          delete this.tempobject.borderRadius
        }
      }
      if (this.object.bgimgbordercolor !== null && this.object.bgimgbordercolor !== undefined && this.object.bgimgbordercolor !== '') {
        this.tempobject.borderColor = this.object.bgimgbordercolor
      } else {
        if (this.tempobject.borderColor !== undefined) {
          delete this.tempobject.borderColor
        }
      }
      if (this.object.bgtoppadding !== null && this.object.bgtoppadding !== undefined && this.object.bgtoppadding !== '') {
        this.tempobject.paddingTop = this.object.bgtoppadding + '%'
      } else {
        if (this.tempobject.paddingTop !== undefined) {
          delete this.tempobject.paddingTop
        }
      }
      if (this.object.bgbottompadding !== null && this.object.bgbottompadding !== undefined && this.object.bgbottompadding !== '') {
        this.tempobject.paddingBottom = this.object.bgbottompadding + '%'
      } else {
        if (this.tempobject.paddingBottom !== undefined) {
          delete this.tempobject.paddingBottom
        }
      }
      if (this.object.bgleftpadding !== null && this.object.bgleftpadding !== undefined && this.object.bgleftpadding !== '') {
        this.tempobject.paddingLeft = this.object.bgleftpadding + '%'
      } else {
        if (this.tempobject.paddingLeft !== undefined) {
          delete this.tempobject.paddingLeft
        }
      }
      if (this.object.bgrightpadding !== null && this.object.bgrightpadding !== undefined && this.object.bgrightpadding !== '') {
        this.tempobject.paddingRight = this.object.bgrightpadding + '%'
      } else {
        if (this.tempobject.paddingRight !== undefined) {
          delete this.tempobject.paddingRight
        }
      }
      if (this.object.bgtopmargin !== null && this.object.bgtopmargin !== undefined && this.object.bgtopmargin !== '') {
        this.tempobject.marginTop = this.object.bgtopmargin + '%'
      } else {
        if (this.tempobject.marginTop !== undefined) {
          delete this.tempobject.marginTop
        }
      }
      if (this.object.bgbottommargin !== null && this.object.bgbottommargin !== undefined && this.object.bgbottommargin !== '') {
        this.tempobject.marginBottom = this.object.bgbottommargin + '%'
      } else {
        if (this.tempobject.marginBottom !== undefined) {
          delete this.tempobject.marginBottom
        }
      }
      if (this.object.bgleftmargin !== null && this.object.bgleftmargin !== undefined && this.object.bgleftmargin !== '') {
        this.tempobject.marginLeft = this.object.bgleftmargin + '%'
      } else {
        if (this.tempobject.marginLeft !== undefined) {
          delete this.tempobject.marginLeft
        }
      }
      if (this.object.bgrightmargin !== null && this.object.bgrightmargin !== undefined && this.object.bgrightmargin !== '') {
        this.tempobject.marginRight = this.object.bgrightmargin + '%'
      } else {
        if (this.tempobject.marginRight !== undefined) {
          delete this.tempobject.marginRight
        }
      }
      if (this.object.width !== null && this.object.width !== undefined && this.object.width !== '') {
        this.tempobject.width = this.object.width + 'px'
      } else {
        if (this.tempobject.width !== undefined) {
          delete this.tempobject.width
        }
      }
      if (this.object.height !== null && this.object.height !== undefined && this.object.height !== '') {
        this.tempobject.height = this.object.height + 'px'
      } else {
        if (this.tempobject.height !== undefined) {
          delete this.tempobject.height
        }
      }
      if ((this.object.bgwidth !== null && this.object.bgwidth !== undefined && this.object.bgwidth !== '') || (this.object.bgheight !== null && this.object.bgheight !== undefined && this.object.bgheight !== '')) {
        this.tempobject.backgroundSize = this.object.bgwidth + 'px ' + this.object.bgheight + 'px'
      } else {
        if (this.tempobject.backgroundSize  !== undefined) {
          delete this.tempobject.backgroundSize
        }
      }
      if (this.object.float !== null && this.object.float !== undefined && this.object.float !== '') {
        this.tempobject.float = this.object.float
      } else {
        if (this.tempobject.float !== undefined) {
          delete this.tempobject.float
        }
      }
      Object.keys(this.el.choicesbgobject).forEach((key) => { delete this.el.choicesbgobject[key] })
      this.el.choicesbgobject = JSON.parse(JSON.stringify(this.tempobject))
    },
    // Reset choicesbgobject
    resetbg () {
      this.object.bgimgborderwidth = null
      this.object.bgimgborderradius = null
      this.object.bgimgbordercolor = null
      this.object.bgtoppadding = null
      this.object.bgbottompaddin = null
      this.object.bgleftpadding = null
      this.object.bgrightpadding = null
      this.object.bgtopmargin = null
      this.object.bgrightmargin = null
      this.object.bgbottommargin = null
      this.object.bgleftmargin = null
      this.object.bgmargin = null
      this.object.bgcolor = null
      this.object.bgimage = null
      this.object.bgrepeat = null
      this.object.bgimgborderstyle = null
      this.object.float = null
      this.el.choicesbgobject = JSON.parse(JSON.stringify(this.tempobject))
    }
  },
  computed: {
    compobject: function () {
      return this.object
    }
  },
  watch: {
    compobject: {
      handler (object) {
        this.loadbg()
      },
      deep: true
    },
    ratiomultiple: {
      handler (value) {
        var img = document.getElementById('secchoicebgimage')
        if (this.multiplierflag) {
          if (value !== 1) {
            this.object.bgwidth = img.naturalWidth
            this.object.bgheight = img.naturalHeight
            this.object.bgwidth = Math.round(this.object.bgwidth * value)
            this.object.bgheight = Math.round(this.object.bgheight * value)
          } else {
            this.object.bgwidth = img.naturalWidth
            this.object.bgheight = img.naturalHeight
          }
        }
      }
    },
    buttoncolors: {
      handler (value) {
        if (value === 'properties' || value === 'bgcolor') {
          this.$nextTick(() => {
            this.$InputNumberStep('input', 'number', 38, 40, 10)
          })
        }
        if (value === 'properties' && this.object.bgwidth !== null && this.object.bgwidth !== undefined && this.object.bgwidth !== '') {
          var img = document.getElementById('secchoicebgimage')
          let widthflag = (Math.round((this.object.bgwidth / img.naturalWidth) * 10) / 10)
          let heightflag = (Math.round((this.object.bgheight / img.naturalHeight) * 10) / 10)
          if (widthflag === heightflag) {
            this.ratiomultiple = widthflag
          } else {
            this.ratiomultiple = null
          }
        }
      }
    }
  }
}
</script>
