<style lang="scss">
.groupingimages_snapshot{
  width: 50px;
  height: 50px;
}
.groupingimages_staticsnapshot{
  width: 100px;
  height: 100px;
}
</style>

<template lang="html">
  <div class="columns is-multiline">
    <div class="column is-12 is-paddingless">
      <div class="tabs is-boxed">
        <ul>
          <li :class="{'is-active': tab === 'choicesimgs'}"><a @click="tabclicked('choicesimgs')">Choices Img.</a></li>
          <li :class="{'is-active': tab === 'choicesbackground'}"><a @click="tabclicked('choicesbackground')">Choices BG.</a></li>
          <li :class="{'is-active': tab === 'grouping'}"><a @click="tabclicked('grouping')">Grouping</a></li>
          <li :class="{'is-active': tab === 'background'}"><a @click="tabclicked('background')">Groups BG.</a></li>
          <li :class="{'is-active': tab === 'statictexts'}"><a @click="tabclicked('statictexts')">Static Texts</a></li>
          <li :class="{'is-active': tab === 'staticimages'}"><a @click="tabclicked('staticimages')">Static Images</a></li>
        </ul>
      </div>
    </div>
    <div class="column is-12">
      <div v-if="tab === 'grouping'" class="columns is-multiline">
        <div class="field has-addons column is-12">
            <p class="control">
                <a class="button is-static">
                  Group
                </a>
            </p>
            <p class="control">
              <input type="text" class="input" v-model="groupname">
            </p>
            <p class="control">
              <a class="button has-text-info" @click="add_group()">Add</a>
            </p>
            <p class="control">
                <a class="button is-static">
                    Group ID
                </a>
            </p>
            <p v-if="el.imagegroups.length > 0" class="contol"><input @input="changebindchoicesid()" class="input" type="text" placeholder="Bind Choices ID" v-model="el.imagegroups[0].bindchoicesid"></p>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <div class="control">
              <a class="button is-static">
                <span>Groups</span>
              </a>
            </div>
            <div class="control">
              <exp-multiselect :openDirection="'top'" track-by="id" label="id" v-model="currentobj" deselectLabel='' selectLabel='' selectedLabel='' :options="el.imagegroups">
              </exp-multiselect>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="el.settingindex !== null && tab === 'grouping'" class="column is-12">
      <div class="columns is-multiline">
        <div class="column is-12">
          <a class="button is-success" style="margin-bottom: 5px;" @click="copygroup()">Copy</a>
          <a class="button is-danger" style="margin-bottom: 5px;" @click="deletegroup()">Delete</a>
        </div>
        <div class="column is-12">
          <img v-if="el.imagegroups[el.settingindex].groupimage !== null && el.imagegroups[el.settingindex].groupimage !== undefined && el.imagegroups[el.settingindex].groupimage !== ''"  class="groupingimages_staticsnapshot" :src="mediafile + $route.query.package + '/' + el.imagegroups[el.settingindex].groupimage">
        </div>
        <div class="column is-12 field has-addons">
          <div class="control">
            <a class="button is-static">
              Group Title Img.
            </a>
          </div>
          <div class="control">
            <input type="text" class="input" placeholder="Image Filename" v-model="el.imagegroups[el.settingindex].groupimage">
          </div>
          <div class="control">
            <a class="button is-info" @click="editStaticImage()"><i class="fa fa-pencil"></i></a>
          </div>
        </div>
        <div class="column is-12 field has-addons">
          <div class="control">
            <a class="button is-static">
              Group Name
            </a>
          </div>
          <div class="control">
            <input type="text" class="input" placeholder="Image Filename" v-model="el.imagegroups[el.settingindex].name">
          </div>
        </div>
        <div class="column is-12 field has-addons">
          <div class="control">
            <a class="button is-static">
              Group Answers Limit
            </a>
          </div>
          <div class="control">
            <input type="number" class="input" placeholder="Group Answers Limit" v-model="el.imagegroups[el.settingindex].groupLimit">
          </div>
        </div>
        <div class="column is-12 field has-addons">
          <div class="control">
            <exp-checkbox type="text" class="checkbox" v-model="el.imagegroups[el.settingindex].allanswers">All Answers</exp-checkbox>
          </div>
        </div>
        <div class="column is-12 field has-addons">
          <div class="columns is-multiline">
            <div v-for="(image, index) in el.choicesarray" :key="image.id" class="column">
              <img :id="'image' + index" class="groupingimages_snapshot" :src="mediafile + $route.query.package + '/' + image.imgsrc">
              <a v-if="!el.imagegroups[el.settingindex].allanswers" @click="rightanswer(index)" class="button"><span>isRight</span><span
                v-if="findIndex(el.imagegroups[el.settingindex].rightanswer, (data) => {
                  return data.id === image.id
                  }) === -1" class="icon"><i class="fa fa-times has-text-danger"></i></span><span v-else class="icon"><i class="fa fa-check has-text-success"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
import lodashfindIndex from 'lodash/findIndex'
import eventbus from '@/config/eventhub.js'
export default {
  name: 'groupingimages',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null,
      mediafile: MEDIAENDPOINT,
      currentobj: null,
      findIndex: lodashfindIndex,
      groupname: null,
      groupidcount: 1,
      bindchoicesid: 'groupingimages'
    }
  },
  mounted () {
    this.tab = this.el.settingtab
  },
  methods: {
    tabclicked (tab) {
      eventbus.closePrimarySettings()
      switch (tab) {
        case 'background':
          eventbus.firePrimarySettings('uicomponentbgsettings_open', {style: 'bgobject'})
          this.el.settingindex = null
          this.el.settingtab = null
          this.tab = tab
          break
        case 'choicesbackground':
          eventbus.firePrimarySettings('uicomponentbgsettings_open', {style: 'choicesbgobject'})
          this.el.settingindex = null
          this.el.settingtab = null
          this.tab = tab
          break
        default:
          this.el.settingindex = null
          this.el.settingtab = tab
          this.tab = tab
          break
      }
    },
    add_group () {
      if (this.el.imagegroups.length > 0) {
        let maxgroup = _.maxBy(this.el.imagegroups, 'id')
        this.groupidcount = maxgroup.id + 1
      }
      this.el.imagegroups.push({id: this.groupidcount, groupimage: null, groupImageBgObject:{}, column: 'is-5', name: this.groupname, bindchoicesid: this.bindchoicesid, rightanswer: [], bgobject: {}, textstyle: {}, groupLimit: 0})
      this.groupname = null
    },
    copygroup () {
      let newobj = JSON.parse(JSON.stringify(this.el.imagegroups[this.el.settingindex]))
      let maxtap = _.maxBy(this.el.imagegroups, 'id')
      newobj.id = maxtap.id + 1
      this.el.imagegroups.push(newobj)
    },
    deletegroup () {
      this.el.imagegroups.splice(this.el.settingindex, 1)
      this.el.settingindex = null
      this.currentobj = null
    },
    rightanswer (index) {
      let tempindex = this.findIndex(this.el.imagegroups[this.el.settingindex].rightanswer, (data) => {
        return data.id === this.el.choicesarray[index].id
      })
      if (tempindex === -1) {
        this.el.imagegroups[this.el.settingindex].rightanswer.push({id: this.el.choicesarray[index].id, image: this.el.choicesarray[index].imgsrc})
        this.$set(this.el.imagegroups[this.el.settingindex], 'groupLimit', this.el.imagegroups[this.el.settingindex].rightanswer.length)
      } else {
        this.el.imagegroups[this.el.settingindex].rightanswer.splice(tempindex, 1)
        this.$set(this.el.imagegroups[this.el.settingindex], 'groupLimit', this.el.imagegroups[this.el.settingindex].rightanswer.length)
      }
    },
    editStaticImage(){
      eventbus.firePrimarySettings('uicomponentimages_open', {style:  `imagegroups[${this.el.settingindex}].groupImageBgObject`, image: this.el.imagegroups[this.el.settingindex].groupimage})
    }
  },
  computed: {
    elsettingindex: function () {
      return this.el.settingindex
    }
  },
  watch: {
    elsettingindex: {
      handler (index) {
        if (index === null) {
          this.currentobj = null
        }
      },
      deep: true
    },
    currentobj: function (obj) {
      eventbus.closePrimarySettings()
      if (obj !== null) {
        this.el.settingindex = _.findIndex(this.el.imagegroups, {'id': obj.id})
        eventbus.fire('uicomponenttext_open', {style: `imagegroups[${this.el.settingindex}].textstyle`})
        eventbus.fire('uicomponentbgsettings_open', {style: `imagegroups[${this.el.settingindex}].bgobject`})
        this.$forceUpdate()
      } else {
        this.el.settingindex = null
      }
    }
  }
}

</script>
