<style lang="scss">

</style>

<template lang="html">
<div v-if="el.settingtab === 'modal'" class="columns is-multiline">
  <div class="column is-12 field has-addons">
    <p class="control">
      <input class="input" type="text" placeholder="Helper Button Text" v-model="buttonText">
    </p>
    <p class="control">
      <a class="button has-text-info" @click="addmodalbutton()"><i class="fa fa-plus"></i></a>
    </p>
  </div>
  <div class="column is-6 field has-addons">
    <exp-multiselect :openDirection="'bottom'" track-by="id" label="text" v-model="currentButton" :options="el.modalarray" @input="editmodal()">
    </exp-multiselect>
  </div>
  <div v-if="editIndex !== null" class="column is-12 columns is-multiline">
    <div class="column is-6 field has-addons">
      <p class="control">
        <a class="button is-danger" @click="deletemodal()">
          Delete
        </a>
      </p>
    </div>
    <div class="column is-6 field has-addons">
      <p class="control">
        <a class="button is-info" @click="editBgObject()">
          Edit Background
        </a>
      </p>
    </div>
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Button Text
        </a>
      </p>
      <p class="control">
        <input type="text" class="input" placeholder="Button Text" v-model="el.modalarray[editIndex].text">
      </p>
    </div>
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Button Type
        </a>
      </p>
      <p class="control">
        <exp-multiselect :openDirection="'bottom'" v-model="el.modalarray[editIndex].modalObject.type" @input="changeButtonColors($event)" :options="['help', 'grammar']">
        </exp-multiselect>
      </p>
    </div>
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Button Color
        </a>
      </p>
        <p class="control">
          <input type="text" class="input" placeholder="Button Color" v-model="el.modalarray[editIndex].modalObject.color">
        </p>
      </p>
    </div>
    <div class="column is-12 field has-addons" v-if="!currentStaticText !== null">
        <p class="control">
          <vue-editor :id="'modalText'" v-model="el.modalarray[editIndex].modalObject.text"></vue-editor>
        </p>
      </p>
    </div>
    <div class="column is-6 field has-addons">
        <p class="control">
          <a class="button is-info" @click="editModalText()">
            Edit Text
          </a>
        </p>
      </p>
    </div>
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Add Image to Modal
        </a>
      </p>
      <p class="control">
        <input type="text" class="input" placeholder="Image URL" v-model="newImage">
      </p>
      <p class="control">
        <a class="button is-info" @click="newImageModal()">
          <span class="icon">
            <i class="fa fa-plus"></i>
          </span>
        </a>
      </p>
    </div>
    <div v-for="(image, index) in el.modalarray[editIndex].modalObject.image"  class="column is-6 field has-addons">
      <p class="control">
        <span class="image is-128x128">
          <img :src="mediaFile + $route.query.package + '/' + image.imageUrl">
        </span>
        <p class="control">
          <a class="button has-text-info" @click="editImage(index)">
            <span>
              <i class="fa fa-pencil"></i>
            </span>
          </a>
        </p>
        <p class="control">
          <a class="button has-text-danger" @click="deleteImage(index)">
            <span>
              <i class="fa fa-times"></i>
            </span>
          </a>
        </p>
      </p>
    </div>
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Add Static Text to Modal
        </a>
      </p>
      <p class="control">
        <a class="button is-info" @click="newStaticText()">
          <span class="icon">
            <i class="fa fa-plus"></i>
          </span>
        </a>
      </p>
    </div>
    <div class="column is-12 field has-addons" v-if="el.modalarray[editIndex].modalObject.staticTexts.length > 0">
      <p class="control">
        <a class="button is-static">
          Static Texts
        </a>
      </p>
      <exp-multiselect :openDirection="'bottom'" track-by="textID" label="textID" v-model="currentStaticText" :options="el.modalarray[editIndex].modalObject.staticTexts" @input="editStaticText()" deselectLabel='' selectLabel='' selectedLabel=''>
      </exp-multiselect>
    </div>
    <div class="column is-12" v-if="currentStaticText !== null">
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class='button is-danger' @click="deleteStaticText()">
            Delete
          </a>
        </p>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <vue-editor :id="'staticText'" v-model="el.modalarray[editIndex].modalObject.staticTexts[currentStaticTextIndex].text"></vue-editor>
        </p>
      </div>

    </div>
  </div>
  </div>
</div>
</template>

<script>
import maxBy from 'lodash/maxBy'
import findIndex from 'lodash/findIndex'
import {MEDIAENDPOINT} from '@/config/app-config'
import eventbus from '@/config/eventhub'
export default {
  name: 'modalsettings',
  props: {
    el: Object
  },
  data () {
    return {
      buttonText: null,
      modalID: 0,
      currentButton: null,
      currentStaticText: null,
      currentStaticTextIndex: null,
      tempStaticText: null,
      editIndex: null,
      newImage: null,
      mediaFile: MEDIAENDPOINT
    }
  },
  mounted () {
    this.currentButton = null
  },
  methods: {
    addmodalbutton () {
      if (this.el.modalarray.length > 0) {
        let maxmodal = maxBy(this.el.modalarray, 'id')
        this.modalID = maxmodal.id + 1
      } else if (this.el.modalarray.length > 2) {

      }
      this.el.modalarray.push({
        id: this.modalID,
        text: this.buttonText,
        modalObject: {
          type: 'help',
          color: '#10547b',
          image: [],
          staticTexts: [],
          text: null,
          textobject: {},
          bgobject: {},
        }
      })
    },
    deletemodal () {
      this.el.modalarray.splice(this.editIndex, 1)
      for (var i = 0; i < this.el.modalarray.length; i++) {
        this.el.modalarray[i].id = (i + 1)
      }
      this.editIndex = null
    },
    editmodal () {
      let index = findIndex(this.el.modalarray,this.currentButton)
      this.editIndex = index
      eventbus.fire('edit-modal-settings', index)
      // this.currentindex = index
    },
    editBgObject () {
        eventbus.firePrimarySettings('uicomponentbgsettings_open',{style: 'modalarray[' + this.editIndex + '].modalObject.bgobject'})
    },
    newImageModal () {
      if (this.newImage !== null && this.newImage !== '') {
        this.el.modalarray[this.editIndex].modalObject.image.push({
          imageUrl: this.newImage,
          imageBgObject: {}
        })
        this.newImage = null
      }
    },
    editImage (index) {
      eventbus.firePrimarySettings('uicomponentimages_open', {style:  'modalarray[' + this.editIndex + '].modalObject.image[' + index + '].imageBgObject', image: 'modalarray[' + this.editIndex + '].modalObject.image[' + index + '].imageUrl'})
    },
    deleteImage (index) {
      this.el.modalarray[this.editIndex].modalObject.image.splice(index, 1)
    },
    changeButtonColors (value) {
      switch (value) {
        case 'help':
          this.el.modalarray[this.editIndex].modalObject.color = '#10547b'
          break
        case 'grammar':
          this.el.modalarray[this.editIndex].modalObject.color = '#c34501'
          break
      }
    },
    editModalText() {
      eventbus.firePrimarySettings('uicomponenttext_open', {style: 'modalarray[' + this.editIndex + '].modalObject.textobject'})
    },
    newStaticText () {
      let tempID = this.el.modalarray[this.editIndex].modalObject.staticTexts.length === 0 ? 1 : (maxBy(this.el.modalarray[this.editIndex].modalObject.staticTexts, 'textID')['textID'] + 1)
      this.el.modalarray[this.editIndex].modalObject.staticTexts.push({
        textID: tempID,
        text: null,
        staticTextObject: {}
      })
    },
    editStaticText () {
      this.currentStaticTextIndex = null
      this.currentStaticTextIndex = findIndex(this.el.modalarray[this.editIndex].modalObject.staticTexts, this.currentStaticText)
      eventbus.firePrimarySettings('uicomponenttext_open', {style: 'modalarray[' + this.editIndex + '].modalObject.staticTexts[' + this.currentStaticTextIndex + '].staticTextObject'})
    },
    deleteStaticText () {
       this.el.modalarray[this.editIndex].modalObject.staticTexts.splice(this.currentStaticTextIndex, 1)
       this.currentStaticTextIndex = null
       this.currentStaticText = null
       eventbus.closePrimarySettings()
    }
  },
}

</script>
