<style lang="scss" scoped>
.snapshot {
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: #b3b3b3;
	width: 100px;
	height: 100px;
}
.small_snapshot {
	display: inline_block;
	border-width: 1px;
	border-style: solid;
	border-color: #b3b3b3;
	width: 60px;
	height: 60px;
}
.center_row_flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	.field:not(:last-child) {
		margin-bottom: 0px;
	}
}
.center_row_flex_center {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	.field:not(:last-child) {
		margin-bottom: 0px;
	}
}
.center_column_flex {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: stretch;
}
.center_rowwrap_flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	.field:not(:last-child) {
		margin-bottom: 0px;
	}
}
.image_container {
	position: relative;
}
.boxx {
	border: 1px solid darkgray;
	border-radius: 5px;
	box-shadow: 3px 3px 5px grey;
	margin: 10px;
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0px;
	}
}
</style>

<template lang="html">
<div class="columns is-multiline">
  <div class="column is-12">
    <div class="tabs is-boxed">
      <ul>
          <li :class="{'is-active': tab === 'group'}"><a @click="tabclicked('group')">ImageGroups</a></li>
          <li :class="{'is-active': tab === 'background'}"><a @click="tabclicked('background')">BG. Settings</a></li>
          <li :class="{'is-active': tab === 'statictexts'}"><a @click="tabclicked('statictexts')">Static Texts</a></li>
          <li :class="{'is-active': tab === 'staticimages'}"><a @click="tabclicked('staticimages')">Static Images</a></li>
      </ul>
    </div>
  </div>

  <div class="column is-12" v-if="tab === 'group'">
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Multiple Choice Image Group
        </a>
      </p>
      <p class="control">
        <a class="button is-info" @click="addGroup()">
          <i class="fa fa-plus"></i>
        </a>
      </p>
      <p class="control">
        <a class="button is-static">
        ID
        </a>
      </p>
      <p class="control">
          <input type="text" class="input" v-model="el.bindchoicesid">
      </p>
    </div>

    <div v-if="el.imagesgrouparray.length > 0" class="column is-12">
      <div class="center_row_flex">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
                ImageGroups
            </a>
          </p>
          <p class="control">
            <exp-field>
              <exp-multiselect track-by="id" label="id" v-model="currentobj" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :allow-empty="false" :openDirection="'top'" :options="el.imagesgrouparray" @input="selectGroup()">
              </exp-multiselect>
            </exp-field>
          </p>
        </div>
        <div v-if="currentobj !== null" class="has-addons field">
          <div class="control">
            <a class="button is-danger" @click="deleteGroup()">Delete</a>
          </div>
          <div class="control">
            <a class="button is-info" @click="copyGroup()">Copy</a>
          </div>
        </div>
      </div>

      <div class="column is-12" v-if="currentobj !== null ">
        <div class="taptapsection_smalltabs" >
          <a @click="grouptab=1;closeGroupBGSetting();"  :class="['column', grouptab === 1 ? 'active' : '' ]">
            Properties
          </a>
          <a @click="grouptab=2;el.settingtab='group';showGroupBGSetting(groupIndex)" :class="['column',  grouptab === 2 ? 'active' : '' ]">
            BG. Settings
          </a>
        </div>

        <div v-if="grouptab === 1" class="columns is-multiline center_column_flex" style="margin-top:10px;">
          <div class="column is-12">
            <div class="center_row_flex">
              <label class="checkbox center_row_flex ">
                <exp-checkbox type="checkbox" class="checkbox" @input="checkMax(el.imagesgrouparray[groupIndex].group_correct)" v-model="el.imagesgrouparray[groupIndex].multiple"></exp-checkbox>
                Allow multiple
              </label>
              <div class="field has-addons ">
                <div class="control">
                  <a class="button is-static">
                    Max selections
                  </a>
                </div>
                <div class="control">
                  <input type="number" :disabled=" !el.imagesgrouparray[groupIndex].multiple " min=0 :max="el.imagesgrouparray[groupIndex].images.length" style="width:60px" class="input" v-model.number="el.imagesgrouparray[groupIndex].max_selections">
                </div>
              </div>
            </div>
          </div>
          <div class="column is-12 field has-addons">
            <div class="control">
              <a class="button is-static">
                Add Image
              </a>
            </div>
            <div class="control">
              <a class="button is-info" @click="addImage()">
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          <!-- //---------------------------------------------------------------------/ -->
          <div class="center_rowwrap_flex ">
            <div v-show="images_obj.id == currentImage||currentImage==null" class="column boxx card image_container" :class="[ images_obj.id == currentImage ? 'is-12' : 'is-5' ]" v-for="(images_obj, index) in el.imagesgrouparray[groupIndex].images" :key="images_obj.id">
              <header class="card-header">
                <p class="card-header-title">
                  Image {{index+1}}
                </p>
                <a href="#" class="card-header-icon" >
                  <span class="icon " @click="images_obj.is_expanded = !images_obj.is_expanded">
                    <a v-if="images_obj.is_expanded" class="is-small button is-info" @click="resetCurrentImage();closeImageBGSetting()">Back</a>
                    <a v-else class=" button is-small is-info" @click="showCurrentImage(images_obj)">Edit</a>
                  </span>
                </a>
              </header>
              <div v-if="images_obj.imgsrc && !images_obj.is_expanded" class="center_row_flex">
                <div class="center_row_flex">
                  <p>Main</p>
                  <figure class="image is-64x64">
                    <img :src="mediafile + $route.query.package + '/' + images_obj.imgsrc" alt="Placeholder image">
                  </figure>
                </div>
                <div v-if="images_obj.alt_imgsrc && !images_obj.is_expanded" class="center_row_flex">
                  <p>Alt</p>
                  <figure class="image is-64x64">
                    <img :src="mediafile + $route.query.package + '/' + images_obj.alt_imgsrc" alt="Placeholder image">
                  </figure>
                </div>
              </div>
              <div v-if="images_obj.is_expanded" class="card-content">
                <div class="content center_column_flex">
                  <div class="center_row_flex">
                    <img v-if="el.imagesgrouparray[groupIndex].images[index].imgsrc" :id="'image'+ el.imagesgrouparray[groupIndex].id + images_obj.id" class=" snapshot" :src="mediafile + $route.query.package + '/' + images_obj.imgsrc">
                    <img v-else class="snapshot">
                    <div class="center_column_flex">
                      <div class=" field has-addons" style="margin-bottom:0px;">
                        <div class="control">
                          <a class="button is-static">
                            Image
                          </a>
                        </div>
                        <div class="control">
                          <input type="text" class="input" v-model="el.imagesgrouparray[groupIndex].images[index].imgsrc">
                        </div>
                      </div>
                    </div>
                  </div>
                  <label v-if="!el.imagesgrouparray[groupIndex].multiple" class="radio has-text-centered">
                    <input type="radio" :id="'radio'+groupIndex+index" name="group_correct" :value="index" v-model="el.imagesgrouparray[groupIndex].group_correct" @change="checkRadio(index)">
                    Correct
                  </label>
                  <label v-else class="checkbox center_row_flex_center">
                    <exp-checkbox type="checkbox" :id="'radio'+groupIndex+index" class="checkbox " v-model="el.imagesgrouparray[groupIndex].images[index].is_correct"></exp-checkbox>
                    Correct
                  </label>
                  <div class="center_row_flex">
                    <div class="center_column_flex">
                      <div class="field has-addons" style="margin-bottom:0px;">
                        <div class="control">
                          <a class="button is-static">
                            Alt image
                          </a>
                        </div>
                        <div class="control">
                          <input type="text" class="input" placeholder="Select alternative.." v-model="el.imagesgrouparray[groupIndex].images[index].alt_imgsrc">
                        </div>
                      </div>
                    </div>
                    <img v-if="el.imagesgrouparray[groupIndex].images[index].alt_imgsrc" :id="'alt_image'+ el.imagesgrouparray[groupIndex].id + images_obj.id" class="snapshot" :src="mediafile + $route.query.package + '/' + images_obj.alt_imgsrc">
                    <img v-else class="snapshot">
                  </div>
                </div>

                <div class="button is-info column is-12 center_column_flex" @click="showImageBGSetting(index)">
                  Image BG. Settings
                </div>

              </div>
              <footer class="card-footer">
                  <a class="button card-footer-item" @click="copyImage(images_obj)">
                    <span class="icon is-small is-info">
                      <i class="fa fa-copy"></i>
                    </span>
                  </a>
                  <a class="button card-footer-item" @click="deleteImage(index)">
                    <span class="icon is-small is-danger">
                      <i class="fa fa-trash"></i>
                    </span>
                  </a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
</template>

<script>
import findIndex from 'lodash/findIndex'
import maxBy from 'lodash/maxBy'
import forEach from 'lodash/forEach'
import eventbus from '@/config/eventhub.js'
import { MEDIAENDPOINT } from '@/config/app-config'
export default {
	name: 'MultipleChoiceImageSectionSettings',
	props: {
		el: Object,
	},
	data() {
		return {
			mediafile: MEDIAENDPOINT,
			tab: null,
			groupId: null,
			groupIndex: null,
			currentobj: null,
			currentImage: null,
			groupId: 1,
			grouptab: 1,
		}
	},
	mounted() {
		this.el.settingtab = null
		this.tab = null
		this.closeExpandedImages()
	},
	methods: {
		tabclicked(tab) {
			this.tab = tab
			this.el.settingtab = tab
			this.closeImageBGSetting()
			this.closeExpandedImages()
			switch (tab) {
				case 'background':
					eventbus.firePrimarySettings('uicomponentbgsettings_open', {
						style: `bgobject`,
					})
					break
			}
		},
		//closes any leftovers expanded images
		closeExpandedImages() {
			this.el.imagesgrouparray.map(group => {
				group.images.map(img => (img.is_expanded = false))
			})
		},
		//holds current expanded/selected image in settings
		showCurrentImage(img) {
			this.currentImage = img.id
		},
		//clears image
		resetCurrentImage() {
			this.currentImage = null
		},
		//creates group
		addGroup() {
			if (this.el.imagesgrouparray.length > 0) {
				let maxgroup = maxBy(this.el.imagesgrouparray, 'id')
				this.groupId = maxgroup.id + 1
			}
			this.el.imagesgrouparray.push({
				id: this.groupId,
				multiple: false,
				max_selections: 1,
				group_bgobject: {},
				images: [],
				group_correct: null,
			})
		},
		//deleted group and clear selection
		deleteGroup() {
			this.el.imagesgrouparray.splice(this.groupIndex, 1)
			this.groupIndex = null
			this.currentobj = null
		},
		//copies group
		copyGroup() {
			let copyObject = JSON.parse(
				JSON.stringify(this.el.imagesgrouparray[this.groupIndex])
			)
			copyObject.id = maxBy(this.el.imagesgrouparray, 'id').id + 1
			this.el.imagesgrouparray.push({
				...copyObject,
				...{
					id: maxBy(this.el.imagesgrouparray, 'id').id + 1,
				},
			})
		},
		//closes ui settings for other group,sets current selection
		selectGroup() {
			this.closeExpandedImages()
			this.resetCurrentImage()
			this.closeGroupBGSetting()
			this.groupIndex = findIndex(this.el.imagesgrouparray, {
				id: this.currentobj.id,
			})
		},
		//creates image obj
		addImage() {
			let images_id = 1
			if (this.el.imagesgrouparray[this.groupIndex].images.length > 0) {
				let current_max_id = maxBy(
					this.el.imagesgrouparray[this.groupIndex].images,
					'id'
				).id
				images_id = current_max_id + 1
			}
			this.el.imagesgrouparray[this.groupIndex].images.push({
				id: images_id,
				imgsrc: null,
				alt_imgsrc: null,
				image_bgobject: {},
				is_correct: false,
				selected: false,
				is_expanded: false,
				checked: false,
			})
		},
		//copies image
		copyImage(img) {
			let copyImageObject = JSON.parse(JSON.stringify(img))
			let current_max_id = maxBy(
				this.el.imagesgrouparray[this.groupIndex].images,
				'id'
			).id
			let max = current_max_id + 1
			let correct_val
			if (this.el.imagesgrouparray[this.groupIndex].multiple) {
				correct_val = copyImageObject.is_correct
			} else {
				correct_val = false
			}
			this.el.imagesgrouparray[this.groupIndex].images.push({
				id: max,
				imgsrc: copyImageObject.imgsrc,
				alt_imgsrc: copyImageObject.alt_imgsrc,
				image_bgobject: copyImageObject.image_bgobject,
				is_correct: correct_val,
				selected: copyImageObject.selected,
				is_expanded: false,
				checked: false,
			})
		},
		//deletes image and resets current image
		deleteImage(index) {
			this.el.imagesgrouparray[this.groupIndex].images.splice(index, 1)
			this.currentImage = null
			this.el.imagesgrouparray[this.groupIndex].group_correct = null
		},
		//when you select multiple field and  there was previous selected radio value=> maps correct status to the same checbox
		checkMax(index_to_keep) {
			if (index_to_keep !== null) {
				if (this.el.imagesgrouparray[this.groupIndex].multiple) {
					this.el.imagesgrouparray[this.groupIndex].images[
						index_to_keep
					].is_correct = true
					this.el.imagesgrouparray[this.groupIndex].group_correct = null
				}
			}
		},
		//tracks correct answear when multiple field is not selected
		checkRadio(index_to_correct) {
			if (index_to_correct !== null) {
				this.el.imagesgrouparray[this.groupIndex].images.map((img, index) => {
					if (index == index_to_correct) {
						img.is_correct = true
					} else {
						img.is_correct = false
					}
				})
			}
		},
		//closes ui settings
		closeGroupBGSetting() {
			//this.el.settingtab = null;
			//this.grouptab = 1;
			eventbus.closePrimarySettings()
		},
		//closes image ui settings
		closeImageBGSetting() {
			eventbus.closePrimarySettings()
		},
		//opens ui settings for selected group
		showGroupBGSetting(groupIndex) {
			eventbus.firePrimarySettings('uicomponentbgsettings_open', {
				style: `imagesgrouparray[${groupIndex}].group_bgobject`,
			})
		},
		//opens ui image settings for selected/expanded image
		showImageBGSetting(index) {
			eventbus.firePrimarySettings('uicomponentimages_open', {
				style: `imagesgrouparray[${
					this.groupIndex
				}].images[${index}].image_bgobject`,
				image: `imagesgrouparray[${this.groupIndex}].images[${index}].imgsrc`,
			})
		},
	},
	computed: {
		customel() {
			return this.el
		},
	},
	watch: {
		customel: {
			handler(element) {
				this.tab = element.settingtab
			},
			deep: true,
		},
	},
}
</script>
