<style lang="scss" scoped>
</style>
<template lang="html">
<div>
  <div class="tabs is-boxed">
    <ul>
      <li :class="[tab === 'image' || tab === 'tapinput'? 'is-active': '']">
        <a @click="tabclicked('image')">
          <span>Image</span>
        </a>
      </li>
      <li :class="[tab === 'background'? 'is-active': '']">
        <a @click="tabclicked('background')">
          <span>Backgound</span>
        </a>
      </li>
    </ul>
  </div>
</div>
</template>

<script>

export default {
  name: 'Multiplechoiceimgwithbg',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null
    }
  },
  methods: {
    tabclicked (tab) {
      this.el.settingindex = null
      this.tab = tab
      this.el.settingtab = tab
    }
  },
  computed: {
    customel () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.tab = element.settingtab
      },
      deep: true
    }
  }
}

</script>
