<style lang="scss">
</style>
<template lang="html">
<div>
  <div class="columns is-multiline">
    <div class="tabs is-boxed">
      <ul>
        <li :class="[tab === 'background'? 'is-active': '']">
          <a @click="tabclicked('background')">
            <span>Background</span>
          </a>
        </li>
        <li :class="[tab === 'primarytimer'? 'is-active': '']">
          <a @click="tabclicked('primarytimer')">
            <span>Timer</span>
          </a>
        </li>
      </ul>
    </div>
    <div v-if="el.settingtab === 'primarytimer'" >
      <div class="column is-12">
        <div class="field has-addons">
          <p class="control">
            <input class="input" type="number" placeholder="0" v-model="minutes">
          </p>
          <p class="control" >
            <a class="button is-static">
              Minutes
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="0" v-model="seconds">
          </p>
          <p class="control" >
            <a class="button is-static">
              Seconds
            </a>
          </p>
          <p class="control" >
            <a @click="resettimer()" class="button is-info">
              Reset
            </a>
          </p>
        </div>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <p class="control" >
            <a class="button is-static">
              Initial Text
            </a>
          </p>
          <p class="control">
            <input class="input" type="text" placeholder="Initial Text" v-model="el.initialtext">
          </p>
        </div>
      </div>
        <div class="column is-12">
          <div class="field has-addons">
          <p class="control" >
            <a class="button is-static">
              Start Text
            </a>
          </p>
          <p class="control">
            <input class="input" type="text" placeholder="Start Text" v-model="el.starttext">
          </p>
        </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
          <p class="control" >
            <a class="button is-static">
              Half Time Text
            </a>
          </p>
          <p class="control">
            <input class="input" type="text" placeholder="Half Time Text" v-model="el.halftimetext">
          </p>
        </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
          <p class="control" >
            <a class="button is-static">
              Warning Text
            </a>
          </p>
          <p class="control">
            <input class="input" type="text" placeholder="Warning Text" v-model="el.warningtext">
          </p>
        </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
          <p class="control" >
            <a class="button is-static">
              Run Out Text
            </a>
          </p>
          <p class="control">
            <input class="input" type="text" placeholder="Run Out Text" v-model="el.runouttext">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>

export default {
  // Settings of the Primary Timer ui-components
  name: 'Primarytimer',
  props: {
    el: Object
  },
  data () {
    return {
      minutes: null,
      seconds: null,
      tab: null
    }
  },
  created () {
    this.tab = this.el.settingtab
  },
  mounted () {
    // Load time from JSON and split to Minutes and Seconds
    if (this.el.maxtime !== null) {
      if (this.el.maxtime < 60) {
        this.minutes = 0
      } else {
        this.minutes = Math.floor(this.el.maxtime / 60)
      }
      this.seconds = this.el.maxtime - (this.minutes * 60)
    }
  },
  methods: {
    // Load time to JSON as Seconds
    loadtimer () {
      this.el.maxtime = parseInt(this.minutes * 60)
      this.el.maxtime += parseInt(this.seconds)
    },
    resettimer () {
      this.el.maxtime = 0
      this.minutes = 0
      this.seconds = 0
    },
    tabclicked (tab) {
      this.el.settingindex = null
      this.tab = tab
      this.el.settingtab = tab
    }
  },
  watch: {
    'minutes': function (val) {
      this.loadtimer()
    },
    'seconds': function (val) {
      this.loadtimer()
    }
  }
}

</script>
