<style lang="scss" scoped>
.snapshot{
  width: 100px;
  height: 100px;
  border: 2px dotted grey;
}
.shadowbutton{
  margin: 2px;
  border: solid 1px;
  border-color: #d3d3d3;
  text-align: center;
}
</style>

<template lang="html">
<div v-if="el.settingtab === 'tapinput'">
  <div class="field has-addons">
    <div class="control">
      <a class="button is-static">
        <span>New Tap Input</span>
      </a>
    </div>
    <div class="control">
      <a class="button is-info"  @click="addnewtap()"><i class="fa fa-plus"></i></a>
    </div>
    <p class="control">
        <a class="button is-static">
            Tap ID
        </a>
    </p>
    <p v-if="el.taps.length > 0" class="contol"><input @input="changebindchoicesid()" class="input" type="text" placeholder="Bind Choices ID" v-model="el.taps[0].bindchoicesid"></p>
  </div>
  <div class="field has-addons">
    <div class="control">
      <a class="button is-static">
        <span>Taps</span>
      </a>
    </div>
    <div class="control">
      <exp-multiselect :openDirection="'top'" track-by="id" label="id" v-model="currentobj" deselectLabel="" selectLabel="" selectedLabel="" :options="el.taps">
      </exp-multiselect>
    </div>
  </div>
  <div v-if="currentobj !== null">
    <div class="column is-12">
      <a class="button is-success" style="margin-bottom: 5px;" @click="copytap()">Copy</a>
      <a class="button is-danger" style="margin-bottom: 5px;" @click="deletetap()">Delete</a>
    </div>
    <div class="columns is-multiline">
      <div class="field has-addons column is-12">
        <div class="control">
          <a class="button is-static">
            Filename Input Image
          </a>
        </div>
        <div class="control">
          <input class="input" type="text" placeholder="Tap Input Image Filename" v-model="el.taps[currentindex].imageinput">
        </div>
      </div>
      <div class="column is-4 field has-addons">
        <p class="control">
          <a class="button is-static">
            Column
          </a>
        </p>
        <exp-multiselect :openDirection="'top'" track-by="" label=""  v-model="el.taps[currentindex].column" deselectLabel="" selectLabel="" selectedLabel="" :options="['is-2', 'is-3', 'is-4', 'is-5', 'is-6']">
        </exp-multiselect>
      </div>
      <div class="field has-addons column is-12">
        <div class="control">
          <a class="button is-static">
            Input Text
          </a>
        </div>
        <div class="control">
          <input class="input" type="text" placeholder="Tap Input Text" v-model="el.taps[currentindex].text">
        </div>
      </div>
      <div class="column is-12" style="border-bottom:2px solid grey; margin-bottom: 20px;"></div>
        <div v-if="el.taps[currentindex].imgonchange.length > 0">
          <div v-for="(choice, index) in el.choicesarray" :key="choice.id" class="column is-12">
            <div class="field has-addons">
              <div class="control">
                <a class="button is-static">
                  Filename Image On Change
                </a>
              </div>
              <div class="control">
                <input v-if="currentindex !== null" class="input" type="text" placeholder="Image URL On Change" v-model="el.taps[currentindex].imgonchange[index].imgonchangesrc">
              </div>
            </div>
              <div class="field has-addons">
                <div class="control">
                  <div v-if="el.taps[currentindex].imgonchange.length > index" class="has-text-centered">
                    <span>Image On Change</span>
                      <img v-if="el.taps[currentindex].imgonchange[index].imgonchangesrc !== null" class="image snapshot" :src="mediafile + $route.query.package + '/' + el.taps[currentindex].imgonchange[index].imgonchangesrc">
                  </div>
                </div>
                <div class="control has-text-centered">
                  <span>Choice</span>
                  <img id="image" class="image snapshot" :src="mediafile + $route.query.package + '/' + choice.imgsrc">
                </div>
                <div v-if="!el.taps[currentindex].allright" class="control">
                  <div style="margin: 50px 30px;">
                    <a @click="pickrightanswer(choice.id)" v-if="el.taps[currentindex].rightanswer === null" class="button">isRight</a>
                    <a v-if="el.taps[currentindex].rightanswer === choice.id" class="button righticon"><span>isRight: </span><span class="icon"><i class="fa fa-check has-text-success"></i></span></a>
                    <a @click="pickrightanswer(choice.id)" v-if="el.taps[currentindex].rightanswer !== null && el.taps[currentindex].rightanswer !== choice.id" class="button wrongicon"><span>isRight: </span><span class="icon"><i class="fa fa-times has-text-danger"></i></span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-12" style="border-bottom:2px solid grey; margin-bottom: 20px;"></div>
            <div class="column is-12 field has-addons">
              <p class="control">
                  <exp-checkbox type="text" class="checkbox" v-model="el.taps[currentindex].allright">All Choices Acceptable</exp-checkbox>
              </p>
            </div>
            <div class="field has-addons column is-12">
              <div class="control">
                <a class="button is-static">
                  Filename Right Image
                </a>
              </div>
              <div class="control">
                <input class="input" type="text" placeholder="Tap Input Image Filename" v-model="el.taps[currentindex].rightimage">
              </div>
            </div>
        </div>
      </div>
  </div>
  </div>
</div>
</template>

<script>
import {COLORS_OBJECTS} from '@/config/app-config.js'
import _ from 'lodash'
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'taptapimages',
  props: {
    el: Object
  },
  data () {
    return {
      tapidcount: 1,
      currentindex: null,
      currentobj: null,
      imgurl: null,
      mediafile: MEDIAENDPOINT
    }
  },
  methods: {
    addnewtap () {
      let bindchoices = 'tap'
      if (this.el.taps.length > 0) {
        let maxtap = _.maxBy(this.el.taps, 'id')
        this.tapidcount = maxtap.id + 1
        bindchoices = this.el.taps[0].bindchoicesid
      }
      let choicescount = this.el.choicesarray.length
      this.el.taps.push({id: this.tapidcount, bindchoicesid: bindchoices, imageinput: null, allright: false, column: 'is-3', rightimage: null, text: null, textstyle: {}, rightanswer: null, check: false, Right: false, imgonchange: [], bgobject: {}})
      for (var i = 0; i < this.el.choicesarray.length; i++) {
        this.el.taps[this.el.taps.length - 1].imgonchange.push({id: this.el.choicesarray[i].id, imgonchangesrc: null})
      }
    },
    copytap () {
      let newobj = JSON.parse(JSON.stringify(this.el.taps[this.currentindex]))
      let maxtap = _.maxBy(this.el.taps, 'id')
      newobj.id = maxtap.id + 1
      this.el.taps.push(newobj)
    },
    deletetap () {
      this.el.taps.splice(this.currentindex, 1)
      this.currentindex = null
      this.currentobj = null
    },
    pickrightanswer (choiceid) {
      this.el.taps[this.currentindex].rightanswer = choiceid
    },
    changebindchoicesid () {
      for (var i = 1; i < this.el.taps.length; i++) {
        this.el.taps[i].bindchoicesid = this.el.taps[0].bindchoicesid
      }
    }
  },
  computed: {
    customel: function () {
      return this.el.settingtab
    }
  },
  watch: {
    currentobj: function (obj) {
      if (obj !== null) {
        this.currentindex = _.findIndex(this.el.taps, {'id': obj.id})
        for (var i = 0; i < this.el.choicesarray.length; i++) {
          if (_.findIndex(this.el.taps[this.currentindex].imgonchange, {'id': this.el.choicesarray[i].id}) === -1) {
            this.el.taps[this.currentindex].imgonchange.push({id: this.el.choicesarray[i].id, imgonchangesrc: null})
          }
        }
        this.el.settingindex = _.findIndex(this.el.taps, {'id': obj.id})
        this.$forceUpdate()
      } else{
        this.el.settingindex = null
        this.el.currentindex = null
      }
    },
    customel: {
      handler (element) {
        this.currentobj = null
        this.currentindex = null
      }
    }
  }
}
</script>
