<style lang="scss">



</style>

<template lang="html">
<div class="columns is-multiline">
  <div class="tabs is-boxed column is-12">
    <ul>
      <li :class="[tab === 'choicesimgs'? 'is-active': '']">
        <a @click="tabclicked('choicesimgs')">
          <span>Img. Choices</span>
        </a>
      </li>
      <li :class="[tab === 'choicesbackground'? 'is-active': '']">
        <a @click="tabclicked('choicesbackground')">
          <span>Img. Choices BG.</span>
        </a>
      </li>
      <li :class="[tab === 'tapinput'? 'is-active': '']">
        <a @click="tabclicked('tapinput')">
          <span>Missing Input</span>
        </a>
      </li>
      <li :class="[tab === 'background'? 'is-active': '']">
        <a @click="tabclicked('background')">
          <span>Puzzle BG.</span>
        </a>
      </li>
    </ul>
    </div>
    <div class="column is-12" v-if="el.settingtab === 'tapinput'">
      <div class="columns is-multiline">
        <div class="column is-12">
          <div class="field has-addons">
            <div class="control">
              <a class="button is-static">
                <span>New Puzzle Input</span>
              </a>
            </div>
            <div class="control">
              <a class="button is-info"  @click="addnewtap()"><i class="fa fa-plus"></i></a>
            </div>
            <p class="control">
                <a class="button is-static">
                    Puzzle Input ID
                </a>
            </p>
            <p v-if="el.taps.length > 0" class="contol"><input @input="changebindchoicesid()" class="input" type="text" placeholder="Bind Choices ID" v-model="el.taps[0].bindchoicesid"></p>
          </div>
        </div>
    <div class="column is-12">
      <div class="field has-addons">
        <div class="control">
          <a class="button is-static">
            <span>Puzzle Input Selector</span>
          </a>
        </div>
        <div class="control">
          <exp-multiselect :openDirection="'top'" track-by="id" label="id" v-model="currentobj" deselectLabel="" selectLabel="" selectedLabel="" :options="el.taps">
          </exp-multiselect>
        </div>
      </div>
    </div>
    <div class="column is-12">
      <div v-if="currentobj !== null">
        <a class="button is-success" style="margin-bottom: 5px;" @click="copytap()">Copy</a>
        <a class="button is-danger" style="margin-bottom: 5px;" @click="deletetap()">Delete</a>
      <!-- Puzzle Missing Tap Content -->
      <div class="columns is-multiline">
        <div class="field has-addons column is-12">
          <div class="control">
            <a class="button is-static">
              Filename Input Image
            </a>
          </div>
          <div class="control">
            <input class="input" type="text" placeholder="Tap Input Image Filename" v-model="el.taps[currentindex].imageinput">
          </div>
        </div>
        <div class="field has-addons column is-12">
          <div class="control">
            <a class="button is-static">
              Text
            </a>
          </div>
          <div class="control">
            <input class="input" type="text" placeholder="Tap Input Text" v-model="el.taps[currentindex].text">
          </div>
        </div>
        <div v-if="el.taps[currentindex].imgonchange.length > 0">
          <div v-for="(choice, index) in el.choicesarray" :key="choice.id" class="column is-12">
            <div class="field has-addons">
              <div class="control">
                <a class="button is-static">
                  Filename Image On Change
                </a>
              </div>
              <div class="control">
                <input v-if="currentindex !== null" class="input" type="text" placeholder="Image URL On Change" v-model="el.taps[currentindex].imgonchange[index].imgonchangesrc">
              </div>
            </div>
            <div class="field has-addons">
              <div class="control">
                <a class="button is-static">
                  Filename Choice Image
                </a>
              </div>
              <div class="control">
                <div class="control">
                  <input class="input" disabled type="text" placeholder="Image URL On Change" v-model="choice.imgsrc">
                </div>
              </div>
            </div>
              <div class="field has-addons">
                <div class="control">
                  <div v-if="el.taps[currentindex].imgonchange.length > index">
                      <img v-if="el.taps[currentindex].imgonchange[index].imgonchangesrc !== null" class="image snapshot" :src="mediafile + $route.query.package + '/' + el.taps[currentindex].imgonchange[index].imgonchangesrc">
                  </div>
                </div>
                <div class="control">
                  <img id="image" class="image snapshot" :src="mediafile + $route.query.package + '/' + choice.imgsrc">
                </div>
                <div class="control">
                  <div class="rightanswer_btn">
                    <a v-if="findIndex(el.taps[currentindex].rightanswers, (item) => {return item === choice.id}) !== -1" @click="removerightanswer(choice.id)" class="button righticon"><i class="fa fa-check"></i></a>
                    <a @click="pickrightanswer(choice.id)" v-if="findIndex(el.taps[currentindex].rightanswers, (item) => {return item === choice.id}) === -1" class="button wrongicon"><i class="fa fa-times"></i></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</template>

<script>
import eventbus from '@/config/eventhub.js'
import remove from 'lodash/remove'
import findIndex from 'lodash/findIndex'
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'Taptappuzzlemultipleright',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null,
      tapidcount: 1,
      mediafile: MEDIAENDPOINT,
      findIndex: findIndex,
      currentindex: null,
      currentobj: null
    }
  },
  created () {
    this.tab = this.el.settingtab
  },
  methods: {
    tabclicked (tab) {
      this.el.settingindex = null
      this.tab = tab
      this.el.settingtab = tab
    },
    addnewtap () {
      let bindchoices = 'tap'
      if (this.el.taps.length > 0) {
        let maxtap = _.maxBy(this.el.taps, 'id')
        this.tapidcount = maxtap.id + 1
        bindchoices = this.el.taps[0].bindchoicesid
      }
      let choicescount = this.el.choicesarray.length
      this.el.taps.push({id: this.tapidcount, bindchoicesid: bindchoices, text: null, textstyle: {}, imageinput: null, rightanswers: [], check: false, Right: false, column: null, imgonchange: [], bgobject: {}, staticimage: {}})
      for (var i = 0; i < this.el.choicesarray.length; i++) {
        this.el.taps[this.el.taps.length - 1].imgonchange.push({id: this.el.choicesarray[i].id, imgonchangesrc: null})
      }
    },
    copytap () {
      let newobj = JSON.parse(JSON.stringify(this.el.taps[this.currentindex]))
      let maxtap = _.maxBy(this.el.taps, 'id')
      newobj.id = maxtap.id + 1
      this.el.taps.push(newobj)
      this.currentobj = this.el.taps[this.el.taps.length - 1]
    },
    deletetap () {
      this.el.taps.splice(this.currentindex, 1)
      this.currentindex = null
      this.currentobj = null
    },
    changebindchoicesid () {
      for (var i = 1; i < this.el.taps.length; i++) {
        this.el.taps[i].bindchoicesid = this.el.taps[0].bindchoicesid
      }
    },
    pickrightanswer (choiceid) {
      this.el.taps[this.currentindex].rightanswers.push(choiceid)
    },
    removerightanswer(choiceid) {
      var tempanswers = remove(JSON.parse(JSON.stringify(this.el.taps[this.currentindex].rightanswers)), (item) => {
        return item !== choiceid
      })
      this.$set(this.el.taps[this.currentindex], 'rightanswers', [])
      for (var i = 0; i < tempanswers.length; i++) {
        this.el.taps[this.currentindex].rightanswers.push(tempanswers[i])
      }
    },
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.tab = element.settingtab
      },
      deep: true
    },
    currentobj: function (obj) {
      if (obj !== null) {
        _.forEach(this.el.taps, (tap) => {
          if (tap.highlight !== undefined) {
            delete tap.highlight
          }
        })
        this.currentindex = _.findIndex(this.el.taps, {'id': obj.id})
        for (var i = 0; i < this.el.choicesarray.length; i++) {
          if (_.findIndex(this.el.taps[this.currentindex].imgonchange, {'id': this.el.choicesarray[i].id}) === -1) {
            this.el.taps[this.currentindex].imgonchange.push({id: this.el.choicesarray[i].id, imgonchangesrc: null})
          }
        }
        this.el.settingindex = _.findIndex(this.el.taps, {'id': obj.id})
        this.el.taps[this.el.settingindex].highlight = true
        this.$forceUpdate()
      } else {
        _.forEach(this.el.taps, (tap) => {
            delete tap.highlight
        })
        this.el.settingindex = null
        this.currentindex = null
      }
    }
  }
}

</script>
