<style lang="scss" scoped>
.navmenu{
  margin-bottom: 15px;
}
.shadowbutton{
  margin: 2px;
  border: solid 1px;
  border-color: #d3d3d3;
  text-align: center;
}
.snapshot{
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3;
  background-repeat: round;
  width: 100px;
  height: 100px;
}
.rightanswer_btn{
  padding-top: 40%;
  padding-left: 10%;
  .righticon{
    font-size: 1.3em;
    color: #23D161;
  }
  .wrongicon{
    font-size: 1.3em;
    color: #FF3860;
  }
}
</style>

<template lang="html">
<div v-if="el.settingtab === 'tapinput'">
  <div class="field has-addons">
    <div class="control">
      <a class="button is-static">
        <span>New Tap With Image Input</span>
      </a>
    </div>
    <div class="control">
      <a class="button is-info"  @click="addnewtap()"><i class="fa fa-plus"></i></a>
    </div>
    <p class="control">
        <a class="button is-static">
            Tap ID
        </a>
    </p>
    <p v-if="el.tapswithimage.length > 0" class="contol"><input @input="changebindchoicesid()" class="input" type="text" placeholder="Bind Choices ID" v-model="el.tapswithimage[0].bindchoicesid"></p>
  </div>
  <div class="field has-addons">
    <div class="control">
      <a class="button is-static">
        <span>Inputs per Lines</span>
      </a>
    </div>
    <div class="control">
      <input class="input" type="number" placeholder="Number of Inputs" v-model="el.inputsperlines">
    </div>
  </div>
  <div class="field has-addons">
    <div class="control">
      <a class="button is-static">
        <span>Tap With Image</span>
      </a>
    </div>
    <div class="control">
      <exp-multiselect :openDirection = "'top'" track-by ="id" label="id" v-model="currentobj" deselectLabel="" selectLabel="" selectedLabel="" :options="el.tapswithimage">
      </exp-multiselect>
    </div>
  </div>
  <!-- Each tap input Settings -->
  <div v-if="currentobj !== null">
    <div class="column is-12">
      <a class="button is-success" style="margin-bottom: 5px;" @click="copytap()">Copy</a>
      <a class="button is-danger" style="margin-bottom: 5px;" @click="deletetap()">Delete</a>
    </div>
    <div class="column is-12">
      <div class="columns is-multiline">
        <div class="field has-addons column is-12">
          <div class="control">
            <a class="button is-static">
              Filename Input Image
            </a>
          </div>
          <div class="control">
            <input class="input" type="text" placeholder="Tap Input Image URL" v-model="el.tapswithimage[currentindex].staticimage.imgsrc">
          </div>
        </div>
        <div class="field has-addons column is-12">
          <div class="control">
            <a class="button is-static">
              Filename Right Image
            </a>
          </div>
          <div class="control">
            <img v-if="el.tapswithimage[currentindex].rightimage !== null" class="image snapshot" :src="mediafile + $route.query.package + '/' + el.tapswithimage[currentindex].rightimage">
          </div>
          <div class="control">
            <input class="input" type="text" placeholder="Right Image Filename" v-model="el.tapswithimage[currentindex].rightimage">
          </div>
        </div>
        <div v-if="el.tapswithimage[currentindex].imgonchange.length > 0">
          <div v-for="(choice, index) in el.choicesarray" :key="choice.id" class="column is-12">
            <div class="field has-addons">
              <div class="control">
                <a class="button is-static">
                  Filename Image On Change
                </a>
              </div>
              <div class="control">
                <input v-if="currentindex !== null" class="input" type="text" placeholder="Image Filename On Change" v-model="el.tapswithimage[currentindex].imgonchange[index].imgonchangesrc">
              </div>
            </div>
              <div class="field has-addons">
                <div class="control">
                  <div v-if="el.tapswithimage[currentindex].imgonchange.length > index">
                      <img v-if="el.tapswithimage[currentindex].imgonchange[index].imgonchangesrc !== null" class="image snapshot" :src="mediafile + $route.query.package + '/' + el.tapswithimage[currentindex].imgonchange[index].imgonchangesrc">
                  </div>
                </div>
                <div class="control">
                  <img id="image" class="image snapshot" :src="mediafile + $route.query.package + '/' + choice.imgsrc">
                </div>
                <div class="control">
                  <div class="rightanswer_btn">
                    <a @click="pickrightanswer(choice.id)" v-if="el.tapswithimage[currentindex].rightanswer === null" class="button">isRight</a>
                    <a v-if="el.tapswithimage[currentindex].rightanswer === choice.id" class="button righticon"><i class="fa fa-check"></i></a>
                    <a @click="pickrightanswer(choice.id)" v-if="el.tapswithimage[currentindex].rightanswer !== null && el.tapswithimage[currentindex].rightanswer !== choice.id" class="button wrongicon"><i class="fa fa-times"></i></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</template>

<script>
import {COLORS_OBJECTS, MEDIAENDPOINT} from '@/config/app-config.js'
import _ from 'lodash'
export default {
  name: 'taptapimages',
  props: {
    el: Object
  },
  data () {
    return {
      mediafile: MEDIAENDPOINT,
      tapidcount: 1,
      currentindex: null,
      currentobj: null,
      tapnav: null,
      imgurl: null,
      imgurlonchange: null,
    }
  },
  methods: {
    addnewtap () {
      let bindchoices = 'tapswithimage'
      if (this.el.tapswithimage.length > 0) {
        let maxtap = _.maxBy(this.el.tapswithimage, 'id')
        this.tapidcount = maxtap.id + 1
        bindchoices = this.el.taps[0].bindchoicesid
      }
      this.el.tapswithimage.push({id: this.tapidcount, rightimage: null, bindchoicesid: bindchoices, imageinput: null, rightanswer: null, column: null, staticimage: {imgsrc: null}, imgonchange: [], bgobject: {}})
      for (var i = 0; i < this.el.choicesarray.length; i++) {
        this.el.tapswithimage[this.el.tapswithimage.length - 1].imgonchange.push({id: this.el.choicesarray[i].id, imgonchangesrc: null})
      }
    },
    copytap () {
      let newobj = JSON.parse(JSON.stringify(this.el.tapswithimage[this.currentindex]))
      let maxtap = _.maxBy(this.el.tapswithimage, 'id')
      newobj.id = maxtap.id + 1
      this.el.tapswithimage.push(newobj)
    },
    pickrightanswer (choiceid) {
      this.el.tapswithimage[this.currentindex].rightanswer = choiceid
    },
    deletetap () {
      this.el.tapswithimage.splice(this.currentindex, 1)
      this.currentindex = null
      this.currentobj = null
    },
    changebindchoicesid () {
      for (var i = 1; i < this.el.tapswithimage.length; i++) {
        this.el.tapswithimage[i].bindchoicesid = this.el.tapswithimage[0].bindchoicesid
      }
    }
  },
  watch: {
    currentobj: function (obj) {
      if (obj !== null) {
        this.currentindex = _.findIndex(this.el.tapswithimage, {'id': obj.id})
        for (var i = 0; i < this.el.choicesarray.length; i++) {
          if (_.findIndex(this.el.tapswithimage[this.currentindex].imgonchange, {'id': this.el.choicesarray[i].id}) === -1) {
            this.el.tapswithimage[this.currentindex].imgonchange.push({id: this.el.choicesarray[i].id, imgonchangesrc: null})
          }
        }
        this.el.settingindex = _.findIndex(this.el.tapswithimage, {'id': obj.id})
        this.$forceUpdate()
      }
    }
  }
}

</script>
