<style lang="scss">
</style>

<template lang="html">
  <div>
    <div v-if="(el.settingindex !== null && (el.settingtab === 'tapinput' || el.settingtab === 'multiplechoiceimgtext' || el.settingtab === 'image'))" class="columns">
      <div class="column is-12">
        <a @click="flag = !flag" class="uicomp_acordeon has-text-info">
          <span v-if="!flag"><i class="fa fa-plus"></i></span>
          <span v-if="flag"><i class="fa fa-times"></i></span>
          Static Image Settings
        </a>
      </div>
    </div>
  <div v-if="flag && (el.settingindex !== null && (el.settingtab === 'tapinput' || el.settingtab === 'multiplechoiceimgtext' || el.settingtab === 'image'))" class="columns is-multiline">
  <div v-if="object.imgsrc !== null && object.imgsrc !== ''" class="column is-6">
    <img class="image" :src="mediafile + $route.query.package + '/' + object.imgsrc" id="uicstatimage">
  </div>
  <div class="field has-addons column is-12">
    <div class="control">
      <a class="button is-static">
        Filename Static Image
      </a>
    </div>
    <div class="control">
      <input class="input" type="text" placeholder="Tap Input Static Image Filename" v-model="object.imgsrc">
    </div>
  </div>
  <div class="column is-6">
    <div class="field has-addons">
      <p class="control">
        <a class="button is-static">
          <span>Z-index</span>
        </a>
      </p>
      <p class="control">
        <input class="input" type="number" v-model="object.zIndex">
      </p>
    </div>
  </div>
    <div class="column is-12">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Static Image Margin
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Top" v-model="object.staticmargintop">
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Right" v-model="object.staticmarginright">
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Bottom" v-model="object.staticmarginbottom">
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Left" v-model="object.staticmarginleft">
        </p>
        <p class="control">
          <a class="button is-static">
            %
          </a>
        </p>
      </div>
    </div>
    <div class="column is-12">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Top
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Top" v-model="object.top">
        </p>
        <p class="control">
          <a class="button is-static">
            %
          </a>
        </p>
      </div>
    </div>
    <div class="column is-12">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Left
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Left" v-model="object.left">
        </p>
        <p class="control">
          <a class="button is-static">
            %
          </a>
        </p>
      </div>
    </div>
    <div class="column is-12">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Static Image Width
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Width" v-model="object.staticwidth">
        </p>
        <p class="control">
          <a class="button is-static">
            px
          </a>
        </p>
      </div>
    </div>
    <div class="column is-12">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Static Image Height
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Height" v-model="object.staticheight">
        </p>
        <p class="control">
          <a class="button is-static">
            px
          </a>
        </p>
      </div>
    </div>
    <div v-if="object.imgsrc !== null && object.imgsrc !== ''" class="column is-6">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            <span>Image Ratio Multiplier</span>
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" step="0.1" min="0" v-model="ratiomultiple">
        </p>
      </div>
    </div>
    <div v-if="object.imgsrc !== null && object.imgsrc !== ''" class="column is-6">
      <exp-checkbox type="text" class="checkbox" @input="lock_multiplierflag()" v-model="multiplierflag">Lock Multiplier</exp-checkbox>
    </div>
  </div>
</div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
import Bus from '@/config/eventhub'
export default {
  name: 'uicomponentstaticimage',
  props: {
    el: Object
  },
  data () {
    return {
      flag: false,
      mediafile: MEDIAENDPOINT,
      ratiomultiple: 1,
      multiplierflag: false,
      object: {
        staticmargintop: null,
        staticmarginright: null,
        staticmarginbottom: null,
        staticmarginleft: null,
        staticwidth: null,
        staticheight: null,
        imgsrc: null,
        position: null,
        zIndex: null,
        top: null,
        left: null
      },
      tempobject: {}
    }
  },
  mounted () {
    if ((this.el.settingtab === 'tapinput') && this.el.settingindex !== null) {
      this.loadonmount()
    }
    Bus.listen('staticimages_index_change', () => {
      this.multiplierflag = false
    })
  },
  methods: {
    loadobj () {
      this.$InputNumberStep('input', 'number', 38, 40, 10)
      this.tempobject = JSON.parse(JSON.stringify(this.el[this.uicomponentkey][this.el.settingindex].staticimage))
      if (this.object.imgsrc !== null && this.object.imgsrc !== undefined && this.object.imgsrc !== '') {
        this.tempobject.imgsrc = this.object.imgsrc
        this.$nextTick(() => {
          if (this.ratiomultiple === 1 && this.multiplierflag) {
            var img = document.getElementById('uicstatimage')
            this.object.staticwidth = img.naturalWidth
            this.object.staticheight = img.naturalHeight
          }
        })
      } else {
        delete this.tempobject.imgsrc
      }
      if (this.object.zIndex !== null && this.object.zIndex !== undefined && this.object.zIndex !== '') {
        this.tempobject.zIndex = this.object.zIndex
      } else {
        if (this.tempobject.zIndex !== undefined) {
          delete this.tempobject.zIndex
        }
      }
      if (this.object.position !== null && this.object.position !== undefined && this.object.position !== '') {
        this.tempobject.position = this.object.position
      } else {
        if (this.tempobject.position !== undefined) {
          delete this.tempobject.position
        }
      }
      if (this.object.staticmargintop !== null && this.object.staticmargintop !== undefined && this.object.staticmargintop !== '') {
        this.tempobject.marginTop = this.object.staticmargintop + '%'
      } else {
        if (this.tempobject.marginTop !== undefined) {
          delete this.tempobject.marginTop
        }
      }
      if (this.object.staticmarginleft !== null && this.object.staticmarginleft !== undefined && this.object.staticmarginleft !== '') {
        this.tempobject.marginLeft = this.object.staticmarginleft + '%'
      } else {
        if (this.tempobject.marginLeft !== undefined) {
          delete this.tempobject.marginLeft
        }
      }
      if (this.object.staticmarginbottom !== null && this.object.staticmarginbottom !== undefined && this.object.staticmarginbottom !== '') {
        this.tempobject.marginBottom = this.object.staticmarginbottom + '%'
      } else {
        if (this.tempobject.marginBottom !== undefined) {
          delete this.tempobject.marginBottom
        }
      }
      if (this.object.staticmarginright !== null && this.object.staticmarginright !== undefined && this.object.staticmarginright !== '') {
        this.tempobject.marginRight = this.object.staticmarginright + '%'
      } else {
        if (this.tempobject.marginRight !== undefined) {
          delete this.tempobject.marginRight
        }
      }
      if (this.object.staticwidth !== null && this.object.staticwidth !== undefined && this.object.staticwidth !== '') {
        this.tempobject.width = this.object.staticwidth + 'px'
      } else {
        if (this.tempobject.width !== undefined) {
          delete this.tempobject.width
        }
      }
      if (this.object.staticheight !== null && this.object.staticheight !== undefined && this.object.staticheight !== '') {
        this.tempobject.height = this.object.staticheight + 'px'
      } else {
        if (this.tempobject.height !== undefined) {
          delete this.tempobject.height
        }
      }
      if (this.object.top !== null && this.object.top !== undefined && this.object.top !== '') {
        this.tempobject.top = this.object.top + '%'
        this.tempobject.position = 'absolute'
      } else {
        delete this.tempobject.position
        if (this.tempobject.top !== undefined) {
          delete this.tempobject.top
        }
      }
      if (this.object.left !== null && this.object.left !== undefined && this.object.left !== '') {
        this.tempobject.left = this.object.left + '%'
        this.tempobject.position = 'absolute'
      } else {
        delete this.tempobject.position
        if (this.tempobject.left !== undefined) {
          delete this.tempobject.left
        }
      }
      this.el[this.uicomponentkey][this.el.settingindex].staticimage = JSON.parse(JSON.stringify(this.tempobject))
    },
    resetbg () {
      delete this.tempobject.marginTop
      delete this.tempobject.marginLeft
      delete this.tempobject.marginBottom
      delete this.tempobject.marginRight
      delete this.tempobject.width
      delete this.tempobject.height
      delete this.tempobject.zIndex
      delete this.tempobject.left
      delete this.tempobject.top
      this.el[this.uicomponentkey][this.el.settingindex].staticimage = JSON.parse(JSON.stringify(this.tempobject))
    },
    loadonmount () {
      let keys = Object.keys(this.el)
      if (this.el.settingtab === 'staticimages') {
        if (keys.includes('staticimages')) {
          this.uicomponentkey = 'staticimages'
        } else {
          this.el['staticimages'] = []
          this.uicomponentkey = 'staticimages'
        }
      } else {
        for (var i = 0; i < keys.length; i++) {
          switch (keys[i]) {
            case 'typing':
              this.uicomponentkey = 'typing'
              break
            case 'taps':
              this.uicomponentkey = 'taps'
              if (!Object.keys(this.el[this.uicomponentkey][this.el.settingindex]).includes('staticimage')) {
                this.el[this.uicomponentkey][this.el.settingindex]['staticimage'] = {}
              }
              break
            case 'tapsonchange':
              this.uicomponentkey = 'tapsonchange'
              break
            case 'tapswithimage':
              this.uicomponentkey = 'tapswithimage'
              break
            case 'imgsarray':
              this.uicomponentkey = 'imgsarray'
              break
          }
        }
      }
      if (this.el[this.uicomponentkey] !== undefined) {
        if (this.el[this.uicomponentkey].length > 0) {
          this.tempobject = JSON.parse(JSON.stringify(this.el[this.uicomponentkey][this.el.settingindex].staticimage))
          if (this.tempobject.imgsrc !== undefined) {
            this.object.imgsrc = this.tempobject.imgsrc
          } else {
            this.object.imgsrc = null
          }
          if (this.tempobject.position !== undefined) {
            this.object.position = this.tempobject.position
          }
          if (this.tempobject.marginTop !== undefined) {
            this.object.staticmargintop = this.tempobject.marginTop.replace(/%/g, '')
          } else {
            this.object.staticmargintop = null
          }
          if (this.tempobject.marginLeft !== undefined) {
            this.object.staticmarginleft = this.tempobject.marginLeft.replace(/%/g, '')
          } else {
            this.object.staticmarginleft = null
          }
          if (this.tempobject.marginBottom !== undefined) {
            this.object.staticmarginbottom = this.tempobject.marginBottom.replace(/%/g, '')
          } else {
            this.object.staticmarginbottom = null
          }
          if (this.tempobject.marginRight !== undefined) {
            this.object.staticmarginright = this.tempobject.marginRight.replace(/%/g, '')
          } else {
            this.object.staticmarginright = null
          }
          if (this.tempobject.width !== undefined) {
            this.object.staticwidth = this.tempobject.width.replace(/px/g, '')
          } else {
            this.object.staticwidth = null
          }
          if (this.tempobject.height !== undefined) {
            this.object.staticheight = this.tempobject.height.replace(/px/g, '')
          } else {
            this.object.staticheight = null
          }
          if (this.tempobject.left !== undefined) {
            this.object.left = this.tempobject.left.replace(/%/g, '')
          } else {
            this.object.left = null
            delete this.tempobject.position
          }
          if (this.tempobject.top !== undefined) {
            this.object.top = this.tempobject.top.replace(/%/g, '')
          } else {
            this.object.top = null
            delete this.tempobject.position
          }
          if (this.tempobject.zIndex !== undefined) {
            this.object.zIndex = this.tempobject.zIndex
          } else {
            this.object.zIndex = null
          }
        }
      }
    },
    lock_multiplierflag () {
      if (this.multiplierflag) {
        if (this.object.staticwidth !== null && this.object.staticwidth !== undefined && this.object.staticwidth !== '') {
          var img = document.getElementById('uicstatimage')
          let widthflag = (Math.round((this.object.staticwidth / img.naturalWidth) * 10) / 10)
          let heightflag = (Math.round((this.object.staticheight / img.naturalHeight) * 10) / 10)
          if (widthflag === heightflag) {
            this.ratiomultiple = widthflag
          } else {
            this.ratiomultiple = null
          }
        }
      }
    }
  },
  computed: {
    compobject: function () {
      return this.object
    },
    elchanges: function () {
      return this.el
    }
  },
  watch: {
    compobject: {
      handler (object) {
        this.loadobj()
      },
      deep: true
    },
    elchanges: {
      handler (element) {
        this.el = element
        if ((element.settingtab === 'tapinput' || this.el.settingtab === 'multiplechoiceimgtext' || this.el.settingtab === 'image') && element.settingindex !== null) {
          this.loadonmount()
        }
      },
      deep: true
    },
    ratiomultiple: {
      handler (value) {
        if (this.multiplierflag) {
          var img = document.getElementById('uicstatimage')
          if (value !== 1) {
            this.object.staticwidth = img.naturalWidth
            this.object.staticheight = img.naturalHeight
            this.object.staticwidth = Math.round(this.object.staticwidth * value)
            this.object.staticheight = Math.round(this.object.staticheight * value)
          } else {
            this.object.staticwidth  = img.naturalWidth
            this.object.staticheight = img.naturalHeight
          }
        }
      }
    }
  }
}

</script>
