<style lang="scss">
</style>

<template lang="html">
<div id="uicomponentbgsettings" class="columns is-multiline" v-if="openFlag">
  <div class="column is-12">
    <article class="message is-info">
      <div class="message-header">
        Background Style
        <a class="delete" @click="close()"></a>
      </div>
    </article>
  </div>
  <div class="column is-12">
    <div class="tabs is-boxed">
      <ul>
        <li :class="[properties === 'general' ? 'is-active': '' ]">
          <a @click="properties = 'general'" >General Settings</a>
        </li>
        <li :class="[properties === 'background' ? 'is-active': '' ]">
          <a @click="properties = 'background'">Background</a>
        </li>
        <li :class="[properties === 'dimensions' ? 'is-active': '' ]">
          <a @click="properties = 'dimensions'">Dimensions</a>
        </li>
        <li :class="[properties === 'border' ? 'is-active': '' ]">
          <a @click="properties = 'border'" >Border</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="column is-12"  v-if="properties === 'general'">
    <div class="columns is-multiline">
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
          Color
          </a>
        </p>
        <p class="control">
          <input class="input" type="text" placeholder="Color" v-model="tempobject.color">
        </p>
      </div>
    </div>
  </div>
  <div class="column is-12" v-if="properties === 'background'">
    <div class="columns is-multiline">
      <div class="column is-7">
        <img v-if="tempobject.backgroundImage !== null && tempobject.backgroundImage !== undefined" :alt="tempobject.backgroundImage" id="uicbgsetimage" :src="mediafile + $route.query.package + '/' + tempobject.backgroundImage" class="image">
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Filename
          </a>
        </p>
        <p class="control">
          <input class="input" type="text" placeholder="Background Image" v-model="tempobject.backgroundImage">
        </p>
      </div>
      <div class="column is-6">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Repeat
            </a>
          </p>
          <p class="control">
            <span class="select">
              <select v-model="tempobject.backgroundRepeat">
                <option>no-repeat</option>
                <option>repeat</option>
                <option>repeat-x</option>
                <option>repeat-y</option>
                <option>space</option>
                <option>round</option>
                <option>initial</option>
                <option>inherit</option>
              </select>
            </span>
          </p>
        </div>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            BG Color
          </a>
        </p>
        <p class="control">
          <input class="input" type="text" placeholder="Background Color" v-model="tempobject.backgroundColor">
        </p>
      </div>
    </div>
  </div>
  <div class="column is-12" v-if="properties === 'dimensions'">
    <div class="columns is-multiline">
        <div class="column is-6 field has-addons">
          <p class="control">
            <a class="button is-static">
              Width
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Width" v-model="tempobject.width">
          </p>
          <p class="control">
            <a class="button is-static">
              px
            </a>
          </p>
        </div>
        <div class="column is-6 field has-addons">
          <p class="control">
            <a class="button is-static">
              Height
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Height" v-model="tempobject.height">
          </p>
          <p class="control">
            <a class="button is-static">
              px
            </a>
          </p>
        </div>
        <div class="column is-12 field has-addons" v-if="tempobject.backgroundImage !== null && tempobject.backgroundImage !== undefined">
          <p class="contol">
            <a class="button is-static">
              BG Width
            </a>
          </p>
          <p class="control">
            <input class="input" placeholder="BG Width" type="number" v-model="bgdimensions.bgwidth">
          </p>
          <p class="contol">
            <a class="button is-static">
              BG Height
            </a>
          </p>
          <p class="control">
            <input class="input"  placeholder="BG Height" type="number" v-model="bgdimensions.bgheight">
          </p>
          <p class="contol">
            <a class="button is-static">
              px
            </a>
          </p>
        </div>
        <div class="column is-12 field has-addons" v-if="tempobject.backgroundImage !== null && tempobject.backgroundImage !== undefined">
            <p class="control">
              <a class="button is-static">
                Image Ratio Multiplier
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" step="0.1" @input="ratioMultiplier()" placeholder="Multiplier" v-model="ratiomultiple">
            </p>
            <p class="control">
              <exp-checkbox type="text" class="checkbox" @input="calculateMultiplier()" v-model="multiplierflag"></exp-checkbox>
              <p class="help">Lock Multiplier</p>
            </p>
        </div>
        <div class="column is-6 field has-addons">
          <p class="control">
            <a class="button is-static">
              minWidth
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="minWidth" v-model="tempobject.minWidth">
          </p>
          <p class="control">
            <a class="button is-static">
              px
            </a>
          </p>
        </div>
        <div class="column is-6 field has-addons">
          <p class="control">
            <a class="button is-static">
              minHeight
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="minHeight" v-model="tempobject.minHeight">
          </p>
          <p class="control">
            <a class="button is-static">
              px
            </a>
          </p>
        </div>
        <div class="column is-6 field has-addons">
          <p class="control">
            <a class="button is-static">
              Top
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="top" v-model="tempobject.top">
          </p>
          <p class="control">
            <a class="button is-static">
              %
            </a>
          </p>
        </div>
        <div class="column is-6 field has-addons">
          <p class="control">
            <a class="button is-static">
              Left
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="left" v-model="tempobject.left">
          </p>
          <p class="control">
            <a class="button is-static">
              %
            </a>
          </p>
        </div>
        <div class="column is-6 field has-addons">
          <p class="control">
            <a class="button is-static">
              Float
            </a>
          </p>
          <p class="control">
            <span class="select">
              <select v-model="tempobject.float">
                <option>none</option>
                <option>left</option>
                <option>right</option>
                <option>inherit</option>
              </select>
            </span>
          </p>
        </div>
        <div class="column is-6 field has-addons">
          <p class="control">
            <a class="button is-static">
              Display
            </a>
          </p>
          <p class="control">
            <span class="select">
              <select v-model="tempobject.display">
                <option>block</option>
                <option>none</option>
              </select>
            </span>
          </p>
        </div>
        <div class="column is-12 field has-addons">
          <p class="control">
            <a class="button is-static">
              zIndex
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Z-index" v-model="tempobject.zIndex">
          </p>
        </div>
        <div class="column is-12 field has-addons">
          <p class="control">
            <a class="button is-static">
              Padding
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Top" v-model="tempobject.paddingTop">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Right" v-model="tempobject.paddingRight">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Bottom" v-model="tempobject.paddingBottom">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Left" v-model="tempobject.paddingLeft">
          </p>
          <p class="control">
            <a class="button is-static">
              %
            </a>
          </p>
        </div>
        <div class="column is-12 field has-addons">
          <p class="control">
            <a class="button is-static">
              Margin
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Top" v-model="tempobject.marginTop">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Right" v-model="tempobject.marginRight">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Bottom" v-model="tempobject.marginBottom">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Left" v-model="tempobject.marginLeft">
          </p>
          <p class="control">
            <a class="button is-static">
              %
            </a>
          </p>
        </div>
    </div>
  </div>
  <div class="column is-12" v-if="properties === 'border'">
    <div class="columns is-multiline">
        <div class="column is-12 field has-addons">
          <p class="control">
            <a class="button is-static">
              Border Color
            </a>
          </p>
          <p class="control">
            <input class="input" type="text" placeholder="Border Color" v-model="tempobject.borderColor">
          </p>
        </div>
      <div class="column is-6 field has-addons">
        <p class="control">
          <a class="button is-static">
            Width
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Border Width" v-model="tempobject.borderWidth">
        </p>
        <p class="control">
          <a class="button is-static">
            px
          </a>
        </p>
      </div>
      <div class="column is-6 field has-addons">
        <p class="control">
          <a class="button is-static">
            Radius
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Border Radius" v-model="tempobject.borderRadius">
        </p>
        <p class="control">
          <a class="button is-static">
            px
          </a>
        </p>
      </div>
      <div class="column is-6 field has-addons">
        <p class="control">
          <a class="button is-static">
            Style
          </a>
        </p>
        <p class="control">
          <span class="select">
            <select v-model="tempobject.borderStyle">
              <option>none</option>
              <option>solid</option>
              <option>dotted</option>
              <option>dashed</option>
              <option>double</option>
              <option>groove</option>
              <option>ridge</option>
              <option>inset</option>
              <option>outset</option>
            </select>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config.js'
import ObjectMixins from '@/components/utils/ObjectMixins'
import eventbus from '@/config/eventhub.js'
import forEach from 'lodash/forEach'
import setWith from 'lodash/setWith'
import get from 'lodash/get'
export default {
  name: 'uicomponentbgsettings',
  mixins: [ObjectMixins],
  props: {
    el: Object
  },
  data () {
    return {
      object: null,
      bgdimensions: {
        bgwidth: null,
        bgheight: null,
      },
      tempobject: {
        backgroundImage: null,
        backgroundRepeat: null,
        backgroundColor: null,
        backgroundSize: null,
        width: null,
        minWidth: null,
        height: null,
        minHeight: null,
        left: null,
        top: null,
        borderWidth: null,
        borderColor: null,
        borderStyle: null,
        borderRadius: null,
        paddingTop: null,
        paddingRight: null,
        paddingBottom: null,
        paddingLeft: null,
        marginTop: null,
        marginRight: null,
        marginBottom: null,
        marginLeft: null,
        float: null,
        display: null,
        zIndex: null,
        color: null
      },
      openFlag: false,
      ratiomultiple: null,
      multiplierflag: false,
      image: null,
      mediafile: MEDIAENDPOINT,
      properties: null
    }
  },
  mounted () {
    eventbus.listen('uicomponentbgsettings_open', (data) => {
      this.openFlag = true
      this.object = data.style
      this.getObject(this.object)
      this.$nextTick(() => {
        let scrollID = document.getElementById('uicomponentbgsettings')
        if (scrollID !== undefined && scrollID !== null) {
          scrollID.scrollIntoView({behavior: "smooth"})
        }
      })
    })
    eventbus.listen('uicomponentbgsettings_close', (data) => {
      this.openFlag = false
      this.object = {}
      this.ratiomultiple = null
      this.multiplierflag = false
      this.properties = null
    })
  },
  methods: {
    loadStyle () {
      let loadObject = {}
      forEach(this.tempobject, (value, attr) => {
        if (value === null || value === undefined || value === '') {
          delete this.tempobject[attr]
        } else {
          switch (attr) {
            case 'width':
            case 'height':
            case 'minWidth':
            case 'minHeight':
            case 'borderWidth':
            case 'borderRadius':
              loadObject[attr] = this.tempobject[attr] + 'px'
            break
            case 'top':
            case 'left':
              loadObject['position'] = 'absolute'
              loadObject[attr] = this.tempobject[attr] + '%'
            break
            case 'paddingTop':
            case 'paddingRight':
            case 'paddingBottom':
            case 'paddingLeft':
            case 'marginTop':
            case 'marginRight':
            case 'marginBottom':
            case 'marginLeft':
              loadObject[attr] = this.tempobject[attr] + '%'
            break
            case 'zIndex':
            case 'float':
            case 'display':
            case 'backgroundRepeat':
            case 'backgroundColor':
            case 'backgroundImage':
            case 'borderColor':
            case 'borderStyle':
            case 'color':
              loadObject[attr] = this.tempobject[attr]
            break
            case 'backgroundSize':
          }
        }
      })
      // check if top and left attr missing to remove position attr
      if (loadObject['top'] === undefined && loadObject['left'] === undefined) {
        delete loadObject['position']
      }
      this.setObject(this.object, loadObject)
    },
    setObject (attr, value) {
      setWith(this.el, attr, value, Object)
    },
    getObject (attr) {
      this.defaultDynamicObject(this.el, attr, {})
      let object = {...get(this.el, attr, {})}
      forEach(object, (value, attr) => {
        if (attr === 'backgroundSize') {
          let tempsplit = this.tempobject.backgroundSize.split('px')
          this.bgdimensions.bgwidth = tempsplit[0]
          this.bgdimensions.bgheight = tempsplit[1].replace(/\s/g, '')
        }
        let match = value.match(/^-?\d+\.{0,1}\d{0,}/i) //check if is negative number, float, or isnt css attr with a number in it
        if (match !== null) {
          object[attr] = match[0]
        } else {
          object[attr] = value
        }
      })
      this.tempobject = {...object}
      if (this.tempobject.backgroundImage !== null && this.tempobject.backgroundImage !== undefined) {
        this.image = new Image()
        this.image.src = MEDIAENDPOINT + this.$route.query.package + '/' + this.tempobject.backgroundImage
      }
    },
    ratioMultiplier () {
      if (this.multiplierflag) {
        if (this.ratiomultiple !== '0' && this.ratiomultiple !== null && this.ratiomultiple !== undefined && this.ratiomultiple !== '') {
          this.tempobject.width = Math.round(this.image.naturalWidth * this.ratiomultiple)
          this.tempobject.height = Math.round(this.image.naturalHeight * this.ratiomultiple)
        } else {
          this.tempobject.width = this.image.naturalWidth
          this.tempobject.height = this.image.naturalHeight
        }
      }
    },
    calculateMultiplier () {
      if (this.multiplierflag) {
        this.ratiomultiple = +((this.tempobject.width/this.image.naturalWidth).toFixed(1))
      }
    },
    close () {
      this.openFlag = false
      this.object = {}
      this.ratiomultiple = null
      this.multiplierflag = false
    }
  },
  computed: {
    compobject: function () {
      return this.tempobject
    },
    compbgdimensions: function () {
      return this.bgdimensions
    }
  },
  watch: {
    compobject: {
      handler (object) {
        this.loadStyle()
      },
      deep: true
    },
    compbgdimensions: {
      handler (object) {
        if (object.bgwidth !== null && object.bgheight !== null) {
          this.tempobject.backgroundSize = object.bgwidth + 'px ' + object.bgheight + 'px'
        }
      },
      deep: true
    }
  }
}

</script>
