<style lang="scss">



</style>

<template lang="html">
  <div id="uicomponenttext" class="columns is-multiline" v-if="openFlag">
    <div class="column is-12">
      <article class="message is-info">
        <div class="message-header">
          Text Style
          <a class="delete" @click="close()"></a>
        </div>
      </article>
    </div>
    <div class="column is-6 has-text-left">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Font Size
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Font Size" step="0.1" v-model="tempobject.fontSize">
        </p>
        <p class="control">
          <a class="button is-static">
            em
          </a>
        </p>
      </div>
    </div>
    <div class="column is-6 field has-addons">
        <p class="control">
          <a class="button is-static">
            Style
          </a>
        </p>
        <p class="control">
          <span class="select">
            <select v-model="tempobject.fontWeight">
              <option value='400'>normal</option>
              <option value='700'>bold</option>
              <option value='bolder'>bolder</option>
              <option value='lighter'>lighter</option>
            </select>
          </span>
        </p>
        <p class="control">
          <input class="input" type="text" placeholder="Font Weight" v-model="tempobject.fontWeight">
        </p>
      </div>
    <div class="column is-6">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            BG Color
          </a>
        </p>
        <p class="control">
          <input class="input" type="text" placeholder="Background Color" v-model="tempobject.backgroundColor">
        </p>
      </div>
    </div>
    <div class="column is-6">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Text Color
          </a>
        </p>
        <p class="control">
          <input class="input" type="text" placeholder="Background Color" v-model="tempobject.color">
        </p>
      </div>
    </div>
    <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Width
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Width" v-model="tempobject.width">
        </p>
        <p class="control">
          <a class="button is-static">
            px
          </a>
        </p>
        <p class="control">
          <a class="button is-static">
            Height
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Height" v-model="tempobject.height">
        </p>
        <p class="control">
          <a class="button is-static">
            px
          </a>
        </p>
    </div>
    <div class="column is-12">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Padding
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Top" v-model="tempobject.paddingTop">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Right" v-model="tempobject.paddingRight">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Bottom" v-model="tempobject.paddingBottom">
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="Left" v-model="tempobject.paddingLeft">
          </p>
          <p class="control">
            <a class="button is-static">
              %
            </a>
          </p>
        </div>
      </div>
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Left
        </a>
      </p>
      <p class="control">
        <input class="input" type="number" placeholder="Left" v-model="tempobject.left">
      </p>
      <p class="control">
        <a class="button is-static">
          %
        </a>
      </p>
      <p class="control">
        <a class="button is-static">
          Top
        </a>
      </p>
      <p class="control">
        <input class="input" type="number" placeholder="Top" v-model="tempobject.top">
      </p>
      <p class="control">
        <a class="button is-static">
          %
        </a>
      </p>
    </div>
      <div class="column is-6 field has-addons">
        <p class="control">
          <a class="button is-static">
            Position
          </a>
        </p>
        <p class="control">
          <span class="select">
            <select v-model="tempobject.position">
              <option>initial</option>
              <option>inherit</option>
              <option>static</option>
              <option>absolute</option>
              <option>fixed</option>
              <option>relative</option>
            </select>
          </span>
        </p>
      </div>
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          zIndex
        </a>
      </p>
      <p class="control">
        <input class="input" type="number" placeholder="z Index" v-model="tempobject.zIndex">
      </p>
    </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Border Color
          </a>
        </p>
        <p class="control">
          <input class="input" type="text" placeholder="Border Color" v-model="tempobject.borderColor">
        </p>
      </div>
      <div class="column is-6 field has-addons">
        <p class="control">
          <a class="button is-static">
          Border  Width
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Border Width" v-model="tempobject.borderWidth">
        </p>
        <p class="control">
          <a class="button is-static">
            px
          </a>
        </p>
      </div>
      <div class="column is-6 field has-addons">
        <p class="control">
          <a class="button is-static">
            Radius
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Border Radius" v-model="tempobject.borderRadius">
        </p>
        <p class="control">
          <a class="button is-static">
            px
          </a>
        </p>
      </div>
      <div class="column is-6 field has-addons">
        <p class="control">
          <a class="button is-static">
            Border Style
          </a>
        </p>
        <p class="control">
          <span class="select">
            <select v-model="tempobject.borderStyle">
              <option>none</option>
              <option>solid</option>
              <option>dotted</option>
              <option>dashed</option>
              <option>double</option>
              <option>groove</option>
              <option>ridge</option>
              <option>inset</option>
              <option>outset</option>
            </select>
          </span>
        </p>
      </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config.js'
import ObjectMixins from '@/components/utils/ObjectMixins'
import eventbus from '@/config/eventhub.js'
import forEach from 'lodash/forEach'
import setWith from 'lodash/setWith'
import has from 'lodash/has'
import get from 'lodash/get'
export default {
  name: 'uicomponenttext',
  mixins: [ObjectMixins],
  props: {
    el: Object
  },
  data () {
    return {
      object: null,
      tempobject: {
        width: null,
        height: null,
        left: null,
        top: null,
        borderRadius: null,
        zIndex: null,
        fontSize: null,
        paddingTop: null,
        paddingRight: null,
        paddingBottom: null,
        paddingLeft: null,
        backgroundColor: null,
        borderWidth: null,
        borderRadius: null,
        borderColor: null,
        borderStyle: null,
        fontWeight: null,
        position: null
      },
      openFlag: false
    }
  },
  mounted () {
    eventbus.listen('uicomponenttext_open', (data) => {
      this.openFlag = true
      this.object = data.style
      this.getObject(this.object)
      this.$nextTick(() => {
        let scrollID = document.getElementById('uicomponenttext')
        if (scrollID !== undefined && scrollID !== null) {
          scrollID.scrollIntoView({behavior: "smooth"})
        }
      })
    })
    eventbus.listen('uicomponenttext_close', (data) => {
      this.openFlag = false
      this.object = {}
    })
  },
  methods: {
    loadStyle () {
      let loadObject = {}
      forEach(this.tempobject, (value, attr) => {
        if (value === null || value === undefined || value === '') {
          delete this.tempobject[attr]
        } else {
          switch (attr) {
            case 'width':
            case 'height':
            case 'borderWidth':
            case 'borderRadius':
              loadObject[attr] = this.tempobject[attr] + 'px'
            break
            case 'top':
            case 'left':
              loadObject['position'] = 'absolute'
              loadObject[attr] = this.tempobject[attr] + '%'
            break
            case 'zIndex':
              loadObject[attr] = this.tempobject[attr]
            break
            case 'fontSize':
              loadObject[attr] = this.tempobject[attr] + 'em'
            break
            case 'paddingTop':
            case 'paddingRight':
            case 'paddingBottom':
            case 'paddingLeft':
            case 'marginTop':
            case 'marginRight':
            case 'marginBottom':
            case 'marginLeft':
              loadObject[attr] = this.tempobject[attr] + '%'
            break

            case 'backgroundColor':
            case 'color':
            case 'position':
            case 'textTransform':
            case 'textDecoration':
            case 'fontWeight':
            case 'borderColor':
            case 'borderStyle':
            case 'position':
            loadObject[attr] = this.tempobject[attr]
            break
          }
        }
      })
      this.setObject(this.object, loadObject)
    },
    setObject (attr, value) {
      setWith(this.el, attr, value, Object)
    },
    getObject (attr) {
      this.defaultDynamicObject(this.el, attr, {})
      let object = {...get(this.el, attr, {})}
      forEach(object, (value, attr) => {
        let match = value.match(/^-?\d+\.{0,1}\d{0,}/i) //check if is negative number, float, or isnt css attr with a number in it
        if (match !== null) {
          object[attr] = match[0]
        } else {
          object[attr] = value
        }
      })
      this.tempobject = {...object}
    },
    close () {
      this.openFlag = false
      this.object = {}
    }
  },
  computed: {
    compobject: function () {
      return this.tempobject
    }
  },
  watch: {
    compobject: {
      handler (object) {
        this.loadStyle()
      },
      deep: true
    }
  }
}

</script>
