<style lang="scss">
</style>

<template lang="html">
  <div id="uicomponentimages" class="columns is-multiline" v-if="openFlag">
    <div class="column is-12">
      <article class="message is-info">
        <div class="message-header">
          Image Style
          <a class="delete" @click="close()"></a>
        </div>
      </article>
    </div>
    <div v-if="tempobject !== null && tempobject.imgsrc !== undefined" class="column is-6">
      <img class="image" :src="mediafile + $route.query.package + '/' + tempobject.imgsrc" id="uicstatimage">
    </div>
    <div v-if="tempobject !== null && tempobject.imgsrc !== undefined" class="field has-addons column is-12">
      <div class="control">
        <a class="button is-static">
          Filename Static Image
        </a>
      </div>
      <div class="control">
        <input class="input" type="text" placeholder="Tap Input Static Image Filename" v-model="tempobject.imgsrc" disabled>
      </div>
    </div>
    <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Width
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Width" v-model="tempobject.width">
        </p>
        <p class="control">
          <a class="button is-static">
            px
          </a>
        </p>
        <p class="control">
          <a class="button is-static">
            Height
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Height" v-model="tempobject.height">
        </p>
        <p class="control">
          <a class="button is-static">
            px
          </a>
        </p>
    </div>
    <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Image Ratio Multiplier
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" step="0.1" @input="ratioMultiplier()" placeholder="Multiplier" v-model="ratiomultiple">
        </p>
        <p class="control">
          <exp-checkbox type="text" class="checkbox" @input="calculateMultiplier()" v-model="multiplierflag"></exp-checkbox>
          <p class="help">Lock Multiplier</p>
        </p>
    </div>
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Left
        </a>
      </p>
      <p class="control">
        <input class="input" type="number" placeholder="Left" v-model="tempobject.left">
      </p>
      <p class="control">
        <a class="button is-static">
          %
        </a>
      </p>
      <p class="control">
        <a class="button is-static">
          Top
        </a>
      </p>
      <p class="control">
        <input class="input" type="number" placeholder="Top" v-model="tempobject.top">
      </p>
      <p class="control">
        <a class="button is-static">
          %
        </a>
      </p>
    </div>
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Border Radius
        </a>
      </p>
      <p class="control">
        <input class="input" type="number" placeholder="Border Radius" v-model="tempobject.borderRadius">
      </p>
    </div>
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          zIndex
        </a>
      </p>
      <p class="control">
        <input class="input" type="number" placeholder="z Index" v-model="tempobject.zIndex">
      </p>
    </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config.js'
import ObjectMixins from '@/components/utils/ObjectMixins'
import eventbus from '@/config/eventhub.js'
import forEach from 'lodash/forEach'
import setWith from 'lodash/setWith'
import set from 'lodash/set'
import get from 'lodash/get'
export default {
  name: 'uicomponentimages',
  mixins: [ObjectMixins],
  props: {
    el: Object
  },
  data () {
    return {
      object: null,
      tempobject: {
        width: null,
        height: null,
        left: null,
        top: null,
        borderRadius: null,
        zIndex: null
      },
      openFlag: false,
      ratiomultiple: null,
      multiplierflag: false,
      image: null,
      mediafile: MEDIAENDPOINT
    }
  },
  mounted () {
    eventbus.listen('uicomponentimages_open', (data) => {
      if (data.image !== null && data.image !== undefined && data.image !== '') {
        this.openFlag = true
      }
      this.object = data.style
      this.getObject(this.object)
      this.image = new Image()
      this.image.src = MEDIAENDPOINT + this.$route.query.package + '/' + data.image
      this.$nextTick(() => {
        let scrollID = document.getElementById('uicomponentimages')
        if (scrollID !== undefined && scrollID !== null) {
          scrollID.scrollIntoView({behavior: "smooth"})
        }
      })
    })
    eventbus.listen('uicomponentimages_close', (data) => {
      this.openFlag = false
      this.object = {}
      this.ratiomultiple = null
      this.multiplierflag = false
    })
  },
  methods: {
    ratioMultiplier () {
      if (this.multiplierflag) {
        if (this.ratiomultiple !== '0' && this.ratiomultiple !== null && this.ratiomultiple !== undefined && this.ratiomultiple !== '') {
          set(this.tempobject, 'width', Math.round(this.image.naturalWidth * this.ratiomultiple))
          set(this.tempobject, 'height', Math.round(this.image.naturalHeight * this.ratiomultiple))
        } else {
          set(this.tempobject, 'width', this.ratiomultiple)
          set(this.tempobject, 'height', this.ratiomultiple)
        }
        this.loadStyle()
      }
    },
    calculateMultiplier () {
      if (this.multiplierflag) {
        this.ratiomultiple = +((this.tempobject.width/this.image.naturalWidth).toFixed(1))
      }
    },
    loadStyle () {
      let loadObject = {}
      forEach(this.tempobject, (value, attr) => {
        if (value === null || value === undefined || value === '') {
          delete this.tempobject[attr]
        } else {
          switch (attr) {
            case 'width':
            case 'height':
              loadObject[attr] = this.tempobject[attr] + 'px'
            break
            case 'top':
            case 'left':
              loadObject['position'] = 'absolute'
              loadObject[attr] = this.tempobject[attr] + '%'
            break
            case 'borderRadius':
              loadObject[attr] = this.tempobject[attr] + 'px'
            break
            case 'zIndex':
              loadObject[attr] = this.tempobject[attr]
            break
            case 'imgsrc':
              loadObject[attr] = this.tempobject[attr]
            break
          }
        }
      })
      // check if top and left attr missing to remove position attr
      if (loadObject['top'] === undefined && loadObject['left'] === undefined) {
        delete loadObject['position']
      }
      this.setObject(this.object, loadObject)
    },
    setObject (attr, value) {
      setWith(this.el, attr, value, Object)
    },
    getObject (attr) {
      this.defaultDynamicObject(this.el, attr, {})
      let object = {...get(this.el, attr, {})}
      forEach(object, (value, attr) => {
        if (attr !== 'imgsrc') {
          let match = value.match(/^-?\d+\.{0,1}\d{0,}/i) //check if is negative number, float, or isnt css attr with a number in it
          if (match !== null) {
            object[attr] = match[0]
          } else {
            object[attr] = value
          }
        }
      })
      this.tempobject = {...object}
    },
    close () {
      this.openFlag = false
      this.object = {}
      this.ratiomultiple = null
      this.multiplierflag = false
    }
  },
  computed: {
    compobject: function () {
      return this.tempobject
    }
  },
  watch: {
    compobject: {
      handler (object) {
        this.loadStyle()
      },
      deep: true
    }
  }
}

</script>
