<style lang="scss" scoped>
.snapshot{
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3;
  width: 150px;
  height: 150px;
}
</style>

<template lang="html">
<div>
  <div v-if="(el.settingindex !== null && (el.settingtab === 'tapinput'|| el.settingtab === 'maze' || el.settingtab === 'image' || el.settingtab === 'truefalse' || el.settingtab === 'multiplechoiceimgtext' || el.settingtab === 'grouping' || el.settingtab === 'typing'))" class="columns">
    <div class="column is-12">
      <a @click="flag = !flag" class="uicomp_acordeon has-text-info">
        <span v-if="!flag"><i class="fa fa-plus"></i></span>
        <span v-if="flag"><i class="fa fa-times"></i></span>
        Component Background Settings
      </a>
    </div>
  </div>
  <div v-if="flag && (el.settingindex !== null && el.settingtab === 'tapinput' || el.settingtab === 'maze' || el.settingtab === 'truefalse' || el.settingtab === 'multiplechoiceimgtext' || el.settingtab === 'image' || el.settingtab === 'grouping' || el.settingtab === 'typing')">
    <div class="columns is-multiline">
      <div class="column is-6 pull-right">
        <a class="button is-info" @click="resetbg()"><i class="fa fa-repeat"> Reset Background Settings</i></a>
      </div>
      <div v-if="object.bgimage !== null && object.bgimage !== ''" class="column is-7">
        <img v-if="object.bgimage !== null" :alt="object.bgimage" id="uicbgimage" :src="mediafile + $route.query.package + '/' + object.bgimage" class="image">
      </div>
        <div class="column is-12 has-text-left">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Filename
              </a>
            </p>
            <p class="control">
              <input class="input" type="text" placeholder="Background Image" v-model="object.bgimage">
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Repeat
              </a>
            </p>
            <p class="control">
              <span class="select">
                <select v-model="object.bgrepeat">
                  <option>no-repeat</option>
                  <option>repeat</option>
                  <option>repeat-x</option>
                  <option>repeat-y</option>
                  <option>space</option>
                  <option>round</option>
                  <option>initial</option>
                  <option>inherit</option>
                </select>
              </span>
            </p>
          </div>
        </div>
      <div class="column is-12 tabs is-boxed">
        <ul>
          <li :class="[buttoncolors === 'properties' ? 'is-active': '' ]">
            <a @click="buttoncolors = 'properties'">Properties</a>
          </li>
          <li :class="[buttoncolors === 'bgcolor' ? 'is-active': '' ]">
            <a @click="buttoncolors = 'bgcolor'">Background Color</a>
          </li>
          <li :class="[buttoncolors === 'bgborder' ? 'is-active': '' ]">
            <a @click="buttoncolors = 'bgborder'" >Background Border</a>
          </li>
        </ul>
      </div>
      <!-- background border settings -->
      <div class="column is-12 columns is-multiline" v-if="buttoncolors === 'bgborder'">
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Style
              </a>
            </p>
            <p class="control">
              <span class="select">
                <select v-model="object.bgimgborderstyle">
                  <option>none</option>
                  <option>solid</option>
                  <option>dotted</option>
                  <option>dashed</option>
                  <option>double</option>
                  <option>groove</option>
                  <option>ridge</option>
                  <option>inset</option>
                  <option>outset</option>
                </select>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Width
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Border Width" v-model="object.bgimgborderwidth">
            </p>
            <p class="control">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Radius
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Border Radius" v-model="object.bgimgborderradius">
            </p>
            <p class="control">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Color
              </a>
            </p>
            <p class="control">
              <input class="input" type="text" placeholder="Border Color" v-model="object.bgimgbordercolor">
            </p>
          </div>
        </div>
        <!-- <div class="column is-12">
          <div class="color-group"  v-for="colorgroup in colorarray" :key="colorgroup.id">
            <a @click="colorpick(color.colorhex, 'border')" v-for="color in colorgroup.colors" :key="color.id" class="color-block" :style="{backgroundColor: color.colorhex}">
            </a>
          </div>
        </div> -->
      </div>
      <!-- background border settings -->
      <!-- background color  -->
      <div class="column is-12 columns is-multiline" v-if="buttoncolors === 'bgcolor'">
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Color
              </a>
            </p>
            <p class="control">
              <input class="input" type="text" placeholder="Background Color" v-model="object.bgcolor">
            </p>
          </div>
        </div>
        <!-- <div class="column is-12">
          <div class="color-group"  v-for="colorgroup in colorarray" :key="colorgroup.id">
            <a @click="colorpick(color.colorhex, 'bgcolor')" v-for="color in colorgroup.colors" :key="color.id" class="color-block" :style="{backgroundColor: color.colorhex}">
            </a>
          </div>
        </div> -->
      </div>
      <!-- background color -->
      <!-- background paddings and margins -->
      <div class="column is-12 columns is-multiline" v-if="buttoncolors === 'properties'">
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Float
              </a>
            </p>
            <p class="control">
              <span class="select">
                <select v-model="object.float">
                  <option>none</option>
                  <option>left</option>
                  <option>right</option>
                  <option>inherit</option>
                </select>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Display
              </a>
            </p>
            <p class="control">
              <span class="select">
                <select v-model="object.display">
                  <option>block</option>
                  <option>none</option>
                </select>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Input Width
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Width" v-model="object.width">
            </p>
            <p class="control">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Input Min Width
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Min Width" v-model="object.minwidth">
            </p>
            <p class="control">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Input Height
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Height" v-model="object.height">
            </p>
            <p class="control">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Input Min Height
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Min Height" v-model="object.minheight">
            </p>
            <p class="control">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div  v-if="object.bgimage !== null && object.bgimage !== ''" class="column is-12">
          <div class="field has-addons">
            <p class="contol">
              <a class="button is-static">
                BG Width
              </a>
            </p>
            <p class="control">
              <input class="input" placeholder="BG Width" type="number" v-model="object.bgwidth">
            </p>
            <p class="contol">
              <a class="button is-static">
                BG Height
              </a>
            </p>
            <p class="control">
              <input class="input"  placeholder="BG Height" type="number" v-model="object.bgheight">
            </p>
            <p class="contol">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div v-if="object.bgimage !== null && object.bgimage !== undefined && object.bgimage !== ''" class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                <span>Image Ratio Multiplier</span>
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" step="0.1" min="0" v-model="ratiomultiple">
            </p>
          </div>
        </div>
        <div v-if="object.bgimage !== null && object.bgimage !== undefined && object.bgimage !== ''" class="column is-6">
          <exp-checkbox type="text" class="checkbox" v-model="ratiomultipleflag">Lock Multiplier</exp-checkbox>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Z-Index
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Z-index" v-model="object.zIndex">
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Top
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Top" v-model="object.top">
            </p>
            <p class="control">
              <a class="button is-static">
                %
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Left
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Left" v-model="object.left">
            </p>
            <p class="control">
              <a class="button is-static">
                %
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Padding
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Top" v-model="object.bgtoppadding">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Right" v-model="object.bgrightpadding">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Bottom" v-model="object.bgbottompadding">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Left" v-model="object.bgleftpadding">
            </p>
            <p class="control">
              <a class="button is-static">
                %
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Margin
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Top" v-model="object.bgtopmargin">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Right" v-model="object.bgrightmargin">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Bottom" v-model="object.bgbottommargin">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Left" v-model="object.bgleftmargin">
            </p>
            <p class="control">
              <a class="button is-static">
                %
              </a>
            </p>
          </div>
        </div>
      </div>
      <!-- background paddings and margins -->
    </div>
  </div>
</div>
</template>

<script>
import {MEDIAENDPOINT, COLORS_OBJECTS} from '@/config/app-config.js'
export default {
  // Background Setting for each ui-component, bgobject in each object inside json ui-component array
  name: 'uicomponentbackgroundsettings',
  props: {
    el: Object
  },
  data () {
    return {
      buttoncolors: 'none',
      mediafile: MEDIAENDPOINT,
      uicomponentkey: null,
      ratiomultiple: null,
      ratiomultipleflag: false,
      flag: false,
      object: {
        width: null,
        height: null,
        minwidth: null,
        minheight: null,
        bgwidth: null,
        bgheight: null,
        bgimgborderwidth: null,
        bgimgborderradius: null,
        bgimgbordercolor: null,
        bgtoppadding: null,
        bgbottompadding: null,
        bgleftpadding: null,
        bgrightpadding: null,
        bgtopmargin: null,
        bgrightmargin: null,
        bgbottommargin: null,
        bgleftmargin: null,
        bgmargin: null,
        bgcolor: null,
        bgimage: null,
        bgrepeat: null,
        bgimgborderstyle: null,
        bgimgbordercolor: null,
        top: null,
        left: null,
        zIndex: null,
        float: null,
        display: null
      },
      colorarray: COLORS_OBJECTS,
      tempobject: {}
    }
  },
  mounted () {
    if ((this.el.settingtab === 'typing' || this.el.settingtab === 'taptap' || this.el.settingtab === 'tapinput' || this.el.settingtab === 'maze' || this.el.settingtab === 'image' || this.el.settingtab === 'grouping') && this.el.settingindex !== null) {
      this.loadonmount()
    }
  },
  methods: {
    colorpick (hex, refs) {
      switch (refs) {
        case 'border':
          this.object.bgimgbordercolor = hex
          break
        case 'bgcolor':
          this.object.bgcolor = hex
          break
      }
    },
    loadbg () {
      // Method to load users inputs to temp object and throught that to json bgobject
      this.tempobject = JSON.parse(JSON.stringify(this.el[this.uicomponentkey][this.el.settingindex].bgobject))
      if (this.object.bgimage !== null && this.object.bgimage !== undefined && this.object.bgimage !== "") {
        this.tempobject.backgroundImage = this.object.bgimage
        this.$nextTick(() => {
          if(this.ratiomultiple === 1 && this.multiplierflag) {
            var img = document.getElementById('uicbgimage')
            if (img !== undefined) {
              this.object.width = img.naturalWidth
              this.object.height = img.naturalHeight
            }
          }
        })
      } else{
        if (this.tempobject.backgroundImage !== undefined) {
          delete this.tempobject.backgroundImage
        }
      }
      // minimum width and height
      if (this.object.minwidth !== null && this.object.minwidth !== undefined && this.object.minwidth !== "") {
        this.tempobject.minWidth = this.object.minwidth + 'px'
      } else {
        if (this.tempobject.minWidth !== undefined) {
          delete this.tempobject.minWidth
        }
      }
      if (this.object.minheight !== null && this.object.minheight !== undefined && this.object.minheight !== "") {
        this.tempobject.minHeight = this.object.minheight + 'px'
      } else {
        if (this.tempobject.minHeight !== undefined) {
          delete this.tempobject.minHeight
        }
      }
      if (this.object.bgrepeat !== null && this.object.bgrepeat !== undefined && this.object.bgrepeat !== "") {
        this.tempobject.backgroundRepeat = this.object.bgrepeat
      } else {
        if (this.tempobject.backgroundRepeat !== undefined) {
          delete this.tempobject.backgroundRepeat
        }
      }
      if (this.object.bgcolor !== null && this.object.bgcolor !== undefined && this.object.bgcolor !== "") {
        this.tempobject.backgroundColor = this.object.bgcolor
      } else {
        if (this.tempobject.backgroundColor !== undefined) {
          delete this.tempobject.backgroundColor
        }
      }
      if (this.object.bgimgborderwidth !== null && this.object.bgimgborderwidth !== undefined && this.object.bgimgborderwidth !== "") {
        this.tempobject.borderWidth = this.object.bgimgborderwidth + 'px'
      } else {
        if (this.tempobject.borderWidth !== undefined) {
          delete this.tempobject.borderWidth
        }
      }
      if (this.object.bgimgborderstyle !== null && this.object.bgimgborderstyle !== undefined && this.object.bgimgborderstyle !== "") {
        this.tempobject.borderStyle = this.object.bgimgborderstyle
      } else {
        if (this.tempobject.borderStyle !== undefined) {
          delete this.tempobject.borderStyle
        }
      }
      if (this.object.bgimgborderradius !== null && this.object.bgimgborderradius !== undefined && this.object.bgimgborderradius !== "") {
        this.tempobject.borderRadius = this.object.bgimgborderradius + 'px'
      } else {
        if (this.tempobject.borderRadius !== undefined) {
          delete this.tempobject.borderRadius
        }
      }
      if (this.object.bgimgbordercolor !== null && this.object.bgimgbordercolor !== undefined && this.object.bgimgbordercolor !== "") {
        this.tempobject.borderColor = this.object.bgimgbordercolor
      } else {
        if (this.tempobject.borderColor !== undefined) {
          delete this.tempobject.borderColor
        }
      }
      if (this.object.bgtoppadding !== null && this.object.bgtoppadding !== undefined && this.object.bgtoppadding !== "") {
        this.tempobject.paddingTop = this.object.bgtoppadding + '%'
      } else {
        if (this.tempobject.paddingTop !== undefined) {
          delete this.tempobject.paddingTop
        }
      }
      if (this.object.bgbottompadding !== null && this.object.bgbottompadding !== undefined && this.object.bgbottompadding !== "") {
        this.tempobject.paddingBottom = this.object.bgbottompadding + '%'
      } else {
        if (this.tempobject.paddingBottom !== undefined) {
          delete this.tempobject.paddingBottom
        }
      }
      if (this.object.bgleftpadding !== null && this.object.bgleftpadding !== undefined && this.object.bgleftpadding !== "") {
        this.tempobject.paddingLeft = this.object.bgleftpadding + '%'
      } else {
        if (this.tempobject.paddingLeft !== undefined) {
          delete this.tempobject.paddingLeft
        }
      }
      if (this.object.bgrightpadding !== null && this.object.bgrightpadding !== undefined && this.object.bgrightpadding !== "") {
        this.tempobject.paddingRight = this.object.bgrightpadding + '%'
      } else {
        if (this.tempobject.paddingRight !== undefined) {
          delete this.tempobject.paddingRight
        }
      }
      if (this.object.bgtopmargin !== null && this.object.bgtopmargin !== undefined && this.object.bgtopmargin !== "") {
        this.tempobject.marginTop = this.object.bgtopmargin + '%'
      } else {
        if (this.tempobject.marginTop !== undefined) {
          delete this.tempobject.marginTop
        }
      }
      if (this.object.bgbottommargin !== null && this.object.bgbottommargin !== undefined && this.object.bgbottommargin !== "") {
        this.tempobject.marginBottom = this.object.bgbottommargin + '%'
      } else {
        if (this.tempobject.marginBottom !== undefined) {
          delete this.tempobject.marginBottom
        }
      }
      if (this.object.bgleftmargin !== null && this.object.bgleftmargin !== undefined && this.object.bgleftmargin !== "") {
        this.tempobject.marginLeft = this.object.bgleftmargin + '%'
      } else {
        if (this.tempobject.marginLeft !== undefined) {
          delete this.tempobject.marginLeft
        }
      }
      if (this.object.bgrightmargin !== null && this.object.bgrightmargin !== undefined && this.object.bgrightmargin !== "") {
        this.tempobject.marginRight = this.object.bgrightmargin + '%'
      } else {
        if (this.tempobject.marginRight !== undefined) {
          delete this.tempobject.marginRight
        }
      }
      if (this.object.width !== null && this.object.width !== undefined && this.object.width !== "") {
        this.tempobject.width = this.object.width + 'px'
      } else {
        if (this.tempobject.width !== undefined) {
          delete this.tempobject.width
        }
      }
      if (this.object.height !== null && this.object.height !== undefined && this.object.height !== "") {
        this.tempobject.height = this.object.height + 'px'
      } else {
        if (this.tempobject.height !== undefined) {
          delete this.tempobject.height
        }
      }
      if (this.object.top !== null && this.object.top !== undefined && this.object.top !== "") {
        this.tempobject.top = this.object.top + '%'
        this.tempobject.position = 'absolute'
      } else {
        if (this.tempobject.top !== undefined) {
          delete this.tempobject.top
          delete this.tempobject.position
        }
      }
      if (this.object.left !== null && this.object.left !== undefined && this.object.left !== "") {
        this.tempobject.left = this.object.left + '%'
        this.tempobject.position = 'absolute'
      } else {
        if (this.tempobject.left !== undefined) {
          delete this.tempobject.left
          delete this.tempobject.position
        }
      }
      if (this.object.zIndex !== null && this.object.zIndex !== undefined && this.object.zIndex !== "") {
        this.tempobject.zIndex = this.object.zIndex
      } else {
        if (this.tempobject.zIndex  !== undefined) {
          delete this.tempobject.zIndex
        }
      }
      if (this.object.float !== null && this.object.float !== undefined && this.object.float !== "") {
        this.tempobject.float = this.object.float
      } else {
        if (this.tempobject.float !== undefined) {
          delete this.tempobject.float
        }
      }
      if (this.object.display !== null && this.object.display !== undefined && this.object.display !== 'none') {
        this.tempobject.display = this.object.display
      } else {
        if (this.tempobject.display !== undefined) {
          delete this.tempobject.display
        }
      }
      if ((this.object.bgwidth !== null && this.object.bgwidth !== undefined && this.object.bgwidth !== '') || (this.object.bgheight !== null && this.object.bgheight !== undefined && this.object.bgheight !== '')) {
        this.tempobject.backgroundSize = this.object.bgwidth + 'px ' + this.object.bgheight + 'px'
      } else {
        if (this.tempobject.backgroundSize !== undefined) {
          delete this.tempobject.backgroundSize
        }
      }
      Object.keys(this.el[this.uicomponentkey][this.el.settingindex].bgobject).forEach((key) => {delete this.el[this.uicomponentkey][this.el.settingindex].bgobject[key]})
      this.el[this.uicomponentkey][this.el.settingindex].bgobject = JSON.parse(JSON.stringify(this.tempobject))
    },
    // Reset bgobject
    resetbg () {
      delete this.tempobject.width
      delete this.tempobject.height
      delete this.tempobject.backgroundImage
      delete this.tempobject.backgroundRepeat
      delete this.tempobject.backgroundColor
      delete this.tempobject.borderWidth
      delete this.tempobject.borderStyle
      delete this.tempobject.borderRadius
      delete this.tempobject.borderColor
      delete this.tempobject.paddingTop
      delete this.tempobject.paddingBottom
      delete this.tempobject.paddingLeft
      delete this.tempobject.paddingRight
      delete this.tempobject.marginTop
      delete this.tempobject.marginBottom
      delete this.tempobject.marginLeft
      delete this.tempobject.marginRight
      delete this.tempobject.left
      delete this.tempobject.top
      delete this.tempobject.position
      delete this.tempobject.zIndex
      delete this.tempobject.float
      delete this.tempobject.display
      delete this.tempobject.minWidth
      delete this.tempobject.minHeight
      this.el[this.uicomponentkey][this.el.settingindex].bgobject = JSON.parse(JSON.stringify(this.tempobject))
      this.object.bgimgborderwidth = null
      this.object.bgimgborderradius = null
      this.object.bgimgbordercolor = null
      this.object.bgtoppadding = null
      this.object.bgbottompaddin = null
      this.object.bgleftpadding = null
      this.object.bgrightpadding = null
      this.object.bgtopmargin = null
      this.object.bgrightmargin = null
      this.object.bgbottommargin = null
      this.object.bgleftmargin = null
      this.object.bgmargin = null
      this.object.bgcolor = null
      this.object.bgimage = null
      this.object.bgrepeat = null
      this.object.bgimgborderstyle = null
      this.object.width = null
      this.object.height = null
      this.object.minwidth = null
      this.object.minheight = null
      this.object.top = null
      this.object.left = null
      this.object.zIndex = null
      this.object.float = null
      this.object.display = null
    },
    loadonmount () {
      // load the initial values of json to user inputs
      let keys = Object.keys(this.el)
      for (var i = 0; i < keys.length; i++) {
        switch (keys[i]) {
          case 'typingarray':
            this.uicomponentkey = 'typingarray'
            break
          case 'truefalse':
            this.uicomponentkey = 'truefalse'
            break
          case 'taps':
            this.uicomponentkey = 'taps'
            break
          case 'onesvg':
            this.uicomponentkey = 'onesvg'
            break
          case 'tapsonchange':
            this.uicomponentkey = 'tapsonchange'
            break
          case 'tapswithimage':
            this.uicomponentkey = 'tapswithimage'
            break
          case 'imgsarray':
            this.uicomponentkey = 'imgsarray'
            break
          case 'imagegroups':
            this.uicomponentkey = 'imagegroups'
            break
        }
      }
      if (this.el[this.uicomponentkey].length > 0) {
        Object.keys(this.tempobject).forEach((key) => {delete this.tempobject[key]})
        this.tempobject = JSON.parse(JSON.stringify(this.el[this.uicomponentkey][this.el.settingindex].bgobject))
        if (this.tempobject.backgroundImage !== undefined) {
          this.object.bgimage = this.tempobject.backgroundImage.replace(/url|\(|\)/g, '')
        } else {
          this.object.bgimage = null
        }
        this.object.float = this.tempobject.float
        this.object.bgrepeat = this.tempobject.backgroundRepeat
        this.object.bgcolor = this.tempobject.backgroundColor
        if (this.tempobject.borderWidth !== undefined) {
          this.object.bgimgborderwidth = this.tempobject.borderWidth.replace(/px/g, '')
        } else {
          this.object.bgimgborderwidth = null
        }
        this.object.bgimgborderstyle = this.tempobject.borderStyle
        if (this.tempobject.borderRadius !== undefined) {
          this.object.bgimgborderradius = this.tempobject.borderRadius.replace(/px/g, '')
        } else {
          this.object.bgimgborderradius = null
        }
        this.object.bgimgbordercolor = this.tempobject.borderColor
        if (this.tempobject.paddingTop !== undefined) {
          this.object.bgtoppadding = this.tempobject.paddingTop.replace(/%/g, '')
        } else {
          this.object.bgtoppadding = null
        }
        if (this.tempobject.paddingBottom !== undefined) {
          this.object.bgbottompadding = this.tempobject.paddingBottom.replace(/%/g, '')
        } else {
          this.object.bgbottompadding = null
        }
        if (this.tempobject.paddingLeft !== undefined) {
          this.object.bgleftpadding = this.tempobject.paddingLeft.replace(/%/g, '')
        } else {
          this.object.bgleftpadding = null
        }
        if (this.tempobject.paddingRight !== undefined) {
          this.object.bgrightpadding = this.tempobject.paddingRight.replace(/%/g, '')
        } else {
          this.object.bgrightpadding = null
        }
        if (this.tempobject.marginTop !== undefined) {
          this.object.bgtopmargin = this.tempobject.marginTop.replace(/%/g, '')
        } else {
          this.object.bgtopmargin = null
        }
        if (this.tempobject.marginBottom !== undefined) {
          this.object.bgbottommargin = this.tempobject.marginBottom.replace(/%/g, '')
        } else {
          this.object.bgbottommargin = null
        }
        if (this.tempobject.marginLeft !== undefined) {
          this.object.bgleftmargin = this.tempobject.marginLeft.replace(/%/g, '')
        } else {
          this.object.bgleftmargin = null
        }
        if (this.tempobject.marginRight !== undefined) {
          this.object.bgrightmargin = this.tempobject.marginRight.replace(/%/g, '')
        } else {
          this.object.bgrightmargin = null
        }
        if (this.tempobject.width !== undefined) {
          this.object.width = this.tempobject.width.replace(/px/g, '')
        } else {
          this.object.width = null
        }
        if (this.tempobject.height !== undefined) {
          this.object.height = this.tempobject.height.replace(/px/g, '')
        } else {
          this.object.height = null
        }
        if (this.tempobject.minWidth !== undefined) {
          this.object.minwidth = this.tempobject.minWidth.replace(/px/g, '')
        } else {
          this.object.minwidth = null
        }
        if (this.tempobject.minHeight !== undefined) {
          this.object.minheight = this.tempobject.minHeight.replace(/px/g, '')
        } else {
          this.object.minheight = null
        }
        if (this.tempobject.left !== undefined) {
          this.object.left = this.tempobject.left.replace(/%/g, '')
        } else {
          this.object.left = null
        }
        if (this.tempobject.top !== undefined) {
          this.object.top = this.tempobject.top.replace(/%/g, '')
        } else {
          this.object.top = null
        }
        if (this.tempobject.zIndex !== undefined) {
          this.object.zIndex = this.tempobject.zIndex
        } else {
          this.object.zIndex = null
        }
        if (this.tempobject.display !== undefined) {
          this.object.display = this.tempobject.display
        } else {
          this.object.display = null
        }
        if (this.tempobject.backgroundSize !== undefined) {
          let tempsplit = this.tempobject.backgroundSize.split('px')
          this.object.bgwidth = tempsplit[0]
          this.object.bgheight = tempsplit[1].replace(/\s/g, '')
        }
      }
    }
  },
  computed: {
    compobject: function () {
      return this.object
    },
    elchanges: function () {
      return this.el
    }
  },
  watch: {
    compobject: {
      handler (object) {
        this.loadbg()
        this.$forceUpdate()
      },
      deep: true
    },
    elchanges: {
      handler (element) {
        if ((this.el.settingtab === 'typing' || this.el.settingtab === 'taptap' || this.el.settingtab === 'truefalse' || this.el.settingtab === 'tapinput' || this.el.settingtab === 'maze' || this.el.settingtab === 'image' || this.el.settingtab === 'multiplechoiceimgtext' || this.el.settingtab === 'grouping') && this.el.settingindex !== null) {
          this.loadonmount()
          this.$forceUpdate()
        }
      },
      deep: true
    },
    ratiomultiple: {
      handler (value) {
        if (this.ratiomultipleflag) {
          if (value !== 1) {
            var img = document.getElementById('uicbgimage')
            if (img !== undefined) {
              this.object.width = img.naturalWidth
              this.object.height = img.naturalHeight
              this.object.width = Math.round(this.object.width * value)
              this.object.height = Math.round(this.object.height * value)
            }
          } else {
            var img = document.getElementById('uicbgimage')
            if (img !== undefined) {
              this.object.width  = img.naturalWidth
              this.object.height = img.naturalHeight
            }
          }
        }
      }
    },
    buttoncolors: {
      handler (value) {
        if (value === 'properties' || value === 'bgcolor') {
          this.$nextTick(() => {
            this.$InputNumberStep('input', 'number', 38, 40, 10)
          })
        }
        if (value === 'properties' && this.object.width !== null && this.object.width !== undefined && this.object.width !== '') {
          var img = document.getElementById('uicbgimage')
          if (img !== undefined && img !== null) {
            let widthflag = (Math.round((this.object.width / img.naturalWidth) * 10) / 10)
            let heightflag = (Math.round((this.object.height / img.naturalHeight) * 10) / 10)
            if (widthflag === heightflag) {
              this.ratiomultiple = widthflag
            } else {
              this.ratiomultiple = null
            }
          }
        }
      }
    }
  }
}
</script>
