<template>
  <div class="offline topfixed columns has-text-centered is-centered">
    <div class="column">
      <div class="row">
        <span>
        <img :src="icon" /></span>
        <span><h2 style='font-size:22px'><b>No Internet Connection</b></h2>
          <p>You should not continue your work, because it's not goind to be saved</p><br>
        </span>
      </span>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'offline-message',
  data () {
    return {
      icon: require('../../assets/img/chrome-trex-dinosaur.jpg')
    }
  }
}
</script>

<style lang="scss">
.offline {
    z-index: 99999;
    background: white;
    position: fixed;
    width: 350px;
    height: 350px;
    margin: 5% auto;
    left: 0;
    right: 0;
    box-shadow: #ff5959 0px 2px 10px 5px;
}
</style>
