<style lang="scss">
.groupingimages_placeholder{
  min-height: 300px;
  border: 2px solid;
  margin: 5px;
}
</style>

<template lang="html">
<div style="position: relative;" :style="[el.bgobject, {backgroundImage: bgimage}]" class="columns is-multiline is-mobile is-centered">
  <div class="wordsearch_staticimages" v-if="staticimages !== undefined && staticimages !== null">
    <div :style="image.staticimage" v-for="image in staticimages" :key="image.id">
      <img :src="mediafile + $route.query.package + '/' + image.staticimage.imgsrc">
    </div>
  </div>
  <div class="wordsearch_statictexts" v-if="statictexts !== undefined && statictexts !== null">
    <div :style="text.textstyle" v-for="text in statictexts" :key="text.id">
      <span v-html="text.text"></span>
    </div>
  </div>
  <div v-for="group in imagegroups" :key="group.id" class="column is-5" :class="{groupingimages_placeholder: group.allanswers !== true}" :style="group.bgobject">
    <v-touch tag="a" v-bind:id="group.id" :class="{notavailable: disableadd}" :data="group.name"  v-bind:key="group.id" @tap="usertap(group.id, group.allanswers)">
      <p style="position: relative;" :style="group.textstyle" class="has-text-centered">{{group.name}}
        <img v-if="group.groupimage !== null && group.groupimage !== undefined && group.groupimage !== ''" :style="group.groupImageBgObject" class="image" :src="mediafile + $route.query.package + '/' + group.groupimage">
      </p>
      <div :style="[group.allanswers !== true ? {} : {minHeight: '50%'}]" class="columns is-multiline is-mobile is-centered">
        <v-touch :style="[group.allanswers !== true ? {margin: '0 0 20px 20px', position: 'relative'}: {height: '50%'}]" v-for="answer in answers" :key="answer.id" v-if="answer.groupid === group.id" v-bind:id="answer.id" class="column" :class="[{notavailable: answer.locked}, group.allanswers !== true ? 'is-5':'is-3']" tag="a" @doubletap = "removechoice(answer.id, group.id)">
          <img v-if="answer.imgsrc !== null" class="image displayimg" :src="mediafile + $route.query.package + '/' + answer.imgsrc">
          <exp-checkicons v-if="group.allanswers !== true && checkflag && answer.righticon" :answerFlag="'right'" :checkIconsObject="checkIconsObject"></exp-checkicons>
          <exp-checkicons v-if="group.allanswers !== true && checkflag && answer.wrongicon" :answerFlag="'wrong'" :checkIconsObject="checkIconsObject"></exp-checkicons>
        </v-touch>
      </div>
    </v-touch>
  </div>
</div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
import eventbus from '@/config/eventhub.js'
import findIndex from 'lodash/findIndex'
import remove from 'lodash/remove'
import countBy from 'lodash/countBy'
export default {
  name: 'expGroupingimages',
  props: {
    el: Object,
    checkIconsObject: {
      type: Object
    }
  },
  data () {
    return {
      mediafile: MEDIAENDPOINT,
      imagegroups: [],
      groupid: null,
      bindchoicesid: null,
      rightanswer: [],
      bgimage: null,
      right: null,
      answers: [],
      userchoice: null,
      userchoiceid: null,
      choicemultiple: true,
      choicesgroupingid: null, // group id
      disableadd: true, // disable or enable the grouping tap area
      tempimginput: {},
      checkflag: false,
      lockRight: true,
      statictexts: null,
      staticimages: null,
    }
  },
  mounted () {
    this.imagegroups = JSON.parse(JSON.stringify(this.el.imagegroups))
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    if (this.el.imagegroups.length > 0) {
      this.bindchoicesid = this.el.imagegroups[0].bindchoicesid
    }
    for (var i = 0; i < this.el.imagegroups.length; i++) {
      this.rightanswer.push({groupid: this.el.imagegroups[i].id, grouprightanswer: JSON.parse(JSON.stringify(this.el.imagegroups[i].rightanswer))})
    }
    if (this.el.statictexts !== null && this.el.statictexts !== undefined) {
      if (this.el.statictexts.length > 0) {
        this.statictexts = JSON.parse(JSON.stringify(this.el.statictexts))
      } else {
        this.statictexts = null
      }
    } else {
      this.statictexts = null
    }
    if (this.el.staticimages !== null && this.el.staticimages !== undefined) {
      if (this.el.staticimages.length > 0) {
        this.staticimages = JSON.parse(JSON.stringify(this.el.staticimages))
      } else {
        this.staticimages = null
      }
    } else {
      this.staticimages = null
    }
    this.$nextTick(() => {
      // Load the temp object with image clicked
      eventbus.listen('choicesimages_userchoice', (data) => {
        if (this.lockRight && data.bindchoicesid === this.bindchoicesid) {
          this.disableadd = false
          this.userchoiceid = data.id
          this.tempimginput.id = data.id
          this.tempimginput.imgsrc = data.imgsrc
          this.tempimginput.bindchoicesid = data.bindchoicesid
        }
      })
      eventbus.listen('grouping_clearchoice', (id) => {
        this.userchoice = null
        this.userchoiceid = null
        this.checkflag = false
        if (id === 0) {
          this.answers = []
          this.disableadd = true
        }
      })
      eventbus.listen('checktaptap_check', (checkobject) => {
        if (checkobject.buttonevent === 'check') {
          this.checkflag = true
          // this.disableadd = true
          if (this.rightanswer.length === this.answers.length) {
            this.right = true
          }
          if (this.answers.length > 0) {
            for (var i = 0; i < this.answers.length; i++) {
              for (var j = 0; j < this.rightanswer.length; j++) {
                if (this.rightanswer[j].groupid === this.answers[i].groupid) {
                  if (findIndex(this.rightanswer[j].grouprightanswer, {'id': this.answers[i].id}) !== -1) {
                    this.answers[i].righticon = true
                    this.answers[i].locked = true
                  } else {
                    this.answers[i].wrongicon = true
                    this.answers[i].locked = false
                  }
                }
              }
            }
          }
        } else if (checkobject.buttonevent === 'tryagain') {
          if (this.bindchoicesid === checkobject.id) {
            for (var w = 0; w < this.answers.length; w++) {
              if (this.answers[w].wrongicon) {
                let enablechoicedata = {id: parseInt(this.answers[w].id), bindchoicesid: this.bindchoicesid}
                eventbus.fire('choicesimages_enablechoice', enablechoicedata)
                // let enablechoice = {inputid: this.answers[w].id, choicestaptapid: checkobject.id}
                // eventbus.fire('choicestaptap_enableuserchoice', enablechoice)
              }
            }
            this.answers = remove(this.answers, (value) => {
              return value.wrongicon !== true
            })
          }
        }
      })
      eventbus.listen('grouping_disablegroup', () => {
        delete this.tempimginput.id
        delete this.tempimginput.imgsrc
        delete this.tempimginput.bindchoicesid
        if (this.answers.length < 1) {
          this.disableadd = true
        }
      })
      eventbus.listen('checktaptap_showrightanswers', () => {
        this.answers = []
        for (var i = 0; i < this.rightanswer.length; i++) {
          for (var j = 0; j < this.rightanswer[i].grouprightanswer.length; j++) {
            this.answers.push({groupid: this.rightanswer[i].groupid, imgsrc: this.rightanswer[i].grouprightanswer[j].image, id: this.rightanswer[i].grouprightanswer[j].id, righticon: true, wrongicon: false, locked: true, flag: false})
            eventbus.fire('grouping_clearchoice', this.rightanswer[i].groupid)
            eventbus.fire('grouping_disablegroup')
          }
          this.checkflag = true
          this.$forceUpdate()
        }
      })
    })
  },
  methods: {
    usertap (id, allanswers) {
      // check if answers in a group is lower than group limit.. (dont allow to fill group with all choices)
      const groupIndex = findIndex(this.imagegroups, {'id': id})
      let limitFlag = true
      if (groupIndex > -1) {
        const countAnswers =  countBy(this.answers, {'groupid': id}).true
        if (countAnswers !== undefined) {
          limitFlag = this.imagegroups[groupIndex].groupLimit > countAnswers ? true:false
        }
      }
      if (this.tempimginput.imgsrc !== null && this.tempimginput.imgsrc !== undefined && limitFlag) {
        this.answers.push({groupid: parseInt(id), imgsrc: this.tempimginput.imgsrc, text: this.userchoice, id: this.userchoiceid, righticon: false, wrongicon: false, locked: false, flag: true})
        let isRight = false
        let tempindex = findIndex(this.rightanswer, {'groupid': parseInt(id)})
        if (findIndex(this.rightanswer[tempindex].grouprightanswer, {'id': this.userchoiceid}) !== -1) {
          isRight = true
        }
        let inputobj = {id: parseInt(id), inputid: this.userchoiceid, bindchoiceid: this.bindchoicesid, isRight: isRight, evt: 'add'}
        let disablechoicedata = {id: this.userchoiceid, bindchoicesid: this.bindchoicesid}
        eventbus.fire('taptapimages_disablechoice', disablechoicedata)
        if (this.userchoiceid !== null) {
          eventbus.fire('choicesimages_enablechoice', disablechoicedata)
          eventbus.fire('taptapimages_disablechoice', disablechoicedata)
        }
        eventbus.fire('checkprimary_input', inputobj)
        eventbus.fire('grouping_disablegroup')
      }
    },
    removechoice (id, group_id) {
      for (var i = 0; i < this.answers.length; i++) {
        if (this.answers[i].id === id && this.answers[i].groupid === group_id) {
          this.answers.splice(i, 1)
          let enablechoice = {inputid: id, componentid: group_id, choicestaptapid: this.bindchoicesid}
        }
      }
      let inputobj = {id: parseInt(group_id), inputid: parseInt(id), bindchoiceid: this.bindchoicesid, evt: 'remove'}
      eventbus.fire('checkprimary_input', inputobj)
      let enablechoicedata = {id: parseInt(id), bindchoicesid: this.bindchoicesid}
      eventbus.fire('choicesimages_enablechoice', enablechoicedata)
      eventbus.fire('grouping_disablegroup')
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        if (element.statictexts !== null && element.statictexts !== undefined) {
          if (element.statictexts.length > 0) {
              this.statictexts = JSON.parse(JSON.stringify(element.statictexts))
          } else {
            this.statictexts = null
          }
        } else {
          this.statictexts = null
        }
        if (element.staticimages !== null && element.staticimages !== undefined) {
          if (element.staticimages.length > 0) {
              this.staticimages = JSON.parse(JSON.stringify(element.staticimages))
          } else {
            this.staticimages = null
          }
        } else {
          this.staticimages = null
        }
        this.imagegroups = JSON.parse(JSON.stringify(element.imagegroups))
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        }
        if (element.imagegroups.length > 0) {
          this.bindchoicesid = element.imagegroups[0].bindchoicesid
        }
        for (var i = 0; i < element.imagegroups.length; i++) {
          this.rightanswer.push({groupid: element.imagegroups[i].id, grouprightanswer: JSON.parse(JSON.stringify(element.imagegroups[i].rightanswer))})
        }
      },
      deep: true
    }
  }
}

</script>
