<style lang="scss">
</style>
<template lang="html">
    <div :style="[el.choicesbgobject, {backgroundImage: choicesbgimage}]" class="choices_placeholder">
          <p class="columns is-multiline is-mobile has-text-centered has-center-items">{{compwording}} <v-touch :style="[clickedid === choice.id ? {backgroundColor: '#d9d9d9'}:{}]" class="column" :id="choiceid + choice.id" :class="[{'choices_style_2 shadow-depth-3': true, 'choicevisibilityoff': choice.selected, 'notavailable': choice.selected}, choice.column !== undefined ? choice.column : 'is-2']" tag="a" v-for="choice in shuffle"
            :data="choice.text" :key="choice.id" @tap="choiceclicked($event.target.text, choice.id, choiceid)" v-text="choice.text"></v-touch></p>
    </div>
</template>

<script>
import shuffle from 'lodash/shuffle'
import eventbus from '@/config/eventhub.js'
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'expChoicestaptap',
  data () {
    return {
      choiceid: null,
      choices: [],
      choicesbgimage: null,
      wording: '',
      clickedid: null
    }
  },
  props: {
    el: Object
  },
  mounted () {
    if (this.el.choicesbgobject.backgroundImage !== undefined && this.el.choicesbgobject.backgroundImage !== null && this.el.choicesbgobject.backgroundImage !== '') {
      this.choicesbgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.choicesbgobject.backgroundImage + ')'
    }
    this.wording = this.el.wording
    this.choices = JSON.parse(JSON.stringify(this.el.choices))
    // checks if we add a template with choices and an exercise component, so we can binded together based on bindchoicesid of the exercise component
    if (this.el.choicesid === null) {
      let objkeys = Object.keys(this.el)
      for (var i = 0; i < objkeys.length; i++) {
        switch (objkeys[i]) {
          case 'taps':
            if (this.el.taps.length > 0) {
              this.el.choicesid = this.el.taps[0].bindchoicesid
            }
            break
          case 'taponchange':
            if (this.el.taponchange.length > 0) {
              this.el.choicesid = this.el.taponchange[0].bindchoicesid
            }
            break
          case 'groups':
            if (this.el.groups.length > 0) {
              this.el.choicesid = this.el.groups[0].bindchoicesid
            }
            break
        }
      }
    }
    this.choiceid = this.el.choicesid
    // init values
    // Listen event that fired from components so change the status of the specific choice to selected true and make it unavailable for tapping
    this.$nextTick(() => {
      eventbus.listen('choicestaptap_disableuserchoice', (disablechoice) => {
        if (this.choiceid === disablechoice.choicestaptapid) {
          for (var i = 0; i < this.choices.length; i++) {
            if (this.choices[i].id === disablechoice.inputid && this.choiceid === disablechoice.choicestaptapid) {
              this.choices[i].selected = true
            }
          }
        }
      })
      // Listen event that fired from components so change the status of the specific choice to selected false and make it available for tapping
      eventbus.listen('choicestaptap_enableuserchoice', (enablechoice) => {
        this.clickedid = null
        if (this.choiceid === enablechoice.choicestaptapid) {
          for (var i = 0; i < this.choices.length; i++) {
            if (this.choices[i].id === enablechoice.inputid && this.choiceid === enablechoice.choicestaptapid) {
              this.choices[i].selected = false
            }
          }
        }
        // Listen event from checktaptap component when reset all choices
        if (parseInt(enablechoice.inputid) === 0) {
          this.clickedid = null
          for (var j = 0; j < this.choices.length; j++) {
            this.choices[j].selected = false
          }
        }
      })
      // Listen event when user press show right answers
      eventbus.listen('checktaptap_showrightanswers', () => {
        let choicesobject = {array: this.choices, choiceid: this.choiceid}
        eventbus.fire('choicestaptap_showrightanswers', choicesobject)
      })
    })
  },
  methods: {
    // method that create a data object with the choice.text, choice.id and choicestaptapid that is the id of the component
    choiceclicked (text, id, choicestaptapid) {
      let data = { text: text, choicestaptapid: choicestaptapid, id: id }
      eventbus.fire('choicestaptap_userchoice', data)
      eventbus.fire('choicestaptap_starttimer')
      this.clickedid = id
      for (var j = 0; j < this.choices.length; j++) {
        if (this.choices[j].id === id) {
          this.choices[j].selected = false
        }
      }
    }
  },
  computed: {
    // computed suffle and rearrange the choices randomly
    compwording: function () {
      return this.wording
    },
    shuffle: function () {
      return shuffle(this.choices)
    },
    customelchoices: function () {
      return this.el
    }
  },
  watch: {
    customelchoices: {
      handler (element) {
        this.wording = element.wording
        this.choices = JSON.parse(JSON.stringify(element.choices))
        this.choiceid = element.choicesid
        if (element.choicesbgobject.backgroundImage !== undefined && element.choicesbgobject.backgroundImage !== null && element.choicesbgobject.backgroundImage !== '') {
          this.choicesbgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.choicesbgobject.backgroundImage + ')'
        }
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('choicestaptap_disableuserchoice')
    eventbus.off('choicestaptap_enableuserchoice')
    eventbus.off('checktaptap_showrightanswers')
  }
}

</script>
