<style lang="scss">
</style>

<template lang="html">
  <div>
    <component :is="sectionmenu" :ref="'sectionmenu'"></component>
  </div>
</template>

<script>
// import {
//   APIENDPOINT
// } from '@/config/app-config'
import Bus from '@/config/eventhub'
// import axios from 'axios'
import {SectionsMenu} from '../sectionsdropdown'
export default {
  name: 'expSectionsdropdown',
  data () {
    return {
      sectionmenu: SectionsMenu,
      menuData: [],
      state: 'loading'
    }
  },
  mounted () {
    Bus.listen('reload_components', () => {
      this.getData()
    })
    this.getData()
  },
  methods: {
    // get sections from db
    getData () {
      // axios.post(APIENDPOINT + 'section/sectionsmenu', {
      //   data: this.$route.query.package !== undefined ? this.$route.query.package : undefined,
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('section/sectionsmenu', {
        data: this.$route.query.package !== undefined ? this.$route.query.package : undefined,
        headers: {
          'Content-type': 'application/json'
        }
      })
      .then(response => {
        // when db response to sections req, run sectionsmenu methods to create drop down menu
        this.$refs['sectionmenu'].createDropDownMenu([...response.data.sections])
      }).catch(error => {
        this.errorMsg = error
        this.errorFlag = true
      })
    }
  }
}

</script>
