<style lang="scss">
</style>

<template lang="html">
  <div :id="id" class="sectionsdraggable_container draggable">
    <span>{{name}}</span>
    <span class="icon is-medium"><i class="fa fa-puzzle-piece"></i></span>
  </div>
</template>

<script>

export default {
  name: 'SectionsDraggable',
  props: {
    name: String,
    id: Number
  }
}

</script>
