<style lang="scss">

</style>

<template lang="html">
  <div>
    <exp-input type="text" id="searchSections" @input="search()" v-model="searchInput" placeholder="Search"></exp-input>
  </div>
</template>

<script>
import debounce from 'lodash/debounce'
import eventbus from '@/config/eventhub'
export default {
  name: 'sectionssearch',
  props: {
    searchArray: {
      type: Array,
      required: true
    }, // searchArray array from db
    defaultSearchLevel: {
      type: String,
      required: true
    } // attr of object that search will apply
  },
  data () {
    return {
      searchInput: null, // search typing value
      array: null, // temp array of searchArray
      leafsArray: [] // flatten array
    }
  },
  mounted () {
    this.array = JSON.parse(JSON.stringify(this.searchArray))
    this.$nextTick(() => {
      this.checkObjectChild(this.array)
    })
  },
  methods: {
    /**
     * on typing search,
     * sent event to to section menu component, with array of searched data
     * @return {[type]}
     */
    search: debounce(function () {
      if (this.searchInput.length > 2) {
        let searced = [...this.leafsArray].filter((value) => {
          return value[this.defaultSearchLevel].indexOf(this.searchInput) !== -1
        })
        eventbus.fire('sectionsdropdown_search', searced)
      } else {
        eventbus.fire('sectionsdropdown_search', [])
      }
    }, 300),
    /**
     * flatten dropdown menu array of object, from multilevel area/category/group/section to only sections array
     * for each object check if one of each attribute is array, then go to this array and search again
     * until object dont have any attr value array
     * push object to leafsArray
     * @param  {[type]} object [description]
     * @return {[type]}        [description]
     */
    checkObjectChild(object) {
      let arrayKey = null
      if (Array.isArray(object)) {
        object.forEach((value) => {
          return this.checkObjectChild(value)
        })
      } else {
        Object.keys(object).forEach((key) => {
          if (Array.isArray(object[key])) {
            arrayKey = key
          }
        })
        if (arrayKey !== null) {
          object[arrayKey].forEach((child) => {
            return this.checkObjectChild(child)
          })
        } else {
          this.leafsArray.push(object)
        }
      }
    }
  }
}

</script>
