<style lang="scss">
</style>
<template lang="html">
  <div class="sectionsdropdown_container column is-12">
    <component v-if="stateFlag === 'complete' || 'searching' && searchArray.length > 0" :is="sectionsSearch" :searchArray="searchArray" :defaultSearchLevel="'section_name'"> </component>
    <slot :createDropDownMenu="createDropDownMenu">
      <ul v-if="stateFlag === 'complete'">
        <li class="areabox" v-for="(area, areaIndex) in sectionsMenu">
          <a :class="{'activeAreabox': openedIndex.area === areaIndex}"  @click="openIndex('area', areaIndex)" ><span>{{area.area_name}}</span>
          <!-- <span key="areaUp" class="icon"><i class="fa fa-arrow-down animationArrow" :class="{'open': openedIndex.area !== areaIndex}"></i></span> -->
          <span v-if="openedIndex.area !== areaIndex"  class="icon is-medium"><i class="fa fa-plus"></i></span>
          <span v-else class="icon is-medium"><i class="fa fa-minus clicked_color"></i></span>
          </a>
          <ul v-if="openedIndex.area === areaIndex">
            <li class="categorybox" v-for="(category, categoryIndex) in area.categories">
              <a :class="{'activeCategorybox': openedIndex.category === categoryIndex}"  @click="openIndex('category', categoryIndex)"><span>{{category.category_name}}</span>
              <!-- <span key="categoryUp" class="icon"><i class="fa fa-arrow-down animationArrow" :class="{'open': openedIndex.category !== categoryIndex}"></i></span> -->
              <span v-if="openedIndex.category !== categoryIndex"  class="icon is-medium"><i class="fa fa-plus"></i></span>
              <span v-else class="icon is-medium"><i class="fa fa-minus clicked_color"></i></span>
              </a>
              <ul v-if="openedIndex.category === categoryIndex">
                <li class="groupbox" v-for="(group, groupIndex) in category.groups">
                  <a :class="{'activeGroupbox': openedIndex.group === groupIndex}" @click="openIndex('group', groupIndex)"><span>{{group.group_name}}</span>
                  <!-- <span key="groupUp" class="icon"><i class="fa fa-arrow-down animationArrow" :class="{'open': openedIndex.group !== groupIndex}"></i></span> -->
                  <span v-if="openedIndex.group !== groupIndex"  class="icon is-medium"><i class="fa fa-plus"></i></span>
                  <span v-else class="icon is-medium"><i class="fa fa-minus clicked_color"></i></span>
                  </a>
                  <ul v-if="openedIndex.group === groupIndex">
                    <li class="sectionitem" v-for="(section, sectionIndex) in group.sections">
                      <component :is="sectionDraggable" :name="section.section_name" :id="section.section_id"></component>
                      <!-- <span class="icon is-medium"><i class="fa fa-share"></i></span> -->
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul v-if="stateFlag === 'searching'">
        <li v-for="(section, sectionIndex) in searchingMenu">
          <component :is="sectionDraggable" :name="section.section_name" :id="section.section_id"></component>
        </li>
      </ul>
      <div class="errorMessage" v-else-if="stateFlag === 'empty'" :data-text="errorMsg"></div>
      <div class="loading"  v-else-if="stateFlag === 'loading'">
        <spinner :size="80" :line-size="8" :speed="1" :line-fg-color="'#808DB0'"></spinner>
      </div>
  </slot>
</div>
</template>

<script>
import {SectionsDraggable, SectionsSearch} from '../sectionsdropdown'
import Spinner from '@/components/Loading.vue'
import uniqBy from 'lodash/uniqBy'
import sortBy from 'lodash/sortBy'
import forEach from 'lodash/forEach'
import filter from 'lodash/filter'
import findIndex from 'lodash/findIndex'
import eventbus from '@/config/eventhub'
export default {
  name: 'SectionsMenu',
  components: {
    Spinner
  },
  data () {
    return {
      sectionDraggable: SectionsDraggable, // component
      sectionsSearch: SectionsSearch,
      sectionsMenu: [], // Array of drop down menu
      searchingMenu: [],
      stateFlag: 'loading', // state flag searching, loading, empty or complete(load all data to sectionsMenu)
      errorMsg: null,
      errorFlag: false,
      openedIndex: { // object with indexes of each opened level
        area: null,
        category: null,
        group: null
      }
    }
  },
  mounted () {
    eventbus.listen('sectionsdropdown_search', (data) => {
      if (data.length > 0) {
        this.searchingMenu = [...data]
        this.stateFlag = 'searching'
      } else {
        this.stateFlag = 'complete'
      }
    })
  },
  methods: {
    /**
     * [openIndex based on the level(area, group, category)  and index that clicked open and close ul]
     * if level is opened and reclicked or another level is open, close all levels below it
     * @param  {[type]} level [description]
     * @param  {[type]} index [description]
     * @return {[type]}       [description]
     */
    openIndex (level, index) {
      if (this.openedIndex[level] === null) {
        this.openedIndex[level] = index
      } else if (this.openedIndex[level] === index) {
        switch (level) {
          case 'area':
            this.openedIndex.category = null
            this.openedIndex.group = null
            break;
          case 'category':
            this.openedIndex.group = null
            break;
        }
        this.openedIndex[level]= null
      } else {
        switch (level) {
          case 'area':
            this.openedIndex.category = null
            this.openedIndex.group = null
            break;
          case 'category':
            this.openedIndex.group = null
            break;
        }
        this.openedIndex[level] = index
      }
    },
    /**
     * [createDropDownMenu description]
     * create multilevel acordeon based on area, category, groups, sections
     * @param  {[type]} dataArray [description]
     * @return {[type]}           [description]
     */
    createDropDownMenu (dataArray) {
      if (dataArray.length > 0) {
        // create first level Area, sort by id (HEADER, BODY, FOOTER)
        this.sectionsMenu = sortBy(uniqBy([...dataArray.map((section) => {
          return {area_id: section.section_area, area_name: section.sectionarea.area_name, categories: []}
        })], 'area_id'), 'area_id')
        // Fill each area object with categories
        forEach(this.sectionsMenu, (area) => {
          forEach(filter(dataArray, {'section_area': area.area_id}), (section) => {
            if (findIndex(area.categories, {'category_id': section.section_category}) === -1) {
              area.categories.push({category_id: section.section_category, category_name: section.packagecategory.category_name, groups: []})
            }
          })
        })
        // Fill each category with groups
        forEach(this.sectionsMenu, (area) => {
          forEach(area.categories, (category) => {
            forEach(filter(dataArray, {'section_category': category.category_id, 'section_area': area.area_id}), (section) => {
              if (findIndex(category.groups, {'group_id': section.section_group}) === -1) {
                category.groups.push({group_id: section.section_group, group_name: section.sectiongroup.sectiongroup_name, sections: []})
              }
            })
          })
        })
        // Fill each group with sections
        forEach(this.sectionsMenu, (area) => {
          forEach(area.categories, (category) => {
            forEach(category.groups, (group) => {
              forEach(filter(dataArray, {'section_group': group.group_id, 'section_category': category.category_id, 'section_area': area.area_id}), (section) => {
                group.sections.push({section_id: section.section_id, section_name: section.section_name})
              })
            })
          })
        })
        this.stateFlag = 'complete'
      } else {
        this.errorMsg = 'Sections have not been assigned to this package!'
        this.stateFlag = 'empty'
      }
    }
  },
  computed: {
    searchArray: function () {
      return this.sectionsMenu
    }
  }
}

</script>
