<style lang="scss" scoped>
.componentContainer{
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  padding: 5%;
  border-width: 2px;
  border-color: #d3d3d3;
  border-style: solid;
  border-radius: 50px;
}
</style>
<template lang="html">
  <modal id="modal" :visible="visible" @close="close">
    <div class="componentContainer shadow-depth-4">
      <component :is="component" :route="route" :index="index" :digimodules="digimodules"></component>
    </div>
  </modal>
</template>

<script>
import { Modal } from 'vue-bulma-modal'
import Bus from '@/config/eventhub.js'
import CreatePageComponent from '@/components/CreatePage'
import CreateSectionComponent from '@/components/CreateSection'
import AddLocalModulesComponent from '@/components/AddLocalModules'
import PageHistoryComponent from '@/components/PageHistory'
import ModuleExportComponent from '@/components/ModuleExport'
export default {
  components: {
    Modal,
    'createpage': CreatePageComponent,
    'createsection': CreateSectionComponent,
    'pagehistory': PageHistoryComponent,
    'addlocalmodules': AddLocalModulesComponent,
    'moduleexport': ModuleExportComponent
  },
  props: {
    visible: Boolean,
    component: String,
    route: Object,
    digimodules: Array,
    index: Number
  },
  created () {
    document.getElementById('app').style.overflowY = 'hidden'
    Bus.listen('submit_createpage', (data) => {
      var button = document.getElementById('modal').getElementsByClassName('modal-close')
      router.push({path: '/builder/', query: {package: this.route.query.package, module: this.route.query.module, page: data.page_id}})
      localStorage.setItem('dropped', '[]')
      Bus.fire('modal_load')
      button[0].click()
    })
    Bus.listen('submit_createsection', () => {
      var button = document.getElementById('modal').getElementsByClassName('modal-close')
      button[0].click()
    })
    Bus.listen('submit_addlocalmodules', () => {
      var button = document.getElementById('modal').getElementsByClassName('modal-close')
      button[0].click()
    })
    Bus.listen('submit_exportmodules', () => {
      var button = document.getElementById('modal').getElementsByClassName('modal-close')
      button[0].click()
    })
  },
  methods: {
    close () {
      document.getElementById('app').removeAttribute('style')
      this.visible = false
      this.$emit('close')
    }
  }
}
</script>
