<style lang="scss">
.navbox{
  width: 204px;
  height: 157px;
  display: block;
  text-align: center;
  margin: 0 auto;
  span{
    min-height: 157px;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
  }
}
.componentContainer{
  width: 100%;
  min-height: 360px;
  background-color: white;
  overflow: hidden;
  padding: 10px;
  border: 1px solid #DBDBDB;
}
.navtitle{
  margin-bottom: 10px;
  border-bottom: 1px solid #DBDBDB;
}
.navicon{
  margin: 5px;
  color: #989898;
}
.navtitle_text{
  padding-top: 5px;
  color: #e5c9ce;
}
.nav_listpages{
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  font-weight: 400;
  line-height: 50px;
  span{
    &:nth-child(1){
      margin-left: 10px;
    }
  }
}
</style>
<template lang="html">
  <modal id="modal" :visible="visible" @close="close">
    <div class="componentContainer">
      <v-touch tag="a" @tap="navback()">
        <p class="navtitle">
          <span class="is-size-3 navicon"><i :class="'fa ' + icon"></i></span><span class="is-size-3 navtitle_text">{{title}}</span>
        </p>
    </v-touch>
      <div v-if="!list" class="columns is-multiline is-mobile">
        <div v-for="(box, index) in boxesarray" class="column is-3">
          <v-touch tag="a" @tap="navigation(index)">
            <div :style="{backgroundColor: box[key + '_color']}" class="navbox has-text-black">
              <span>{{box[key + '_name']}}</span>
            </div>
          </v-touch>
        </div>
      </div>
      <div v-if="list" class="columns is-mobile">
        <div class="column is-6">
          <ul>
            <li v-if="index < 9" v-for="(box, index) in boxesarray">
              <v-touch tag="a" @tap="navigation(index)">
                <div :style="[(index % 2 === 0) ? {backgroundColor: '#DBDBDB'}:{backgroundColor: '#fff'}]" class="has-text-black nav_listpages">
                  <span>{{index + 1}}. </span><span>{{box[key + '_name']}}</span>
                </div>
              </v-touch>
            </li>
          </ul>
        </div>
        <div class="column is-6">
          <ul>
            <li v-if="index > 8" v-for="(box, index) in boxesarray">
              <v-touch tag="a" @tap="navigation(index)">
                <div :style="[(index % 2 === 0) ? {backgroundColor: '#DBDBDB'}:{backgroundColor: '#fff'}]" class="has-text-black nav_listpages">
                  <span>{{index + 1}}.</span><span>{{box[key + '_name']}}</span>
                </div>
              </v-touch>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import find from 'lodash/find'
import { Modal } from 'vue-bulma-modal'
export default {
  name: 'interiornavigationmodal',
  components:{
    Modal
  },
  props: {
    visible: Boolean,
    route: Object,
    navjson: Array
  },
  data () {
    return {
      boxesarray: [],
      indexes: [],
      title: null,
      icon: null,
      key: null,
      list: false
    }
  },
  mounted () {
    let name = find(Object.keys(this.navjson[0]), (value) => {
      return (/^.*name/g).test(value)
    })
    let icon = find(Object.keys(this.navjson[0]), (value) => {
      return (/^.*icon/g).test(value)
    })
    let list = find(Object.keys(this.navjson[0]), (value) => {
      return (/^.*list/g).test(value)
    })
    let array = find(this.navjson[0], (value, key) => {
      if (typeof value === 'object') {
        this.key = key
        return value
      }
    })
    this.title = this.navjson[0][name]
    this.icon = this.navjson[0][icon]
    this.list = this.navjson[0][list]
    this.boxesarray = array
  },
  methods: {
    close () {
      document.getElementById('app').removeAttribute('style')
      this.$emit('close')
    },
    navigation (index) {
      this.indexes.push(index)
      if (this.boxesarray[index] !== undefined && this.boxesarray[index] !== null) {
        let name = find(Object.keys(this.boxesarray[index]), (value) => {
          return (/^.*name/g).test(value)
        })
        let icon = find(Object.keys(this.boxesarray[index]), (value) => {
          return (/^.*icon/g).test(value)
        })
        let list = find(Object.keys(this.boxesarray[index]), (value) => {
          return (/^.*list/g).test(value)
        })

        let array = find(this.boxesarray[index], (value, key) => {
          if (typeof value === 'object') {
            this.key = key
            return value
          }
        })
        this.list = this.boxesarray[index][list]
        this.icon = this.boxesarray[index][icon]
        this.title = this.boxesarray[index][name]
        if (array !== undefined) {
          this.boxesarray = array
        } else {
          alert('close')
          this.$emit('close')
          this.visible = false
        }
        let flag = find(Object.keys(this.boxesarray[index]), (value) => {
          return (/^.*icon/g).test(value)
        })
      }
    },
    navback () {
      let name = find(Object.keys(this.navjson[0]), (value) => {
        return (/^.*name/g).test(value)
      })
      let icon = find(Object.keys(this.navjson[0]), (value) => {
        return (/^.*icon/g).test(value)
      })
      let list = find(Object.keys(this.navjson[0]), (value) => {
        return (/^.*list/g).test(value)
      })
      let array = find(this.navjson[0], (value, key) => {
        if (typeof value === 'object') {
          this.key = key
          return value
        }
      })
      this.list = this.navjson[0][list]
      this.title = this.navjson[0][name]
      this.icon = this.navjson[0][icon]
      this.boxesarray = array
      this.indexes.splice(-1, 1)
      for (var i = 0; i < this.indexes.length; i++) {
        let name = find(Object.keys(this.boxesarray[this.indexes[i]]), (value) => {
          return (/^.*name/g).test(value)
        })
        let icon = find(Object.keys(this.boxesarray[this.indexes[i]]), (value) => {
          return (/^.*icon/g).test(value)
        })
        let list = find(Object.keys(this.boxesarray[this.indexes[i]]), (value) => {
          return (/^.*list/g).test(value)
        })
        let array = find(this.boxesarray[this.indexes[i]], (value, key) => {
          if (typeof value === 'object') {
            this.key = key
            return value
          }
        })
        this.list = this.boxesarray[this.indexes[i]][list]
        this.icon = this.boxesarray[this.indexes[i]][icon]
        this.title = this.boxesarray[this.indexes[i]][name]
        if (array !== undefined) {
          this.boxesarray = array
        }
      }
    }
  }
}

</script>
