<style lang="scss">



</style>

<template lang="html">
<div class="columns is-multiline">
  <div class="column is-12">
    <div class="tabs is-boxed">
      <ul>
        <li :class="{'is-active': tab === 'crosswords'}"><a @click="tabclicked('crosswords')">CrossWords</a></li>
        <li :class="{'is-active': tab === 'background'}"><a @click="tabclicked('background')">BG. Settings</a></li>
        <li :class="{'is-active': tab === 'crosswordsui'}"><a @click="tabclicked('crosswordsui')">CrossWords UI</a></li>
        <li :class="{'is-active': tab === 'statictexts'}"><a @click="tabclicked('statictexts')">Static Texts</a></li>
        <li :class="{'is-active': tab === 'staticimages'}"><a @click="tabclicked('staticimages')">Static Images</a></li>
      </ul>
    </div>
  </div>
  <div class="column is-12">
    <div class="columns is-multiline" v-if="tab === 'crosswords'">
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button" @click="resetCrossWords()">Reset</a>
        </p>
        <p class="control">
          <a class="button is-static">Max Rows:</a>
        </p>
        <p class="control">
          <input type="number" class="input" @input="changeMaxSize()" v-model="maxsize">
        </p>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
            <a class="button is-static">
              Word
            </a>
        </p>
        <p class="control">
          <input type="text" class="input" v-model="word">
        </p>
        <p class="control">
          <a class="button has-text-info" @click="add_word()">Add</a>
        </p>
        <p class="control">
            <a class="button is-static is-small">
              (One Word Or Multiple Words(word,word,word,...))
            </a>
        </p>
      </div>
      <div class="column is-12" v-if="tableFlag">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Word</th>
              <th>Row</th>
              <th>Column</th>
              <th>Choose Start Point</th>
              <th>Direction</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(word, index) in el.crosswords">
              <th>{{word.id}}</th>
              <th><a><span class="has-text-info" @click="editWord(word.id)">{{word.text}}</span></a></th>
              <th>
                <div class="column is-12 field has-addons">
                  <p class="control">
                    <span>{{word.row}}</span>
                  </p>
                </div>
              </th>
              <th>
                <div class="column is-12 field has-addons">
                  <p class="control">
                    <span>{{word.column}}</span>
                  </p>
                </div>
              </th>
              <th>
                <div class="column is-12 field has-addons">
                  <p class="control">
                    <exp-multiselect :openDirection="'down'" track-by="id" label="label" deselectLabel='' selectLabel='' selectedLabel='' @input="selectPosition(word.id)" :options="availablePositions" v-model="startPosition"></exp-multiselect>
                  </p>
                </div>
              </th>
              <th><exp-multiselect :openDirection="'down'" deselectLabel='' selectLabel='' selectedLabel='' @input="selectDirection(word.id)" v-model="word.direction" :options="['horizontal', 'vertical']"></exp-multiselect></th>
              <th><a @click="deleteWord(index)"><span class="icon is-small has-text-danger"><i class="fa fa-times"></i></span></a></th>
            </tr>
          </tbody>
        </table>
        <div v-if="availableMultipleStarts.length > 0" class="column is-12 field has-addons">
          <p class="control">
              <a class="button is-static">
                Input Label Number
              </a>
          </p>
          <p class="control">
            <exp-multiselect :openDirection="'down'" track-by="label" label="label" deselectLabel='' selectLabel='' selectedLabel='' :options="availableMultipleStarts" @input="selectMultipleStartsObject()" v-model="selectedMultipleStartsObject"></exp-multiselect>
          </p>
          <p v-if="selectedMultipleStartsObject !== null" class="control">
            <exp-multiselect :openDirection="'down'" track-by="id" label="id" deselectLabel='' selectLabel='' selectedLabel='' :options="selectedMultipleStartsObject.multiple" v-model="selectedMultipleLabel" @input="selectMultipleLabel()"></exp-multiselect>
          </p>
          <p class="control">
            <input type="number" class="input" v-model="newLabelNumber">
          </p>
          <p v-if="newLabelNumber !== null" class="control">
              <a class="button is-info" @click="addNewLabelNumber()">
                <i class="fa fa-plus"></i>
              </a>
          </p>
        </div>
      </div>
      <div class="column is-12" v-if="!tableFlag && editWordIndex !== -1">
        <div class="columns is-multiline">
          <div class="column is-12">
            <a class="button is-info" @click="backToTable()">Back</a>
          </div>
          <div class="column is-12 field has-addons">
            <p class="control">
                <a class="button is-static">
                  Question Hint
                </a>
            </p>
            <p class="control">
                <a class="button is-info" @click="editHint()">
                  <i v-if="!hintFlag" class="fa fa-pencil"></i>
                  <i v-else class="fa fa-times"></i>
                </a>
            </p>
          </div>
          <div class="column is-12 field has-addons" v-if="hintFlag">
            <p class="control">
              <vue-editor id="hint" v-model="el.crosswords[editWordIndex].hint" @input="createLettersArray()"></vue-editor>
            </p>
          </div>
          <div class="column is-12 field has-addons">
            <p class="control">
                <a class="button is-static">
                  Question Text
                </a>
            </p>
            <p class="control">
                <a class="button is-info" @click="editText()">
                  <i class="fa fa-pencil"></i>
                </a>
            </p>
          </div>
          <div class="column is-12 field has-addons">
            <p class="control">
              <vue-editor id="questionText" v-model="el.crosswords[editWordIndex].wordQuestion.text"></vue-editor>
            </p>
          </div>
          <div class="column is-12 field has-addons">
            <p class="control">
                <a class="button is-static">
                  HighLight Color
                </a>
            </p>
            <p class="control">
              <input type="text" class="input" @input="createLettersArray()" v-model="el.crosswords[editWordIndex].highlightColor">
            </p>
          </div>
          <div class="column is-12 field has-addons">
            <p class="control">
                <a class="button is-static">
                  HighLight Letter Color
                </a>
            </p>
            <p class="control">
              <input type="text" class="input" @input="createLettersArray()" v-model="el.crosswords[editWordIndex].letterColor">
            </p>
          </div>
          <div class="column is-12 field has-addons">
            <p class="control">
                <a class="button is-static">
                  Question Image
                </a>
            </p>
            <p class="control">
              <input type="text" class="input" v-model="el.crosswords[editWordIndex].wordQuestion.image">
            </p>
          </div>
          <div class="column is-12 field has-addons">
            <p class="control">
              <exp-checkbox type="text" class="checkbox" @input="createLettersArray()" v-model="el.crosswords[editWordIndex].default">Default Answer</exp-checkbox>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-multiline" v-if="tab === 'crosswordsui'">
      <div class="column is-12">
        <div class="tabs is-boxed">
          <ul>
            <li :class="[objectSettings === 'crossword' ? 'is-active': '' ]">
              <a @click="selectobjectSettings('crossword')">CrossWord</a>
            </li>
            <li :class="[objectSettings === 'secretmessages' ? 'is-active': '' ]">
              <a @click="selectobjectSettings('secretmessages')">Secret Messages</a>
            </li>
            <li :class="[objectSettings === 'horizontal' ? 'is-active': '' ]">
              <a @click="selectobjectSettings('horizontal')">Horizontal</a>
            </li>
            <li :class="[objectSettings === 'vertical' ? 'is-active': '' ]">
              <a @click="selectobjectSettings('vertical')">Vertical</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column is-12 field has-addons" v-if="objectSettings === 'horizontal'">
        <p class="control">
            <a class="button is-static">
              Horizontal Text
            </a>
        </p>
        <p class="control">
          <vue-editor v-model="el.horizontal.text"></vue-editor>
        </p>
      </div>
      <div class="column is-12 field has-addons" v-if="objectSettings === 'vertical'">
        <p class="control">
            <a class="button is-static">
              Vertical Text
            </a>
        </p>
        <p class="control">
          <vue-editor v-model="el.vertical.text"></vue-editor>
        </p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import range from 'lodash/range'
import forEach from 'lodash/forEach'
import findIndex from 'lodash/findIndex'
import eventbus from '@/config/eventhub.js'
export default {
  name: 'Crosswordssettings',
  props: {
    el: Object
  },
  data () {
    return {
      findIndex: findIndex,
      tab: null,
      maxsize: null,
      wordId: 1,
      word: null,
      letters: [],
      availablePositions: [],
      startPosition: null,
      tableFlag: true,
      editWordIndex: -1,
      hintFlag: false,
      objectSettings: null,
      selectedKeyPosition: null,
      selectedKeyDirection: null,
      keyHighlightColor: null,
      selectedMultipleStartsObject: null, // helper object that have multiple start array
      selectedMultipleLabel: null, // helper select multiple label
      newLabelNumber: null
    }
  },
  mounted () {
    this.maxsize = this.el.maxsize
    this.InitAvailablePositions()
  },
  methods: {
    tabclicked (tab) {
      this.el.settingtab = tab
      this.tab = tab
      this.editWordIndex = -1
      this.tableFlag = true
      this.availableMultipleStartsObject = null
      eventbus.closePrimarySettings()
      eventbus.fire('crosswordskeysettings_close')
    },
    add_word () {
      if (this.word !== null) {
        if (this.word.indexOf(',') === -1) {
          if (this.el.crosswords.length > 0) {
            this.wordId = (this.el.crosswords.length + 1)
          }
          this.el.crosswords.push({text: this.word.split(' ').join(''), row: null, column: null, direction: null, hint: null, highlightColor: null, letterColor: null, id: this.wordId, wordQuestion: {text: null, image: null, textstyle: {}, imagestyle: {}, bgobject: {}}, default: false})
        } else {
          forEach(this.word.split(','), (word) => {
            if (this.el.crosswords.length > 0) {
              this.wordId = (this.el.crosswords.length + 1)
            }
            this.el.crosswords.push({text: word.split(' ').join(''), row: null, column: null, direction: null, hint: null, highlightColor: null, letterColor: null, id: this.wordId, wordQuestion: {text: null, image: null, textstyle: {}, imagestyle: {}, bgobject: {}}, default: false})
          })
        }
        this.word = null
      }
    },
    createLettersArray () {
      this.el.letters = []
      forEach(this.el.crosswords, (word) => {
        forEach(word.text, (letter, index) => {
          if (word.direction === 'horizontal') {
            let column = word.column
            column += (index*1)
            let indexExist = findIndex(this.el.letters, {'row': word.row, 'column': column})
            if (indexExist === -1) {
              this.el.letters.push({letter: letter, row: word.row, column: column, id: [word.id], highlightColor: word.highlightColor, letterColor:  word.letterColor === null ? null : word.letterColor, directions: [{'id': word.id, 'direction': word.direction}], start: index === 0 ? word.id : null, hint: [{'id': word.id, 'text': word.hint, 'direction': word.direction}], default: word.default !== undefined ? word.default : false, startKeyHighlight: null, checkKeyHighlight: null, startMultiple: index === 0 ? [{id: word.id, visible: true, custom: false}] : []})
            } else {
              this.el.letters[indexExist].id.push(word.id)
              this.el.letters[indexExist].directions.push({'id': word.id, 'direction': word.direction})
              if (word.default) {
                this.el.letters[indexExist].default = true
              }
              this.el.letters[indexExist].highlightColor = word.highlightColor !== undefined &&  word.highlightColor !== null ? word.highlightColor : this.el.letters[indexExist].highlightColor
              this.el.letters[indexExist].letterColor = word.letterColor !== undefined &&  word.letterColor !== null ? word.letterColor : this.el.letters[indexExist].letterColor
              if (findIndex(this.el.letters[indexExist].hint, {'id': word.id}) === -1) {
                this.el.letters[indexExist].hint.push({'id': word.id, 'text': word.hint, 'direction': word.direction})
              } else {
                this.el.letters[indexExist].hint[findIndex(this.el.letters[indexExist].hint, {'id': word.id})].text = word.hint
              }
              if (index === 0) {
                this.el.letters[indexExist].start = word.id
                if (this.el.letters[indexExist].startMultiple.length >= 1) {
                  this.el.letters[indexExist].startMultiple.push({id: word.id, visible: false, custom: false})
                } else {
                  this.el.letters[indexExist].startMultiple.push({id: word.id, visible: true, custom: false})
                }
              }
            }
          } else if(word.direction === 'vertical') {
            let row = word.row
            row += (index*1)
            let indexExist = findIndex(this.el.letters, {'row': row, 'column': word.column})
            if (indexExist === -1) {
              this.el.letters.push({letter: letter, row: row, column: word.column, id: [word.id], highlightColor: word.highlightColor, letterColor:  word.letterColor === null ? null : word.letterColor , directions: [{'id': word.id, 'direction': word.direction}], start: index === 0 ? word.id : null, hint: [{'id': word.id, 'text': word.hint, 'direction': word.direction}], default: word.default !== undefined ? word.default : false, checkKeyHighlight: null, startKeyHighlight: null, startMultiple: index === 0 ? [{id: word.id, visible: true, custom: false}] : []})
            } else {
              this.el.letters[indexExist].id.push(word.id)
              this.el.letters[indexExist].directions.push({'id': word.id, 'direction': word.direction})
              if (word.default) {
                this.el.letters[indexExist].default = true
              }
              this.el.letters[indexExist].highlightColor = word.highlightColor !== undefined &&  word.highlightColor !== null ? word.highlightColor : this.el.letters[indexExist].highlightColor
              this.el.letters[indexExist].letterColor = word.letterColor !== undefined &&  word.letterColor !== null ? word.letterColor : this.el.letters[indexExist].letterColor
              if (findIndex(this.el.letters[indexExist].hint, {'id': word.id}) === -1) {
                this.el.letters[indexExist].hint.push({'id': word.id, 'text': word.hint, 'direction': word.direction})
              } else {
                this.el.letters[indexExist].hint[findIndex(this.el.letters[indexExist].hint, {'id': word.id})].text = word.hint
              }
              if (index === 0) {
                this.el.letters[indexExist].start = word.id
                if (this.el.letters[indexExist].startMultiple.length >= 1) {
                  this.el.letters[indexExist].startMultiple.push({id: word.id, visible: false, custom: false})
                } else {
                  this.el.letters[indexExist].startMultiple.push({id: word.id, visible: true, custom: false})
                }
              }
            }
          }
        })
      })
    },
    selectPosition (id) {
      let index = findIndex(this.el.crosswords, {'id': id})
      this.el.crosswords[index].row = this.startPosition.row
      this.el.crosswords[index].column = this.startPosition.column
      this.startPosition = null
    },
    selectDirection () {
      this.createLettersArray()
    },
    changeMaxSize () {
      this.el.maxsize = this.maxsize
    },
    editWord (id) {
      this.editWordIndex = findIndex(this.el.crosswords, {'id': id})
      this.tableFlag = false
      this.hintFlag = false
      eventbus.firePrimarySettings('uicomponentimages_open',{style: 'crosswords[' + this.editWordIndex + '].wordQuestion.imagestyle', image: this.el.crosswords[this.editWordIndex].wordQuestion.image})
    },
    editText() {
      this.hintFlag = false
      eventbus.firePrimarySettings('uicomponenttext_open',{style: 'crosswords[' + this.editWordIndex + '].wordQuestion.textstyle'})
    },
    editHint() {
      this.hintFlag = !this.hintFlag
    },
    backToTable () {
      this.tableFlag = true
      this.editWordIndex = -1
      this.hintFlag = false
      this.createLettersArray()
      eventbus.closePrimarySettings()
    },
    InitAvailablePositions () {
      this.availablePositions = []
      let id = 0
      forEach(range(0, this.el.maxsize, 1), (row) => {
        forEach(range(0, this.el.maxsize, 1), (column) => {
          id++
          this.availablePositions.push({id: id, row: row, column: column, label: row + ', ' + column})
        })
      })
    },
    selectobjectSettings (setting) {
      eventbus.closePrimarySettings()
      eventbus.fire('crosswordskeysettings_close')
      this.objectSettings = setting
      switch (setting) {
        case 'crossword':
          eventbus.firePrimarySettings('uicomponentbgsettings_open',{style: 'crosswordsbgobject'})
          break
        case 'horizontal':
          eventbus.firePrimarySettings('uicomponentbgsettings_open',{style: 'horizontal.bgobject'})
          eventbus.firePrimarySettings('uicomponenttext_open',{style: 'horizontal.textstyle'})
          break
        case 'vertical':
          eventbus.firePrimarySettings('uicomponentbgsettings_open',{style: 'vertical.bgobject'})
          eventbus.firePrimarySettings('uicomponenttext_open',{style: 'vertical.textstyle'})
          break
        case 'secretmessages':
          eventbus.firePrimarySettings('crosswordskeysettings_open')
          break
      }
    },
    resetCrossWords () {
      this.el.crosswords = []
      this.el.letters = []
      this.wordId = 1
    },
    deleteWord (index) {
      this.el.crosswords.splice(index, 1)
      this.createLettersArray()
    },
    // Select from dropdown which label id will be visible
    selectMultipleLabel () {
      let index = findIndex(this.el.letters, {'row': this.selectedMultipleStartsObject.row, 'column': this.selectedMultipleStartsObject.column})
      if (index >= 0) {
        this.el.letters[index].startMultiple.forEach((start) => {
          if (start.id === this.selectedMultipleLabel.id) {
            start.visible = true
          } else {
            start.visible = false
          }
        })
      }
    },
    // select one of the start positions
    selectMultipleStartsObject () {
      this.selectedMultipleLabel = this.selectedMultipleStartsObject.multiple.filter((object) => {
        return object.visible
      })
    },
    // add custom label number
    addNewLabelNumber () {
      let index = findIndex(this.el.letters, {'row': this.selectedMultipleStartsObject.row, 'column': this.selectedMultipleStartsObject.column})
      if (index >= 0) {
        this.el.letters[index].startMultiple.forEach((start) => {
          start.visible = false
        })
      }
      this.el.letters[index].startMultiple.push({id: parseInt(this.newLabelNumber), visible: true, custom: true})
      this.selectedMultipleLabel = this.selectedMultipleStartsObject.multiple.filter((object) => {
        return object.visible
      })
      this.newLabelNumber = null
    }
  },
  computed: {
    availableMultipleStarts: function () {
      let tempArray = [...this.el.letters.filter((letter) => {
        return letter.start !== null && letter.startMultiple !== undefined
      }).map((object) => {
        return {row: object.row, column: object.column, label: object.row + ', ' + object.column, multiple: object.startMultiple}
      })]
      return tempArray
    }
  }
}

</script>
