<template>
<div id="app" v-if="authRequestCompeted" >
  <!-- v-if="authRequestCompeted" -->
<!-- <span>{{memory}}</span> -->
  <!-- <transition
    mode="out-in"
    enter-active-class="fadeIn"
    leave-active-class="fadeOut"
    appear>
      <offline-message v-if="isOnline"></offline-message>
  </transition> -->
  <!-- <div v-if="this.$route.path !== '/login'">
    <div v-if="this.$route.path !== '/builder' && this.$route.path !== '/builder/'"> -->
      <!-- <mynavbar :show="false"></mynavbar> -->
      <!-- <sidebar :show="sidebar.opened && !sidebar.hidden"></sidebar> -->
    <!-- </div>
  </div> -->

    <div   class='fullscreen' v-if="this.$route.path !== '/builder' && this.$route.path !== '/builder/'">
      <Header v-if="authRequestCompeted" />
      <!-- <Sidebar class='sidebar' /> -->
      <div v-if="authRequestCompeted" class="maincontent" :style="{ paddingTop: headerPadding + 'px' }">
      <!-- <div class="maincontent"> -->
        <router-view></router-view>
      </div>
    </div>
  <!-- <div v-if="this.$route.path !== '/login'">
    <div class='fullscreen' v-if="this.$route.path !== '/builder' && this.$route.path !== '/builder/'">
      <Header class='header'/>
      <Sidebar class='sidebar' />
      <div class="maincontent">
        <router-view></router-view>
      </div>
    </div>
  </div>

  <div v-if="this.$route.path === '/login'">
    <transition
      mode="out-in"
      enter-active-class="fadeIn"
      leave-active-class="fadeOut"
      appear>
      <router-view class="animated"></router-view>
    </transition>
  </div> -->
  <div v-else-if="this.$route.path === '/builder' || this.$route.path === '/builder/'">
    <builder-main></builder-main>
  </div>
</div>
<div v-else>
  <AppSpinner />
</div>
</template>

<script>
import DataLoader from '@/components/mixins/DataLoader'
import Header from '@/components/Layout/Header'
import Sidebar from '@/components/Layout/Sidebar'
// import AppMain from './components/AppView'
// import Sidebar from './components/Sidebar'
// import Navbar from './components/Navbar'
import BuilderMain from './components/Builderview'
// import NprogressContainer from 'vue-nprogress/src/NprogressContainer' uphrxe
import { mapActions, mapState } from 'vuex'
export default {
  name: 'app',
  components: {
    // AppMain,
    Sidebar,
    // 'mynavbar': Navbar,
    BuilderMain,
    Header
  },
  mixins: [DataLoader],
  created () {
    // const headerHeight = document.getElementById('headComp').clientHeight
    // console.log('headerHeight created', headerHeight)
    // this.setPadding(headerHeight)
    this.$http.interceptors.response.use((response) => {
      console.log('from interceptor response', response.data)
      return response
    }, (error) => {
      if (error.response && error.response.data) {
        if (error.response.status === 401) {
          console.log('401')
          this.clearUser()
          // this.$router.push('/signin')
          return

          // await this.getc()
        }
        if (error.response.status === 400) {
          //
          console.log('400')
          // this.$router.push('/')
          return

          // await this.getc()
        }
        return Promise.reject(error)
      }
      return Promise.reject(error)
    })
  },
  mounted () {
    // this.$nextTick(function () {
    //   const headerHeight = document.getElementById('headComp').clientHeight
    //   console.log('headerHeight', headerHeight)
    //   this.setPadding(headerHeight)
    // })
  },
  data () {
    return {
      // isOnline: false,
      // colorbuilder: '',
      // memory: null
    }
  },
  methods: {
    ...mapActions('layout', {
      setPadding: 'SET_PADDING'
    })
    // ...mapActions('auth', {
    //   clearUser: 'CLEAR_USER'
    // }),
    // ...mapActions('auth', {
    //   getc: 'GET_CURRENT_USER'
    // })
  },
  // beforeMount () {
  //   const {
  //     body
  //   } = document
  //   const WIDTH = 768
  //   const RATIO = 3
  //   const handler = () => {
  //     if (!document.hidden) {
  //       let rect = body.getBoundingClientRect()
  //       let isMobile = rect.width - RATIO < WIDTH
  //       this.toggleDevice(isMobile ? 'mobile' : 'other')
  //       this.toggleSidebar({
  //         opened: !isMobile
  //       })
  //     }
  //   }
  //   document.addEventListener('visibilitychange', handler)
  //   window.addEventListener('DOMContentLoaded', handler)
  //   window.addEventListener('resize', handler)
  // },
  computed: {
    ...mapState('layout', {
      headerPadding: state => state.padding
    }),
    ...mapState('auth', {
      authRequestCompeted: state => state.isAuthResolved
    })
  }
  // methods: mapActions([
  //   'toggleDevice',
  //   'toggleSidebar'
  // ])
}
</script>

<style lang="scss" scoped>
html {
  background-color: whitesmoke;
}
.sidebar{
  position:absolute;
  left:0px;
  top:40%;
}
#app{
  height: 100vh;
}
.fullscreen{
  // min-height: inherit;
  height: inherit;
  // height:1px;
  // width: 100vw;
  // min-height: 100%;
  // display: grid;
  // grid-template-columns: auto ;
  // grid-template-rows: [row1-start] 10% [row1-end row2-start] 90% [row2-end] ;
}
.maincontent{
  // padding-top: 200px;
  // min-height: inherit;
  height:inherit;
}
// .header {
//   max-height: 10vh;
//   grid-row-start: row1-start;
//   grid-row-end: row1-end;
//   margin-bottom: 9rem;
// }
// .maincontent{
//   padding: 5rem;
//   grid-row-start: row2-start;
//   grid-row-end: row2-end;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   flex-flow: column nowrap;
// }


// .fullscreen{
  // min-height: 100vh;
  // display: grid;
  // grid-template-columns: [col1-start] 15% [col1-end col2-start] 30% [col2-end col3-start] 30% [col3-end col4-start]  25% [col4-end];
  // grid-template-rows: [row1-start] 10% [row1-end row2-start] 30% [row2-end row3-start] 30% [row3-end row4-start] 30% [row4-end];
// }
// .header {
//   max-height: 8vh;
//   grid-column-start: col1-start;
//   grid-column-end: col4-end;
//   grid-row-start: row1-start;
//   grid-row-end: row1-end;
// }
// .sidebar{
//   grid-column-start: col1-start;
//   grid-column-end: col1-end;
//   grid-row-start: row2-start;
//   grid-row-end: row2-end;
// }
// .maincontent{
//   padding-top: 5rem;
//   padding-right: 2rem;
//   grid-column-start: col1-end;
//   grid-column-end: col4-end;
//   grid-row-start: row2-start;
//   grid-row-end: row4-end;
// }

</style>
