<style lang="scss">

</style>

<template lang="html">
  <span style="position: relative; display: inline-block;">
    <input :ref="'input_' + inputObject.inputId + inputObject.typingId" class="typing_input" autocapitalize="none" :disabled="isDisabledFlag" :style="[inputObject.inputBgObject, {fontSize: inputfontSize + 'em', width: maxLength + 'em'}]" :class="[{'capitalize': inputObject.capital}, {'uppercase': inputObject.uppercase}, {'lowercase': inputObject.lowercase}]" @input="senduserinput($event.target.value, inputObject, bindchoicesid)" :value="userinput" type="text">
    <exp-checkicons v-if="checkFlag && isRightFlag" :answerFlag="'right'"></exp-checkicons>
    <exp-checkicons v-if="checkFlag && !isRightFlag" :answerFlag="'wrong'"></exp-checkicons>
  </span>
</template>

<script>
import debounce from 'lodash/debounce'
import findIndex from 'lodash/findIndex'
import maxBy from 'lodash/maxBy'
import eventbus from '@/config/eventhub.js'
import badWordsFilter from 'bad-words'
export default {
  name: 'TypingInput',
  props: {
    inputObject: Object,
    bindchoicesid: String,
    fontSize: String
  },
  data () {
    return {
      userinput: null, // var to keep userinput
      noFilterUserInput: null,
      FilterArray: [],
      checkFlag: false, // flag to check if check button is clicked or not, to reveal check icons
      isRightFlag: false, // Flag input is Right or not to reveal the right check icon
      isDisabledFlag: false, // flag to enable and disable input
      maxLength: null, // maxLength, size of input
      filter: null, // bad words filter
      inputEl: null,
      autoFillClass: 'typing_input_autofill',
      inputfontSize: 1
    }
  },
  mounted () {
    this.inputEl = this.$refs['input_' + this.inputObject.inputId + this.inputObject.typingId]
    this.inputEl.addEventListener('animationstart', this.onAnimationStart, false)
    // create bad words filter
    this.filter = new badWordsFilter()
    // find max length of input based on available right answers
    if (this.inputObject.maxsize !== null && this.inputObject.maxsize !== undefined) {
      this.maxLength = this.inputObject.maxsize
    } else {
      // word maxLength divide by 2 and round to one decimal, width style attr, cross-platform input size
      this.maxLength = maxBy(this.inputObject.values, (value) => {
        return value.length
      }).length
      if (this.maxLength < 4) {
        this.maxLength = 4
      }
      this.maxLength = Math.round(((this.maxLength)/2) * 10)/10
    }
    this.$nextTick(() => {
      this.inputfontSize = this.fontSize
      eventbus.listen('checkprimary_check', () => {
        this.promiseBasedFilter(this.userinput, 0, false).then((value) => {
          this.userinput = value
        }).catch(() => {
          // do nothing
        })
        this.checkFlag = true
        this.isDisabledFlag = true
      })
      eventbus.listen('checkprimary_reset', () => {
        this.userinput = null
        this.checkFlag = false
        this.isRightFlag = false
        this.isDisabledFlag = false
      })
      // tryagain button re enable only the inputs with wrong answers
      eventbus.listen('checkprimary_tryagain', () => {
        this.checkFlag = false
        if (!this.isRightFlag) {
          this.isDisabledFlag = false
          this.userinput = null
        }
      })
      eventbus.listen('checkprimary_show', () => {
        this.userinput = this.inputObject.values[0]
        this.checkFlag = false
        this.isRightFlag = false
        this.isDisabledFlag = true
      })
    })
  },
  methods: {
    /**
     * Debounce user input
     * if input is case sensitive try to find the userinput inside values(available right answers)
     * if isnt LowerCase userinput and all available values
     * check if answer is Right or not
     * send the input object to check footer
     * @param  {[type]} userinput     [userinput]
     * @param  {[type]} obj           [input object]
     * @param  {[type]} bindchoicesid [bindchoicesid bind with check footer]
     * @return {[type]}               [description]
     */
    senduserinput: debounce(function (userinput, obj, bindchoicesid) {
      if (userinput !== null && userinput !== '') {
        this.promiseBasedFilter(userinput, 1, true).then((value) => {
          this.userinput = value
        }).catch(() => {
          // do nothing
        })
        this.userinput = userinput
        let isRight = false
        if (obj.casesensitivity) {
          obj.values.indexOf(userinput.trim()) === -1 ? isRight = false : isRight = true
        } else {
          let tempFind = findIndex(obj.values, (value) => {
            return userinput.toLowerCase().trim() === value.toLowerCase()
          })
          tempFind === -1 ? isRight = false : isRight = true
        }
        this.isRightFlag = isRight
        let hasinputobject = {id: obj.typingId, inputid: obj.inputId, bindchoiceid: bindchoicesid, isRight: isRight, evt: 'add'}
        eventbus.fire('checkprimary_input', hasinputobject)
      } else {
        let removeinputobject = {id: obj.typingId, inputid: obj.inputId, bindchoiceid: bindchoicesid, evt: 'remove'}
        eventbus.fire('checkprimary_input', removeinputobject)
      }
    }, 100),
    // filter user input
    promiseBasedFilter (userinput, length, flag) {
      return new Promise ((resolve, reject) => {
        this.FilterArray = []
        this.noFilterArray = userinput.split(' ')
        // Bad Words only when user press space (last element of the noFilterArray space) or on check (every element of the input array, without user space)
        const checkFlag =  flag ? (this.noFilterArray[this.noFilterArray.length - 1] === '') : true
        if (this.noFilterArray.length > length && checkFlag) {
          this.noFilterArray.forEach((string) => {
            this.FilterArray.push(this.filter.isProfane(string) ? this.filter.clean(string) : string)
          })
          let tempString = this.FilterArray.join(' ')
          if (tempString.indexOf('*') !== -1) {
            resolve(tempString)
          } else {
            reject()
          }
        } else {
          reject()
        }
      })
    },
    onAutoFillStart () {
      this.inputEl.parentNode.classList.add(this.autoFillClass)
    },
    onAutoFillCancel () {
      this.inputEl.parentNode.classList.remove(this.autoFillClass)
    },
    onAnimationStart ({target, animationName}) {
      switch (animationName) {
        case 'onAutoFillStart':
          this.senduserinput(target.value, this.inputObject, this.bindchoicesid)
          this.onAutoFillStart()
          break
        case 'onAutoFillCancel':
          this.senduserinput(target.value, this.inputObject, this.bindchoicesid)
          this.onAutoFillCancel()
          break
      }
    }
  },
  computed: {
    customfontSize: function () {
      return this.fontSize
    },
    custominputObjectmaxsize: function () {
      return this.inputObject.maxsize
    }
  },
  watch: {
    customfontSize : {
      handler(size) {
        this.inputfontSize = size
      },
      deep: true
    },
    custominputObjectmaxsize : {
      handler(size) {
        if ( size !== null && size !== undefined) {
          this.maxLength = size
        } else {
          // word maxLength divide by 2 and round to one decimal, width style attr, cross-platform input size
          this.maxLength = maxBy(this.inputObject.values, (value) => {
            return value.length
          }).length
          if (this.maxLength < 4) {
            this.maxLength = 4
          }
          this.maxLength = Math.round(((this.maxLength)/2) * 10)/10
        }
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('checkprimary_reset')
    eventbus.off('checkprimary_tryagain')
    eventbus.off('checkprimary_show')
    eventbus.off('checkprimary_stoptime')
    this.inputEl.removeEventListener('animationstart', this.onAnimationStart, false)

  }
}

</script>
