<style lang="scss">



</style>

<template lang="html">

<span v-if="textHtml !== ''" :style="[/\r|\n/.exec(textHtml) ? {whiteSpace: 'pre'} : {whiteSpace: 'normal', wordBreak: 'break-word', fontSize: fontSize + 'em'}]" v-html="textHtml"></span>

</template>

<script>
// Component for the text before and after input, in binding style checking if prop textHtml is new line or spaces to keep whitespace at pre and not break the text to multiple lines. Text  word whiteSpace is normal and words can break if reach maxWidth
export default {
  name: 'TypingText',
  props: {
    textHtml: String,
    fontSize: String
  }
}

</script>
