<style lang="scss">
</style>

<template lang="html">
  <div class="typing_container column is-12">
    <div :style="[typing.bgobject, returnBGImage(index)]" v-for="(typing, index) in el.typingarray" :key="'typing_' + index">
      <div :style="typing.textstyle">
        <template v-for="(node, index) in typing.textArray">
          <typingInput v-if="index % 2" :inputObject="node" :fontSize="typing.fontSize" :bindchoicesid="el.bindchoicesid" :key="'typinginput_' + index"></typingInput>
          <typingText v-else v-for="(text, textIndex) in node" :fontSize="typing.fontSize" :textHtml="text" :key="'typingtext_' + textIndex + index"></typingText>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
import findIndex from 'lodash/findIndex'
import forEach from 'lodash/forEach'
export default {
  name: 'expTyping',
  props: {
    el: Object
  },
  data () {
    return {
      bgimage: [], // array with bg image for each typing block
      media: MEDIAENDPOINT
    }
  },
  mounted () {
    this.bgimage = []
    // create bgimage object with if the index of the typing
    forEach(this.el.typingarray, (object, index) => {
      if (object.bgobject.backgroundImage !== undefined && object.bgobject.backgroundImage !== null && object.bgobject.backgroundImage !== '') {
        this.bgimage.push({id: index, image: 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + object.bgobject.backgroundImage + ')'})
      }
    })
  },
  methods: {
    /**
     * [returnBGImage return the bg image for each typing]
     * @param  {[type]} index [index of the typing]
     * @return {[type]}       [description]
     */
    returnBGImage (index) {
      let tempIndex = findIndex(this.bgimage, {'id': index})
      return tempIndex === -1 ? null : {backgroundImage: this.bgimage[findIndex(this.bgimage, {'id': index})].image}
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        forEach(element.typingarray, (object, index) => {
          if (object.bgobject.backgroundImage !== undefined && object.bgobject.backgroundImage !== null && object.bgobject.backgroundImage !== '') {
            this.bgimage.push({id: index, image: 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + object.bgobject.backgroundImage + ')'})
          }
        })
      },
      deep: true
    }
  }
}

</script>
