<style lang="scss">
</style>
<template lang="html">
<div class="columns is-multiline">
  <div class="tabs is-boxed column is-12 is-paddingless">
      <ul>
        <li :class="{'is-active': tab === 'truefalse'}"><a @click="tabclicked('truefalse')">True False</a></li>
        <li :class="{'is-active': tab === 'background'}"><a @click="tabclicked('background')">Background Settings</a></li>
        <li :class="{'is-active': tab === 'statictexts'}"><a @click="tabclicked('statictexts')">Static Texts</a></li>
        <li :class="{'is-active': tab === 'staticimages'}"><a @click="tabclicked('staticimages')">Static Images</a></li>
      </ul>
    </div>
    <div v-if="tab === 'truefalse'" class="column is-12">
        <div class="field has-addons">
            <p class="control">
                <a class="button is-static">
                    New TrueFalse
                </a>
            </p>
            <div class="field has-addons">
                <p class="contol"><a class="button" @click="add_truefalse()"><i class="fa fa-plus"></i></a></p>
                <p class="control">
                    <a class="button is-static">
                        True False ID
                    </a>
                </p>
                <p class="contol"><input @input="changebindchoicesid()" class="input" type="text" placeholder="Bind Choices ID" v-model="el.truefalse[0].bindchoicesid"></p>
            </div>
        </div>
      </div>
      <div class="column is-12 columns is-multiline" v-if="el.settingtab === 'truefalse'">
        <div  class="column is-12 field has-addons">
          <p class="control">
            <a class="button is-static">
              New True False
            </a>
          </p>
          <p class="control">
            <exp-field>
              <exp-multiselect track-by="id" label="id" v-model="settingcomp" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :allow-empty="false" :openDirection="'top'" @input="add_setting()" :options="this.el.truefalse">
              </exp-multiselect>
            </exp-field>
          </p>
        </div>
        <div v-if="this.el.settingindex !== null" class="column is-2">
          <p class="control">
            <a @click="delete_truefalse()" class="button is-danger">Delete</a>
          </p>
        </div>
        <div v-if="this.el.settingindex !== null" class="column is-2">
          <p class="control">
            <a @click="copy_truefalse()" class="button is-success">Copy</a>
          </p>
        </div>
      </div>
    </div>
</div>
</template>

<script>
import maxBy from 'lodash/maxBy'
import Bus from '@/config/eventhub.js'
export default {
  name: 'truefalsewithbg',
  data () {
    return {
      settingcomp: null,
      tab: null,
      truefalseid: 1,
      truefalse: {
        id: 0,
        beforetext: 'Text before true false',
        aftertext: 'Text after true false',
        rightanswer: '',
        bindchoicesid: 'truefalse',
        breakline: false,
        choicesarray: [{id: 1, text: 'True', selected: false, righticon: false, wrongicon: false}, {id: 2, text: 'False', selected: false, righticon: false, wrongicon: false}]
      }
    }
  },
  props: {
    el: Object
  },
  mounted () {
    this.tab = null
    this.el.settingtab = null
    this.el.settingindex = null
  },
  methods: {
    add_truefalse () {
      if (this.el.truefalse.length > 0) {
        let maxtruefalse = maxBy(this.el.truefalse, 'id')
        this.truefalseid = maxtruefalse.id + 1
        this.truefalse.bindchoicesid = this.el.truefalse[0].bindchoicesid
      }
      this.el.truefalse.push({
        id: this.truefalseid,
        rightanswer: this.truefalse.rightanswer,
        beforetext: this.truefalse.beforetext,
        bindchoicesid: this.truefalse.bindchoicesid,
        aftertext: this.truefalse.aftertext,
        choicesarray: this.truefalse.choicesarray,
        column: null,
        bgobject: {},
        breakline: false
      })
    },
    add_setting () {
      this.el.settingindex = (this.settingcomp.id - 1)
      Bus.fire('settingsection', 'truefalse')
    },
    tabclicked (tab) {
      this.el.settingindex = null
      this.settingcomp = null
      this.el.settingtab = tab
      this.tab = tab
      Bus.fire('settingsection', tab)
    },
    delete_truefalse () {
      this.el.truefalse.splice(this.el.settingindex, 1)
      for (var i = 0; i < this.el.truefalse.length; i++) {
        this.el.truefalse[i].id = (i + 1)
      }
      this.el.settingindex = null
      this.settingcomp = null
    },
    copy_truefalse () {
      let copytruefalse = maxBy(this.el.truefalse, 'id')
      this.truefalseid = copytruefalse.id + 1
      this.el.truefalse.push({
        id: this.truefalseid,
        rightanswer: this.truefalse.rightanswer,
        beforetext: this.el.truefalse[this.el.settingindex].beforetext,
        bindchoicesid: this.el.truefalse[this.el.settingindex].bindchoicesid,
        aftertext: this.el.truefalse[this.el.settingindex].aftertext,
        breakline: this.el.truefalse[this.el.settingindex].breakline,
        column: this.el.truefalse[this.el.settingindex].column,
        bgobject: JSON.parse(JSON.stringify(this.el.truefalse[this.el.settingindex].bgobject)),
        choicesarray: JSON.parse(JSON.stringify(this.el.truefalse[this.el.settingindex].choicesarray))
      })
    },
    changebindchoicesid () {
      for (var i = 1; i < this.el.truefalse.length; i++) {
        this.el.truefalse[i].bindchoicesid = this.el.truefalse[0].bindchoicesid
      }
    }
  }
}

</script>
