<style lang="scss">
.editableDiv {
  width: 300px;
  height: 300px;
}
</style>

<template lang="html">
<div class="columns is-multiline">
  <div class="column is-12">
    <div class="tabs is-boxed">
      <ul>
          <li :class="{'is-active': tab === 'typing'}"><a @click="tabclicked('typing')">Typing</a></li>
          <li :class="{'is-active': tab === 'background'}"><a @click="tabclicked('background')">BG. Settings</a></li>
          <li :class="{'is-active': tab === 'statictexts'}"><a @click="tabclicked('statictexts')">Static Texts</a></li>
          <li :class="{'is-active': tab === 'staticimages'}"><a @click="tabclicked('staticimages')">Static Images</a></li>
      </ul>
    </div>
  </div>
  <div class="column is-12">
    <div class="column is-multiline" v-if="tab === 'typing'">
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Typing
          </a>
        </p>
        <p class="control">
          <a class="button is-info" @click="addTyping()">
            <i class="fa fa-plus"></i>
          </a>
        </p>
          <p class="control">
            <a class="button is-static">
              Typing ID
            </a>
          </p>
          <p class="control">
            <input type="text" class="input" v-model="el.bindchoicesid">
          </p>
      </div>
      <div v-if="el.typingarray.length > 0" class="column is-12">
        <div class="columns is-multiline">
          <div class="column is-12 field has-addons">
            <p class="control">
              <a class="button is-static">
                Typings
              </a>
            </p>
            <p class="control">
              <exp-field>
                <exp-multiselect track-by="id" label="id" v-model="currentobj" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :allow-empty="false" :openDirection="'top'" :options="el.typingarray" @input="selectTyping()">
                </exp-multiselect>
              </exp-field>
            </p>
          </div>
          <div class="column is-12" v-if="currentobj !== null">
            <div class="columns is-multiline">
              <div class="column is-6">
                <a class="button is-danger" @click="deleteTyping()">Delete</a>
              </div>
              <div class="column is-6">
                <a class="button is-info" @click="copyTyping()">Copy</a>
              </div>
              <div class="column is-12 field has-addons">
                <p class="control">
                  <a class="button is-static">
                    <span>Typing Text</span>
                  </a>
                </p>
                <p class="control">
                  <a class="button is-static">
                    <span class="has-text-danger">Do not type Custom HTML. ONLY TEXT</span>
                  </a>
                </p>
              </div>
              <div class="column is-12 field has-addons">
                <p class="control">
                  <a class="button is-static">
                    <span>Typing Font Size</span>
                  </a>
                </p>
                <p class="control">
                  <input class="input" type="number" step="0.1" @input="changeInputfontSize()" v-model="inputfontSize">
                </p>
                <p class="control">
                  <a class="button is-static">
                    <span>em</span>
                  </a>
                </p>
              </div>
              <div class="column is-12">
                <textarea class="textarea is-info" placeholder="Type your text with inputs" rows="8"  v-model="textTyping" @input="parsetextTyping($event)"></textarea>
              </div>
              <div class="column is-12 field has-addons" v-if="!editElementWordFlag && !editElementInputFlag">
                <p class="control">
                  <a class="button is-static">
                    Editable Text
                  </a>
                </p>
                <p class="control">
                  <a class="button is-info" @click="editTextStyle()">
                    Edit Text Style
                  </a>
                </p>
              </div>
              <div class="column is-12" v-if="!editElementWordFlag && !editElementInputFlag">
                <template v-for="(node, nindex) in el.typingarray[typingIndex].textArray">
                  <a class="button is-success" v-if="nindex % 2" v-text="node.values[0]" @click="editInput(nindex)" :key="'editabletext_' + nindex"></a>
                  <template v-else v-for="(text, tindex) in node">
                    <a class="button is-info" v-if="!(/\r|\n/.exec(text)) && text !== ' ' && text.length > 0" :key="nindex + '_' + tindex" v-html="text" @click="editText(nindex, tindex)"></a>
                  </template>
                </template>
              </div>
              <div class="column is-12" v-if="editElementWordFlag">
                <div class="columns is-multiline">
                  <div class="column is-12 field has-addons">
                    <p class="control">
                      <a class="button is-static">
                        Editable Word
                      </a>
                    </p>
                    <p class="control">
                      <a class="button is-info" @click="backEditableWord()">
                        Back
                      </a>
                    </p>
                  </div>
                  <div class="column is-12">
                    <vue-editor v-model="editableText" @input="parseEditableText()"></vue-editor>
                  </div>
                </div>
              </div>
              <div class="column is-12" v-if="editElementInputFlag">
                <div class="columns is-multiline">
                  <div class="column is-12 field has-addons">
                    <p class="control">
                      <a class="button is-static">
                        Editable Input
                      </a>
                    </p>
                    <p class="control">
                      <a class="button is-info" @click="backEditableWord()">
                        Back
                      </a>
                    </p>
                  </div>
                  <div class="column is-12 field has-addons">
                    <p class="control">
                      <a class="button is-static">
                        Input Max Size
                      </a>
                    </p>
                    <p class="control">
                      <input type="number" class="input" v-model="el.typingarray[typingIndex].textArray[nodeIndex].maxsize">
                    </p>
                  </div>
                  <div class="column is-12 field has-addons">
                    <p class="control">
                      <a class="button is-static">
                        Alternative Answers
                      </a>
                    </p>
                    <p class="control">
                      <input type="text" class="input" v-model="newAnswer">
                    </p>
                    <p class="control">
                      <a class="button is-info" @click="addNewAnswer()">
                        <i class="fa fa-plus"></i>
                      </a>
                    </p>
                  </div>
                  <div class="column is-6">
                    <template v-for="(value, index) in el.typingarray[this.typingIndex].textArray[nodeIndex].values">
                      <div class="field has-addons" :key="'answer_' + index">
                        <p class="control">
                          <a v-if="editCurrectAnswerFlag !== index" class="button is-light" @click="updateAnswer(index)" v-text="value"></a>
                          <input v-if="editCurrectAnswerFlag === index" type="text" class="input" v-model="editAnswer">
                        </p>
                        <p class="control">
                          <a v-if="editCurrectAnswerFlag !== index" class="button is-danger" @click="removeAnswer(index)">
                            <i class="fa fa-times"></i>
                          </a>
                          <a v-if="editCurrectAnswerFlag === index" class="button is-info" @click="saveAnswer(index)">
                            <i class="fa fa-save"></i>
                          </a>
                        </p>
                      </div>
                    </template>
                  </div>
                  <div class="column is-12 field has-addons">
                    <p class="control">
                      <exp-checkbox type="text" class="checkbox" v-model="el.typingarray[typingIndex].textArray[nodeIndex].casesensitivity">Case Sensitivity</exp-checkbox>
                    </p>
                  </div>
                  <div class="column is-12 field has-addons">
                    <p class="control">
                      <exp-checkbox type="text" class="checkbox" v-model="el.typingarray[typingIndex].textArray[nodeIndex].capital">Capital</exp-checkbox>
                    </p>
                  </div>
                  <div class="column is-12 field has-addons">
                    <p class="control">
                      <exp-checkbox type="text" class="checkbox" v-model="el.typingarray[typingIndex].textArray[nodeIndex].uppercase">UpperCase</exp-checkbox>
                    </p>
                  </div>
                  <div class="column is-12 field has-addons">
                    <p class="control">
                      <exp-checkbox type="text" class="checkbox" v-model="el.typingarray[typingIndex].textArray[nodeIndex].lowercase">LowerCase</exp-checkbox>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import forEach from 'lodash/forEach'
import findIndex from 'lodash/findIndex'
import differenceWith from 'lodash/differenceWith'
import isEqual from 'lodash/isEqual'
import maxBy from 'lodash/maxBy'
import eventbus from '@/config/eventhub.js'
export default {
  name: 'Typingsettings',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null,
      currentobj: null,
      typingid: 1,
      textTyping: null,
      typingIndex: null,
      editElementWordFlag: false,
      editElementInputFlag: false,
      editCurrectAnswerFlag: null,
      nodeIndex: null,
      textIndex: null,
      editableText: null,
      newAnswer: null,
      editAnswer: null,
      inputfontSize: null
    }
  },
  mounted () {
    this.el.settingtab = null
    this.tab = null
    this.el.settingindex = null
  },
  methods: {
    tabclicked (tab) {
      eventbus.closePrimarySettings()
      this.el.settingindex = null
      this.typingIndex = null
      this.currentobj = null
      this.el.settingtab = null
      this.tab = null
      this.el.settingtab = tab
      this.tab = tab
    },
    addTyping () {
      if (this.el.typingarray.length > 0) {
        let maxtyping = maxBy(this.el.typingarray, 'id')
        this.typingid = maxtyping.id + 1
      }
      this.el.typingarray.push({
        id: this.typingid,
        textArray: [],
        rightAnswers: [],
        fontSize: '1em',
        bgobject: {},
        textstyle: {}
      })
    },
    deleteTyping () {
      this.el.settingindex = null
      this.el.typingarray.splice(this.typingIndex, 1)
      this.typingIndex = null
      this.currentobj = null
    },
    copyTyping () {
      let copyObject  = JSON.parse(JSON.stringify(this.el.typingarray[this.typingIndex])) // copy specific object from el
      let increasedId = maxBy(this.el.typingarray, 'id').id + 1 // create max id based on typingarray length
      copyObject.textArray.forEach((typingObj) => { // update each input in textArray with the new id
        if(!Array.isArray(typingObj)) {
          typingObj.typingId = increasedId
        }
      })
      this.el.typingarray.push({...copyObject, ...{id: increasedId}}) // update typingarray in el
    },
    changeInputfontSize () {
      this.el.typingarray[this.typingIndex].fontSize = this.inputfontSize
    },
    editTextStyle () {
      eventbus.firePrimarySettings('uicomponenttext_open',{style: 'typingarray[' + this.typingIndex + '].textstyle'})
    },
    // load text from element
    loadText (array) {
      let tempText = ''
      forEach(array, (value, index) => {
        if (index % 2) {
          tempText = tempText + '#' + value.values[0] + '#'
        } else {
          forEach(value, (simpletext) => {
            tempText = tempText + simpletext
          })
        }
      })
      this.textTyping = tempText
    },
    // parse textarea text
    parsetextTyping (value) {
      let customarray = this.textTyping.split(/#([a-zA-Z0-9_'"?!;.,-\s]+)#/)
      forEach(customarray, (value, index) => {
        let splitter = [] // array to keep splitted text
        let spanSplitter = [] // if text is span split everything to compine as a wish, each span element seperate
        if (!(index % 2)) {
          // check if element is span or simple text
          if (!(/<.*?>\w+<\/.*?>/gm.exec(value))) {
            splitter = value.split(/(\S+)/)
          } else {
            // split all html tags and texts
            spanSplitter = value.split(/(<.*?>\w+<\/.*?>)/gm)
            forEach(spanSplitter, (value) => {
              if (!(/<.*?>\w+<\/.*?>/gm.exec(value))) {
                forEach(value.split(/(\S+)/), (text) => {
                  splitter.push(text)
                })
              } else {
                splitter.push(value)
              }
            })
          }
        } else {
          splitter = {values: [value], casesensitivity: false, capital: false, uppercase: false, lowercase: false, maxsize: null, inputId: index, typingId: this.el.typingarray[this.typingIndex].id, inputBgObject: {}}
        }
        customarray[index] = splitter
      })
      // check difference in inputs elements to keep saved options
      let tempDifferenceArray = differenceWith(this.el.typingarray[this.typingIndex].textArray, customarray, isEqual)
      forEach(tempDifferenceArray, (value) => {
        if (value.inputId !== undefined ) {
          let tempIndex = findIndex(customarray, {'inputId': value.inputId, 'typingId': value.typingId})
          if (value.values.length > 1) {
            customarray[tempIndex] = {...customarray[tempIndex], ...value}
          }
        }
      })
      this.el.typingarray[this.typingIndex].textArray = [...customarray]
    },
    selectTyping () {
      this.editElementWordFlag = false
      this.typingIndex = findIndex(this.el.typingarray, {'id': this.currentobj.id})
      if (this.typingText !== null && this.typingText !== -1) {
        this.loadText(this.el.typingarray[this.typingIndex].textArray)
      }
      this.el.settingindex = this.typingIndex
      this.inputfontSize = this.el.typingarray[this.typingIndex].fontSize
    },
    editText (nindex, tindex) {
      this.editElementWordFlag = true
      this.nodeIndex = nindex
      this.textIndex = tindex
      this.editableText = this.el.typingarray[this.typingIndex].textArray[this.nodeIndex][this.textIndex]
    },
    editInput (nindex) {
      this.editElementInputFlag = true
      this.nodeIndex = nindex
      eventbus.firePrimarySettings('uicomponentbgsettings_open', {style: `typingarray[${this.typingIndex}].textArray[${this.nodeIndex}].inputBgObject`})
    },
    addNewAnswer () {
      if (this.newAnswer !== null)
       {
        this.el.typingarray[this.typingIndex].textArray[this.nodeIndex].values.push(this.newAnswer)
        this.newAnswer = null
      }
    },
    updateAnswer (index) {
      this.editCurrectAnswerFlag = index
      this.editAnswer = this.el.typingarray[this.typingIndex].textArray[this.nodeIndex].values[index]
    },
    saveAnswer (index) {
      this.$set(this.el.typingarray[this.typingIndex].textArray[this.nodeIndex].values, index, this.editAnswer)
      this.editCurrectAnswerFlag = null
      this.loadText(this.el.typingarray[this.typingIndex].textArray)
    },
    removeAnswer (index) {
      this.el.typingarray[this.typingIndex].textArray[this.nodeIndex].values.splice(index, 1)
    },
    // parsing text to remove p of vue editor and replace with spans
    parseEditableText () {
      this.$set(this.el.typingarray[this.typingIndex].textArray[this.nodeIndex], this.textIndex, this.editableText.replace(/<p>/, '').replace(/<\/p>/,  ''))
    },
    backEditableWord () {
      eventbus.closePrimarySettings()
      this.editElementWordFlag = false
      this.editElementInputFlag = false
      this.nodeIndex = null
      this.textIndex = null
    }
  }
}

</script>
