        <style lang="scss">

        </style>

        <template lang="html">

        <div class="taptapsection_match">
                <div class="column is-12 ">
                        <div class="field has-addons taptapsection_match">
                            <p class="control">
                                <a class="button is-static ">
                                <label class="">TapTap ID</label>
                                </a>
                            </p>
                            <div class="control taptapsection_tooltip">
                                <input class="input is-primary taptapsection_width_100 " type="text" placeholder="Unique..." v-model="el.bindchoicesid">
                                <span class="taptapsection_tooltiptext">Enter a group id for this section</span>
                            </div>
                        </div>

                    <div class="field has-addons ">
                        <p class="control">
                            <a class="button is-static">
                            <label class="">Enter new Tap</label>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button" @click="addTap(new Date().valueOf())">
                            <span class="icon is-small is-primary">
                                <i class="fa fa-plus"></i>
                            </span>
                            </a>
                        </p>
                    </div>
                </div>

                <div v-if="current_tap!=null" class="">
                    <div class="title is-5 label  has-text-centered">Tap settings</div>
                    <!-- <label class="label taptapsection_italic_weigth has-text-centered ">Tap settings</label> -->

                    <div class="taptapsection_toprow">
                        <label class="label taptapsection_padding_5">Current Tap <span style="color:red">{{current_tap}}</span></label>
                        <a  class="button taptapsection_noborder" @click="clearCorrects();current_tap=null;closeInputEdit();closeEdit();activetaptab=1;closeTapStyleMenu()">
                            <span class="icon is-small is-info taptapsection_noborder" >
                            Back
                            </span>
                        </a>
                    </div>
                    <div class="taptapsection_smalltabs">
                                <a v-on:click="activetaptab=1;closeTapStyleMenu()"  :class="['column', activetaptab === 1 ? 'active' : '' ]">Tap Text</a>
                                <a v-on:click="activetaptab=2;el.settingtab='tapinput';showTapStyleMenu(current_tap)" :class="['column',  activetaptab === 2 ? 'active' : '' ]">Tap BG.</a>
                    </div>

                    <template v-if="activetaptab === 1" >

                        <div class="taptapsection_txt_area " id="txtarea">
                            <div class="taptapsection_rightflex" style="margin-bottom:5px;position:relative;margin-top:8px;">
                                <label class="label taptapsection_padding_5" style="margin-bottom:0; position:absolute; left:0;">Full text</label>
                                <div  class="buttons field has-addons" style="margin-bottom:0;">
                                    <p class="control">
                                        <a class="button is-static">
                                            <span>Font size</span>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <input  class="input is-primary"
                                        min="1" type="number"
                                        placeholder="size"
                                        step="0.1"
                                        v-model='tapfontsize'
                                        style="width:4em">
                                    </p>
                                    <p class="control">
                                        <a class="button is-static">
                                            <span >em</span>
                                        </a>
                                    </p>
                                </div>
                            </div>

                            <!-- <textarea ref="txtarea"  class="textarea taptapsection_minheight_4"
                            v-model="curtxt"
                            placeholder="Enter full text here..."
                            @input="simple_nodes();closeEdit();closeInputEdit();clearCorrects()"></textarea> -->

                            <textarea ref="txtarea"  class="textarea taptapsection_minheight_4"
                            v-model="el.tapsection[current_tap].text"
                            placeholder="Enter full text here..."
                            @input="tap_nodes();closeEdit();closeInputEdit();clearCorrects()">
                            </textarea>

                            <div class="taptapsection_ansdiv column is-12">
                                <label class="label">Your elements</label>
                                <div class="taptapsection_no_margin columns ">
                                    <div class=" column  ">
                                        <div v-if="taptap.split_txt!=''" v-for="taptap,taptapindex in el.tapsection[current_tap].taptaps" class=" taptapsection_tapenterwrap">
                                            <template  v-for="splittext,n in taptap.split_txt">
                                                <a v-if="n % 2" class="wrap button is-success" v-html='"Tap Input"' @click="getObject(taptapindex,n);openInputEdit(taptapindex,n,splittext);closeEdit();"></a>
                                                <template v-else  v-for="(f,innerindex) in splittext">
                                                    <span v-if="f=='\n' || f==' ' || f==''"></span>
                                                    <a v-else v-html="f" class="button is-info" @click="openEdit(taptapindex,n,innerindex);closeInputEdit()"></a>
                                                </template>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="taptapsection_textareasettings column is-12">
                                <div v-if="showedit" class=" box taptapsection_outersettings" style="margin:0 auto;">
                                    <div class="title is-5 label  has-text-centered">Text Settings</div>
                                    <vue-editor   v-model="el.tapsection[current_tap].taptaps[taptapindex].split_txt[textindex][innerindex]" @input="removePTags();updateTextArea();closeInputEdit()"></vue-editor>
                                    <div class="taptapsection_inner">
                                    <a  class="button" @click="closeEdit()">
                                        <span class="icon is-small is-success">
                                        <i class="fa fa-save"></i>
                                        </span>
                                    </a>
                                    </div>
                                </div>

                                <div v-if="showinputedit" class="box taptapsection_outersettings">
                                    <div class="taptapsection_inner">
                                        <a  class="button" @click="closeInputEdit();saveTap()">
                                        <span class="icon is-small is-success">
                                            <i class="fa fa-save"></i>
                                        </span>
                                        </a>
                                    </div>
                                    <div class="title is-5 label  has-text-centered">Input Settings</div>
                                    <!-- <label class="label has-text-centered"><strong>Input Settings</strong></label> -->
                                    <div class="taptapsection_padding_5 has-text-centered" style="margin-bottom:5px;">
                                        <span class="taptapsection_italic_weigth">TapTap <span style="color:red">{{taptapindex}}</span></span> /
                                        <span  class="taptapsection_weigth">Input no.<span style="color:red">{{inputindex}}</span></span>
                                    </div>
                                        <div class="taptapsection_smalltabs">
                                            <a v-on:click="activeinputtab=1"  :class="['column', activeinputtab === 1 ? 'active' : '' ]">Properties</a>
                                            <a v-on:click="activeinputtab=2" :class="['column',  activeinputtab === 2 ? 'active' : '' ]">Border</a>
                                        </div>

                                        <keep-alive>
                                        <template v-if="activeinputtab === 1" >
                                            <div  class="taptapsection_center_row box">
                                            <div class="taptapsection_padding_10 box" style="border:1px solid #99EDE0; margin-bottom:5px;">
                                                <label class="label has-text-centered"><strong>Correct Choices</strong></label>
                                                <div class="taptapsection_padding_10 taptapsection_center_row_margin">
                                                    <div v-for="(choice,index) in el.choices" class="taptapsection_center_row_margin"style="margin:5px;">

                                                        <input class="" type="checkbox" :id="index" :value="choice.id"
                                                        style="margin-right:5px;"
                                                        v-model="el.tapsection[current_tap].taptaps[taptapindex].split_txt[inputindex].input.corrects">
                                                        <label for="checkbox" class="checkbox button is-static label ">{{choice.attrib.text}}</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" taptapsection_center_row_margin">
                                                <div class=" taptapsection_center_row">
                                                <div class="taptapsection_padding_10 taptapsection_center_row" >
                                                    <input   class=""
                                                    type="checkbox"
                                                    id="checkbox"
                                                    style="margin-right:5px;"
                                                    v-model="el.tapsection[current_tap].taptaps[taptapindex].split_txt[inputindex].input.capitalize">
                                                    <label for="checkbox" class="checkbox button is-static label ">Capitilize</label>
                                                </div>
                                                <div class="buttons field has-addons taptapsection_padding_10">
                                                    <p class="control">
                                                        <a class="button is-static">
                                                            <span>Tap content</span>
                                                        </a>
                                                    </p>
                                                    <p class="control ">
                                                        <input class="input is-primary" ref="inpeditor" type="text" id="number"  v-model="el.tapsection[current_tap].taptaps[taptapindex].split_txt[inputindex].input.styleTapInput.content">
                                                    </p>
                                                </div>
                                                </div>
                                                <div class=" taptapsection_center_row">
                                                    <div  class="buttons field has-addons taptapsection_padding_10" style="margin-bottom:0">
                                                        <p class="control">
                                                            <a class="button is-static">
                                                                <span>Font size</span>
                                                            </a>
                                                        </p>
                                                        <p class="control">
                                                            <input  class="input is-primary"
                                                            min="0" type="number"
                                                            step="0.1"
                                                            placeholder="size"
                                                            v-model='tempobject.fontSize'
                                                            style="width:4em">
                                                        </p>
                                                        <!-- v-model="el.tapsection[current_tap].taptaps[taptapindex].split_txt[inputindex].input.styleTapInput.tapstyleObject.height+'px'"  -->
                                                        <p class="control">
                                                            <a class="button is-static">
                                                                <span >em</span>
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div  class="buttons field has-addons taptapsection_padding_10" style="margin-bottom:0">
                                                        <p class="control">
                                                            <a class="button is-static">
                                                                <span>Text Color</span>
                                                            </a>
                                                        </p>
                                                        <p class="control">
                                                            <input ref="inpeditor" class="input is-primary" type="text" placeholder="hex or name"
                                                            v-model='tempobject.color'
                                                            style="width:7em">
                                                        </p>
                                                    </div>
                                                    <div  class="buttons field has-addons taptapsection_padding_10" style="margin-bottom:0">
                                                        <p class="control">
                                                            <a class="button is-static">
                                                                <span>Width</span>
                                                            </a>
                                                        </p>
                                                        <p class="control">
                                                            <input  class="input  is-primary" min="0" type="number" step="0.1"
                                                            placeholder="width"
                                                            v-model='tempobject.minWidth'
                                                            style="width:4em">
                                                        </p>
                                                                <!--v-model="tapWidth"    v-model="el.tapsection[current_tap].taptaps[taptapindex].split_txt[inputindex].input.styleTapInput.tapstyleObject.width"  :value="tapWidth"    @input="addPx('width')"   -->
                                                        <p class="control">
                                                            <a class="button is-static">
                                                                <span >px</span>
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div  class="buttons field has-addons taptapsection_padding_10">
                                                        <p class="control">
                                                            <a class="button is-static">
                                                                <span>Height</span>
                                                            </a>
                                                        </p>
                                                        <p class="control">
                                                            <input  class="input is-primary"
                                                            min="0" type="number"  step="0.1"
                                                            placeholder="height"
                                                            v-model='tempobject.height'
                                                            style="width:4em">
                                                        </p>
                                                        <p class="control">
                                                            <a class="button is-static">
                                                                <span >px</span>
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </template>
                                        <template v-else-if="activeinputtab === 2" class="tabcontent">
                                            <div class="box">
                                                <div class="taptapsection_center_row">
                                                    <div  class="buttons field has-addons taptapsection_padding_10" style="margin-bottom:0">
                                                        <p class="control">
                                                            <a class="button is-static">
                                                                <span>Style</span>
                                                            </a>
                                                        </p>
                                                        <p class="control ">
                                                            <span class="select is-primary">
                                                                <select  v-model="tempobject.borderStyle"
                                                                style="width:7em">
                                                                <option disabled value="Size">Please select one</option>
                                                                <option v-for="border in borderstyles" v-text="border"></option>
                                                                </select>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div  class="buttons field has-addons taptapsection_padding_10" >
                                                        <p class="control">
                                                            <a class="button is-static">
                                                                <span>Color</span>
                                                            </a>
                                                        </p>
                                                        <p class="control">
                                                            <input ref="inpeditor" class="input is-primary" type="text" placeholder="hex or name"
                                                            v-model='tempobject.borderColor'
                                                            style="width:7em">
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="taptapsection_center_row">
                                                    <div  class="buttons field has-addons taptapsection_padding_10"style="margin-bottom:0">
                                                        <p class="control">
                                                            <a class="button is-static">
                                                                <span>Radius</span>
                                                            </a>
                                                        </p>
                                                        <p class="control">
                                                            <input ref="inpeditor" min="0" class="input is-primary" type="number" placeholder="radius"  step="0.1"
                                                            v-model='tempobject.borderRadius'
                                                            style="width:5em">
                                                        </p>
                                                        <p class="control">
                                                            <a class="button is-static">
                                                                <span >px</span>
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div  class="buttons field has-addons taptapsection_padding_10" >
                                                        <p class="control">
                                                            <a class="button is-static">
                                                                <span>Width</span>
                                                            </a>
                                                        </p>
                                                        <p class="control">
                                                            <input ref="inpeditor" min="0" class="input is-primary" type="number" placeholder="width"  step="0.1"
                                                            v-model='tempobject.borderWidth'
                                                            style="width:5em">
                                                        </p>
                                                        <p class="control">
                                                            <a class="button is-static">
                                                                <span>px</span>
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </template>
                                        </keep-alive>
                                </div>
                            </div>

                    </template>   <!--if tattab 1     -->




                    <template v-if="activetaptab === 2" >

                    </template>

                </div>

                <div v-else>
                    <div class="title is-5 label taptapsection_padding_5 has-text-centered">Current Taps</div>
                    <div class="taptapsection_tapareawrap">
                            <template v-if="el.tapsection" class="">
                                <div v-for="(tap, index) in el.tapsection"  :key="index" class="taptapsection_tapitem">
                                    <span class="taptapsection_tap_menu">
                                        <p class="">
                                        <a class="button taptapsection_noborder" @click="el.tapsection.splice(index, 1);current_tap=null;">
                                            <span class="icon is-small is-danger taptapsection_noborder">
                                            Delete
                                            </span>
                                        </a>
                                        </p>
                                        <p class=" ">
                                        <a class="button is-static taptapsection_noborder ">
                                            <label class="label taptapsection_italic_weigth ">Tap {{index}}</label>
                                        </a>
                                        </p>
                                        <p class="">
                                        <a class="button taptapsection_noborder" @click="getFontSize(index);showTap(index)">
                                            <span class="icon is-small is-info taptapsection_noborder">
                                            Edit
                                            </span>
                                        </a>
                                        </p>
                                    </span>
                                </div>
                            </template>
                    </div>
                </div>

        </div>

        </template>

        <script>
        import eventbus from '@/config/eventhub.js'
        import compact from 'lodash/compact';
        import last from 'lodash/last';
        import findIndex from 'lodash/findIndex';
        import find from 'lodash/find';
        import flatten from 'lodash/flatten';
        import flattenDeep from 'lodash/flattenDeep';
        import flattenDepth from 'lodash/flattenDepth';
        import differenceWith from 'lodash/differenceWith';
        import difference from 'lodash/difference';
        import isEqual from 'lodash/isEqual';
        import remove from 'lodash/remove';
        import pick from 'lodash/pick';
        import intersection from 'lodash/intersection';
        import forEach from 'lodash/forEach';
        import set from 'lodash/set';
        import pullAt from 'lodash/pullAt';
        export default {
        name: "expTapTapTextareaSettings",
        props: {
            el: Object
        },
        data() {
            return {
            tapfontsize:'1.2em',
            current_tap:null,
            showedit:false,
            showinputedit:false,
            textindex:Number,
            innerindex:Number,
            inputindex:Number,
            tapindex:Number,
            taptapindex:Number,
            activeinputtab:1,
            activetaptab:1,
            borderstyles:['solid','dashed','dotted','double ','groove','ridge','inset','outset','none','hidden'],
            tempobject: {
                minWidth: null,
                height: null,
                borderWidth: null,
                borderRadius: null,
                borderColor:null,
                borderStyle:null,
                fontSize:null,
                color:null,
            },
            // curtxt:'',
            // prevel:{},
            };
        },
        created: function() {},
        mounted: function() {
            this.$nextTick(() => {
                /**
                 * Sets the default font size for whole tap.
                 */
                if(this.el.tapsection==undefined||this.el.tapsection.length==0){
                    this.el.fontSize='1em'
                }
                /**
                 * Resets data for current tap when you delete whole text.
                 */
                if(this.current_tap!=null){
                    if(this.el.tapsection[this.current_tap].text==""||this.el.tapsection[this.current_tap].text==undefined){
                    this.el.corrects=[]
                    this.el.tapsection[this.current_tap].taptaps=[]
                    }
                }
                // this.tapfontsize = this
                eventbus.listen('taptapsection_settabtotaptext', () => {
                    this.activetaptab = 1
                })
            })
        },
        computed: {
            compobject: function () {
                return this.tempobject
            },
            tempfontsize: function () {
                return this.tapfontsize
            },
        },
        watch: {
            compobject: {
                handler (object) {
                    this.loadStyle()
                },
                deep: true
            },
            /**
             * Watches the value for font size given in input and sets value to 1.4 if given value was < 1.
             */
            tempfontsize: {
                handler (val) {
                    if(val<1){
                        this.tapfontsize='1.2em'
                        this.loadFont()
                    }else {
                        this.loadFont()
                    }
                },
                deep: true
            },
        },
        methods: {
            /**
             * Updates style object in el while not keeping null equivalent or unset attributes.
             */
            loadStyle () {
                let loadObject = {}
                forEach(this.tempobject, (value, attr) => {
                    if (value === null || value === undefined || value === '') {
                    delete this.tempobject[attr]
                    } else {
                    switch (attr) {
                        case 'minWidth':
                        case 'height':
                        loadObject[attr] = this.tempobject[attr] + 'px'
                        break
                        case 'fontSize':
                        loadObject[attr] = this.tempobject[attr] + 'em'
                        break
                        case 'borderRadius':
                        loadObject[attr] = this.tempobject[attr] + 'px'
                        break
                        case 'borderWidth':
                        loadObject[attr] = this.tempobject[attr] + 'px'
                        break
                        case 'borderColor':
                        loadObject[attr] = this.tempobject[attr]
                        break
                        case 'color':
                        loadObject[attr] = this.tempobject[attr]
                        break
                        case 'borderStyle':
                        loadObject[attr] = this.tempobject[attr]
                        break

                    }
                    }
                })
                this.el.tapsection[this.current_tap].taptaps[this.taptapindex].split_txt[this.inputindex].input.styleTapInput.tapinputStyleObject = {...loadObject}
            },
            /**
             * Updates font size in el.
             */
            loadFont () {

                let font = this.tapfontsize+ 'em'
                this.el.tapsection[this.current_tap].fontSize = font
                },
            /**
             * Loads local temp object with the values in el.
             * Uses regex to keep the numerical part e.g "80px" => 80
             */
            getObject (taptap,input) {
                let object = {...this.el.tapsection[this.current_tap].taptaps[taptap].split_txt[input].input.styleTapInput.tapinputStyleObject}
                forEach(object, (value, attr) => {
                    let match = value.match(/\d*/i)[0]
                    if (match !== '') {
                    object[attr] = match
                    }
                })
                this.tempobject = {...object}
                },
            /**
             * Loads local font var with the value in el.
             * Uses regex to keep the numerical part e.g "1em"=> 1
             */
            getFontSize (index) {
                this.tapfontsize = parseFloat(this.el.tapsection[index].fontSize)
                },
            /**
             * Creates tap objects.
             */
            addTap(id){
                if(this.el.tapsection!=undefined||this.el.tapsection.length>0){
                    let payload = {id:id,text:"",taptaps:'',corrects:[],fontSize:'1.4em',tapstyleObject:{}}
                    this.el.tapsection.push(payload)
                }
                /** Closes any opened taps along with any open nested menus*/
                if(this.current_tap!=null){
                    this.current_tap=null;
                }
                this.closeInputEdit()
                this.closeEdit()
                },
            /**
             * Shows the selected tap while focusing on the txtarea.
             */
            showTap(index){
                this.current_tap=index;
                /** Needs setTimeout to avoid errors like focusig before rendering the textarea */
                setTimeout(() => {
                    this.$refs.txtarea.focus()
                })
                },
            /**
             * Removes the <p> tags automatically appended to strings when opened by vue-editor
             */
            removePTags(){
                this.el.tapsection[this.current_tap].taptaps[this.taptapindex].split_txt[this.textindex][this.innerindex]=this.el.tapsection[this.current_tap].taptaps[this.taptapindex].split_txt[this.textindex][this.innerindex].replace(/(<p[^>]+?>|<p>|<\/p>)/img, '')
                },
            /**
             * Updates the text area value with the returning string by:
             * parsing each taptaps split_txt variable and then
             * joining all simple "string" values and "tap input" values
             */
            updateTextArea(){
                let m=[];
                this.el.tapsection[this.current_tap].taptaps.map(elem=>{
                    let t=[];
                    for(let i=0;i<elem.split_txt.length;i++){
                        if(Array.isArray(elem.split_txt[i]) || typeof elem.split_txt[i]== 'string'){
                            t.push(elem.split_txt[i])
                        }else{
                            t.push(elem.split_txt[i].input.value)
                        }
                    }
                    m.push(flatten(t).join(''))
                })
                /** Needed to preserve text formating as taptaps are separated with '\n' character*/
                this.el.tapsection[this.current_tap].text=m.join('\n')
            },
            /**
             * Opens the vue-editor settings submenu with the value provided by
             * taptap: current taptap
             * index: the array position in split_txt
             * innerindex: the array position of the value needed inside the nested array in split_txt[index](Array Object)
             */
            openEdit(taptap,index,innerindex,f){
                    this.showedit = true;
                    this.taptapindex = taptap;
                    this.textindex = index;
                    this.innerindex = innerindex;
                },
            /**
             * Opens the tap input settings submenu  provided by
             * taptap: current taptap
             * inputindex: the input position in split_txt
             * and focuses on it
             */
            openInputEdit(taptap,index,value){
                this.showinputedit = true;
                this.taptapindex = taptap;
                this.inputindex = index;
                setTimeout(() => {
                    this.$refs.inpeditor.focus()
                })
                },
            /**
             * Closes input tap settings
             */
            closeInputEdit(){
                this.showinputedit = false;
                },
            /**
             * Closes the vue-editor (text settings)
             */
            closeEdit(){
                this.showedit = false;
                },
            closeTapStyleMenu(){
                this.el.settingtab=null;
                this.activetaptab=1;
                eventbus.closePrimarySettings()
            },
            showTapStyleMenu(current_tap){
                eventbus.firePrimarySettings('uicomponentbgsettings_open',{style: `tapsection[${this.current_tap}].tapstyleObject`})
            },
            /**
             * Saves the input tap settings (needed in order to have the "freshest" tap input values) to
             * an array 'corrects' that contains the tap input settings for all the tataps of the current tap
             */
            saveTap(){
                /** Gets latest tap input values */
                let objtobesaved = this.el.tapsection[this.current_tap].taptaps[this.taptapindex].split_txt[this.inputindex].input
                /** If there is at least one saved object */
                if(this.el.tapsection[this.current_tap].corrects.length>0){
                    /** If it finds older values for the saved tap input (by finding the index)
                     * update them or else add them
                     */
                    let index = findIndex(this.el.tapsection[this.current_tap].corrects,{'id':objtobesaved.id})
                    if(index==-1){
                        let t=JSON.parse(JSON.stringify(objtobesaved))
                        this.el.tapsection[this.current_tap].corrects.push(t)
                    }else{
                        let t=JSON.parse(JSON.stringify(objtobesaved))
                        /** Needed to ensure "reactiveness" */
                        Vue.set(this.el.tapsection[this.current_tap].corrects, index, t)
                    }
                /** if empty just add  */
                }else{
                    let t=JSON.parse(JSON.stringify(objtobesaved))
                    this.el.tapsection[this.current_tap].corrects.push(t)
                }
            } ,
            /**
             * Purges any unused objects from the 'corrects' array
             */
            clearCorrects(){
                /** Finds latest tap input ids */
                if(this.el.tapsection[this.current_tap].taptaps!== ''){

                    let ids = this.el.tapsection[this.current_tap].taptaps.map((taptap,index)=>{
                        let t = taptap.split_txt.map((elem,index)=>{
                            if(this.is_odd(index)){
                                return elem.input.id
                            }else{}
                        })
                        return compact(t)
                    })

                ids=flatten(compact(ids))
                /** Finds any saved tap input objects that dont exist anymore */
                let s=  this.el.tapsection[this.current_tap].corrects.map(inp=>{
                    if(!ids.includes(inp.id)){
                        return inp.id
                    }
                })
                s=flatten(compact(s))
                /** Finds the indexes of those ids and uses PullAt to bypass the dynamic re-indexing done by vue when removing items in any other way*/
                let toberemoved=[];
                forEach(this.el.tapsection[this.current_tap].corrects, (inp,index)=>{
                    if(s.includes(inp.id)){
                        toberemoved.push(index)
                    }
                })
                pullAt(this.el.tapsection[this.current_tap].corrects,toberemoved)
                }
            },
            /**Main function
             * Used for parsing the text typed in the current tap
             */
            tap_nodes(){
                /** Resets data */
                if(this.el.tapsection[this.current_tap].text.length==0 || this.el.tapsection[this.current_tap].text == undefined){
                this.el.tapsection[this.current_tap].taptaps=[];
                this.el.tapsection[this.current_tap].corrects=[];
                }
                /** Closes opened text settings menu when typing */
                this.showedit = false

                let input = this.el.tapsection[this.current_tap].text;
                /** Dellimiter used to differentiate taptaps */
                let char = "\n";
                let res = input.split(char);
                /** temp arrays */
                let arr = [];
                let tap = [];
                for (var i = 0; i < res.length; i++){
                    /** Initial split of text on e.g '#example#' */
                    arr[i] = res[i].split(/(#[\w.'",?!;]+#)/);
                    let temp = arr[i];
                    let temp_obj = {id:"taptap"+i,split_txt:[],styleTapTap:{}}
                    let temp2 = temp.map((elem, index) =>
                        {
                        /** Always String data on even indexes of split_txt array */
                        if (!this.is_odd(index)) {
                            // if (elem.length > 1) {
                                /** Further splits String data to array of words and spaces e.g "hello world" => ["", "hello", " ", "world", ""] */
                                return (elem = this.splitText(elem));
                            // }
                            // else {
                            //     return elem;
                            // }
                        }
                        /** Always Object input tap data in odd indexes of split_txt array */
                        else {
                            let idd= this.current_tap+''+i+index
                            let t;
                            /** If there are saved tap input data search there */
                            if(this.el.tapsection[this.current_tap].corrects.length>0){
                                /** If it finds saved input data with same id, it inject that data */
                                if(this.el.tapsection[this.current_tap].corrects.filter(el=>el.id==idd).length>0){
                                    let inp = find(this.el.tapsection[this.current_tap].corrects,{ 'id': idd})
                                    let index = findIndex(this.el.tapsection[this.current_tap].corrects,{ 'id': idd })
                                    t = {input:{id:inp.id,value:elem,capitalize:inp.capitalize,corrects:inp.corrects,styleTapInput:inp.styleTapInput}}
                                }
                                /** Else use default values*/
                                else{
                                    let styleObj={borderStyle:'solid',borderColor:'black',borderWidth:'1px',minWidth:'80px',height:'40px',fontSize:'1em',color:'black'}
                                    t = {input:{id:idd,value:elem,capitalize:false,corrects:[],
                                    styleTapInput:{content:"",tapinputStyleObject:styleObj}}}
                                }
                            }
                            /** Else use default values */
                            else{
                                let styleObj={borderStyle:'solid',borderColor:'black',borderWidth:'1px',minWidth:'80px',height:'40px',fontSize:'1em',color:'black'}
                                t = {input:{id:idd,value:elem,capitalize:false,corrects:[],
                                styleTapInput:{content:"",tapinputStyleObject:styleObj}}}
                            }
                            return t;
                        }
                        }
                    );
                    arr[i]=temp2;
                    temp_obj.split_txt=temp2;
                    tap[i]=temp_obj;

                    }
                    /** Sets data to newest value object */
                    this.el.tapsection[this.current_tap].taptaps=tap
            },
            /** Splits given array while preserving any modification done by vue-editor */
            splitText(arr) {
                let temp=[];
                let res=[];
                /** Checks for existense of html tags */
                if(arr.includes("<")){
                    /** Splits around tags*/
                    res = arr.split(/(<.*?>\w+<\/.*?>)/gm);
                    for(let i=0; i<res.length;i++){
                        /** When inside tags and embedded text is not empty or space */
                        if(!res[i].includes("<")&& res[i]!="" && res[i]!=" "){
                            /** Splits again */
                            res[i]=res[i].split(/(\S+)/)
                        }
                    }
                    temp=res
                }
                /** Just splits words */
                else{
                    temp = arr.split(/(\S+)/);
                }
                /** Returns a flattened array while preserving correct word order */
                return flattenDeep(temp);
                },
            is_odd(n){
                return n % 2 == 1;
            }
    },
    beforeDestroy () {
        eventbus.off('taptapsection_settabtotaptext')
    }
        };
        </script>
