<style lang="scss">
</style>

<template lang="html">
    <div id="taptapsection_tabss" class="column is-12 ">

    <div class="taptapsection_tabss">
        <a v-on:click="activetab = 1;el.settingtab=null;resetTapMenu()" :class="['column', activetab === 1 ? 'active' : '' ]">Taps</a>
        <a v-on:click="selectTab(2,'choices')" :class="['column',  activetab === 2 ? 'active' : '' ]">Choices</a>
        <a v-on:click="selectTab(3,'background')" :class="['column',  activetab === 3 ? 'active' : '' ]">Taps BG.</a>
        <a v-on:click="selectTab(4,'choicesbackground')" :class="['column',  activetab === 4 ? 'active' : '' ]">Choices BG.</a>
        <a v-on:click="selectTab(5,'statictexts')" :class="['column',  activetab === 5 ? 'active' : '' ]">Static Text</a>
        <a v-on:click="selectTab(6,'staticimages')" :class="['column',  activetab === 6 ? 'active' : '' ]">Static IMG.</a>
    </div>

        <keep-alive>
        <template v-if="activetab === 1" >
            <expTapTapTextareaSettings :el="el" class="" style="margin-top:0;" />
        </template>
        <template v-if="el.settingtab === 'choices'" >
            <expTapTapChoicesSettings :el="el" class=""/>
        </template>
        </keep-alive>

</div>
</template>

<script>
import eventbus from '@/config/eventhub.js'
import expTapTapTextareaSettings from './TapTapTextareaSettings';
import expTapTapChoicesSettings from './TapTapChoicesSettings';
export default {
    name: "TapTapSettings",
    props: {
        el: Object
    },
    components:{
        expTapTapTextareaSettings,
        expTapTapChoicesSettings,
    },
    data() {
        return {
            activetab:1
        };
    },
    computed: {

    },
    methods: {
        selectTab(i,tab){
            this.resetTapMenu()
            this.activetab=i
            this.el.settingtab=tab
        },
        resetTapMenu(){
            eventbus.fire('taptapsection_settabtotaptext')
            eventbus.closePrimarySettings()
        }
    },
    created: function() {},
    mounted: function() {
        this.el.settingtab=null
    }
};
</script>
