<style lang="scss" scoped>
</style>

<template lang="html">

<div class="column is-12 ">
        <div class="field has-addons taptapsection_match">
              <p class="control">
                <a class="button is-static">
                  <span class="">Enter new choice</span>
                </a>
              </p>
              <div class="control">
                <input class="input is-primary" type="text" v-model="text" placeholder="Enter choice...">
              </div>
              <p class="control">
                <a class="button" @click="addChoice(text)">
                  <span class="icon is-small is-primary">
                    <i class="fa fa-plus"></i>
                  </span>
                </a>
              </p>
        </div>

        <div class="taptapsection_choicesettings taptapsection_no_margin">
          <div class="field taptapsection_shuf taptapsection_margin_right_5 " style="margin-bottom:0;">
            <label for="checkbox" class="checkbox button is-static has-text-dark" style="margin-bottom:0;">Shuffle</label>
            <input class="taptapsection_pad_left_5 " type="checkbox" id="shuffle" v-model="el.shuffle">                 
          </div>
          <div class="field taptapsection_shuf">
            <label for="checkbox" class="checkbox button is-static has-text-dark" style="margin-bottom:0;">Multiple</label>
            <input class="taptapsection_pad_left_5 " type="checkbox" id="shuffle" v-model="el.multiple">                 
          </div>
        </div>

            <div class="title is-5 has-text-centered">Current Choices</div>
              <div v-if="el.choices" class="taptapsection_choicegrid columns is-12">
                        <div v-for="(choice, index) in el.choices" :key="index"  :ref="`choice_${index}`" class="taptapsection_compitem column is-full "> 
                          
                            <div class="buttons field has-addons taptapsection_choiceitem">
                                <p class="control">
                                  <a class="button taptapsection_noborder" @click="choices.splice(index, 1);el.choices.splice(index, 1);">
                                    <span class="icon is-small is-danger">
                                      <i class="fa fa-trash"></i>
                                    </span>
                                  </a>
                                </p>
                                <p class="control">
                                  <a class="button taptapsection_noborder is-static taptapsection_wsnbw">
                                    <span>{{choice.attrib.text}}</span>
                                  </a>
                                </p>
                                <p class="control">
                                  <a v-if="!choice.attrib.show"  class="button taptapsection_noborder" @click="openEdit(index)">
                                    <span class="icon is-small is-warning">
                                      <i class="fa fa-edit"></i>
                                    </span>
                                  </a>
                                  <a v-else class="button taptapsection_noborder" @click="closeEdit(index)">
                                    <span class="icon is-small is-success">
                                      <i class="fa fa-save"></i>
                                    </span>
                                  </a>
                                </p>
                              </div>

                          <div v-if="choice.attrib.show"  class="buttons field has-addons taptapsection_choiceitem">
                            <p class="control">
                              <a class="button is-static">
                                <span>Edit</span>
                              </a>
                            </p>
                            <div class="control">
                              <input class="input is-primary" type="text" v-model.trim="el.choices[index].attrib.text" :size="el.choices[index].attrib.text.length">
                            </div>
                            <p class="control">
                              <a class="button is-static">
                                <span>Size</span>
                              </a>
                            </p>
                            <p class="control">
                              <span class="select is-primary">
                                <select v-model="choice.attrib.size" style="width:6em">
                                  <option disabled value="Size">Please select one</option>
                                  <option v-for="size in sizes" v-text="size"></option>
                                </select>
                              </span>
                            </p>
                          </div> 
                        </div>
              
                  </div>
            </div>
    </div>
</div>

</template>

<script>
import includes from 'lodash/includes';

export default {
  name: "expTapTapChoicesSettings",
  props: {
    el: Object,
  },
  data() {
    return {
        choices: [],
        sizes: ['is-1','is-2','is-3','is-4','is-5','is-6'],
        text:'',
        choices_id:'',
    };
  },
  mounted() {
    if(this.el.choices==undefined||this.el.choices.length==0||this.el.choices==null){
      this.el.choices=[]
    }

  },
  methods: {
    /** Creates choices with default values */
    addChoice(text){
      if(text==undefined|| text==""){
        this.text="no empty text!";
        return;
      }
      let index= new Date().valueOf()
      var temp = {id:index,attrib:{text:text,show:false,size:'is-2'}};
      this.el.choices.push(temp);
      this.text="";
    },
    /** Opens edit menu */
    openEdit(index){
      this.el.choices[index].attrib.show=true;
    },
    /** Closes edit menu */
    closeEdit(index){
      this.el.choices[index].attrib.show=false;
    },
  },
  computed: {}
};
</script>
