<style lang="scss" scoped>
</style>

<template lang="html">
    <p class="" >
      <span  v-html="text" class=""></span>
    </p>
</template>

<script>
export default {
  name: 'expTapTapText',
  props: {
    el: Object,
    text: String
  },
  data () {
    return {
      arr: []
    }
  }
}
</script>
