<style lang="scss" scoped>
</style>

<template lang="html">
  <v-touch
  :class="['column','taptapsection_center_row' , choice_length ,'choices_style_2' ,'shadow-depth-3', {taptapsection_active: clicked} ]"
  tag="a"
  :id="id"
  @tap="choiceFired(choice.attrib.text,id,bindchoicesid )"
  :style="[show ?{ visibility:'visible' }:{ visibility:'hidden' }]"
  >
    <p
      :style="{whiteSpace: 'normal'}"
      class="taptapsection_center_row "
      v-text="choice.attrib.text" >
    </p>
  </v-touch>
</template>

<script>
import eventbus from '@/config/eventhub.js'
export default {
  name: 'expTapTapChoice',
  props: {
    el: Object,
    choice: Object,
    id: Number,
    bindchoicesid: String
  },
  data () {
    return {
      show: true,
      hover: false,
      clicked: false
    }
  },
  mounted () {
    this.$nextTick(() => {
      /** Hides choice */
      eventbus.listen('taptapsection_hidechoice', (data) => {
        /** Must belong to the same group */
        if (this.bindchoicesid == data.bindchoicesid) {
          /** Multiple isn't checked */
          if (!this.el.multiple) {
              /** If it is the correct choice */
            if (this.id == data.choicetohide) {
              this.show = false
                // this.clicked = false;
            }
          }
          this.clicked = false
        }
      })
      /** Shows choice */
      eventbus.listen('taptapsection_showtargetchoice', (data) => {
        /** Must belong to the same group */
        if (this.bindchoicesid == data.bindchoicesid) {
            /** Multiple isn't checked */
          if (!this.el.multiple) {
              /** If it is the correct choice */
            if (this.id == data.choicediv) {
              this.show = true
            }
          }
        }
        // if(this.bindchoicesid ==data.bindchoicesid ){
        //   /** If it is the correct choice */
        //   if(this.id == data.choicediv){
        //     this.show = true;
        //   }
        // }
      })
      /** Sets the 'clicked' data property to false if this choice isn't the one it was clicked */
      eventbus.listen('taptapsection_choiceFired', (data) => {
        /** Must belong to the same group */
        if (this.bindchoicesid == data.bindchoicesid) {
          /** If it is not the one we clicked on */
          if (this.id != data.id) {
            this.clicked = false
          }
        }
      })
      /** Resets state */
      eventbus.listen('checkprimary_reset', () => {
        this.reset()
      })
    })
  },
  methods: {
    choiceFired (text, i, gid) {
      /** Must belong to the same group */
      if (this.bindchoicesid == gid) {
        this.clicked = true
        let data = {text: text, id: i, bindchoicesid: gid}
        /** Fires event with data from clicked choice */
        eventbus.fire('taptapsection_choiceFired', data)
      }
    },
    reset () {
      Object.assign(this.$data, this.$options.data())
    }
  },
  computed: {
    /** Sets bulma column size of choice */
    choice_length () {
      return this.choice.attrib.size
    }
  },
  beforeDestroy () {
    eventbus.off('checkprimary_reset')
    eventbus.off('taptapsection_choiceFired')
    eventbus.off('taptapsection_showtargetchoice')
    eventbus.off('taptapsection_hidechoice')
  }
}
</script>
