<style lang="scss" scoped>
</style>

<template lang="html">
      <v-touch
        class="button taptapsection_target "
        :class="['button','taptapsection_target',{'notavailable' : checkFlag}]"
        tag="div"
        :style="[tapObject.styleTapInput.tapinputStyleObject]"
        @tap="onClick(id,cachedText,cachedIndex,bindchoicesid)"
        @doubletap="onDoubleClick()"
        >
        <p class="spantext" v-if="showplaceholder" v-text="tapObject.styleTapInput.content"  ></p>
        <p  v-else :class="['taptapsection_spantext',{taptapsection_toUpper : tapObject.capitalize}]"  >
          <i style="visibility: hidden;" class="fa fa-check has-check-righticon is-size-5"></i>
          <span>{{spantext}}</span>
          <i :class="{'fa fa-check has-check-righticon is-size-5': isRightFlag && checkFlag, 'fa fa-times has-check-wrongicon is-size-5': !isRightFlag && checkFlag}"></i>
          <i :style="(isRightFlag && checkFlag) || (!isRightFlag && checkFlag) ?{display: 'none'}:{visibility: 'hidden'}" class="fa fa-check has-check-wrongicon is-size-5"></i>
        </p>
      </v-touch>
</template>

<script>
import eventbus from '@/config/eventhub.js'
import findIndex from 'lodash/findIndex'
export default {
  name: 'expTapTapInput',
  props: {
    choices: Array,
    tap: Number,
    taptap: Number,
    inputindex: Number,
    tapObject: Object,
    id: String,
    bindchoicesid: String
  },
  data () {
    return {
      spantext: null,
      prevchoice: undefined,
      disabled: true,
      checkFlag: false,
      isRightFlag: false,
      showplaceholder: true,
      cachedText: String,
      cachedIndex: -1,
      currentIndex: -1
      // delay: 400,
      // clicks: 0,
      // timer: null
    }
  },
  mounted () {
    // console.log('taps',this.bindchoicesid)
    // console.log('taps',this.$props)
    this.$nextTick(() => {
      /** Resets data listened on,not belonging to tap input */

      /** All tap inputs cache the data from the clicked choice */
      eventbus.listen('taptapsection_choiceFired', (data) => {
        if (this.bindchoicesid === data.bindchoicesid) {
        /** makes tap input available */
          this.disabled = false
          this.cachedText = data.text
          this.cachedIndex = data.id
        }
      })
      /** If a tap input was clicked */
      eventbus.listen('taptapsection_tapClicked', (data) => {
        /** Must belong to the same group */
        if (this.bindchoicesid == data.bindchoicesid) {
        /** If this tap input was indeed clicked */
          if (this.id == data.targetclicked) {
          /** if not disabled */
            if (!this.disabled) {
            /** Sets text to the one chosen */
              this.showplaceholder = false
              this.spantext = data.text
            /** Sets correct flag if correct choice passed */
              this.checkCorrect(this.choices[this.cachedIndex].id)
            /** Sets currentIndex to saved choice index */
              this.currentIndex = data.choicediv
            /** Informs other tap inputs to forget the last 'choiceFired' event */
            /** If there were previous choice data displayed by tap */
              if (this.prevchoice != undefined && this.cachedText != null && this.cachedIndex != null) {
              /** If there was a choice data previously displayed */
                if (this.currentIndex != -1) {
                /** Fire an event to re-show previous choice */
                  let data3 = { choicediv: this.prevchoice, bindchoicesid: this.bindchoicesid }
                  eventbus.fire('taptapsection_showtargetchoice', data3)
                }
              /** else  */
              // else{
              //   let data3 = { choicediv : this.currentIndex ,bindchoicesid :this.bindchoicesid }
              //   eventbus.fire('showtargetchoice', data3);
              // }
              }
            /** Sets previous choice field to the match the choice clicked */
              this.prevchoice = data.choicediv
            /** Fires an event to hide said choice */
              let data2 = {choicetohide: data.choicediv, targetid: this.id, bindchoicesid: this.bindchoicesid }
              eventbus.fire('taptapsection_hidechoice', data2)
            /** Sends checked result */
              let payload2 = {id: this.id, inputid: this.id, bindchoiceid: this.bindchoicesid, isRight: this.isRightFlag, evt: 'add'}
              eventbus.fire('checkprimary_input', payload2)
            }
          }
        /** Resets data listened on,not belonging to tap input */
          else {
          /** If there are no choice data saved */
            if (this.currentIndex == -1) {
              this.cachedText = null
              this.cachedIndex = null
            /** Disables tap input */
              this.disabled = true
              this.prevchoice = null
            }
          }
        /** Disables tap input in the end */
          this.disabled = true
        }
      })
      eventbus.listen('checkprimary_check', () => {
        this.checkFlag = true
      })
      eventbus.listen('checkprimary_reset', () => {
        // if(this.currentIndex!=-1){
        //         /** Fire an event to re-show previous choice */
        //         let data3 = { choicediv : this.currentIndex ,bindchoicesid:this.bindchoicesid }
        //         eventbus.fire('showtargetchoice', data3);
        //       }
        this.reset()
      })
      // tryagain button re enable only the inputs with wrong answers
      eventbus.listen('checkprimary_tryagain', () => {
        // this.checkFlag = false
        if (!this.isRightFlag) {
          this.checkFlag = false
          /** Fire an event to re-show previous choice */
          let data3 = { choicediv: this.currentIndex, bindchoicesid: this.bindchoicesid }
          eventbus.fire('taptapsection_showtargetchoice', data3)

          // this.reset();
          this.spantext = null
          this.prevchoice = undefined
          this.disabled = true
          this.isRightFlag = false
          this.showplaceholder = true
          this.cachedText = String
          this.cachedIndex = -1
          this.currentIndex = -1
        }
      })
      eventbus.listen('checkprimary_show', () => {
        // this.reset();
        let index = findIndex(this.choices, {'id': this.tapObject.corrects[0]})
        this.showplaceholder = false
        this.isRightFlag = true
        this.checkFlag = true
        this.spantext = this.choices[index].attrib.text
      })
    })
  },
  methods: {
    checkCorrect (answer) {
      if (this.tapObject.corrects.includes(answer)) {
        this.isRightFlag = true
      } else this.isRightFlag = false
    },
    reset () {
      Object.assign(this.$data, this.$options.data())
    },
    /** Simple click event */
    onClick: function (id, t, i, group) {
      /** If it doesnt contain choice,do nothing  */
      if (this.cachedIndex == -1) {
        return
      }
      /** Must belong to the same group */
      if (group == this.bindchoicesid) {
        /** Fires simple click event */
        let data = {targetclicked: id, text: t, choicediv: i, bindchoicesid: this.bindchoicesid }
        eventbus.fire('taptapsection_tapClicked', data)
      }
    },
    /** Double click event  */
    onDoubleClick () {
      /** If disabled  and containing choice data */
      if (this.disabled == true && this.currentIndex != -1) {
        let payload = {id: this.id, inputid: this.id, bindchoiceid: this.bindchoicesid, evt: 'remove'}
        eventbus.fire('checkprimary_input', payload)
            /** Fires event to show previously saved choice */
        let data3 = { choicediv: this.currentIndex, bindchoicesid: this.bindchoicesid }
        eventbus.fire('taptapsection_showtargetchoice', data3)
            /** Resets data */
        this.reset()
      }
    }
  },
  computed: {
    currentTapTapStyle () {
      return this.tapObject.styleTapInput
    }
  },
  beforeDestroy () {
    eventbus.off('checkprimary_show')
    eventbus.off('checkprimary_tryagain')
    eventbus.off('checkprimary_reset')
    eventbus.off('checkprimary_check')
    eventbus.off('taptapsection_tapClicked')
    eventbus.off('taptapsection_choiceFired')
    eventbus.off('taptapsection_showtargetchoice')
  }
}
</script>
