<style scoped>
.flexcenter{
  /* display: flex;
  flex-flow: column wrap;
  justify-content: space-between; */
}
</style>
<template>
  <div class="flexcenter ">
    <nav class="breadcrumb has-succeeds-separator " aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="#">
            <span class="icon is-medium has-text-info">
              <i class="fa fa-home" aria-hidden="true"></i>
            </span>
          </a>
        </li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Components</a></li>
        <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li>
      </ul>
    </nav>
    <router-view class=""></router-view>
    <!-- <div class="column is-6 is-offset-3">
      <h1>Your recent work...</h1>
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Page</th>
            <th>Module</th>
            <th>Package</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(result,index) in results" :key='result.page_id'>
            <th>{{index+1}}</th>
            <td>
              <a @click="loadJson(result.page_id,result.modules[0].module_id,result.modules[0].package.id)">
                <span class="">
                  {{result.page_name}}
                </span>
              </a>
            </td>
            <td>
              <router-link :to="{path: '/gridpages/', query: {package: result.modules[0].package.id, module: result.modules[0].module_id}}">
                  <span class="">
                    {{result.modules[0].module_name}}
                  </span>
              </router-link>
            </td>
            <td>
              <router-link :to="{path: '/packages/modules', query:{package: result.modules[0].package.id}}">
                <span class="">
                  {{result.modules[0].package.package_name}}
                </span>
              </router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>
</template>
<script>
import DataLoader from '@/components/mixins/DataLoader'

export default {
  name: 'MyRecent',
  data () {
    return {
      results: Array || []
    }
  },
  props: {
    title: String,
    paginationlimit: Number,
    paginationoffset: Number,
    endpoint: String
  },
  mixins: [DataLoader],
  mounted () {
    this.resetDataLoader()
    this.$http.post(`${this.endpoint}/recent`, {limit: this.paginationlimit}).then((res) => {
      console.log(res)
      this.results = res.data.pages
    }).catch(err => console.log(err)).finally(() => this.resolveDataLoader())
  },
  methods: {
    /**
     * method called when user click page name
     * add the page json to dropped localstorage
     * re routing to builder2
     * @param  {[integer]} pageid [page id]
     * @return {[type]}        [description]
     */
    loadJson (pageid, moduleid, packageid) {
      this.$http.post('pages/lockpage', {
        data: {page_id: pageid}
      }).then(response => {
        if (response.data.errorflag) {
          this.$swal('Error Occurred!', response.data.message, 'error')
        } else {
          this.$router.push({path: '/builder/', query: {package: packageid, module: moduleid, page: pageid}})
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    }
  },
  computed: {
  }

}
</script>
