<style scoped>
.maxwidth{
  max-width: 80%;
  margin: 0 auto;
}
</style>
<template>
  <div class=" ">
    <div v-if="!isDataLoaded">
      <AppSpinner />
    </div>
    <!-- <div v-else class="column is-6 is-offset-3"> -->
    <div v-else class="">
      <h1>Your recent work...</h1>
      <table class="table maxwidth">
        <thead>
          <tr>
            <th>No.</th>
            <th>Page</th>
            <th>Module</th>
            <th>Package</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(result,index) in results" :key='result.page_id'>
            <th>{{index+1}}</th>
            <td>
              <a @click="loadJson(result.page_id,result.modules[0].module_id,result.modules[0].package.id)">
                <span class="">
                  {{result.page_name}}
                </span>
              </a>
            </td>
            <td>
              <router-link :to="{path: '/gridpages/', query: {package: result.modules[0].package.id, module: result.modules[0].module_id}}">
                  <span class="">
                    {{result.modules[0].module_name}}
                  </span>
              </router-link>
            </td>
            <td>
              <!-- <router-link :to="{path: '/packages/modules', query:{package: result.modules[0].package.id}}"> -->
              <router-link :to="{name: 'package', params:{package_name:result.modules[0].package.package_name}}">
                <span class="">
                  {{result.modules[0].package.package_name}}
                </span>
              </router-link>
              <!-- <router-link class="level-item button half is-marginless" :to="{name: 'package', query:{package: pckg.id}}">
                Modules
              </router-link> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import DataLoader from '@/components/mixins/DataLoader'

export default {
  name: 'MyRecent',
  data () {
    return {
      results: Array || [],
      title: 'Recent Pages',
      paginationlimit: 10,
      paginationoffset: 0,
      endpoint: 'pages'
    }
  },
  props: {

  },
  mixins: [DataLoader],
  mounted () {
    this.$nextTick(() => {
      this.resetDataLoader()
      this.$http.post(`${this.endpoint}/recent`, {limit: this.paginationlimit}).then((res) => {
        console.log(res)
        this.results = res.data.pages
      }).catch(err => console.log(err)).finally(() => this.resolveDataLoader())
    })
  },
  methods: {
    /**
     * method called when user click page name
     * add the page json to dropped localstorage
     * re routing to builder2
     * @param  {[integer]} pageid [page id]
     * @return {[type]}        [description]
     */
    loadJson (pageid, moduleid, packageid) {
      this.$http.post('pages/lockpage', {
        data: {page_id: pageid}
      }).then(response => {
        if (response.data.errorflag) {
          this.$swal('Error Occurred!', response.data.message, 'error')
        } else {
          this.$router.push({path: '/builder/', query: {package: packageid, module: moduleid, page: pageid}})
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    }
  },
  computed: {
  }

}
</script>
