<template>
  <div class="container has-text-centered fullheight guestflex">
    <!-- <div class="column is-4 is-offset-4"> -->
      <div class="box maxwidth guestflex">
        <p class="title avatar is-size-3">Digi<strong class="has-text-grey-dark">Pub</strong></p>
          <div class=""><b>Welcome</b>, please login:</div><br>
          <div class="field">
            <div class="control">
              <input class="input is-large" name="username"  placeholder="Username"  v-model="form.username">
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input class="input is-large" name="password" type="password" placeholder="Password" v-model="form.password">
            </div>
          </div>
          <button class="button has-text-white is-large is-fullwidth" @click="submitLogin">Login</button>
      </div>

  </div>
</template>

<script>
import { mapActions } from 'vuex'
// import axios from 'axios'

export default {
  data () {
    return {
      form: {
        username: null,
        password: null
      }
    }
  },
  methods: {
    ...mapActions('auth', {
      loginUser: 'LOGIN_USER'
    }),
    submitLogin () {
      this.loginUser(this.form).then(() => {
        this.$router.push('/')
      })
    }
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Satisfy');
.button{
  background-color:#00C4A7
}
.fullheight{
  height: 100%;
}
.title {
  color: #3cc;
  font-family: 'Satisfy', cursive;
      margin-top: -70px;
    padding-bottom: 20px;
}
.guestflex{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.maxwidth{
  max-width: 30%;
}
</style>
